Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

meta: some text updates
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: broken footnote
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: better css guidelines
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: rephrase of index.css
  styles/new/index.css
Due: prettier --write, stylelint

meta: updated shared settings
  .vscode/settings.json
  cache/config.json
Due: prettier --write, prettier --check --write

meta: updated shared settings and extensions list
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write, prettier --check --write

meta: added also eslint
  .vscode/extensions.json
Due: prettier --write, prettier --check --write

chore: fix markdown
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix more markdown
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: remove vercel cache folder
  .gitignore
  cache/config.json
Due: prettier --write, prettier --check --write

chore: wording update on stylelint config
  .stylelintrc.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: Blockquote component
  components/Common/Blockquote/index.module.scss
  components/Common/Blockquote/index.stories.tsx
  components/Common/Blockquote/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: attribution prop replaced with an HTML cite child
  components/Common/Blockquote/index.module.scss
  components/Common/Blockquote/index.stories.tsx
  components/Common/Blockquote/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: tsconfig not applying on storybook folder
  tsconfig.json
Due: prettier --write, prettier --check --write

feat: storybook better dark mode and light mode application
  .storybook/constants.ts
  .storybook/main.ts
  .storybook/preview-body.html
  .storybook/preview.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: improved viewports vars and styles
  .storybook/constants.ts
  .storybook/preview-body.html
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Updated hex logos stories component
  components/__design__/hex-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated docs and settings
  .vscode/extensions.json
  .vscode/settings.json
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: more copy changes
  .stylelintrc.mjs
  COLLABORATOR_GUIDE.md
  styles/old/page-modules/home.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

Altered the existing Green JS Logo SVG (#5857)
  components/__design__/js-logos.stories.tsx
  public/static/images/logos/js-green.svg
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: delete duplicate file
  components/__design__/logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: moved section on collab guide (hotfix)
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: specify unique title
  components/__design__/js-logos.stories.tsx
  components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: code format
  components/__design__/horizontal-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Added green hex logo svg (#5859)
  components/__design__/hex-logos.stories.tsx
  public/static/images/logos/hex-green.svg
Due: eslint --fix, prettier --write, prettier --check --write

Added black hex logo svg (#5864)
  components/__design__/hex-logos.stories.tsx
  public/static/images/logos/hex-black.svg
Due: eslint --fix, prettier --write, prettier --check --write

add hex-green logo
  components/__design__/hex-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Hex logos (#5890)
  components/__design__/hex-logos.stories.tsx
  public/static/images/logos/hex-black.svg
  public/static/images/logos/hex-green.svg
Due: eslint --fix, prettier --write, prettier --check --write

Update components/__design__/social-logos.stories.tsx
  components/__design__/social-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Added social icon GitHub (#5862)
  components/__design__/social-logos.stories.tsx
  public/static/images/logos/social-github.svg
Due: eslint --fix, prettier --write, prettier --check --write

feat: Blockquote component
  components/Common/Blockquote/index.module.css
  components/Common/Blockquote/index.stories.tsx
  components/Common/Blockquote/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: Added social icon LinkedIn, Issue #40 (#5874)
  components/__design__/social-logos.stories.tsx
  public/static/images/logos/social-linkedin.svg
Due: eslint --fix, prettier --write, prettier --check --write

refactor: text stylings moved to wrapper
  components/Common/Blockquote/index.module.css
  components/Common/Blockquote/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

refactor: cite prop removed
  components/Common/Blockquote/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: Blockquote component (#5891)
  components/Common/Blockquote/index.module.css
  components/Common/Blockquote/index.stories.tsx
  components/Common/Blockquote/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: Delete the logo-hexagon.png #5831
  public/static/images/logo-hexagon.png
Due: none

chore: Delete the logo-hexagon.png #5831 (#5892)
  public/static/images/logo-hexagon.png
Due: none
