Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

chore: better naming and type cast
  apps/site/app/[locale]/download/archive/[version]/page.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: cached nodevu data
  apps/site/next-data/generators/majorNodeReleases.mjs
  apps/site/next-data/generators/nodevuPromise.mjs
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next-data/generators/releaseVersions.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor: separate down getCompatiblePlatforms function
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(remark-lint): add
  .github/workflows/publish-packages.yml
  apps/site/.remarkrc.json
  apps/site/package.json
  apps/site/pages/en/learn/modules/how-to-use-streams.md
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
  apps/site/pages/id/about/security-reporting.mdx
  packages/remark-lint/.lintstagedrc.json
  packages/remark-lint/README.md
  packages/remark-lint/eslint.config.js
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/index.mjs
  packages/remark-lint/src/rules/__tests__/duplicate-stability-nodes.test.mjs
  packages/remark-lint/src/rules/__tests__/hashed-self-references.test.mjs
  packages/remark-lint/src/rules/__tests__/ordered-references.test.mjs
  packages/remark-lint/src/rules/__tests__/required-metadata.test.mjs
  packages/remark-lint/src/rules/__tests__/utils.mjs
  packages/remark-lint/src/rules/__tests__/yaml/ordered-yaml-keys.test.mjs
  packages/remark-lint/src/rules/__tests__/yaml/validate-changes.test.mjs
  packages/remark-lint/src/rules/__tests__/yaml/validate-versions.test.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/hashed-self-reference.mjs
  packages/remark-lint/src/rules/ordered-references.mjs
  packages/remark-lint/src/rules/required-metadata.mjs
  packages/remark-lint/src/rules/yaml/index.mjs
  packages/remark-lint/src/rules/yaml/ordered-yaml-keys.mjs
  packages/remark-lint/src/rules/yaml/validate-changes.mjs
  packages/remark-lint/src/rules/yaml/validate-versions.mjs
  packages/remark-lint/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  pnpm-lock.yaml
Due: none

fixup!
  apps/site/package.json
Due: prettier --write

fixup!
  packages/remark-lint/src/rules/yaml/ordered-yaml-keys.mjs
  packages/remark-lint/src/rules/yaml/validate-changes.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(remark-lint): add (#8057)
  .github/workflows/publish-packages.yml
  apps/site/.remarkrc.json
  apps/site/package.json
  apps/site/pages/en/learn/modules/how-to-use-streams.md
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
  apps/site/pages/id/about/security-reporting.mdx
  packages/remark-lint/.lintstagedrc.json
  packages/remark-lint/README.md
  packages/remark-lint/eslint.config.js
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/index.mjs
  packages/remark-lint/src/rules/__tests__/duplicate-stability-nodes.test.mjs
  packages/remark-lint/src/rules/__tests__/hashed-self-references.test.mjs
  packages/remark-lint/src/rules/__tests__/ordered-references.test.mjs
  packages/remark-lint/src/rules/__tests__/required-metadata.test.mjs
  packages/remark-lint/src/rules/__tests__/utils.mjs
  packages/remark-lint/src/rules/__tests__/yaml/ordered-yaml-keys.test.mjs
  packages/remark-lint/src/rules/__tests__/yaml/validate-changes.test.mjs
  packages/remark-lint/src/rules/__tests__/yaml/validate-versions.test.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/hashed-self-reference.mjs
  packages/remark-lint/src/rules/ordered-references.mjs
  packages/remark-lint/src/rules/required-metadata.mjs
  packages/remark-lint/src/rules/yaml/index.mjs
  packages/remark-lint/src/rules/yaml/ordered-yaml-keys.mjs
  packages/remark-lint/src/rules/yaml/validate-changes.mjs
  packages/remark-lint/src/rules/yaml/validate-versions.mjs
  packages/remark-lint/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: unnecessary comment removed
  apps/site/components/withReleaseSelect.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(id-token): explicitly set repository.url
  packages/i18n/package.json
  packages/rehype-shiki/package.json
  packages/remark-lint/package.json
  packages/ui-components/package.json
Due: prettier --write

Apply suggestion from @Copilot
  packages/rehype-shiki/package.json
Due: prettier --write

Apply suggestion from @Copilot
  packages/remark-lint/package.json
Due: prettier --write

Apply suggestion from @Copilot
  packages/ui-components/package.json
Due: prettier --write

Update packages/i18n/package.json
  packages/i18n/package.json
Due: prettier --write

fixup!
  packages/i18n/package.json
  packages/rehype-shiki/package.json
  packages/remark-lint/package.json
  packages/ui-components/package.json
Due: prettier --write

fix(id-token): explicitly set repository.url (#8104)
  packages/i18n/package.json
  packages/rehype-shiki/package.json
  packages/remark-lint/package.json
  packages/ui-components/package.json
Due: prettier --write

chore(publishing): version packages
  .github/workflows/publish-packages.yml
  .github/workflows/translations-sync.yml
  packages/i18n/package.json
  packages/rehype-shiki/package.json
  packages/ui-components/package.json
Due: prettier --write

fixes in styles and facets
  apps/site/components/Common/Searchbox/Chat/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatInput/index.tsx
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/Chat/index.tsx
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(remark-lint): add strict rules
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

facets search fix
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

push facets query fix
  apps/site/components/Common/Searchbox/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: adds filters to search
  apps/site/components/Common/Searchbox/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix facet count
  apps/site/components/Common/Searchbox/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

reset searchTerm
  apps/site/components/Common/Searchbox/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

old logo
  apps/site/components/Common/Searchbox/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix mobile search
  apps/site/components/Common/Searchbox/Search/index.module.css
Due: none

chat mobile
  apps/site/components/Common/Searchbox/Chat/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

mobile enhacements
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(orama): don't rely on static builds
  .github/workflows/build.yml
  .github/workflows/sync-orama.yml
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/app/[locale]/next-data/page-data/route.ts
  apps/site/next.constants.mjs
  apps/site/scripts/orama-search/get-documents.mjs
  apps/site/scripts/orama-search/process-documents.mjs
  apps/site/scripts/orama-search/sync-orama-cloud.mjs
  apps/site/util/__tests__/github.test.mjs
  apps/site/util/__tests__/string.test.mjs
  apps/site/util/github.ts
  apps/site/util/string.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update
  apps/site/navigation.json
  apps/site/pages/en/learn/userland-migrations/introduction.md
  apps/site/pages/en/learn/userland-migrations/v14-to-v16.md
  apps/site/pages/en/learn/userland-migrations/v20-to-v22.md
  apps/site/pages/en/learn/userland-migrations/v22-to-v24.md
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

Update sync-orama-cloud job conditions
  .github/workflows/sync-orama.yml
Due: prettier --write

Update apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8103)
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/eol.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/eol.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/previous-releases.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/eol.mdx
  apps/site/pages/ro/index.mdx
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ro.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): make `LinkWithArrow` accessible
  apps/site/components/Common/LinkWithArrow/index.module.css
  apps/site/components/Common/LinkWithArrow/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/ChangelogLink.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/EOL/EOLReleaseTable.tsx
  apps/site/components/EOL/VulnerabilitiesTable.tsx
  apps/site/components/LinkWithArrow.tsx
  apps/site/components/Releases/PreviousReleasesTable.tsx
  apps/site/next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/next.config.mjs
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): make LinkWithArrow behave like accessible button for modal open (#8051)
  apps/site/components/Common/LinkWithArrow/index.module.css
  apps/site/components/Common/LinkWithArrow/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/ChangelogLink.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/EOL/EOLReleaseTable.tsx
  apps/site/components/EOL/VulnerabilitiesTable.tsx
  apps/site/components/LinkWithArrow.tsx
  apps/site/components/Releases/PreviousReleasesTable.tsx
  apps/site/next.config.mjs
  apps/site/next.mdx.use.mjs
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

add more checks
  packages/remark-lint/README.md
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: Remove unnecessary margin from sidebar item (#8084)
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

fix: compatibility checks
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
