Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix: format
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

add unit tests for `generateBlogData`
  apps/site/next-data/generators/__tests__/blogData.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

remove original modules
  apps/site/next-data/generators/__tests__/blogData.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

avoid mocking node:path
  apps/site/next-data/generators/__tests__/blogData.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: refactor the `generateBlogData` function (#7607)
  apps/site/next-data/generators/blogData.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

migrate to node test runner
  apps/site/next-data/generators/__tests__/blogData.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: improve 'Understanding process.nextTick()' page example code.
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: add minor versions release date
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  apps/site/next-data/generators/releaseData.mjs
  apps/site/types/releases.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(meta): add learn article issue template
  .github/ISSUE_TEMPLATE/03-article-issue.yml
Due: prettier --write, prettier --check --write

Newline
  .github/ISSUE_TEMPLATE/03-article-issue.yml
Due: prettier --write, prettier --check --write

feat: smaller minor releases table
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: refactor the `generateBlogData` function (again) (#7607) (#7618)
  apps/site/next-data/generators/__tests__/blogData.test.mjs
  apps/site/next-data/generators/blogData.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: oops wrong req
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  packages/ui-components/Common/Modal/index.module.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat: create release overview component
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/components/Downloads/ReleaseOverview/index.module.css
  apps/site/components/Downloads/ReleaseOverview/index.tsx
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: minor release links
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(ui-components): add badge border on dark mode
  packages/ui-components/Common/Badge/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: fix stylelint
  packages/ui-components/Common/Separator/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: add summary for understanding processnexttick doc
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: add a link for the "order of events"
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: use more clear words to summary
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: nvm references latest version
  apps/site/snippets/en/download/nvm.bash
Due: none

[automated]: crowdin sync (#7674)
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/get-involved/index.md
  apps/site/pages/es/about/index.mdx
  apps/site/pages/es/about/previous-releases.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/index.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/ja/about/index.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/snippets/es/download/n.bash
  apps/site/snippets/es/download/nvm.bash
  packages/i18n/locales/fr.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fix dep range
  package-lock.json
  packages/ui-components/package.json
Due: prettier --write, prettier --check --write

hotfix: only one h1 header allowed
  apps/site/pages/en/blog/vulnerability/march-2025-ci-incident.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! incorrect template format
  .github/ISSUE_TEMPLATE/03-article-issue.yml
Due: prettier --write, prettier --check --write

chore: add banners
  apps/site/site.json
Due: prettier --write, prettier --check --write

dd content
  .github/ISSUE_TEMPLATE/03-article-issue.yml
Due: prettier --write, prettier --check --write

feat(select): scroll buttons (#7649)
  apps/site/next.config.mjs
  package-lock.json
  packages/ui-components/Common/Select/index.module.css
  packages/ui-components/Common/Select/index.stories.tsx
  packages/ui-components/Common/Select/index.tsx
  packages/ui-components/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

Update apps/site/site.json
  apps/site/site.json
Due: prettier --write, prettier --check --write

chore: add banners (#7685)
  apps/site/site.json
Due: prettier --write, prettier --check --write

feat: format datetimes
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/Downloads/ReleaseOverview/index.module.css
  apps/site/components/Downloads/ReleaseOverview/index.tsx
  apps/site/next-data/generators/releaseData.mjs
  apps/site/types/releases.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: use doc link instead of example code
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: lint snippets glob
  apps/site/scripts/lint-snippets/index.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: snippet syntax
  apps/site/pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: change the summary words
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: nvm references latest version (#7684)
  apps/site/snippets/en/download/nvm.bash
Due: none

refactor: small nits
  apps/site/components/Downloads/ReleaseOverview/index.module.css
  apps/site/components/Downloads/ReleaseOverview/index.tsx
  packages/ui-components/Common/Separator/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input
