Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

test(util): increase
  util/__tests__/debounce.test.mjs
  util/__tests__/hexToRGBA.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

test(hooks): increase
  hooks/react-client/__tests__/useBottomScrollListener.test.mjs
  hooks/react-client/__tests__/useClickOutside.test.mjs
  hooks/react-client/__tests__/useKeyboardCommands.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: typo
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: per request use major instead of minor+patch on nvm
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: more feedback on codeboxes
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): remove legacy key + rename
  components/Common/ThemeToggle/index.tsx
  components/Containers/Footer/index.tsx
  i18n/locales/en.json
  navigation.json
  site.json
  types/config.ts
  types/navigation.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(accent color): use color of header
  next.dynamic.constants.mjs
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: update type
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: make it work correctly
  next.dynamic.constants.mjs
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(docs): translation
  TRANSLATION.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(accent color): use color of `navBar` (#6391)
  next.dynamic.constants.mjs
  site.json
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: separate client and server/complex components
  next.mdx.compiler.mjs
  next.mdx.shiki.mjs
  next.mdx.use.client.mjs
  next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: add changelog data to release data
  next-data/generators/releaseData.mjs
  types/releases.ts
  util/fetchNodeJsChangelog.ts
  util/getNodeJsChangelog.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: add client components to mdx intrinsic types
  global.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: introduced new changelog modal components with client-side rendering
  components/Downloads/ChangelogModal/index.module.css
  components/Downloads/ChangelogModal/index.stories.tsx
  components/Downloads/ChangelogModal/index.tsx
  components/Downloads/DownloadReleasesTable.tsx
  components/Downloads/Release/ChangelogLink.tsx
  components/Downloads/Release/LinkWithArrow.tsx
  components/Downloads/Release/OperatingSystemDropdown.tsx
  components/mdxRenderer.tsx
  components/withChangelogModal.tsx
  components/withDownloadCategories.tsx
  providers/releaseProvider.tsx
  types/release.ts
  util/getNodeJsChangelog.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: updated pages with the changelog modal button
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix unit tests bad import
  util/__tests__/getNodeJsChangelog.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: download button direction
  components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(download): remove corepack refs
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: download button icon
  components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: download button icon (#6395)
  components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixed both issue#6401 and issue#6402
  site.json
Due: prettier --write, prettier --check --write

fix(footer): update Privacy and Trademark Policy links
  site.json
Due: prettier --write, prettier --check --write

fix(footer): update Privacy and Trademark Policy links (#6406)
  site.json
Due: prettier --write, prettier --check --write

hid the events tab
  layouts/Blog.tsx
Due: eslint --fix, prettier --write, prettier --check --write

removed the events tab
  layouts/Blog.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove flex to enable truncation, add left spacing for items
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Fixed Issue #6394: Hid event button (#6408)
  layouts/Blog.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: target only text to not break icon placement
  components/Common/Select/index.module.css
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Fix #6404 : Version dropdown on download page doesn't scroll on overflow
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove select item flex to enable truncation, add left spacing for items (#6410)
  components/Common/Select/index.module.css
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: `NavBar` Background
  components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: `Footer` Background
  components/Containers/Footer/index.module.css
Due: prettier --write, stylelint --allow-empty-input

update footer link
  navigation.json
Due: prettier --write, prettier --check --write

chore(pr-template): remove `lint`command and add `build`
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix: #6398 (#6413)
  components/Containers/Footer/index.module.css
  components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: added the aria-lable for the RSS link
  components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: added the translation key for RSS link in blogHeader
  i18n/locales/en.json
Due: prettier --write, prettier --check --write

Fix #6404 : Version dropdown on download page doesn't scroll on overflow (Updated v1)
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input
