Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Deleted NewHeader component
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

New translations governance.md (Belarusian) chore(i18n): added new translations from crowdin
  pages/be/about/governance.md
Due: eslint --fix, prettier --write

New translations index.md (Korean) chore(i18n): added new translations from crowdin
  pages/ko/get-involved/index.md
Due: eslint --fix, prettier --write

New translations index.mdx (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write

New translations index.md (Chinese Simplified) chore(i18n): added new translations from crowdin
  pages/zh-cn/get-involved/index.md
Due: eslint --fix, prettier --write

New translations en.json (Chinese Simplified) chore(i18n): added new translations from crowdin
  i18n/locales/zh-cn.json
Due: prettier --write

New translations index.mdx (Chinese Simplified) chore(i18n): added new translations from crowdin
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

New translations en.json (Indonesian) chore(i18n): added new translations from crowdin
  i18n/locales/id.json
Due: prettier --write

New translations index.mdx (Indonesian) chore(i18n): added new translations from crowdin
  pages/id/docs/index.mdx
Due: eslint --fix, prettier --write

chore: delete `NewHeader` and its references closes #5707
  components/Sections/NewHeader/__tests__/index.test.mjs
  components/Sections/NewHeader/index.module.scss
  components/Sections/NewHeader/index.stories.tsx
  components/Sections/NewHeader/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: remove `New Footer` and its references closes #5706
  components/Sections/NewFooter/index.module.scss
  components/Sections/NewFooter/index.stories.tsx
  components/Sections/NewFooter/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: remove `Dropdown` and `LanguageSelector` closes #5704
  components/Common/Dropdown/__tests__/index.test.mjs
  components/Common/Dropdown/index.module.scss
  components/Common/Dropdown/index.stories.tsx
  components/Common/Dropdown/index.tsx
  components/Common/LanguageSelector/__tests__/index.test.mjs
  components/Common/LanguageSelector/index.module.scss
  components/Common/LanguageSelector/index.stories.tsx
  components/Common/LanguageSelector/index.tsx
  components/Sections/NewHeader/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Update index.mdx
  pages/id/docs/index.mdx
Due: eslint --fix, prettier --write

Update index.mdx
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

chore: delete Author and AuthorList components (#5717)
  components/Article/AuthorList/Author/index.module.scss
  components/Article/AuthorList/Author/index.stories.tsx
  components/Article/AuthorList/Author/index.tsx
  components/Article/AuthorList/index.module.scss
  components/Article/AuthorList/index.stories.tsx
  components/Article/AuthorList/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

feat: remove codebox component (#5713)
  components/Article/Codebox/__tests__/index.test.mjs
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.stories.tsx
  components/Article/Codebox/index.tsx
  components/Article/Codebox/themes/_dark.scss
  components/Article/Codebox/themes/_light.scss
  hooks/usePrismJS.ts
  next.prism.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: delete NewHeader component (#5720)
  components/Sections/NewHeader/__tests__/index.test.mjs
  components/Sections/NewHeader/index.module.scss
  components/Sections/NewHeader/index.stories.tsx
  components/Sections/NewHeader/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: remove `New Footer` and its references closes #5706 (#5723)
  components/Sections/NewFooter/index.module.scss
  components/Sections/NewFooter/index.stories.tsx
  components/Sections/NewFooter/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Update index.mdx
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write

chore(i18n): crowdin sync (#5721)
  pages/be/about/governance.md
  pages/ko/get-involved/index.md
  pages/zh-cn/get-involved/index.md
Due: eslint --fix, prettier --write

chore: remove `Dropdown` and `LanguageSelector` closes #5704
  components/Common/Dropdown/__tests__/index.test.mjs
  components/Common/Dropdown/index.module.scss
  components/Common/Dropdown/index.stories.tsx
  components/Common/Dropdown/index.tsx
  components/Common/LanguageSelector/__tests__/index.test.mjs
  components/Common/LanguageSelector/index.module.scss
  components/Common/LanguageSelector/index.stories.tsx
  components/Common/LanguageSelector/index.tsx
  components/Sections/NewHeader/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Deleted DownloadToggle component
  components/Downloads/DownloadToggle/__tests__/index.test.mjs
  components/Downloads/DownloadToggle/index.module.scss
  components/Downloads/DownloadToggle/index.stories.tsx
  components/Downloads/DownloadToggle/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Deleted DownloadToggle component
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

meta: remove non-useful bundle analysis
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
Due: prettier --write

chore: minor change on sha
  .github/workflows/pull-request-target.yml
Due: prettier --write

chore: delete DownloadToggle component (#5727)
  components/Downloads/DownloadToggle/__tests__/index.test.mjs
  components/Downloads/DownloadToggle/index.module.scss
  components/Downloads/DownloadToggle/index.stories.tsx
  components/Downloads/DownloadToggle/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: delete block quote component
  components/Article/BlockQuote/index.module.scss
  components/Article/BlockQuote/index.stories.tsx
  components/Article/BlockQuote/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

fix: fix bad merge (#5716)
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

Deleted DarkModeToggle component
  components/Common/DarkModeToggle/__tests__/index.test.mjs
  components/Common/DarkModeToggle/index.module.scss
  components/Common/DarkModeToggle/index.stories.tsx
  components/Common/DarkModeToggle/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

feat: support new labels for running stuff
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore: only one label
  .github/workflows/pull-request-target.yml
Due: prettier --write

meta: remove non-useful bundle analysis generation (#5728)
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore: run only when labeled
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore: one workflow only
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

meta: more fixes for workflows
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore: updated permissions
  .github/workflows/pull-request.yml
Due: prettier --write

chore: remove label after applied
  .github/workflows/pull-request.yml
Due: prettier --write

chore: specify version
  .github/workflows/pull-request.yml
Due: prettier --write

chore: deployment url sotrybook
  .github/workflows/pull-request.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{mjs,ts,tsx,md,mdx})
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (((any of: **/*.{mjs,ts,tsx,md,mdx}) or (any of: **/*.{css,sass,scss})) or (any of: **/*.{json,yml}))
  stylelint --config .stylelintrc.json: any of: **/*.{css,sass,scss}
