Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

Fix: Capitalization
  apps/site/pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct outdated fedora/CentOs/RHEL install guide (#8114)
  apps/site/pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(learn): update guide for v20
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(nextjs): configure tsconfig
  apps/site/tsconfig.json
Due: prettier --write

feat(snippets): seperate nodejs snippet, add corepack installation
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/snippets/en/download/brew.bash
  apps/site/snippets/en/download/choco.bash
  apps/site/snippets/en/download/corepack.bash
  apps/site/snippets/en/download/devbox.bash
  apps/site/snippets/en/download/docker.bash
  apps/site/snippets/en/download/fnm.bash
  apps/site/snippets/en/download/n.bash
  apps/site/snippets/en/download/node.bash
  apps/site/snippets/en/download/volta.bash
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/snippets/en/download/corepack.bash
  apps/site/snippets/en/download/corepack.bash
Due: none

fix(translation): don't translate OpenJS Foundation
  apps/site/components/withFooter.tsx
  apps/site/navigation.json
  apps/site/types/navigation.ts
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/uk.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(compat): ARMv7 is not available for 24+
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(nextjs): configure tsconfig (#8127)
  apps/site/tsconfig.json
Due: prettier --write

chore: eslint force curly braces
  apps/site/pages/en/learn/asynchronous-work/asynchronous-flow-control.md
  apps/site/pages/en/learn/asynchronous-work/dont-block-the-event-loop.md
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
  apps/site/pages/en/learn/asynchronous-work/overview-of-blocking-vs-non-blocking.md
  apps/site/pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
  apps/site/pages/en/learn/test-runner/mocking.md
  apps/site/pages/en/learn/typescript/introduction.md
  eslint.config.js
  packages/remark-lint/src/rules/hashed-self-reference.mjs
  packages/remark-lint/src/rules/yaml/ordered-yaml-keys.mjs
  packages/ui-components/src/Common/AvatarGroup/Avatar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

docs: update example component
  docs/code-style.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup lint error
  apps/site/components/Common/Partners/PartnersLogoList/index.tsx
  apps/site/types/partners.ts
  apps/site/util/partners/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(security-reporting): correct fr link formatting for best practices badge
  apps/site/pages/fr/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(security-reporting): correct fr link formatting (#8135)
  apps/site/pages/fr/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Update .github/workflows/chromatic.yml
  .github/workflows/chromatic.yml
Due: prettier --write

update orama core and add data source
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix(compat): ARMv7 is not available for 24+ (#8130)
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(snippets): seperate nodejs snippet, add corepack installation (#8128)
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/snippets/en/download/brew.bash
  apps/site/snippets/en/download/choco.bash
  apps/site/snippets/en/download/corepack.bash
  apps/site/snippets/en/download/devbox.bash
  apps/site/snippets/en/download/docker.bash
  apps/site/snippets/en/download/fnm.bash
  apps/site/snippets/en/download/n.bash
  apps/site/snippets/en/download/node.bash
  apps/site/snippets/en/download/volta.bash
Due: eslint --fix, prettier --write, prettier --check --write

chore: enforce curly braces for control statements (#8133)
  apps/site/pages/en/learn/asynchronous-work/asynchronous-flow-control.md
  apps/site/pages/en/learn/asynchronous-work/dont-block-the-event-loop.md
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
  apps/site/pages/en/learn/asynchronous-work/overview-of-blocking-vs-non-blocking.md
  apps/site/pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
  apps/site/pages/en/learn/test-runner/mocking.md
  apps/site/pages/en/learn/typescript/introduction.md
  docs/code-style.md
  eslint.config.js
  packages/remark-lint/src/rules/hashed-self-reference.mjs
  packages/remark-lint/src/rules/yaml/ordered-yaml-keys.mjs
  packages/ui-components/src/Common/AvatarGroup/Avatar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: redirect archive index page
  apps/site/redirects.json
Due: prettier --write

Blog: v20.19.5 release post
  apps/site/pages/en/blog/release/v20.19.5.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.19.5 release post (#8152)
  apps/site/pages/en/blog/release/v20.19.5.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: release check added
  apps/site/components/withDownloadArchive.tsx
  apps/site/redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(nvm): duplicated code
  apps/site/snippets/en/download/nvm.bash
Due: none

fix(nvm): duplicated code (#8153)
  apps/site/snippets/en/download/nvm.bash
Due: none

feat(shiki): add twoslash support
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/pages/en/learn/typescript/transpile.md
  apps/site/styles/index.css
  packages/rehype-shiki/package.json
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/rehype-shiki/src/twoslash.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/rehype-shiki/src/twoslash.css
Due: none

more types
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

improve ts guides
  apps/site/pages/en/learn/typescript/introduction.md
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
  packages/rehype-shiki/src/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/twoslash.css
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/eol.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/eol.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/download/current.mdx
  apps/site/pages/ro/download/index.mdx
  apps/site/pages/ro/eol.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix cloudflare support
  apps/site/next.mdx.plugins.mjs
  packages/rehype-shiki/src/__tests__/highlighter.test.mjs
  packages/rehype-shiki/src/__tests__/plugin.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/minimal.mjs
  packages/rehype-shiki/src/plugin.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup colors
  packages/rehype-shiki/src/twoslash.css
Due: none

Update apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: add End-of-life (EOL) link under About menu
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
Due: prettier --write

wip
  apps/site/next.mdx.use.client.mjs
  apps/site/styles/index.css
  packages/rehype-shiki/package.json
  packages/rehype-shiki/src/index.css
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
  packages/rehype-shiki/src/twoslash.css
  packages/ui-components/src/MDX/Tooltip.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: download archive page unnecessary checks (#8134)
  apps/site/components/withDownloadArchive.tsx
  apps/site/pages/en/download/archive/index.mdx
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

docs: update type stripping default versions
  apps/site/pages/en/learn/typescript/run-natively.md
Due: eslint --fix, prettier --write, prettier --check --write
