Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

chore(ci): ping releasers on blog post PR
  .github/workflows/create-release-post.yml
  apps/site/scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixs: update import syntax and error handling in publish script
  packages/ui-components/scripts/publish.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore(ci): ping releasers on blog post PR (#8412)
  .github/workflows/create-release-post.yml
  apps/site/scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Fix(NavBar, AvatarGroup): Improve keyboard accessibility for interactive controls
  docs/creating-components.md
  packages/ui-components/src/Common/AvatarGroup/index.tsx
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8414)
  packages/i18n/package.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/uk.json
Due: prettier --write

fix(learn): Correct unclear example of passing arguments with the task runner
  apps/site/pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: migrate from middleware.ts to proxy.ts for Next.js 16 compatibility
  apps/site/proxy.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: removed unnecessary comment
  apps/site/proxy.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: update CODEOWNERS to reference proxy.ts instead of middleware.ts
  .github/CODEOWNERS
Due: none

refactor: removed proxy realted comments
  apps/site/proxy.ts
Due: eslint --fix, prettier --write, prettier --check --write

content(`migrations`): update
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

docs(code-style): commit messages should be in lowercase
  docs/code-style.md
Due: eslint --fix, prettier --write, prettier --check --write

Update v22-to-v24.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

blog: update security release date
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

blog: update security release date (#8421)
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

blog: postpone security release to january
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

blog: postpone security release to january (#8426)
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/next-data/generators/supportersData.mjs
  apps/site/next-data/generators/vulnerabilities.mjs
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: add migration guide for chalk to util styletext codemod
  apps/site/pages/en/blog/migrations/chalk-to-styletext.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix formatting
  apps/site/pages/en/blog/migrations/chalk-to-styletext.mdx
Due: eslint --fix, prettier --write, prettier --check --write

docs(code-style): commit messages should be in lowercase (#8427)
  docs/code-style.md
Due: eslint --fix, prettier --write, prettier --check --write

Update release timing for December 2025 security releases
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: update wording about the security release delay
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: update wording about the security release delay (#8434)
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: add marketing team as code owners for partners and branding pages
  .github/CODEOWNERS
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

docs(security.txt): move security.txt to .well-known folder
  apps/site/public/.well-known/security.txt
Due: none

fix(fetch): fixup generators and add error handling (#8395)
  apps/site/next-data/generators/supportersData.mjs
  apps/site/next-data/generators/vulnerabilities.mjs
  apps/site/next.calendar.mjs
  apps/site/next.constants.mjs
  apps/site/types/index.ts
  apps/site/types/supporters.ts
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix(static): fix static rendering
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/app/[locale]/not-found.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/Releases/PreviousReleasesTable/index.tsx
  apps/site/components/withDownloadArchive.tsx
  apps/site/components/withDownloadSection.tsx
  apps/site/components/withNodeRelease.tsx
  apps/site/components/withReleaseSelect.tsx
  apps/site/components/withSupporters.tsx
  apps/site/layouts/Download.tsx
  apps/site/next-data/providers/downloadSnippets.ts
  apps/site/next-data/providers/releaseData.ts
  apps/site/next-data/providers/releaseVersions.ts
  apps/site/next-data/providers/supportersData.ts
  apps/site/next-data/providers/vulnerabilities.ts
  apps/site/next-env.d.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  .github/workflows/build.yml
Due: prettier --write

fixup! use async anyway
  apps/site/app/[locale]/download/archive/[version]/page.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup! async caching
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/Releases/PreviousReleasesTable/index.tsx
  apps/site/components/withDownloadArchive.tsx
  apps/site/components/withDownloadSection.tsx
  apps/site/components/withNodeRelease.tsx
  apps/site/components/withReleaseSelect.tsx
  apps/site/components/withSupporters.tsx
  apps/site/layouts/Download.tsx
  apps/site/next-data/providers/downloadSnippets.ts
  apps/site/next-data/providers/releaseData.ts
  apps/site/next-data/providers/releaseVersions.ts
  apps/site/next-data/providers/supportersData.ts
  apps/site/next-data/providers/vulnerabilities.ts
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/components/withNodeRelease.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier --write

fixup!
  apps/site/next-data/generators/majorNodeReleases.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
