Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

[automated]: Crowdin Translations Sync (#7756)
  apps/site/pages/uk/about/index.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  packages/i18n/locales/uk.json
  packages/i18n/locales/zh-tw.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Restored packages/ui-components/Containers/MetaBar/index.tsx
  packages/ui-components/Containers/MetaBar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Replaced display:none with @apply hidden
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore(download): extract constants to JSON
  apps/site/components/Downloads/Release/PrebuiltDownloadButtons.tsx
  apps/site/types/userOS.ts
  apps/site/util/downloadUtils.tsx
  apps/site/util/downloadUtils/constants.json
  apps/site/util/downloadUtils/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: resolve some todos (#7751)
  apps/site/components/MDX/Image/index.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/next.config.mjs
  apps/site/util/__tests__/imageUtils.test.mjs
  apps/site/util/imageUtils.ts
  packages/ui-components/Common/AvatarGroup/Avatar/index.tsx
  packages/ui-components/Common/AvatarGroup/Overlay/index.tsx
  packages/ui-components/Common/AvatarGroup/index.tsx
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(test): add playwright tests
  .github/workflows/playwright.yml
  .gitignore
  COLLABORATOR_GUIDE.md
  apps/site/.stylelintignore
  apps/site/components/withNavBar.tsx
  apps/site/package.json
  apps/site/playwright.config.ts
  apps/site/tests/e2e/general-behavior.spec.ts
  eslint.config.js
  packages/i18n/lib/index.mjs
  packages/ui-components/Common/LanguageDropDown/index.tsx
  packages/ui-components/Common/ThemeToggle/index.tsx
  packages/ui-components/Containers/NavBar/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(mdx): move mdx into sub-package
  .github/workflows/lint-and-tests.yml
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/next.dynamic.mjs
  apps/site/next.jsx.compiler.mjs
  apps/site/next.mdx.shiki.mjs
  apps/site/package.json
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/util/__tests__/gitHubUtils.test.mjs
  apps/site/util/getHighlighter.ts
  apps/site/util/gitHubUtils.ts
  package.json
  packages/mdx/eslint.config.js
  packages/mdx/lib/__tests__/shiki.test.mjs
  packages/mdx/lib/__tests__/utils.test.mjs
  packages/mdx/lib/compiler.tsx
  packages/mdx/lib/evaluator.ts
  packages/mdx/lib/highlighter.ts
  packages/mdx/lib/plugins.ts
  packages/mdx/lib/shiki.ts
  packages/mdx/lib/utils.ts
  packages/mdx/package.json
  packages/mdx/shiki.config.mjs
  packages/mdx/tsconfig.json
  packages/mdx/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix deps
  packages/mdx/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check --write

Fix: not all elements were being rendered
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

satisfy types
  packages/mdx/lib/compiler.tsx
  packages/mdx/lib/highlighter.ts
  packages/mdx/lib/utils.ts
  packages/mdx/shiki.config.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(download): externalize labels and constants to JSON file (#7750)
  apps/site/components/Downloads/Release/PrebuiltDownloadButtons.tsx
  apps/site/types/userOS.ts
  apps/site/util/downloadUtils.tsx
  apps/site/util/downloadUtils/constants.json
  apps/site/util/downloadUtils/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Removed the redundant scrollbar styles
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat(download): show WSL info message when Windows(WIN) OS is selected
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Downloads/WSLMessage.tsx
  apps/site/components/Downloads/WindowsWSLMessage.tsx
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/download/index.mdx
  apps/site/pages/es/download/index.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ko/download/index.mdx
  apps/site/pages/pt/download/index.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-tw/download/index.mdx
  packages/i18n/locales/en.json
  packages/i18n/locales/es.json
  packages/i18n/locales/fr.json
  packages/i18n/locales/id.json
  packages/i18n/locales/ja.json
  packages/i18n/locales/ko.json
  packages/i18n/locales/pt.json
  packages/i18n/locales/tr.json
  packages/i18n/locales/uk.json
  packages/i18n/locales/zh-cn.json
  packages/i18n/locales/zh-tw.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: metabar no longer has a short length
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: metabar length fix
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: chromatic diff
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Removed all the changes made to different languages JSON file as Crowdin will handle that
  packages/i18n/locales/es.json
  packages/i18n/locales/fr.json
  packages/i18n/locales/id.json
  packages/i18n/locales/ja.json
  packages/i18n/locales/ko.json
  packages/i18n/locales/pt.json
  packages/i18n/locales/tr.json
  packages/i18n/locales/uk.json
  packages/i18n/locales/zh-cn.json
  packages/i18n/locales/zh-tw.json
Due: prettier --write, prettier --check --write

Added details about setTimeout() and setInterval() returns a Timeout object in Nodejs and ID when executed in Browser
  apps/site/pages/en/learn/asynchronous-work/discover-javascript-timers.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: removed the added padding
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: removed the additional p-4
  packages/ui-components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

satisfy types
  packages/mdx/lib/shiki.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

removed all the <WSLMessage/> component from all the supported languages other than english ` en ` , from ` apps/site/pages/` directory
  apps/site/pages/es/download/index.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ko/download/index.mdx
  apps/site/pages/pt/download/index.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-tw/download/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: drop 'immediately'
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update translations-sync.yml
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

chore(monorepo): `rehype-shiki`
  .github/workflows/lint-and-tests.yml
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/next.mdx.plugins.mjs
  apps/site/package.json
  apps/site/util/getHighlighter.ts
  apps/site/util/getLanguageDisplayName.ts
  packages/rehype-shiki/eslint.config.js
  packages/rehype-shiki/package.json
  packages/rehype-shiki/src/__tests__/languages.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/languages.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/rehype-shiki/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!
  packages/rehype-shiki/eslint.config.js
  packages/rehype-shiki/src/__tests__/languages.test.mjs
  packages/rehype-shiki/turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

add build to turbo
  packages/rehype-shiki/turbo.json
Due: prettier --write, prettier --check --write

Update WindowsWSLMessage.tsx
  apps/site/components/Downloads/WindowsWSLMessage.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update collecting-code-coverage.md
  apps/site/pages/en/learn/test-runner/collecting-code-coverage.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(learn): fix link text in coverage article (#7761)
  apps/site/pages/en/learn/test-runner/collecting-code-coverage.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(ui): move `ArticleLayout` to `ui-components`
  apps/site/layouts/About.tsx
  apps/site/layouts/ArticlePage.tsx
  apps/site/layouts/Default.tsx
  apps/site/layouts/Learn.tsx
  apps/site/layouts/layouts.module.css
  packages/ui-components/Containers/Article/index.module.css
  packages/ui-components/Containers/Article/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fixup! chore(ui): move `ArticleLayout` to `ui-components`
  packages/ui-components/Containers/Article/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Update discover-promises-in-nodejs.md
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: simplified download page
  apps/site/components/Downloads/SimplifiedDownloadTable/index.module.css
  apps/site/components/Downloads/SimplifiedDownloadTable/index.tsx
  apps/site/components/withLayout.tsx
  apps/site/components/withProgressionSidebar.tsx
  apps/site/components/withSimplifiedDownload.tsx
  apps/site/layouts/DownloadSimple.tsx
  apps/site/next.dynamic.constants.mjs
  apps/site/next.mdx.use.mjs
  apps/site/pages/en/download/simplified.mdx
  apps/site/types/layouts.ts
  apps/site/util/downloadUtils.tsx
  packages/ui-components/styles/markdown.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: fix type errors
  apps/site/layouts/DownloadSimple.tsx
  apps/site/next.dynamic.constants.mjs
  apps/site/util/downloadUtils.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove unused css file
  apps/site/components/Downloads/SimplifiedDownloadTable/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore(deps): update css-loader, remove redundant deps
  apps/site/package.json
  packages/ui-components/.storybook/main.ts
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(learn/userland-migrations): add intro
  apps/site/pages/en/learn/migrations/introduction.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
