Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

Blog: v24.8.0 release post (#8162)
  apps/site/pages/en/blog/release/v24.8.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(turbo): add root prettier:fix task to format command (#8109)
  package.json
  turbo.json
Due: prettier --write

style(sidebar): make hover full-width and add clearer item spacing (#8158)
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

refactor: review
  apps/site/next.dynamic.mjs
  apps/site/types/frontmatter.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: review
  apps/site/components/EOL/VulnerabilitiesTable.tsx
  packages/ui-components/src/styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write

fix: chat scroll behaviour
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/Chat/ChatSources/index.tsx
  apps/site/components/Common/Searchbox/Chat/index.module.css
  apps/site/components/Common/Searchbox/DocumentLink/index.module.css
  apps/site/components/Common/Searchbox/DocumentLink/index.tsx
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: chat interface
  apps/site/components/Common/Searchbox/Chat/ChatActions/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.tsx
  apps/site/components/Common/Searchbox/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/ChatInput/index.tsx
  apps/site/components/Common/Searchbox/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: sources style not applied
  apps/site/components/Common/Searchbox/Chat/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/ChatActions/index.module.css
  apps/site/components/Common/Searchbox/ChatActions/index.tsx
  apps/site/components/Common/Searchbox/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/ChatSources/index.tsx
  apps/site/components/Common/Searchbox/DocumentLink/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/eol.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/eol.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/download/current.mdx
  apps/site/pages/ro/download/index.mdx
  apps/site/pages/ro/eol.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/get-involved/index.md
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/download/package-manager/all.md
  apps/site/pages/uk/eol.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/snippets/uk/download/corepack.bash
  apps/site/snippets/uk/download/node.bash
  packages/i18n/src/locales/uk.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/eol.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/eol.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/download/current.mdx
  apps/site/pages/ro/download/index.mdx
  apps/site/pages/ro/eol.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/eol.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

feat: add custom description metadata generation (#8159)
  apps/site/next.dynamic.mjs
  apps/site/pages/en/eol.mdx
  apps/site/types/frontmatter.ts
Due: eslint --fix, prettier --write, prettier --check --write

style: update sidebar item spacing and scrollbar styles
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/styles/index.css
Due: none

Update packages/ui-components/src/styles/index.css
  packages/ui-components/src/styles/index.css
Due: none

chore(cleanup): move mdx files out of root
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/mdx/compiler.mjs
  apps/site/mdx/components.mjs
  apps/site/mdx/plugins.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.jsx.compiler.mjs
  apps/site/next.mdx.components.mjs
  apps/site/next.mdx.use.client.mjs
  apps/site/next.mdx.use.mjs
  apps/site/util/evaluator.ts
Due: eslint --fix, prettier --write, prettier --check --write

style: update scrollbar colors for light mode and fix some sidebar light mode issues
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/styles/index.css
Due: none

[automated]: crowdin sync (#8164)
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/uk/about/get-involved/index.md
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/package-manager/all.md
  apps/site/pages/uk/eol.mdx
  apps/site/pages/uk/index.mdx
  apps/site/snippets/uk/download/corepack.bash
  apps/site/snippets/uk/download/node.bash
  packages/i18n/package.json
  packages/i18n/src/locales/uk.json
Due: eslint --fix, prettier --write, prettier --check --write

Add Node.js Hex Logo to branding page
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

add hex logo
  apps/site/public/static/logos/nodejsHex.svg
Due: none

Change Node.js mascot image and resize
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/about/branding.mdx
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix lint
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: create css-only responsive table (#8098)
  apps/site/components/EOL/VulnerabilitiesTable.tsx
  apps/site/components/EOL/VulnerabilityChips/VulnerabilityChip/index.tsx
  apps/site/components/EOL/VulnerabilityChips/index.tsx
  apps/site/components/Releases/MinorReleasesTable/index.tsx
  apps/site/components/Releases/PreviousReleasesTable.tsx
  apps/site/components/Releases/ReleaseOverview/ReleaseOverviewItem/index.tsx
  apps/site/next.mdx.plugins.mjs
  apps/site/package.json
  apps/site/util/table.ts
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/Modal/index.module.css
  packages/ui-components/src/styles/markdown.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix my rushed changes
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/mdx/compiler.mjs
  apps/site/mdx/plugins.mjs
  apps/site/util/interpreter.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(bump): ui-components
  packages/ui-components/package.json
Due: prettier --write

fix: style of chat panel in light mode
  apps/site/components/Common/Searchbox/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/ChatMessage/index.module.css
Due: none

style: fix sources and scroll to bottom style
  apps/site/components/Common/Searchbox/ChatActions/index.tsx
  apps/site/components/Common/Searchbox/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
  apps/site/components/Common/Searchbox/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fix: collapse source text link
  apps/site/components/Common/Searchbox/ChatSources/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

style: add chat loading animation
  apps/site/components/Common/Searchbox/ChatMessage/index.module.css
  packages/ui-components/src/styles/animations.css
Due: none

style: mobile toggle search/chat
  apps/site/components/Common/Searchbox/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
  packages/ui-components/src/styles/animations.css
Due: eslint --fix, prettier --write, prettier --check --write

Add Node.js Hex Logo to branding page (#8169)
  apps/site/pages/en/about/branding.mdx
  apps/site/public/static/logos/nodejsHex.svg
Due: eslint --fix, prettier --write, prettier --check --write

fix: toggle animation
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: search modal layout composition
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

doc: add minimal SECURITY md
  SECURITY.md
Due: eslint --fix, prettier --write, prettier --check --write

use prefix
  apps/site/mdx/components.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore(cleanup): move mdx files out of root (#8167)
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/mdx/compiler.mjs
  apps/site/mdx/components.mjs
  apps/site/mdx/plugins.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.jsx.compiler.mjs
  apps/site/next.mdx.components.mjs
  apps/site/next.mdx.use.client.mjs
  apps/site/next.mdx.use.mjs
  apps/site/util/interpreter.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: search footer and chat actions
  apps/site/components/Common/Searchbox/ChatActions/index.module.css
  apps/site/components/Common/Searchbox/ChatActions/index.tsx
  apps/site/components/Common/Searchbox/ChatInteractions/index.module.css
  apps/site/components/Common/Searchbox/ChatInteractions/index.tsx
  apps/site/components/Common/Searchbox/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/Footer/index.module.css
  apps/site/components/Common/Searchbox/Footer/index.tsx
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: chat scrollbar style
  apps/site/components/Common/Searchbox/ChatInteractions/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
