Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

chore: remove mastodon logos (#8649)
  apps/site/navigation.json
  packages/ui-components/__design__/social-logos.stories.tsx
  packages/ui-components/src/Containers/Footer/index.stories.tsx
  packages/ui-components/src/Containers/Footer/index.tsx
  packages/ui-components/src/Icons/Social/Mastodon.tsx
  packages/ui-components/src/Icons/Social/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(i18n): add `eloqnt lint`, and fix what it found (#9106)
  .changeset/eloqnt-lint-i18n-cleanup.md
  .eloqnt/config.ts
  .github/workflows/lint-and-tests.yml
  package.json
  packages/i18n/src/locales/ar.json
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/es.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/ta.json
  packages/i18n/src/locales/tr.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

add survey as badge
  apps/site/site.json
Due: prettier --write

feat(mdx): add mermaid diagram support
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/components/MDX/Mermaid/index.tsx
  apps/site/mdx/plugins.mjs
  apps/site/package.json
  packages/ui-components/package.json
  packages/ui-components/src/MDX/Mermaid/index.module.css
  packages/ui-components/src/MDX/Mermaid/index.stories.tsx
  packages/ui-components/src/MDX/Mermaid/index.tsx
  packages/ui-components/src/hooks/__test__/useMermaid.test.jsx
  packages/ui-components/src/hooks/useMermaid.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): sync translations from crowdin (#9104)
  .changeset/crowdin-translations.md
  apps/site/pages/ja/about/eol.mdx
  apps/site/snippets/fr/download/nvm.bash
Due: eslint --fix, prettier --write, prettier --check --write

Add Next 10 survey as badge (#9110)
  apps/site/site.json
Due: prettier --write

feat(i18n): adopt `next/root-params` (#9105)
  apps/site/app/[locale]/[...path]/page.tsx
  apps/site/app/[locale]/blog/[...path]/page.tsx
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/app/[locale]/layout.tsx
  apps/site/app/[locale]/page.tsx
  apps/site/i18n.tsx
  apps/site/next.dynamic.page.mjs
Due: eslint --fix, prettier --write, prettier --check --write

meta: bump nvm to v0.40.7 (#9111)
  apps/site/snippets/en/download/nvm.bash
Due: none

ci: adds age-gate
  .changeset/upset-walls-bet.md
  .github/workflows/pull-request-age-gate.yml
Due: eslint --fix, prettier --write, prettier --check --write

update action with a small fork-pr ux fix
  .github/workflows/pull-request-age-gate.yml
Due: prettier --write

chore(i18n): sync translations from crowdin
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): format translated files
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui): allow ChangeHistory to accept ReactNode
  .changeset/soft-friends-camp.md
  packages/ui-components/src/Common/ChangeHistory/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup! types
  packages/ui-components/src/Common/ChangeHistory/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui): allow ChangeHistory to accept ReactNode (#9115)
  .changeset/soft-friends-camp.md
  packages/ui-components/src/Common/ChangeHistory/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

ci: adds age-gate (#9112)
  .changeset/upset-walls-bet.md
  .github/workflows/pull-request-age-gate.yml
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v24.20.0
  apps/site/pages/en/blog/release/v24.20.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v26.8.0
  apps/site/pages/en/blog/release/v26.8.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v26.8.1
  apps/site/pages/en/blog/release/v26.8.1.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: add controls to collapse side navigations
  apps/site/components/Common/ArticleWithSidebarState.tsx
  apps/site/components/Common/CollapsedSidebarRail.tsx
  apps/site/components/Common/ContentLayoutWithSidebarState.tsx
  apps/site/components/Common/SidebarToggleButton.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withSidebar.tsx
  apps/site/layouts/About.tsx
  apps/site/layouts/ArticlePage.tsx
  apps/site/layouts/Base.tsx
  apps/site/layouts/Default.tsx
  apps/site/layouts/Post.tsx
  apps/site/layouts/layouts.module.css
  apps/site/providers/sidebarStateProvider.tsx
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Article/index.tsx
  packages/ui-components/src/Containers/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): sync translations from crowdin
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  apps/site/snippets/ja/download/nvm.bash
  apps/site/snippets/ro/download/nvm.bash
  apps/site/snippets/uk/download/nvm.bash
Due: eslint --fix, prettier --write, prettier --check --write

fix: hide empty sidebar controls
  apps/site/components/withMetaBar.tsx
  apps/site/components/withSidebar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: address sidebar toggle review feedback
  apps/site/components/Common/SidebarToggleButton.module.css
  apps/site/components/Common/SidebarToggleButton.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withSidebar.tsx
  apps/site/layouts/About.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixed the bug 9098
  packages/ui-components/src/Common/ChangeHistory/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: implement collapsed sidebar rail and toggle button components
  apps/site/components/Common/CollapsedSidebarRail.tsx
  apps/site/components/Common/SidebarToggleButton.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withSidebar.tsx
  apps/site/providers/sidebarStateProvider.tsx
  packages/ui-components/src/Common/CollapsedSidebarRail/index.module.css
  packages/ui-components/src/Common/CollapsedSidebarRail/index.stories.tsx
  packages/ui-components/src/Common/CollapsedSidebarRail/index.tsx
  packages/ui-components/src/Common/SidebarToggleButton/index.module.css
  packages/ui-components/src/Common/SidebarToggleButton/index.stories.tsx
  packages/ui-components/src/Common/SidebarToggleButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: update pnpm from 11.18.0 to
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update renamed inputs
  .github/workflows/publish-packages.yml
Due: prettier --write

chore(i18n): sync translations from crowdin (#9120)
  apps/site/snippets/ja/download/nvm.bash
  apps/site/snippets/ro/download/nvm.bash
  apps/site/snippets/uk/download/nvm.bash
Due: none

fix: correct the code style in the hover status
  packages/ui-components/src/Common/ChangeHistory/index.module.css
Due: none

Refactor hover and focus styles for light theme
  packages/ui-components/src/Common/ChangeHistory/index.module.css
Due: none

chore(i18n): format translated files
  .changeset/crowdin-translations.md
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

style: update
  packages/ui-components/src/Common/ChangeHistory/index.module.css
Due: none

fix: update
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/src/Common/ChangeHistory/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): add css :target deeplinks to CodeTabs
  .changeset/codetabs-anchor-deeplinks.md
  packages/ui-components/src/Common/CodeTabs/__tests__/getCodeTabId.test.mjs
  packages/ui-components/src/Common/CodeTabs/__tests__/index.test.jsx
  packages/ui-components/src/Common/CodeTabs/getCodeTabId.ts
  packages/ui-components/src/Common/CodeTabs/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
  packages/ui-components/src/Common/CodeTabs/index.tsx
  packages/ui-components/src/MDX/CodeTabs.tsx
  packages/ui-components/src/MDX/__tests__/CodeTabs.test.jsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): harden codetabs deep links
  .changeset/codetabs-anchor-deeplinks.md
  apps/site/tests/e2e/code-tabs.spec.ts
  packages/ui-components/package.json
  packages/ui-components/src/Common/CodeTabs/__tests__/getCodeTabId.test.mjs
  packages/ui-components/src/Common/CodeTabs/__tests__/index.test.jsx
  packages/ui-components/src/Common/CodeTabs/getCodeTabId.ts
  packages/ui-components/src/Common/CodeTabs/getPanels.ts
  packages/ui-components/src/Common/CodeTabs/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
  packages/ui-components/src/Common/CodeTabs/index.tsx
  packages/ui-components/src/Common/CodeTabs/useCodeTabNavigation.ts
  packages/ui-components/src/MDX/CodeTabs.tsx
  packages/ui-components/src/MDX/__tests__/CodeTabs.test.jsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: add changeset
  .changeset/crisp-socks-call.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: update comment
  packages/ui-components/src/Common/ChangeHistory/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: add 0install as an installation method on the downloads page
  .changeset/jolly-eagles-retire.md
  apps/site/snippets/en/download/zeroinstall.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  packages/i18n/src/locales/en.json
  packages/ui-components/__design__/platform-logos.stories.tsx
  packages/ui-components/src/Icons/InstallationMethod/ZeroInstall.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
