Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: add required styles
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

feat: add font style property
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

fix: rebase branch
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

Style: Add unordered and ordered list styling (#5957)
  components/__design__/list.stories.tsx
  styles/new/base.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

New translations current.md (Spanish) chore: synced translations from crowdin
  pages/es/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Spanish) chore: synced translations from crowdin
  pages/es/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Arabic) chore: synced translations from crowdin
  pages/ar/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Catalan) chore: synced translations from crowdin
  pages/ca/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Catalan) chore: synced translations from crowdin
  pages/ca/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Japanese) chore: synced translations from crowdin
  pages/ja/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Japanese) chore: synced translations from crowdin
  pages/ja/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Georgian) chore: synced translations from crowdin
  pages/ka/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Dutch) chore: synced translations from crowdin
  pages/nl/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Dutch) chore: synced translations from crowdin
  pages/nl/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Russian) chore: synced translations from crowdin
  pages/ru/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Russian) chore: synced translations from crowdin
  pages/ru/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Turkish) chore: synced translations from crowdin
  pages/tr/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Turkish) chore: synced translations from crowdin
  pages/tr/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Ukrainian) chore: synced translations from crowdin
  pages/uk/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Ukrainian) chore: synced translations from crowdin
  pages/uk/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Ukrainian) chore: synced translations from crowdin
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Chinese Traditional) chore: synced translations from crowdin
  pages/zh-tw/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Chinese Traditional) chore: synced translations from crowdin
  pages/zh-tw/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  pages/ar/download/current.md
  pages/ca/download/current.md
  pages/ca/download/index.md
  pages/es/download/current.md
  pages/es/download/index.md
  pages/ja/download/current.md
  pages/ja/download/index.md
  pages/ka/download/index.md
  pages/nl/download/current.md
  pages/nl/download/index.md
  pages/pt-br/download/current.md
  pages/pt-br/download/index.md
  pages/ru/download/current.md
  pages/ru/download/index.md
  pages/tr/download/current.md
  pages/tr/download/index.md
  pages/uk/docs/index.mdx
  pages/uk/download/current.md
  pages/uk/download/index.md
  pages/zh-tw/download/current.md
  pages/zh-tw/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Tailwind border radius values adjusted
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Inline select dropdown radius
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: Unnecessary pixel usage
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

refactor: Inline select trigger border-radius
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: Revert rounded-xs to rounded
  components/Common/Select/index.module.css
  styles/new/base.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: InlineSelect ability (#5963)
  components/Common/Select/index.module.css
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
  styles/new/base.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: create Notification component
  .storybook/preview.tsx
  components/Common/Notification/index.module.css
  components/Common/Notification/index.stories.tsx
  components/Common/Notification/index.tsx
  hooks/useNotification.ts
  i18n/locales/en.json
  package-lock.json
  package.json
  providers/notificationProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Create Notification Component (#5955)
  .storybook/preview.tsx
  components/Common/Notification/index.module.css
  components/Common/Notification/index.stories.tsx
  components/Common/Notification/index.tsx
  hooks/useNotification.ts
  i18n/locales/en.json
  package-lock.json
  package.json
  providers/notificationProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Feat: add Common/Pagination initial rendering test and markdown
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Feat: add currentPage and pages props to Common/Pagination component
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Feat: add disabled logic to previous and next buttons in Common/Pagination component
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Feat: create and add initial logic to useGetParsedPages, to manage pages shown in Common/Pagination
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetParsedPages.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Feat: show an ellipsis when there are more than 6 pages in Common/Pagination
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
  components/Common/Pagination/useGetParsedPages.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
