Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.{css,sass,scss}": ["stylelint", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: added social-mastadon.svg, #issue 39
  public/static/images/logos/social-mastadon.svg
Due: none

chore: Added social-x.svg, #issue 42
  public/static/images/logos/social-x.svg
Due: none

chore: added platform-nvm.svg and storybook, #issue 34
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/playform-nvm.svg
Due: eslint --fix, prettier --write, prettier --check --write

chore: Deleted nodejs-training, #issue5822
  public/static/images/nodejs-training.png
Due: none

chore: Deleted nodejs-black.png
  public/static/images/logos/nodejs-black.png
Due: none

chore: Deleted ghc-banner, #issue 5829
  public/static/images/ghc-banner.png
Due: none

chore: Deleted node-cert-logo, #issue 5830
  public/static/images/node-cert-logo.png
Due: none

chore: Deleted logo-light, #issue 5832
  public/static/images/logo-light.png
Due: none

chore: Deleted community-icons.png, #issue 5833
  public/static/images/community-icons.png
Due: none

chore:Added social icon LinkedIn #40
  components/__design__/social-logos.stories.tsx
  public/static/images/logos/social-linkedin.svg
Due: eslint --fix, prettier --write, prettier --check --write

Deleted placeholder-img.png file
  public/static/images/placeholder-img.png
Due: none

meta: separate constants and introduce extra classes per theme
  .storybook/constants.ts
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: Deleted nodejs-new-black, #issue 5837
  public/static/images/logos/nodejs-new-black.svg
Due: none

meta: introduce chromatic modes
  .storybook/constants.ts
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: Add White JS Logo SVG (#5858)
  components/__design__/logos.stories.tsx
  public/static/images/logos/js-white.svg
Due: eslint --fix, prettier --write, prettier --check --write

chore: Added stack-black-logo and Storybook, #issue 31
  components/__design__/stacked-logos.stories.tsx
  public/static/images/logos/stacked-black.svg
Due: eslint --fix, prettier --write, prettier --check --write

Delete public/static/images/logos/js-green.svg
  public/static/images/logos/js-green.svg
Due: none

chore: Added horizontal-logo-light and Storybook, #issue 27
  components/__design__/horizontal-logos.stories.tsx
  public/static/images/logos/horizontal-light.svg
Due: eslint --fix, prettier --write, prettier --check --write

meta: fix tailwind detection for storybook constants
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix 5827: Deleted the placeholder image
  public/static/images/placeholder-img.png
Due: none

Deleting node-favicon.png
  public/static/images/logos/node-favicon.png
Due: none

Deleting the logo-light.svg (GHC)
  public/static/images/logo-light.svg
Due: none

Added platform placeholder
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-placeholder.svg
Due: eslint --fix, prettier --write, prettier --check --write

meta: updated viewports and reorganised code
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

added stacked-dark logo and storybook
  components/__design__/stacked-logos.stories.tsx
  public/static/images/logos/stacked-dark.svg
Due: eslint --fix, prettier --write, prettier --check --write

meta: better viewport sizes
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix:Deleted nodejs-dark.png file, Issue #5825
  public/static/images/logos/nodejs-dark.png
Due: none

Create stacked-logos.stories.tsx
  components/__design__/stacked-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: add homebrew logo SVG
  public/static/images/logos/platform-homebrew.svg
Due: none

chore: create storybook story with homebrew image
  components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(button): extract backdrop glow to a mixin
  components/Common/Button/index.module.scss
  components/Common/Button/index.stories.tsx
  styles/new/index.scss
  styles/new/mixins.scss
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: changing import to index
  components/Common/Button/index.module.scss
Due: prettier --write, stylelint

chore: use tailwind token instead of plain css
  components/Common/Button/index.module.scss
Due: prettier --write, stylelint

meta: separate constants and introduce extra classes per theme (#5875)
  .storybook/constants.ts
  .storybook/preview.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Delete public/static/images/logos/nodejs-new-white.svg (#5842)
  public/static/images/logos/nodejs-new-white.svg
Due: none

Delete public/static/images/logos/nodejs-green.png (#5843)
  public/static/images/logos/nodejs-green.png
Due: none

fix 5827: Deleted the placeholder image (#5880)
  public/static/images/placeholder-img.png
Due: none

used file logo-hexagon deleted (#5846)
  public/static/images/logo-hexagon.svg
Due: none

feat: switch from scss to postcss
  .lintstagedrc.json
  .prettierrc.json
  .storybook/preview.tsx
  .stylelintrc.mjs
  COLLABORATOR_GUIDE.md
  components/Common/Badge/index.module.css
  components/Common/Badge/index.tsx
  components/Common/Banner/index.module.css
  components/Common/Banner/index.tsx
  layouts/AboutLayout.tsx
  layouts/ContributeLayout.tsx
  layouts/DocsLayout.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  postcss.config.js
  styles/mixins/components.css
  styles/mixins/screen.css
  styles/new/index.css
  styles/new/index.scss
  styles/old/base.css
  styles/old/index.css
  styles/old/layout/dark-theme.css
  styles/old/layout/grid.css
  styles/old/layout/lists.css
  styles/old/layout/main.css
  styles/old/layout/sticky-footer.css
  styles/old/page-modules/anchorLinks.css
  styles/old/page-modules/blog-index.css
  styles/old/page-modules/blog-post.css
  styles/old/page-modules/download.css
  styles/old/page-modules/footer.css
  styles/old/page-modules/header.css
  styles/old/page-modules/home.css
  styles/old/page-modules/jsfoundation.css
  styles/old/page-modules/prev-next-navigation.css
  styles/old/page-modules/scrollToTop.css
  styles/old/utils.css
  styles/old/variables.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: remove unused mixins and fix mixin usage
  .lintstagedrc.json
  .stylelintrc.mjs
  styles/mixins/components.css
  styles/mixins/screen.css
  styles/old/base.css
  styles/old/page-modules/blog-index.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint
