Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

remove AnchoredHeading
  components/AnchoredHeading.tsx
Due: eslint --fix, prettier --write

fix: hotfix use sha
  .github/workflows/pull-request-target.yml
Due: prettier --write

fix: hotfix pull_request_target
  .github/workflows/pull-request-target.yml
Due: prettier --write

fix: another workflow hot fix
  .github/workflows/pull-request-target.yml
Due: prettier --write

fix: zip no extracting correct folder
  .github/workflows/pull-request-target.yml
Due: prettier --write

fix: Incorrect anchor tag (#5586)
  components/AnchoredHeading.tsx
  next.dynamic.mjs
  package-lock.json
  package.json
  providers/mdxProvider.tsx
Due: eslint --fix, prettier --write

fix: hotfix security endpoint
  next.rewrites.mjs
Due: eslint --fix, prettier --write

fix: correct matcher
  middleware.ts
Due: eslint --fix, prettier --write

Update middleware.ts
  middleware.ts
Due: eslint --fix, prettier --write

chore(i18n): crowdin sync (#5600)
  pages/be/about/index.md
  pages/be/docs/guides/diagnostics/live-debugging/index.md
  pages/be/download/releases.md
Due: eslint --fix, prettier --write

chore: node_env as global env
  turbo.json
Due: prettier --write

chore: enforce strict env on ci
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Due: prettier --write

refactor: use simple middleware
  middleware.ts
  middlewares/detectLanguage.ts
  next.middleware.ts
  types/index.ts
  types/middlewares.ts
Due: eslint --fix, prettier --write

chore: simplify semver calls
  util/getNodeJsChangelog.ts
Due: eslint --fix, prettier --write

feat: adds lighthouse test and preview
  .github/workflows/pull-request-target.yml
  .lighthouserc.json
  scripts/lighthouse/index.js
Due: eslint --fix, prettier --write

blog: postpone sec release notice
  pages/en/blog/vulnerability/august-2023-security-releases.md
Due: eslint --fix, prettier --write

New translations index.md (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/about/index.md
Due: eslint --fix, prettier --write

New translations index.md (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/docs/guides/diagnostics/live-debugging/index.md
Due: eslint --fix, prettier --write

New translations using-inspector.md (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/docs/guides/diagnostics/live-debugging/using-inspector.md
Due: eslint --fix, prettier --write

New translations collab-summit.md (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/get-involved/collab-summit.md
Due: eslint --fix, prettier --write

New translations contribute.md (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/get-involved/contribute.md
Due: eslint --fix, prettier --write

New translations index.mdx (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write

blog: postpone sec release notice (#5611)
  pages/en/blog/vulnerability/august-2023-security-releases.md
Due: eslint --fix, prettier --write

chore: fix robots generation and updated ignore files
  .gitignore
  .prettierignore
  package.json
  robots.config.mjs
Due: eslint --fix, prettier --write

chore: remove duplicated robot generation for deploy
  package.json
Due: prettier --write

chore: fix output of robots on static builds
  robots.config.mjs
Due: eslint --fix, prettier --write

chore: removed old entries from eslint
  .eslintignore
Due: none

fix: next.config for static builds
  next.config.mjs
  next.rewrites.mjs
Due: eslint --fix, prettier --write

chore: remove strict env mode?
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore: fix robots generation and updated ignore files (#5614)
  .eslintignore
  .gitignore
  .prettierignore
  next.config.mjs
  next.rewrites.mjs
  package.json
  robots.config.mjs
Due: eslint --fix, prettier --write

chore: node_env as global env (#5613)
  middleware.ts
  middlewares/detectLanguage.ts
  next.middleware.ts
  turbo.json
  types/index.ts
  types/middlewares.ts
Due: eslint --fix, prettier --write

style: Center content on home page
  layouts/IndexLayout.tsx
  styles/old/layout/_grid.scss
Due: eslint --fix, prettier --write

fix: main download button for linux incorrect
  util/downloadUrlByOS.ts
Due: eslint --fix, prettier --write

Update 1
  util/downloadUrlByOS.ts
Due: eslint --fix, prettier --write

fix: main download button for linux incorrect (#5618)
  util/downloadUrlByOS.ts
Due: eslint --fix, prettier --write

fix: fixed initial theme flash on page load
  next.constants.mjs
  pages/_document.tsx
Due: eslint --fix, prettier --write

fix: removed set theme from legacyMain script
  public/static/js/legacyMain.js
Due: eslint --fix, prettier --write

Blog: v18.17.1 release post
  pages/en/blog/release/v18.17.1.md
Due: eslint --fix, prettier --write

Blog: v16.20.2 release post
  pages/en/blog/release/v16.20.2.md
Due: eslint --fix, prettier --write
