Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

fix: svg warning in HexagonGrid (#6681)
  components/Icons/HexagonGrid.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: usage of tailwind break-all class
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: usage of tailwind bracket class
  components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: overflow issue on mobile GlowingBackdrop
  components/Common/GlowingBackdrop/index.module.css
Due: prettier --write, stylelint --allow-empty-input

build(script): use `dev` instead of `serve` (#6674)
  CONTRIBUTING.md
  README.md
  package.json
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

Update reading-files-with-nodejs.md
  pages/en/learn/manipulating-files/reading-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: scrollbar on avatar
  components/Common/AvatarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

update/clean logic
  components/withMetaBar.tsx
  layouts/Learn.tsx
  types/frontmatter.ts
Due: eslint --fix, prettier --write, prettier --check --write

change the copy to clipboard behaviour
  components/Common/CodeBox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: delete additional space layouts/layouts.module.css
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: glowing backdrop aspect ratio
  components/Common/GlowingBackdrop/index.module.css
Due: prettier --write, stylelint --allow-empty-input

style: fix linting
  components/Containers/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: we use MDXv3 now
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

fixed the breadcrumb
  components/withBreadcrumbs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: use import attribute in release-post script
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v22.1.0 release post
  pages/en/blog/release/v22.1.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v22.1.0 release post (#6708)
  pages/en/blog/release/v22.1.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct headings levels for Previous Releases page (#6682)
  pages/en/about/previous-releases.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fixes test warning
  components/Common/Tabs/__tests__/index.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix test deprecation warning
  hooks/react-client/__tests__/useBottomScrollListener.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: overflow issue on mobile GlowingBackdrop (#6683)
  components/Common/GlowingBackdrop/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: horizontal scrollbar appearing on small screen (#6680)
  components/Containers/Footer/index.module.css
  components/Containers/MetaBar/index.module.css
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

Update reading-files-with-nodejs.md (#6684)
  pages/en/learn/manipulating-files/reading-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: Navigation state provider and hook
  components/Common/ProgressionSidebar/index.tsx
  components/withProgressionSidebar.tsx
  hooks/react-client/index.ts
  hooks/react-client/useNavigationState.ts
  layouts/Base.tsx
  providers/navigationStateProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

removed variable assigned
  components/withBreadcrumbs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update style
  components/Common/AvatarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat(metabar): use breakpoint for limit of avatar
  components/withMetaBar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

removed border bottom and darken the header text in dark mode
  components/Containers/Sidebar/SidebarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

added digit check
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct same level side navigation on breadcrumbs
  components/withBreadcrumbs.tsx
  layouts/About.tsx
  layouts/Learn.tsx
  navigation.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: add comment for matching route path handling
  components/withBreadcrumbs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: layout word break
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: word break normal on lg
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

Blog: v20.13.0 release post
  pages/en/blog/release/v20.13.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.13.0 release post (#6714)
  pages/en/blog/release/v20.13.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: improve readability by avoiding breaking words
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

Blog: v20.13.1 release post
  pages/en/blog/release/v20.13.1.md
Due: eslint --fix, prettier --write, prettier --check --write

v20.13.1 release post (#6716)
  pages/en/blog/release/v20.13.1.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor(searchbox): Remove unnecessary useEffect hook
  components/Common/Search/States/WithSearchBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(searchbox): Adjust code after removing unnecessary useEffect hook
  components/Common/Search/States/WithSearchBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
