Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

New translations search.mdx (German) chore: synced translations from crowdin
  pages/de/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Italian) chore: synced translations from crowdin
  pages/it/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Japanese) chore: synced translations from crowdin
  pages/ja/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Georgian) chore: synced translations from crowdin
  pages/ka/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Korean) chore: synced translations from crowdin
  pages/ko/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Russian) chore: synced translations from crowdin
  pages/ru/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Turkish) chore: synced translations from crowdin
  pages/tr/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Ukrainian) chore: synced translations from crowdin
  pages/uk/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Vietnamese) chore: synced translations from crowdin
  pages/vi/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Indonesian) chore: synced translations from crowdin
  pages/id/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations en.json (French) chore: synced translations from crowdin
  i18n/locales/fr.json
Due: prettier --write, prettier --check --write

New translations en.json (Spanish) chore: synced translations from crowdin
  i18n/locales/es.json
Due: prettier --write, prettier --check --write

New translations en.json (Arabic) chore: synced translations from crowdin
  i18n/locales/ar.json
Due: prettier --write, prettier --check --write

New translations en.json (Italian) chore: synced translations from crowdin
  i18n/locales/it.json
Due: prettier --write, prettier --check --write

New translations en.json (German) chore: synced translations from crowdin
  i18n/locales/de.json
Due: prettier --write, prettier --check --write

New translations en.json (Japanese) chore: synced translations from crowdin
  i18n/locales/ja.json
Due: prettier --write, prettier --check --write

New translations en.json (Georgian) chore: synced translations from crowdin
  i18n/locales/ka.json
Due: prettier --write, prettier --check --write

New translations en.json (Korean) chore: synced translations from crowdin
  i18n/locales/ko.json
Due: prettier --write, prettier --check --write

New translations en.json (Russian) chore: synced translations from crowdin
  i18n/locales/ru.json
Due: prettier --write, prettier --check --write

New translations en.json (Turkish) chore: synced translations from crowdin
  i18n/locales/tr.json
Due: prettier --write, prettier --check --write

New translations en.json (Ukrainian) chore: synced translations from crowdin
  i18n/locales/uk.json
Due: prettier --write, prettier --check --write

New translations en.json (Chinese Simplified) chore: synced translations from crowdin
  i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

New translations en.json (Vietnamese) chore: synced translations from crowdin
  i18n/locales/vi.json
Due: prettier --write, prettier --check --write

New translations en.json (Portuguese, Brazilian) chore: synced translations from crowdin
  i18n/locales/pt-br.json
Due: prettier --write, prettier --check --write

New translations en.json (Indonesian) chore: synced translations from crowdin
  i18n/locales/id.json
Due: prettier --write, prettier --check --write

fix: do not escape links
  pages/ar/about/index.mdx
  pages/de/about/index.mdx
  pages/es/about/index.mdx
  pages/fr/about/index.mdx
  pages/id/about/index.mdx
  pages/it/about/index.mdx
  pages/ja/about/index.mdx
  pages/ka/about/index.mdx
  pages/ko/about/index.mdx
  pages/pt-br/about/index.mdx
  pages/ru/about/index.mdx
  pages/tr/about/index.mdx
  pages/uk/about/index.mdx
  pages/vi/about/index.mdx
  pages/zh-cn/about/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(pr-template): remove `lint` command and add `build` (#6415)
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix #6404 : Version dropdown on download page doesn't scroll on overflow (Updated v2)
  components/Common/Select/index.module.css
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: add subtitles directly to aria-label
  components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix aria label (RSS)
  components/Blog/BlogHeader/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

add Chinese i18n json file
  i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

add Chinese i18n file
  i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

fix: added the link of next-intl libary
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: added next-intl npm link to collaborator guide
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: some broken links on collaborator guide
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: removed unnecessary md:top-60 in searchBoxModalPanel style
  components/Common/Search/States/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: renamed i18n keys and updated en.json
  components/Blog/BlogHeader/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
