Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

Deleted node-favicon.png file (#5926)
  public/static/images/logos/node-favicon.png
Due: none

Deleted js-black.svg (#5925)
  public/static/images/logos/js-black.svg
Due: none

Added X logo to site assets for Node.js website redesign (#5894) (#5920)
  components/__design__/social-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: merged js logos and fixed svgs
  components/__design__/colors.stories.tsx
  components/__design__/font-family.stories.tsx
  components/__design__/hex-logos.stories.tsx
  components/__design__/horizontal-logos.stories.tsx
  components/__design__/js-logos.stories.tsx
  components/__design__/node-logos.stories.tsx
  components/__design__/platform-logos.stories.tsx
  components/__design__/social-logos.stories.tsx
  components/__design__/stacked-logos.stories.tsx
  public/static/images/logos/horizontal-dark.svg
  public/static/images/logos/horizontal-light.svg
  public/static/images/logos/js-white.svg
  public/static/images/logos/platform-linux.svg
  public/static/images/logos/social-github-dark.svg
  public/static/images/logos/social-github.svg
  public/static/images/logos/social-linkedin.svg
  public/static/images/logos/social-mastodon.svg
  public/static/images/logos/social-x.svg
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Format the Select component
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

No need of this folder
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write, prettier --check --write

refactor: Key generation for Select component
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Memoize the componentKey
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Select focus state and value format
  components/Common/Button/index.module.css
  components/Common/Select/index.module.css
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: apply eslint import rules on all js files
  .eslintrc.json
  components/Common/ActiveLocalizedLink/__tests__/index.test.mjs
  hooks/__tests__/useClickOutside.test.mjs
  hooks/__tests__/useCopyToClipboard.test.mjs
  hooks/__tests__/useDetectOS.test.mjs
  hooks/__tests__/useMediaQuery.test.mjs
  next-data/generateBlogPostsData.mjs
  next-data/generateNodeReleasesJson.mjs
  next-data/generateWebsiteFeeds.mjs
  next.data.mjs
  next.dynamic.mjs
  next.helpers.mjs
  next.json.mjs
  next.locales.mjs
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: apply eslint import rules on all js files (#5932)
  .eslintrc.json
  components/Common/ActiveLocalizedLink/__tests__/index.test.mjs
  hooks/__tests__/useClickOutside.test.mjs
  hooks/__tests__/useCopyToClipboard.test.mjs
  hooks/__tests__/useDetectOS.test.mjs
  hooks/__tests__/useMediaQuery.test.mjs
  next-data/generateBlogPostsData.mjs
  next-data/generateNodeReleasesJson.mjs
  next-data/generateWebsiteFeeds.mjs
  next.data.mjs
  next.dynamic.mjs
  next.helpers.mjs
  next.json.mjs
  next.locales.mjs
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Select item condition
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: formatting applied for mjs files
  components/Common/Select/__tests__/index.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: resolve typos
  COLLABORATOR_GUIDE.md
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(COLLABORATOR_GUIDE): define our .vscode stance
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: merged js logos and fixed svgs (#5930)
  components/__design__/colors.stories.tsx
  components/__design__/font-family.stories.tsx
  components/__design__/hex-logos.stories.tsx
  components/__design__/horizontal-logos.stories.tsx
  components/__design__/js-logos.stories.tsx
  components/__design__/node-logos.stories.tsx
  components/__design__/platform-logos.stories.tsx
  components/__design__/social-logos.stories.tsx
  components/__design__/stacked-logos.stories.tsx
  public/static/images/logos/horizontal-dark.svg
  public/static/images/logos/horizontal-light.svg
  public/static/images/logos/js-white.svg
  public/static/images/logos/platform-linux.svg
  public/static/images/logos/social-github-dark.svg
  public/static/images/logos/social-github.svg
  public/static/images/logos/social-linkedin.svg
  public/static/images/logos/social-mastodon.svg
  public/static/images/logos/social-x.svg
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

Update COLLABORATOR_GUIDE.md
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

add npmrc documentation
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(components): add `Breadcrumbs` component
  components/Common/Breadcrumbs/index.module.css
  components/Common/Breadcrumbs/index.stories.tsx
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

feat(Storybook): add Breadcrumbs Hidden Home story
  components/Common/Breadcrumbs/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(Breadcrumbs): fix eslint import order
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(Breadcrumbs): fix typo
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

style(Breadcrumbs): remove comment and update component
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor(Breadcrumbs): split Breadcrumb into sub components
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
  components/Common/Breadcrumbs/index.module.css
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

fix(Breadcrumbs): fix CSS indentation
  components/Common/Breadcrumbs/index.module.css
Due: prettier --write, stylelint

fix(Breadcrumbs): use LocalizedLink
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

style(Breadcrumbs): remove abbreviation
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor(Breadcrumbs): improve code readability
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

style(Breadcrumbs): format Breadcrumbs story
  components/Common/Breadcrumbs/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(Breadcrumbs): add default value for links prop
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

test(Breadcrumbs): add unit test
  components/Common/Breadcrumbs/__tests__/index.test.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

meta: web team and responsibilities (#5779)
  CODEOWNERS
  COLLABORATOR_GUIDE.md
  CONTENT_VS_CODE.md
  CONTRIBUTING.md
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: some npm settings tweaks (#5923)
  .npmrc
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

test(Breadcrumbs): remove unit test
  components/Common/Breadcrumbs/__tests__/index.test.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(Breadcrumbs): add microdata
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(Breadcrumbs): use intl for home aria label
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: Story name convention and typo
  components/Common/Blockquote/index.stories.tsx
  components/Common/Select/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: Component imports updated according to collaborator guide
  components/Common/Badge/index.stories.tsx
  components/Common/Banner/index.stories.tsx
  components/Common/Blockquote/index.stories.tsx
  components/Common/Button/index.stories.tsx
  components/Common/Select/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: Select component (#5927)
  components/Common/Badge/index.stories.tsx
  components/Common/Banner/index.stories.tsx
  components/Common/Blockquote/index.stories.tsx
  components/Common/Button/index.module.css
  components/Common/Button/index.stories.tsx
  components/Common/Select/__tests__/index.test.mjs
  components/Common/Select/index.module.css
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint
