Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v26.10.0
  apps/site/pages/en/blog/release/v26.10.0.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: fix typos in blog posts (#9165)
  apps/site/pages/en/blog/announcements/making-nodejs-downloads-reliable.md
  apps/site/pages/en/blog/community/2025-pride.md
  apps/site/pages/en/blog/events/collab-summit-2025-paris.md
  apps/site/pages/en/blog/vulnerability/aug-2021-security-releases2.md
  apps/site/pages/en/blog/vulnerability/august-2023-security-releases.md
  apps/site/pages/en/blog/vulnerability/february-2023-security-releases.md
  apps/site/pages/en/blog/vulnerability/february-2024-security-releases.md
  apps/site/pages/en/blog/vulnerability/jan-2022-security-releases.md
  apps/site/pages/en/blog/vulnerability/july-2022-security-releases.md
  apps/site/pages/en/blog/vulnerability/june-2023-security-releases.md
  apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-may2022.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v22.23.3
  apps/site/pages/en/blog/release/v22.23.3.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove old courses
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
Due: prettier --write

fix: remove translation from locales
  packages/i18n/src/locales/ar.json
  packages/i18n/src/locales/es.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/ta.json
  packages/i18n/src/locales/tr.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
Due: prettier --write

fix: remove translation
  .changeset/cute-sheep-act.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: bump nvm to v0.40.8 (#9168)
  apps/site/snippets/en/download/nvm.bash
Due: none

chore(i18n): sync translations from crowdin
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  apps/site/snippets/ro/download/nvm.bash
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): format translated files
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui-components): move react from dependencies to peer and dev dependencies
  .changeset/cozy-teeth-speak.md
  packages/ui-components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix: align box-drawing code blocks
  .changeset/eight-doors-care.md
  packages/ui-components/src/styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove old courses (#9172)
  .changeset/cute-sheep-act.md
  apps/site/navigation.json
  packages/i18n/src/locales/ar.json
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/es.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/ta.json
  packages/i18n/src/locales/tr.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): sync translations from crowdin (#9174)
  apps/site/snippets/ro/download/nvm.bash
Due: none

chore(i18n): add API lifecycle & metadata labels to english dictionary
  packages/i18n/src/locales/en.json
Due: prettier --write

meta: update pnpm from 11.25.0 to
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add Vite+ installation method
  apps/site/snippets/en/download/vp.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: initialize Vite+ in the current shell
  apps/site/snippets/en/download/vp.bash
Due: none

feat: add Vite+ installation icon
  apps/site/util/download/constants.json
  packages/ui-components/__design__/platform-logos.stories.tsx
  packages/ui-components/src/Icons/InstallationMethod/VitePlus.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: support Windows and select the requested Node.js version in Vite+
  apps/site/snippets/en/download/vp.bash
Due: none

fix: use Vite+ package management instead of Corepack
  apps/site/snippets/en/download/corepack.bash
  apps/site/snippets/en/download/pnpm.bash
  apps/site/snippets/en/download/vp.bash
  apps/site/snippets/en/download/yarn.bash
Due: none

fix: omit empty download snippets and separate instruction blocks
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: apply changeset
  .changeset/ripe-papers-occur.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor(ui): isolate window hash logic from CodeTabs
  packages/ui-components/src/MDX/CodeTabs/CodeTabsWithHash.tsx
  packages/ui-components/src/MDX/CodeTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): implement deep linking in CodeTabs via URL hash
  packages/ui-components/src/Common/CodeTabs/index.tsx
  packages/ui-components/src/MDX/CodeTabs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(site): dispatch global hashchange event on hash update
  apps/site/hooks/useHash.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(site,ui): add HashContext and HashProvider for global URL state
  apps/site/app/[locale]/layout.tsx
  apps/site/hooks/useHash.ts
  apps/site/providers/hashProvider.tsx
  packages/ui-components/src/contexts/HashContext.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): use native DOM id for CodeTabs scrolling
  packages/ui-components/src/Common/Tabs/index.tsx
  packages/ui-components/src/MDX/CodeTabs/CodeTabsWithHash.tsx
  packages/ui-components/src/MDX/CodeTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: improve code documentation for useHash hook
  apps/site/hooks/useHash.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor(ui-components): revert CodeTabs and use derived state in CodeTabsWithHash
  packages/ui-components/src/MDX/CodeTabs/CodeTabsWithHash.tsx
  packages/ui-components/src/MDX/CodeTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(rehype-shiki): route to CodeTabsWithHash if groupId exists
  apps/site/mdx/components.mjs
  packages/rehype-shiki/src/plugin.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(open-next): create cloudflare-sentry-tail package
  .github/CODEOWNERS
  apps/site/package.json
  packages/cloudflare-sentry-tail/.lintstagedrc.json
  packages/cloudflare-sentry-tail/eslint.config.js
  packages/cloudflare-sentry-tail/package.json
  packages/cloudflare-sentry-tail/src/index.ts
  packages/cloudflare-sentry-tail/src/utils/processTailItem.ts
  packages/cloudflare-sentry-tail/src/utils/sentry.ts
  packages/cloudflare-sentry-tail/tsconfig.json
  packages/cloudflare-sentry-tail/turbo.json
  platforms/cloudflare/worker-entrypoint.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): sync translations from crowdin
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  apps/site/snippets/ja/download/nvm.bash
  apps/site/snippets/uk/download/nvm.bash
Due: eslint --fix, prettier --write, prettier --check --write

Remove DigitalOcean from partners
  apps/site/public/static/partners/constants.json
Due: prettier --write

Remove DigitalOcean from README
  README.md
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Remove DigitalOcean from icons
  .changeset/better-webs-call.md
  packages/ui-components/src/Icons/PartnerLogos/DigitalOcean/Favicon.tsx
  packages/ui-components/src/Icons/PartnerLogos/DigitalOcean/Logo.tsx
  packages/ui-components/src/Icons/PartnerLogos/DigitalOcean/index.ts
  packages/ui-components/src/Icons/PartnerLogos/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: add Vite+ installation method (#9182)
  .changeset/ripe-papers-occur.md
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/snippets/en/download/corepack.bash
  apps/site/snippets/en/download/pnpm.bash
  apps/site/snippets/en/download/vp.bash
  apps/site/snippets/en/download/yarn.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  packages/i18n/src/locales/en.json
  packages/ui-components/__design__/platform-logos.stories.tsx
  packages/ui-components/src/Icons/InstallationMethod/VitePlus.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): sync translations from crowdin (#9200)
  apps/site/snippets/ja/download/nvm.bash
  apps/site/snippets/uk/download/nvm.bash
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
