Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: using good source
  apps/site/.stylelintrc.mjs
  packages/ui-components/.stylelintrc.mjs
  packages/ui-components/styles/theme.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore(next-intl): update to v4 (#7583)
  apps/site/app/[locale]/layout.tsx
  apps/site/components/__mocks__/next-intl.mjs
  apps/site/package.json
  apps/site/providers/__tests__/localeProvider.test.mjs
  apps/site/providers/localeProvider.tsx
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: dark theme
  packages/ui-components/styles/theme.css
Due: prettier --write, stylelint --allow-empty-input

simplify postcss
  COLLABORATOR_GUIDE.md
  apps/site/.postcssrc.json
  apps/site/.stylelintrc.mjs
  apps/site/package.json
  package-lock.json
  packages/ui-components/.postcssrc.json
  packages/ui-components/.stylelintrc.mjs
  packages/ui-components/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: lock-file
  package.json
Due: prettier --write, prettier --check --write

chore: cleaned package.json
  apps/site/package.json
  package-lock.json
  package.json
  packages/i18n/package.json
  packages/ui-components/package.json
Due: prettier --write, prettier --check --write

fix header tabbing sequence
  packages/ui-components/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(actions): update chromaui
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

chore: remove dead code
  .github/dependabot.yml
  apps/site/components/Common/ActiveLink.tsx
  apps/site/components/__mocks__/client-context.mjs
  apps/site/components/__mocks__/next-image.mjs
  apps/site/components/withRouterSelect.tsx
  apps/site/next.constants.mjs
  apps/site/next.helpers.mjs
  apps/site/package.json
  apps/site/types/frontmatter.ts
  apps/site/types/og.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!
  apps/site/next.helpers.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(actions): update chromaui (#7584)
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

fixup!
  apps/site/pages/en/learn/typescript/run.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add March 2025 CI incident blog post
  apps/site/pages/en/blog/vulnerability/march-2025-ci-incident.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/blog/vulnerability/march-2025-ci-incident.md
  apps/site/pages/en/blog/vulnerability/march-2025-ci-incident.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add March 2025 CI incident blog post (#7588)
  apps/site/pages/en/blog/vulnerability/march-2025-ci-incident.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(header): set `tabIndex` to `-1` (#7586)
  packages/ui-components/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(learn): organise TypeScript articles from simplest to advanced usage (#7465)
  apps/site/navigation.json
  apps/site/pages/en/learn/typescript/run-natively.md
  apps/site/pages/en/learn/typescript/run.md
  apps/site/pages/en/learn/typescript/transpile.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove dead code (#7587)
  .github/dependabot.yml
  apps/site/components/Common/ActiveLink.tsx
  apps/site/components/__mocks__/client-context.mjs
  apps/site/components/__mocks__/next-image.mjs
  apps/site/components/withRouterSelect.tsx
  apps/site/next.constants.mjs
  apps/site/next.helpers.mjs
  apps/site/package.json
  apps/site/types/frontmatter.ts
  apps/site/types/og.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.11.0 release post
  apps/site/pages/en/blog/release/v23.11.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.11.0 release post (#7606)
  apps/site/pages/en/blog/release/v23.11.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: refactor the `generateBlogData` function
  apps/site/next-data/generators/blogData.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix some bugs and add missing comment
  packages/ui-components/styles/index.css
  packages/ui-components/styles/theme.css
Due: prettier --write, stylelint --allow-empty-input

fix(ui-components): remove unnecessary aspect ratio utility from Preview styles
  packages/ui-components/Common/Preview/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix(ui-components): update shadow variables to use --alpha for transparency
  packages/ui-components/styles/theme.css
Due: prettier --write, stylelint --allow-empty-input

fix(ui-components): adjust shadow variables to ensure proper fallback for color transparency
  packages/ui-components/styles/theme.css
Due: prettier --write, stylelint --allow-empty-input

fix fonts?
  packages/ui-components/__design__/font-family.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(route): add TODO to use CSS variables instead of absolute values
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(effects): update background image from turtle.png to smoke.gif
  apps/site/styles/effects.css
Due: prettier --write, stylelint --allow-empty-input

remove blog-data endpoint and use public json file instead
  .gitignore
  apps/site/app/[locale]/next-data/blog-data/[category]/[page]/route.ts
  apps/site/layouts/Blog.tsx
  apps/site/next-data/blogData.ts
  apps/site/next-data/providers/blogData.ts
  apps/site/next.json.mjs
  apps/site/package.json
  apps/site/scripts/blog-data/generate.mjs
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: fix typo in fetch.md
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(learn): fix typo in fetch learn (#7609)
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! remove blog-data endpoint and use public json file instead
  apps/site/next-data/providers/blogData.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! remove blog-data endpoint and use public json file instead
  apps/site/package.json
Due: prettier --write, prettier --check --write

fixup! fixup! remove blog-data endpoint and use public json file instead
  package-lock.json
Due: prettier --write, prettier --check --write

fixup! remove blog-data endpoint and use public json file instead
  apps/site/package.json
  apps/site/scripts/blog-data/generate.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: storybook postcss implementation
  packages/ui-components/.storybook/main.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: refactor the `generateBlogData` function (#7607)
  apps/site/next-data/generators/blogData.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
