Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

chore: updated to sentrz 8.x
  instrumentation.ts
  next.config.mjs
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: fixed shiki imports on nextjs 14.2
  next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated prettier and applied new rule
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

chore: use direct package
  util/getHighlighter.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: fixed wrong usage of React attributes
  components/Icons/Logos/NodejsDarkPride.tsx
  components/Icons/Logos/NodejsLightPride.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: downgrade prettier-plugin-tailwindcss due to recently introduced issue
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

chore: updated turbo
  package-lock.json
  package.json
  turbo.json
Due: prettier --write, prettier --check --write

chore: fix governance md change
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated packages, fixed build bugs and migrated packages (#6803)
  .prettierrc.json
  GOVERNANCE.md
  components/Icons/Logos/NodejsDarkPride.tsx
  components/Icons/Logos/NodejsLightPride.tsx
  instrumentation.ts
  next.config.mjs
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
  turbo.json
  util/getHighlighter.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: npm init command
  pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(layouts): Responsiveness
  components/Common/CodeTabs/index.module.css
  components/Common/LinkTabs/index.module.css
  components/Common/ProgressionSidebar/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/Sidebar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  components/withBlogCategories.tsx
  components/withBlogCrossLinks.tsx
  components/withSidebarCrossLinks.tsx
  layouts/About.tsx
  layouts/Default.tsx
  layouts/Learn.tsx
  layouts/layouts.module.css
  styles/markdown.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

CI: Orama cloud sync error handling/logs (#6814)
  scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Revise Download instructions for Unix & Fix Grammar in CONTRIBUTING.md (#6769)
  CONTRIBUTING.md
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

CI: Orama cloud sync based on environment
  .github/workflows/build.yml
Due: prettier --write, prettier --check --write

Fix article layout responsiveness (#6821)
  components/Common/CodeTabs/index.module.css
  components/Common/LinkTabs/index.module.css
  components/Common/ProgressionSidebar/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/Sidebar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  components/withBlogCategories.tsx
  components/withBlogCrossLinks.tsx
  components/withSidebarCrossLinks.tsx
  layouts/About.tsx
  layouts/Default.tsx
  layouts/Learn.tsx
  layouts/layouts.module.css
  styles/markdown.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Add how-to guide for node's test runner (#6770)
  i18n/locales/en.json
  navigation.json
  pages/en/learn/test-runner/introduction.md
  pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(content): re-add domain postmortem with a redirect
  pages/en/blog/community/domain-postmortem.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(content): re-add domain postmortem with a redirect (#6825)
  pages/en/blog/community/domain-postmortem.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

Correct grammar and improve clarity
  pages/en/learn/getting-started/differences-between-nodejs-and-the-browser.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: content length
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

reverted to the original propoal
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fixed css formatting mistake
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

preparing for a new header footer proposal
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

a new design try
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

different approach on active
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fixed border size
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

trying not to hit footer
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

footer label color change
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

footer label color 400
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

changed hover color
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

flipped border colors
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

issue #6829 fixed
  layouts/About.tsx
  layouts/Learn.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
