Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

Adopting more review and adjusting language to read easier
  apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
Due: eslint --fix, prettier --write, prettier --check --write

Adjust the last paragraph because it didn't feel right
  apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
  apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
Due: eslint --fix, prettier --write, prettier --check --write

Hopefully final adjustments
  apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
Due: eslint --fix, prettier --write, prettier --check --write

Update packages/rehype-shiki/src/plugin.mjs
  packages/rehype-shiki/src/plugin.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Add emelia to authors
  apps/site/authors.json
Due: prettier --write

feat: review nits
  packages/i18n/locales/en.json
Due: prettier --write

feat: reorder alertbox
  apps/site/components/Downloads/ReleaseModal/index.tsx
  packages/ui-components/Common/Modal/index.module.css
  packages/ui-components/Common/Modal/index.stories.tsx
  packages/ui-components/Common/Modal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(site): close release modal on eol link click (#7903)
  apps/site/components/Downloads/ReleaseModal/index.tsx
  packages/i18n/locales/en.json
  packages/ui-components/Common/Modal/index.module.css
  packages/ui-components/Common/Modal/index.stories.tsx
  packages/ui-components/Common/Modal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#7900)
  apps/site/pages/fr/index.mdx
  apps/site/pages/ja/index.mdx
  packages/i18n/locales/fr.json
  packages/i18n/locales/ja.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(logo): use default logo
  apps/site/site.json
Due: prettier --write

Re-review and fix the double paragraph and awkward language issues
  apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(table): only apply border to immediate `td` children
  packages/ui-components/styles/markdown.css
Due: none

docs: add video link for visual explanation of event loop
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): Emelia Smith Pride Post (#7907)
  apps/site/authors.json
  apps/site/pages/en/blog/community/2025-06-28-Emelia-Smith.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(logo): use default logo (#7910)
  apps/site/site.json
Due: prettier --write

docs: Clarify that console.error appears in console but uses stderr
  apps/site/pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

story
  packages/ui-components/__design__/table.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

use old name
  packages/ui-components/__design__/table.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(table): only apply border to immediate `td` children (#7911)
  packages/ui-components/__design__/table.stories.tsx
  packages/ui-components/styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write

feat(favicon): use standardized icon
  apps/site/public/static/images/favicons/android-chrome-192x192.png
  apps/site/public/static/images/favicons/android-chrome-512x512.png
  apps/site/public/static/images/favicons/favicon.png
  apps/site/public/static/images/logo-hexagon-card.png
Due: none

fix/The toggle navigation menu button is not keyboard accessible
  packages/ui-components/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: add hover effect to sidebar links (#7893)
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
Due: none

fix(styles): improve hover visibility for right-sidebar links in dark & light mode (#7894)
  packages/ui-components/Containers/MetaBar/index.module.css
Due: none

chore(homepage): link to our blog, rather than HeroDevs (#7883)
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

docs: Update typos in example snippets
  apps/site/pages/en/learn/asynchronous-work/asynchronous-flow-control.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: Fix broken link
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: Clarify that console.error appears in console but uses stderr (#7913)
  apps/site/pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: use catalog for dependencies across multiple packages and the website (#7824)
  apps/site/package.json
  packages/i18n/package.json
  packages/rehype-shiki/package.json
  packages/ui-components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(tw): use v3 button styling
  packages/ui-components/styles/index.css
Due: none

fixup!
  packages/ui-components/styles/index.css
Due: none

fix(lint): use `--fix` in `.lintstagedrc`
  apps/site/.lintstagedrc.json
  packages/ui-components/.lintstagedrc.json
Due: prettier --write

fix(publish): don't use pnpm cache when not installing
  .github/workflows/publish-packages.yml
Due: prettier --write

fix(publish): don't use pnpm cache when not installing (#7939)
  .github/workflows/publish-packages.yml
Due: prettier --write

fix(lint): use `--fix` in `.lintstagedrc` (#7938)
  apps/site/.lintstagedrc.json
  packages/ui-components/.lintstagedrc.json
Due: prettier --write

fix(meta): fix broken link (#7941)
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, prettier --check --write
