Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

blog: add post-eol announcement
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: updated commands
  apps/site/open-next.config.ts
  apps/site/package.json
  apps/site/turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: multiline key
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(meta): docs folder
  COLLABORATOR_GUIDE.md
  CONTRIBUTING.md
  docs/README.md
  docs/adding-pages.md
  docs/code-style.md
  docs/collaborator-guide.md
  docs/content-vs-code.md
  docs/creating-components.md
  docs/dependency-pinning.md
  docs/downloads-page.md
  docs/getting-started.md
  docs/package-publishing.md
  docs/technologies.md
  docs/translation.md
  docs/writing-tests.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/blog/announcements/node-18-eol-support.md
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

images
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
  apps/site/public/static/images/blog/announcements/2025-eol-node-graph.png
  apps/site/public/static/images/blog/announcements/2025-release-schedule.svg
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: broken script in example package.json (#7833)
  apps/site/pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  apps/site/pages/zh-tw/index.mdx
  packages/i18n/locales/fr.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

meta: re-enable turbo prod/dev builds (#7830)
  apps/site/open-next.config.ts
  apps/site/package.json
  apps/site/turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(ui): avatar overlap (#7834)
  packages/ui-components/Common/AvatarGroup/index.module.css
  packages/ui-components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore(ui): merge SideBar and ProgressionSideBar
  apps/site/components/withProgressionSidebar.tsx
  apps/site/components/withSidebar.tsx
  apps/site/layouts/Learn.tsx
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  packages/ui-components/Common/ProgressionSidebar/index.module.css
  packages/ui-components/Common/ProgressionSidebar/index.stories.tsx
  packages/ui-components/Common/ProgressionSidebar/index.tsx
  packages/ui-components/Containers/DocSideBar/index.tsx
  packages/ui-components/Containers/Sidebar/ProgressionIcon/index.tsx
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.tsx
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
  packages/ui-components/Containers/Sidebar/index.module.css
  packages/ui-components/Containers/Sidebar/index.stories.tsx
  packages/ui-components/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix purity issue
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix styling and crash
  apps/site/components/withSidebar.tsx
  apps/site/layouts/Learn.tsx
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.tsx
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
  packages/ui-components/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fixup! fix styling and crash
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: separator, modal border color
  packages/ui-components/Common/Modal/index.module.css
  packages/ui-components/Common/Separator/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: DownloadReleasesTable download archive redirects
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: markdown content editing and Node.js logo added
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/pages/en/download/archive.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: home page button redirects
  apps/site/components/Downloads/DownloadButton/index.module.css
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/index.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/index.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore(navigation): re-order
  apps/site/navigation.json
Due: prettier --write, prettier --check --write

allow passing children
  packages/ui-components/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: titles dont need to be bold
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

blog: add post-eol announcement (#7838)
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
  apps/site/public/static/images/blog/announcements/2025-eol-node-graph.png
  apps/site/public/static/images/blog/announcements/2025-release-schedule.svg
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(ui): merge SideBar and ProgressionSideBar (#7840)
  apps/site/components/withProgressionSidebar.tsx
  apps/site/components/withSidebar.tsx
  apps/site/layouts/Learn.tsx
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  packages/ui-components/Common/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  packages/ui-components/Common/ProgressionSidebar/index.module.css
  packages/ui-components/Common/ProgressionSidebar/index.stories.tsx
  packages/ui-components/Common/ProgressionSidebar/index.tsx
  packages/ui-components/Containers/DocSideBar/index.tsx
  packages/ui-components/Containers/Sidebar/ProgressionIcon/index.tsx
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.tsx
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
  packages/ui-components/Containers/Sidebar/index.module.css
  packages/ui-components/Containers/Sidebar/index.stories.tsx
  packages/ui-components/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

docs: add monorepo considerations for TypeScript handling
  apps/site/pages/en/learn/typescript/run-natively.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(navigation): re-order (#7841)
  apps/site/navigation.json
Due: prettier --write, prettier --check --write

fix(ui): sidebar css fixes
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.tsx
  packages/ui-components/Containers/Sidebar/index.module.css
  packages/ui-components/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix(sidebar): use RegExp for outgoing link detection
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

also use regex in Link
  apps/site/components/Link.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(ui): sidebar css fixes (#7843)
  packages/ui-components/Containers/Sidebar/SidebarGroup/index.tsx
  packages/ui-components/Containers/Sidebar/index.module.css
  packages/ui-components/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix(sidebar): use RegExp for outgoing link detection (#7844)
  apps/site/components/Link.tsx
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

[automated]: crowdin sync (#7839)
  apps/site/pages/fr/about/previous-releases.mdx
  packages/i18n/locales/fr.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: node 18 eol support images
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: node 18 eol support images (#7847)
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: node 18 eol support publish date
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Final touches on EOL article
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
