Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix:css code style
  apps/site/.stylelintrc.mjs
  apps/site/components/ApiDocs/StabilityIndex/index.module.css
  apps/site/components/ApiDocs/StabilityIndex/index.stories.tsx
  apps/site/components/ApiDocs/StabilityIndex/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat: introduced skeleton and animation
  apps/site/components/Common/Search/index.tsx
  apps/site/components/Common/Select/index.tsx
  apps/site/components/Common/Skeleton/index.module.css
  apps/site/components/Common/Skeleton/index.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/withLayout.tsx
  apps/site/layouts/Search.tsx
  apps/site/tailwind.config.ts
  apps/site/types/layouts.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: synchronous shiki
  apps/site/components/JSX/CodeBox/index.tsx
  apps/site/next.mdx.shiki.mjs
  apps/site/util/getHighlighter.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: prevent internal errors
  apps/site/next-data/downloadSnippets.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: attempt to handle null situations
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: attempt to fix vercel env
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/next.constants.mjs
  apps/site/turbo.json
  packages/i18n/turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: erroneous env usage for fetch
  apps/site/next-data/blogData.ts
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.constants.mjs
  apps/site/next.dynamic.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fix select styles
  apps/site/components/Common/Select/index.tsx
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: updated allowlist for env vars
  apps/site/turbo.json
  packages/i18n/turbo.json
Due: prettier --write, prettier --check --write

feat: streamline detectos (only run query once)
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/withCurrentOS.tsx
  apps/site/hooks/react-client/useClientContext.ts
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/providers/matterProvider.tsx
  apps/site/types/server.ts
  apps/site/util/assignClientContext.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! update: mention openjs ecosystem sustainability program
  apps/site/pages/en/blog/vulnerability/upcoming-cve-for-eol-versions.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: avatar rendering and avatar group margins
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.tsx
  apps/site/components/Common/AvatarGroup/index.module.css
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/layouts/Post.tsx
  apps/site/next.config.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: pass ref
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/providers/__tests__/matterProvider.test.mjs
  apps/site/util/__tests__/assignClientContext.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: optimized release provider memo
  apps/site/providers/releaseProvider.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update crowdin.yml
  crowdin.yml
Due: prettier --write, prettier --check --write

update from feedback
  apps/site/.stylelintrc.mjs
  apps/site/components/ApiDocs/StabilityIndex/index.stories.tsx
  apps/site/components/ApiDocs/StabilityIndex/index.tsx
  apps/site/components/Common/InfoBox/index.module.css
  apps/site/components/Common/InfoBox/index.stories.tsx
  apps/site/components/Common/InfoBox/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat(icons): introduce package manager
  apps/site/components/.DS_Store
  apps/site/components/Icons/PackageManager/Npm.tsx
  apps/site/components/Icons/PackageManager/Pnpm.tsx
  apps/site/components/Icons/PackageManager/Yarn.tsx
  apps/site/components/__design__/package-manager.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: svg in tsx
  apps/site/components/Icons/PackageManager/Npm.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

add jsdoc for provenance
  apps/site/components/Icons/PackageManager/Npm.tsx
  apps/site/components/Icons/PackageManager/Pnpm.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content(learn cli): make up to date (#7307)
  apps/site/pages/en/learn/command-line/accept-input-from-the-command-line-in-nodejs.md
  apps/site/pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
  apps/site/pages/en/learn/command-line/how-to-use-the-nodejs-repl.md
  apps/site/pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
  apps/site/pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

use danger
  apps/site/components/Common/InfoBox/index.module.css
  apps/site/components/Common/InfoBox/index.stories.tsx
  apps/site/components/Common/InfoBox/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

add style for `a`
  apps/site/components/Common/InfoBox/index.module.css
Due: prettier --write, stylelint --allow-empty-input

use righ size
  apps/site/components/Icons/PackageManager/Npm.tsx
  apps/site/components/Icons/PackageManager/Pnpm.tsx
  apps/site/components/Icons/PackageManager/Yarn.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Apply suggestions from code review
  TRANSLATION.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

update order
  TRANSLATION.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

use alertBox name
  apps/site/components/Common/AlertBox/index.module.css
  apps/site/components/Common/AlertBox/index.stories.tsx
  apps/site/components/Common/AlertBox/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix
  apps/site/components/Common/AlertBox/index.module.css
  apps/site/components/Common/AlertBox/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

Delete .DS_Store
  apps/site/components/.DS_Store
Due: none

feat(InfoBox): introduce (#7352)
  apps/site/components/Common/AlertBox/index.module.css
  apps/site/components/Common/AlertBox/index.stories.tsx
  apps/site/components/Common/AlertBox/index.tsx
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat: changed approach
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/app/[locale]/next-data/download-snippets/[version]/[name]/page.tsx
  apps/site/app/[locale]/next-data/download-snippets/route.tsx
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/JSX/CodeBox/index.tsx
  apps/site/components/MDX/CodeBox/index.stories.tsx
  apps/site/components/MDX/CodeTabs/index.stories.tsx
  apps/site/components/withDownloadCategories.tsx
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/providers/downloadSnippets.ts
  apps/site/next-data/providers/websiteFeeds.ts
  apps/site/next.constants.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.mdx.compiler.mjs
  apps/site/providers/releaseProvider.tsx
  apps/site/types/release.ts
  apps/site/util/getNodeDownloadSnippet.ts
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: reduce bundle
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: download snippet generation
  .github/workflows/translations-pr-lint.yml
  apps/site/app/[locale]/next-data/download-snippets/[version]/[name]/page.tsx
  apps/site/components/JSX/CodeBox/index.tsx
  apps/site/next-data/generators/downloadSnippets.mjs
  apps/site/next-data/providers/downloadSnippets.ts
  apps/site/next-env.d.ts
  apps/site/next.mdx.compiler.mjs
  apps/site/next.mdx.evaluater.mjs
  apps/site/package.json
  apps/site/snippets/en/download/brew.bash
  apps/site/snippets/en/download/choco.bash
  apps/site/snippets/en/download/docker.bash
  apps/site/snippets/en/download/fnm.bash
  apps/site/snippets/en/download/nvm.bash
  apps/site/types/downloads.ts
  apps/site/types/index.ts
  crowdin.yml
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: simplify and reduce bundle size
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/JSX/CodeBox/index.tsx
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/next.jsx.compiler.mjs
  apps/site/next.mdx.compiler.mjs
  apps/site/next.mdx.evaluater.mjs
  apps/site/types/userOS.ts
  apps/site/util/downloadUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: minor code fixes
  apps/site/app/[locale]/next-data/download-snippets/route.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/providers/releaseProvider.tsx
  apps/site/types/userOS.ts
  apps/site/util/downloadUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: more code review
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/JSX/CodeBox/index.tsx
  apps/site/components/withDownloadCategories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
