Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

style: make sidebars sticky
  apps/site/components/Containers/MetaBar/index.module.css
  apps/site/components/Containers/Sidebar/index.module.css
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

style: add sticky sidebar on /learn routes
  apps/site/components/Common/ProgressionSidebar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

style: make sidebars normal height on narrow layout
  apps/site/components/Common/ProgressionSidebar/index.module.css
  apps/site/components/Containers/Sidebar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

added unit tests
  apps/site/components/Common/ActiveLink/__tests__/index.test.mjs
  apps/site/jest.config.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: create base eslint config
  apps/site/eslint.config.js
  apps/site/package.json
  eslint.config.js
  package-lock.json
  package.json
  packages/i18n/eslint.config.js
  packages/i18n/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(eslint): remove typescript from base config
  apps/site/eslint.config.js
  eslint.config.js
  package-lock.json
  package.json
  packages/i18n/eslint.config.js
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: ts parser
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Esp participation (#7086)
  apps/site/components/Common/ActiveLink/__tests__/index.test.mjs
  apps/site/components/Common/ActiveLink/index.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/jest.config.mjs
  apps/site/navigation.json
  apps/site/next.constants.mjs
  apps/site/pages/en/about/previous-releases.mdx
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

block Windows 32 bit on v23 and up
  apps/site/scripts/release-post/downloadsTable.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update BitnessDropdown.tsx
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove unused file (#7131)
  apps/site/layouts/Centered.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

block Windows 32 bit on v23 and up (#7133)
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
  apps/site/scripts/release-post/downloadsTable.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

update with feedback
  ADDING_LEARN_PAGE.md
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: minor changes (#7127)
  apps/site/.storybook/main.ts
  apps/site/package.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove typescript-eslint from root
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write, prettier --check --write

chore: create base eslint config (#7057)
  apps/site/eslint.config.js
  apps/site/package.json
  eslint.config.js
  package-lock.json
  package.json
  packages/i18n/eslint.config.js
  packages/i18n/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: 404 on the 'package managers' link on home page
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/index.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/index.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  apps/site/pages/zh-tw/index.mdx
  apps/site/redirects.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: 404 on the 'package managers' link on home page (#7134)
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/index.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/index.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  apps/site/pages/zh-tw/index.mdx
  apps/site/redirects.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add Dockerfile and other changes
  1
  Dockerfile
Due: none

Add Dockerfile and other changes
  Jenkinsfile
Due: none

Apply suggestions from code review
  apps/site/pages/fr/about/get-involved/contribute.md
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/id/about/governance.md
  apps/site/pages/id/about/index.mdx
  apps/site/pages/tr/about/get-involved/contribute.md
  apps/site/pages/tr/about/get-involved/index.md
  apps/site/pages/tr/about/governance.md
  apps/site/pages/tr/about/previous-releases.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/tr/download/package-manager/all.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: automated format of translated files
  apps/site/pages/fa/index.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/pt/about/branding.mdx
  apps/site/pages/tr/about/branding.mdx
  apps/site/pages/tr/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

[automated]: crowdin sync (#7124)
  packages/i18n/locales/fr.json
Due: prettier --write, prettier --check --write

add project in master
  Jenkinsfile
Due: none

feat(blog): enable events
  apps/site/layouts/Blog.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: remove unused i18n key
  packages/i18n/locales/en.json
Due: prettier --write, prettier --check --write

content/chore(learn): give visibility to the status page
  README.md
  apps/site/pages/en/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.1.0 release post
  apps/site/pages/en/blog/release/v23.1.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.1.0 release post (#7140)
  apps/site/pages/en/blog/release/v23.1.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Initial commit
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

jenkinsfile
  Jenkinsfile
Due: none

Update contribute.md
  apps/site/pages/en/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

adds link to github profile
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: tooltip component and avatar tooltip
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.stories.tsx
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.module.css
  apps/site/components/Common/AvatarGroup/Overlay/index.tsx
  apps/site/components/Common/AvatarGroup/__tests__/index.test.mjs
  apps/site/components/Common/AvatarGroup/index.stories.tsx
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/Common/BlogPostCard/__tests__/index.test.mjs
  apps/site/components/Common/BlogPostCard/index.stories.tsx
  apps/site/components/Common/BlogPostCard/index.tsx
  apps/site/components/Common/Tooltip/index.module.css
  apps/site/components/Common/Tooltip/index.stories.tsx
  apps/site/components/Common/Tooltip/index.tsx
  apps/site/components/Downloads/ChangelogModal/index.stories.tsx
  apps/site/components/Downloads/ChangelogModal/index.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/components/withBlogCategories.tsx
  apps/site/components/withChangelogModal.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/layouts/Post.tsx
  apps/site/package.json
  apps/site/util/__tests__/authorUtils.test.mjs
  apps/site/util/__tests__/blogUtils.test.mjs
  apps/site/util/authorUtils.ts
  apps/site/util/blogUtils.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: metabar story props updated
  apps/site/components/Containers/MetaBar/index.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
