Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

fix(tw): use v3 button styling
  packages/ui-components/src/styles/index.css
Due: none

fixup!
  packages/ui-components/src/styles/index.css
Due: none

fix comments, use `@apply`
  packages/ui-components/src/styles/index.css
Due: none

feat(ui-components): prepublish (#7955)
  .github/workflows/publish-packages.yml
  .gitignore
  .prettierignore
  eslint.config.js
  packages/ui-components/.stylelintignore
  packages/ui-components/package.json
  packages/ui-components/src/Common/BasePagination/PaginationListItem/__tests__/index.test.jsx
  packages/ui-components/src/Common/BasePagination/__tests__/index.test.jsx
  packages/ui-components/src/scripts/publish.mjs
  packages/ui-components/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix(publish): don't read stories or tests
  packages/ui-components/tsconfig.json
Due: prettier --write

fixup!
  packages/ui-components/tsconfig.json
Due: prettier --write

fix script
  packages/ui-components/scripts/publish.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/scripts/publish.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(publish): don't read stories or tests (#7957)
  packages/ui-components/scripts/publish.mjs
  packages/ui-components/tsconfig.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(publish): third time’s the charm
  .github/workflows/publish-packages.yml
Due: prettier --write

fix(tw): use v3 button styling (#7937)
  packages/ui-components/src/styles/index.css
Due: none

fix(publish): third time’s the charm (#7959)
  .github/workflows/publish-packages.yml
Due: prettier --write

fix: add hover effect to blog page menu links (#7952)
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
Due: none

feat(BaseLinkTabs): add hover effect (#7953)
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
Due: none

doc: clarify setTimeout() return type in node Co-authored-by: Aviv Keller <me@aviv.sh> Co-authored-by: vishal <vishalkumarvkvk988@gmail.com>
  apps/site/pages/en/learn/asynchronous-work/discover-javascript-timers.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add security release announcement
  apps/site/pages/en/blog/vulnerability/july-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(logo): update public assets
  apps/site/public/static/logos/nodejsDark.svg
  apps/site/public/static/logos/nodejsLight.svg
  apps/site/public/static/logos/nodejsStackedBlack.svg
  apps/site/public/static/logos/nodejsStackedDark.svg
  apps/site/public/static/logos/nodejsStackedLight.svg
  apps/site/public/static/logos/nodejsStackedWhite.svg
Due: none

fixup! Blog: add security release announcement
  apps/site/pages/en/blog/vulnerability/july-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

remove unused logos
  apps/site/public/static/logos/nodejsStackedWhite.svg
  packages/ui-components/__design__/node-logos.stories.tsx
  packages/ui-components/src/Icons/Logos/JsGreen.tsx
  packages/ui-components/src/Icons/Logos/NodejsStackedBlack.tsx
  packages/ui-components/src/Icons/Logos/NodejsStackedDark.tsx
  packages/ui-components/src/Icons/Logos/NodejsStackedLight.tsx
  packages/ui-components/src/Icons/Logos/NodejsStackedWhite.tsx
  packages/ui-components/src/Icons/Logos/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add security release announcement (#7961)
  apps/site/pages/en/blog/vulnerability/july-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(styles): improve hover visibility for right-sidebar links in dark & light mode (#7894)
  packages/ui-components/src/Containers/MetaBar/index.module.css
Due: none

chore(styles): revert unrelated changes and keep only sidebar hover fix (#7894)
  packages/ui-components/src/Containers/MetaBar/index.module.css
Due: none

fix(styles): update sidebar link hover color to neutral grey for better contrast (#7894)
  packages/ui-components/src/Containers/MetaBar/index.module.css
Due: none

feat: icons with versions
  apps/site/next.mdx.use.mjs
  apps/site/pages/en/index.mdx
  packages/ui-components/src/Common/Badge/index.tsx
  packages/ui-components/src/Common/BadgeGroup/index.module.css
  packages/ui-components/src/Common/BadgeGroup/index.stories.tsx
  packages/ui-components/src/Common/BadgeGroup/index.tsx
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: no margin on mobile
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Fix grammar in documentation
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: lts explanation
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: css hover for links on dark color not so different
  packages/ui-components/src/styles/markdown.css
Due: none

chore: just tiny copyright
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: use actual link
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(styles): improve hover visibility for right-sidebar links in dark & light mode (#7894) (#7935)
  packages/ui-components/src/Containers/MetaBar/index.module.css
Due: none

Fix grammar in documentation (#7964)
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(logo): update pride assets
  apps/site/public/static/logos/nodejsDarkPride.svg
  apps/site/public/static/logos/nodejsLightPride.svg
Due: none

Apply suggestion from @bmuenzenmeyer
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestion from @avivkeller
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: code review changes
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/pages/en/index.mdx
  packages/ui-components/src/Common/AlertBox/index.module.css
  packages/ui-components/src/Common/AlertBox/index.stories.tsx
  packages/ui-components/src/Common/AlertBox/index.tsx
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/Badge/index.stories.tsx
  packages/ui-components/src/Common/Badge/index.tsx
  packages/ui-components/src/Common/BadgeGroup/index.module.css
  packages/ui-components/src/Common/BadgeGroup/index.stories.tsx
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

update ui-components
  apps/site/components/withNodejsLogo.tsx
  packages/ui-components/__design__/node-logos.stories.tsx
  packages/ui-components/src/Common/NodejsLogo/index.tsx
  packages/ui-components/src/Icons/Logos/Nodejs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

remove white rect from pride assets
  apps/site/public/static/logos/nodejsDarkPride.svg
  apps/site/public/static/logos/nodejsLightPride.svg
Due: none

chore: tiny text update
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: by the honour of grayskull
  apps/site/pages/en/index.mdx
  packages/ui-components/src/Common/BadgeGroup/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
