Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

Blog: add pos announcement blog post
  pages/en/blog/vulnerability/august-2023-security-releases.md
  site.json
Due: eslint --fix, prettier --write

Blog: v20.5.1 release post
  pages/en/blog/release/v20.5.1.md
Due: eslint --fix, prettier --write

Update pages/en/blog/release/v20.5.1.md
  pages/en/blog/release/v20.5.1.md
Due: eslint --fix, prettier --write

Blog: Security Release (#5620)
  pages/en/blog/release/v16.20.2.md
  pages/en/blog/release/v18.17.1.md
  pages/en/blog/release/v20.5.1.md
  pages/en/blog/vulnerability/august-2023-security-releases.md
  site.json
Due: eslint --fix, prettier --write

fix: Correct redirect for security
  next.rewrites.mjs
Due: eslint --fix, prettier --write

chore: format code online
  next.rewrites.mjs
Due: eslint --fix, prettier --write

fix: Correct redirect for security (#5622)
  next.rewrites.mjs
Due: eslint --fix, prettier --write

fix: add redirection from /dist to /dist/
  next.rewrites.mjs
Due: eslint --fix, prettier --write

chore: remove wildcard redirects
  next.config.mjs
  next.constants.mjs
  next.dynamic.mjs
  next.json.mjs
  next.locales.mjs
Due: eslint --fix, prettier --write

feat: introduced json file for redirects
  redirects.json
Due: prettier --write

chore: removed todos
  next.rewrites.mjs
Due: eslint --fix, prettier --write

refactor: use the json file
  next.rewrites.mjs
  redirects.json
Due: eslint --fix, prettier --write

feat: introduced json file for redirects (#5615)
  next.config.mjs
  next.constants.mjs
  next.dynamic.mjs
  next.json.mjs
  next.locales.mjs
  next.rewrites.mjs
  redirects.json
Due: eslint --fix, prettier --write

fix: (hotfix) full git depth for chromatic
  .github/workflows/pull-request-target.yml
Due: prettier --write

chore: added inspector redirect
  redirects.json
Due: prettier --write

chore: remove unstable opt
  next.config.mjs
Due: eslint --fix, prettier --write

chore: add static builds to ci to ensure static builds are still working
  .github/workflows/build.yml
Due: prettier --write

fix: attempt to use platform-specific separator
  next.constants.mjs
  next.dynamic.mjs
  pages/[...path].tsx
Due: eslint --fix, prettier --write

chore: added inspector redirect (#5626)
  redirects.json
Due: prettier --write

chore: add static builds to ci to ensure static builds are still working (#5617)
  .github/workflows/build.yml
  next.config.mjs
  next.constants.mjs
  next.dynamic.mjs
  pages/[...path].tsx
Due: eslint --fix, prettier --write

fix: urgent hot fix for edge functions
  next.constants.mjs
  next.dynamic.mjs
  package-lock.json
Due: eslint --fix, prettier --write

fix css front end
  styles/old/layout/_main.scss
Due: none

test
  styles/old/layout/_main.scss
Due: none

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

fix: fixed formatting of lint-staged file and reordered commands
  .lintstagedrc.json
Due: prettier --write

fix: lint-staged to run stylelint (#5637)
  .lintstagedrc.json
Due: prettier --write

feat: introduced alternate hreflangs for all the available languages
  components/HtmlHead.tsx
  hooks/useLocale.ts
  providers/localeProvider.tsx
  types/i18n.ts
Due: eslint --fix, prettier --write

feat: sitemap with alternate hreflangs
  app/sitemap.xml/route.ts
Due: eslint --fix, prettier --write

fix: x-default with wrong links
  components/HtmlHead.tsx
Due: eslint --fix, prettier --write

chore: refactor wildcard imports into named imports to reduce bloat
  app/en/feed/[feed]/route.ts
  app/sitemap.xml/route.ts
  components/HtmlHead.tsx
  hooks/useNavigation.tsx
  hooks/useRouter.ts
  next-data/generateWebsiteFeeds.mjs
  next.dynamic.mjs
  pages/[...path].tsx
  pages/_document.tsx
  providers/localeProvider.tsx
  providers/siteProvider.tsx
  robots.config.mjs
Due: eslint --fix, prettier --write

feat: introduced alternate hreflangs for all the available languages (#5638)
  app/en/feed/[feed]/route.ts
  app/sitemap.xml/route.ts
  components/HtmlHead.tsx
  hooks/useLocale.ts
  hooks/useNavigation.tsx
  hooks/useRouter.ts
  next-data/generateWebsiteFeeds.mjs
  next.dynamic.mjs
  pages/[...path].tsx
  pages/_document.tsx
  providers/localeProvider.tsx
  providers/siteProvider.tsx
  robots.config.mjs
  types/i18n.ts
Due: eslint --fix, prettier --write

fix: update the filename in the example
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write

chore: fix formatting in translation
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write

chore(i18n): crowdin sync (#5612)
  pages/uk/about/index.md
  pages/uk/docs/guides/diagnostics/live-debugging/index.md
  pages/uk/docs/guides/diagnostics/live-debugging/using-inspector.md
  pages/uk/docs/index.mdx
  pages/uk/get-involved/collab-summit.md
  pages/uk/get-involved/contribute.md
Due: eslint --fix, prettier --write

New translations index.mdx (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write

New translations 404.md (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/404.md
Due: eslint --fix, prettier --write

meta: updated figma ref
  README.md
Due: eslint --fix, prettier --write
