Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

meta: build info for ts
  .github/workflows/build.yml
Due: prettier --write

chore: move to pr checks
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Due: prettier --write

dependabot: labels
  .github/dependabot.yml
Due: prettier --write

fix: dependabot formatting
  .github/dependabot.yml
Due: prettier --write

meta: add ci label to crowdin prs
  crowdin.yml
Due: prettier --write

New translations index.mdx (Ukrainian) chore(i18n): added new translations from crowdin
  pages/uk/docs/index.mdx
Due: eslint --fix, prettier --write

New translations index.mdx (Chinese Simplified) chore(i18n): added new translations from crowdin
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

New translations index.mdx (Indonesian) chore(i18n): added new translations from crowdin
  pages/id/docs/index.mdx
Due: eslint --fix, prettier --write

Update COLLABORATOR_GUIDE.md
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write

meta: updated collaborator guide and content-vs-code (#5732)
  COLLABORATOR_GUIDE.md
  CONTENT_VS_CODE.md
  CONTRIBUTING.md
  scripts/generate-next-data/index.mjs
Due: eslint --fix, prettier --write

feat: translation checks github workflow (#5748)
  .github/workflows/pull-request.yml
  .github/workflows/translations-pr.yml
Due: prettier --write

meta: skip few steps on crowdin prs
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore(i18n): crowdin sync (#5757)
  pages/id/docs/index.mdx
  pages/uk/docs/index.mdx
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

chore: uts in esm
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write

meta: quick guide on styling
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write

meta: patch on styles
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write

feat(banner): introduce new design
  components/Common/Banner/index.module.scss
  components/Common/Banner/index.stories.tsx
  components/Common/Banner/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Blog: v20.6.1 release post
  pages/en/blog/release/v20.6.1.md
Due: eslint --fix, prettier --write

chore: fix prettier issues
  pages/id/docs/index.mdx
  pages/uk/docs/index.mdx
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

fix: release-post script for non-notable releases
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write

fix: Improved News Section Formatting
  layouts/BlogIndexLayout.tsx
Due: eslint --fix, prettier --write

fix: tailwind darkMode config updated
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: badge component
  components/Common/Badge/index.module.scss
  components/Common/Badge/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: component enums added
  types/component.ts
Due: eslint --fix, prettier --write

meta: fix translations pr command
  .github/workflows/translations-pr.yml
Due: prettier --write

docs: storybook for badge
  components/Common/Badge/index.module.scss
  components/Common/Badge/index.stories.tsx
  components/Common/Badge/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

feat: updated eslint configuration
  .eslintrc.json
Due: prettier --write

chore: renabled md transpile for md files
  .eslintignore
  .prettierignore
Due: none

feat: introduced prettier cache
  .gitignore
  package.json
  turbo.json
Due: prettier --write

refactor: unnecessary children type removed
  components/Common/Badge/index.tsx
Due: eslint --fix, prettier --write

meta: lintstaged
  .lintstagedrc.json
Due: prettier --write

chore: more automated linting
  pages/en/blog/announcements/v20-release-announce.md
  pages/en/blog/vulnerability/june-2023-security-releases.md
  pages/id/docs/guides/backpressuring-in-streams.md
  pages/zh-cn/docs/guides/backpressuring-in-streams.md
Due: eslint --fix, prettier --write

fix: release-post script for non-notable releases (#5774)
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write

meta: support caching on main branches
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{mjs,ts,tsx,md,mdx})
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (((any of: **/*.{mjs,ts,tsx,md,mdx}) or (any of: **/*.{css,sass,scss})) or (any of: **/*.{json,yml}))
  stylelint --config .stylelintrc.json: any of: **/*.{css,sass,scss}
