Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

feat(Preview): add width and height props
  components/Common/Preview/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(Preview): update storybook
  components/Common/Preview/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(Preview): update css
  components/Common/Preview/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Component/language drop down (#5982)
  components/Common/LanguageDropDown/index.module.css
  components/Common/LanguageDropDown/index.stories.tsx
  components/Common/LanguageDropDown/index.tsx
  hooks/__tests__/useClickOutside.test.mjs
  hooks/useClickOutside.ts
  i18n/locales/en.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: MetaBar Component (#6010)
  components/Common/AvatarGroup/index.module.css
  components/Common/MetaBar/index.module.css
  components/Common/MetaBar/index.stories.tsx
  components/Common/MetaBar/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: create CodeBox component which fixes issue #5819
  components/Common/CodeBox/index.module.css
  components/Common/CodeBox/index.stories.tsx
  components/Common/CodeBox/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Revert "refactor: updated release script and updated shiki (#5997)"
  package-lock.json
  package.json
  pages/en/blog/release/v15.1.0.md
  pages/en/blog/release/v18.16.0.md
  scripts/release-post/downloadsTable.mjs
  scripts/release-post/index.mjs
  scripts/release-post/template.hbs
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.0.0 release post
  pages/en/blog/release/v21.0.0.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: add v21 release announcement blog post
  pages/en/blog/announcements/v21-release-announce.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: update site.json to include 21 banner
  site.json
Due: prettier --write, prettier --check --write

hotfix: fix release script
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: macos 64 bit installer
  pages/en/blog/release/v21.0.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix release script
  pages/en/blog/release/v21.0.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Revert "blog: update site.json to include 21 banner"
  site.json
Due: prettier --write, prettier --check --write

v21.0.0 Release (#6022)
  pages/en/blog/announcements/v21-release-announce.md
  pages/en/blog/release/v21.0.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(Preview): add Preview component (#6014)
  components/Common/Preview/index.module.css
  components/Common/Preview/index.stories.tsx
  components/Common/Preview/index.tsx
  public/static/images/patterns/hexagon-grid.svg
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: maintenance lts in the lack of active lts
  hooks/useNodeReleases.ts
  layouts/DocsLayout.tsx
  layouts/DownloadLayout.tsx
  layouts/IndexLayout.tsx
  next.json.mjs
  providers/nodeReleasesProvider.tsx
  providers/withNodeRelease.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: use fixed date on storybook
  components/Common/MetaBar/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: maintenance lts in the lack of active lts (#6025)
  hooks/useNodeReleases.ts
  layouts/DocsLayout.tsx
  layouts/DownloadLayout.tsx
  layouts/IndexLayout.tsx
  next.json.mjs
  providers/nodeReleasesProvider.tsx
  providers/withNodeRelease.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix: render HTML tables in md files (#6002)
  next.dynamic.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

meta: adjusted pages and styles
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  layouts/DownloadReleasesLayout.tsx
  navigation.json
  pages/en/about/governance.md
  pages/en/about/index.md
  pages/en/about/node-security.md
  pages/en/about/previous-releases.md
  pages/en/download/releases.md
  redirects.json
  styles/old/base.css
  styles/old/page-modules/anchorLinks.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: types and css
  styles/old/page-modules/header.css
  types/navigation.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: update location of `using-heap-snapshot.md`
  pages/en/docs/guides/diagnostics/memory/using-gc-traces.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: replace transid
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  navigation.json
Due: prettier --write, prettier --check --write

fix: update location of `using-heap-snapshot.md` (#6029)
  pages/en/docs/guides/diagnostics/memory/using-gc-traces.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: add OpenSSF badge to current footer
  components/Footer.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: add other languages back
  crowdin.yml
  i18n/config.json
  i18n/locales/index.mjs
  i18n/locales/ka.json
  i18n/locales/zh-tw.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: copy changes
  layouts/IndexLayout.tsx
  pages/en/about/previous-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Added table styling based on Figma design for both light and dark modes
  components/__design__/table.stories.tsx
  styles/new/base.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Create Table styling
  components/__design__/table.stories.tsx
  styles/new/base.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update pages/en/about/index.md
  pages/en/about/index.md
Due: eslint --fix, prettier --write, prettier --check --write

added border radius to the table
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

feat: create shortHumanReadableDate to parse dates into a short friendlier to read version
  util/__tests__/shortHumanReadableDate.test.mjs
  util/shortHumanReadableDate.ts
Due: eslint --fix, prettier --write, prettier --check --write

indented styles, changed to text-sm, added th & td properties to common selectors
  components/__design__/table.stories.tsx
  styles/new/base.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update pages/en/about/governance.md
  pages/en/about/governance.md
Due: eslint --fix, prettier --write, prettier --check --write

add lighthouse preview
  .github/workflows/lighthouse.yml
  .lighthouserc.json
  scripts/lighthouse/index.js
Due: eslint --fix, prettier --write, prettier --check --write

add more than one url
  .lighthouserc.json
Due: prettier --write, prettier --check --write

fix: update Avatar component styles to avoid layout shift issue
  components/Common/AvatarGroup/Avatar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: create Common/Card component
  components/Common/Card/index.module.css
  components/Common/Card/index.stories.tsx
  components/Common/Card/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input
