Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

fix: code snippet
  pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(learn-content): add introduction for test-runner
  pages/en/learn/test-runner/introduction.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(navigation): add learn entry
  i18n/locales/en.json
  navigation.json
Due: prettier --write, prettier --check --write

feedback on the formulation
  pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, prettier --check --write

Update GOVERNANCE.md
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: ci
  package.json
Due: prettier --write, prettier --check --write

fix: ci (#6774)
  package.json
Due: prettier --write, prettier --check --write

added navItem hover
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix:added ellipsis for long value in breadcrumb
  components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

changes js to css logic
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

removed double truncate
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

removed unneccesary comments and further minor changes
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: orama cloud sync, error handling and debug logs
  scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated chromatic action cli version
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

chore: document debug logs added
  scripts/orama-search/get-documents.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: error logs moved to throw
  scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

ci: clean up and secret environment variables added
  .github/workflows/build.yml
  scripts/orama-search/get-documents.mjs
  scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: revert logs in orama cloud sync
  scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

navItem hover color green-400
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

navItem nav.label hover color green-400
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

move up the hover logic up by one from nav.label to nav hover .label
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

prevent text color change when active
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

draft changes
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
Due: prettier --write, stylelint --allow-empty-input

CI: Orama cloud sync (#6806)
  .github/workflows/build.yml
Due: prettier --write, prettier --check --write

feat(meta): support nodejs v22 (#6746)
  next.json.mjs
  next.locales.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated chromatic action cli version (#6800)
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

meta: add issue link to the release worker (#6773)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write, prettier --check --write

Revert "feat(meta): support nodejs v22 (#6746)"
  next.json.mjs
  next.locales.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Revert "feat(meta): support nodejs v22" (#6810)
  next.json.mjs
  next.locales.mjs
Due: eslint --fix, prettier --write, prettier --check --write

pl to px
  components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
Due: prettier --write, stylelint --allow-empty-input

build: Orama cloud sync logs added
  scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update introduction-to-nodejs.md
  pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Require TSC approval for stances (#6772)
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

changed hover color to text-green-700
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Update i18n/locales/en.json
  i18n/locales/en.json
Due: prettier --write, prettier --check --write

Update navigation.json
  navigation.json
Due: prettier --write, prettier --check --write

fix grammar
  pages/en/learn/test-runner/introduction.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated all available packages
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
