Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

chore(lint): bump doc-kit
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/__tests__/utils.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix(css): `!` in `md:hidden`
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/Common/BaseLinkTabs/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
Due: none

chore(partners): add codemod partner (#8266)
  apps/site/public/static/partners/constants.json
  packages/ui-components/src/Icons/PartnerLogos/Codemod/Favicon.tsx
  packages/ui-components/src/Icons/PartnerLogos/Codemod/Logo.tsx
  packages/ui-components/src/Icons/PartnerLogos/Codemod/index.tsx
  packages/ui-components/src/Icons/PartnerLogos/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(partners): add rel and target attributes to link of partners (#8267)
  apps/site/components/Common/Partners/PartnerIcon/index.tsx
  apps/site/components/Common/Partners/PartnerLogo/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

bump date
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

change date to order by version
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

i'm dum
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat(cicd): add bundle stats comparison
  .github/workflows/build.yml
  .github/workflows/bundle-compare.yml
  apps/site/turbo.json
Due: prettier --write

[test]
  .github/workflows/bundle-compare.yml
Due: prettier --write

fixup!
  .github/workflows/bundle-compare.yml
Due: prettier --write

chore: use correct codemod logo
  packages/ui-components/src/Icons/PartnerLogos/Codemod/Favicon.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix lint
  packages/ui-components/src/Icons/PartnerLogos/Codemod/Favicon.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: use clipPath
  packages/ui-components/src/Icons/PartnerLogos/Codemod/Favicon.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: open-next build should be webpack
  apps/site/open-next.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v24.11.0 release post
  apps/site/pages/en/blog/release/v24.11.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! Blog: v24.11.0 release post
  apps/site/pages/en/blog/release/v24.11.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(cicd): add `--` before passing an argument
  .github/workflows/create-release-post.yml
Due: prettier --write

feat(blog): create post for v24.11.0
  apps/site/pages/en/blog/release/v24.11.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(cicd): add `--` before passing an argument (#8282)
  .github/workflows/create-release-post.yml
Due: prettier --write

fix: remove orama tests
  apps/site/tests/e2e/general-behavior.spec.ts
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v24.11.0 release post (#8280)
  apps/site/pages/en/blog/release/v24.11.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for 22.21.1
  apps/site/pages/en/blog/release/v22.21.1.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for 25.1.0
  apps/site/pages/en/blog/release/v25.1.0.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(ci): do not run GHA on draft PR
  .github/workflows/build.yml
Due: prettier --write

Update lint and tests workflow for draft PRs
  .github/workflows/lint-and-tests.yml
Due: prettier --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier --write

Apply suggestions from code review
  .github/workflows/build.yml
  .github/workflows/lint-and-tests.yml
Due: prettier --write

chore(ci): run GHA on `ready_for_review` (#8286)
  .github/workflows/build.yml
  .github/workflows/lint-and-tests.yml
Due: prettier --write

Update apps/site/pages/en/blog/migrations/v22-to-v24.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove duplicate mdast-util-to-string in site package
  apps/site/package.json
Due: prettier --write

chore(lint): bump doc-kit (#8275)
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/__tests__/utils.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat: add switch in eol table
  apps/site/components/EOL/EOLReleaseTable/TableBody.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/next-data/generators/releaseData.mjs
  packages/ui-components/package.json
  packages/ui-components/src/Common/Switch/index.module.css
  packages/ui-components/src/Common/Switch/index.stories.tsx
  packages/ui-components/src/Common/Switch/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat: translation keys
  apps/site/components/EOL/EOLReleaseTable/TableBody.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
