Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

Update detectOS.ts
  apps/site/util/detectOS.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/util/detectOS.ts
  apps/site/util/detectOS.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: use `toUpperCase` in `detectOS` (#7241)
  apps/site/util/detectOS.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update getNodeDownloadUrl.ts
  apps/site/util/getNodeDownloadUrl.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Create ro.json
  packages/i18n/locales/ro.json
Due: prettier --write, prettier --check --write

fix: unoptimized SVG image
  apps/site/components/MDX/Image/index.tsx
  apps/site/next.config.mjs
  apps/site/util/__tests__/imageUtils.test.mjs
  apps/site/util/imageUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: review updates
  apps/site/util/imageUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Fix formatting
  apps/site/components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/util/imageUtils.ts
  apps/site/util/imageUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: replace classnames with clsx
  apps/site/app/[locale]/layout.tsx
  apps/site/components/Common/ActiveLink/index.tsx
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  apps/site/components/Common/Breadcrumbs/BreadcrumbLink/index.tsx
  apps/site/components/Common/Button/index.tsx
  apps/site/components/Common/CodeBox/index.tsx
  apps/site/components/Common/CrossLink/index.tsx
  apps/site/components/Common/LanguageDropDown/index.tsx
  apps/site/components/Common/Notification/index.tsx
  apps/site/components/Common/Preview/index.tsx
  apps/site/components/Common/Search/index.tsx
  apps/site/components/Common/Select/index.tsx
  apps/site/components/Common/Tabs/index.tsx
  apps/site/components/Common/Tooltip/index.tsx
  apps/site/components/Containers/NavBar/NavItem/index.tsx
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/components/Icons/Logos/Nodejs.tsx
  apps/site/layouts/GlowingBackdrop.tsx
  apps/site/next.mdx.shiki.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: download button pointing to an incorrect binary on Windows arm64 (#7240)
  apps/site/components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: format files
  apps/site/util/imageUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: review update
  apps/site/components/MDX/Image/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix:link reference
  apps/site/pages/en/download/package-manager/current.mdx
  apps/site/pages/en/download/package-manager/index.mdx
  apps/site/pages/en/download/prebuilt-binaries/current.mdx
  apps/site/pages/en/download/prebuilt-binaries/index.mdx
  apps/site/pages/en/download/prebuilt-installer/current.mdx
  apps/site/pages/en/download/prebuilt-installer/index.mdx
  apps/site/pages/en/download/source-code/current.mdx
  apps/site/pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update accept-input-from-the-command-line-in-nodejs.md to use a promise
  apps/site/pages/en/learn/command-line/accept-input-from-the-command-line-in-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: Links for changelog and blog post do not meet accessibility criterion (#7250)
  apps/site/pages/en/download/package-manager/current.mdx
  apps/site/pages/en/download/package-manager/index.mdx
  apps/site/pages/en/download/prebuilt-binaries/current.mdx
  apps/site/pages/en/download/prebuilt-binaries/index.mdx
  apps/site/pages/en/download/prebuilt-installer/current.mdx
  apps/site/pages/en/download/prebuilt-installer/index.mdx
  apps/site/pages/en/download/source-code/current.mdx
  apps/site/pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

infra: add `@oramacloud/*` to dependabot
  .github/dependabot.yml
Due: prettier --write, prettier --check --write

Blog: v20.18.1 release post
  apps/site/pages/en/blog/release/v20.18.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v20.18.1 release post (#7254)
  apps/site/pages/en/blog/release/v20.18.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: Unoptimized SVG images (#7244)
  apps/site/components/MDX/Image/index.tsx
  apps/site/next.config.mjs
  apps/site/util/__tests__/imageUtils.test.mjs
  apps/site/util/imageUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

infra: add `@oramacloud/*` to dependabot (#7253)
  .github/dependabot.yml
Due: prettier --write, prettier --check --write

Update lighthouse.yml
  .github/workflows/lighthouse.yml
Due: prettier --write, prettier --check --write

Blog: v23.3.0 release post
  apps/site/pages/en/blog/release/v23.3.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/blog/release/v23.3.0.md
  apps/site/pages/en/blog/release/v23.3.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.3.0 release post (#7268)
  apps/site/pages/en/blog/release/v23.3.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

use tabindex when href is not available
  apps/site/components/Common/Button/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! feat(ui): add `ui-components` package
  packages/ui-components/turbo.json
Due: prettier --write, prettier --check --write

fix(cache): remove cache rules from fetch()
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/next-data/blogData.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.calendar.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(cache): remove cache rules from fetch() (#7270)
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/next-data/blogData.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.calendar.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Fix whitespace between the main content and progressive sidebar
  .DS_Store
  apps/.DS_Store
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: add wip action
  .github/workflows/translations-pr2.yml
Due: prettier --write, prettier --check --write

add dry run, workflow_dispatch
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

feat: automated crowdin sync
  .github/workflows/translations-pr-lint-and-format.yml
  .github/workflows/translations-pr2.yml
  .github/workflows/translations-sync.yml
  crowdin.yml
Due: prettier --write, prettier --check --write

Remove .DS_Store files
  .DS_Store
  apps/.DS_Store
Due: none

rename token
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

add mention of translation deployment
  TRANSLATION.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update .github/workflows/translations-sync.yml
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

feat(AvatarGroupe): update overflow
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
