Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: erroneous env usage for fetch
  apps/site/next-data/blogData.ts
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.constants.mjs
  apps/site/next.dynamic.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: pass ref
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/providers/__tests__/matterProvider.test.mjs
  apps/site/util/__tests__/assignClientContext.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: streamline detectos (only run query once)
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/withCurrentOS.tsx
  apps/site/hooks/react-client/useClientContext.ts
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/providers/matterProvider.tsx
  apps/site/types/server.ts
  apps/site/util/assignClientContext.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: updated allowlist for env vars
  apps/site/turbo.json
  packages/i18n/turbo.json
Due: prettier --write, prettier --check --write

chore: fix select styles
  apps/site/components/Common/Select/index.tsx
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: avatar rendering and avatar group margins
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.tsx
  apps/site/components/Common/AvatarGroup/index.module.css
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/layouts/Post.tsx
  apps/site/next.config.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: unit tests
  apps/site/hooks/react-client/__tests__/useDetectOS.test.mjs
  apps/site/providers/__tests__/matterProvider.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: optimized release provider memo
  apps/site/providers/releaseProvider.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: improved loading state
  apps/site/components/Common/Search/index.tsx
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/hooks/react-client/useDetectOS.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: correct fixes
  apps/site/components/Common/Skeleton/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Update crowdin.yml (#7353)
  crowdin.yml
Due: prettier --write, prettier --check --write

chore: next-image mock
  apps/site/.storybook/main.ts
  apps/site/components/Common/AvatarGroup/Avatar/index.stories.tsx
  apps/site/components/Common/AvatarGroup/index.stories.tsx
  apps/site/components/__mocks__/client-context.mjs
  apps/site/components/__mocks__/github-slugger.mjs
  apps/site/components/__mocks__/next-image.mjs
  apps/site/components/__mocks__/next-intl.mjs
  apps/site/components/__mocks__/next-router.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Apply suggestions from code review
  apps/site/components/Common/Skeleton/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: final code review
  apps/site/components/Blog/BlogHeader/index.tsx
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/ProgressionSidebar/index.tsx
  apps/site/components/Common/Skeleton/index.module.css
  apps/site/components/MDX/CodeTabs/index.tsx
  apps/site/components/withDownloadCategories.tsx
  apps/site/components/withProgressionSidebar.tsx
  apps/site/providers/__tests__/matterProvider.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: server component test
  apps/site/components/Blog/BlogHeader/__tests__/index.test.mjs
  apps/site/components/Blog/BlogHeader/index.tsx
  apps/site/components/__mocks__/next-intl.mjs
  apps/site/jest.config.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: rsc still risky for storybook
  apps/site/components/Blog/BlogHeader/__tests__/index.test.mjs
  apps/site/components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(button): introduce `size` variant (#7348)
  apps/site/components/Common/Button/index.module.css
  apps/site/components/Common/Button/index.stories.tsx
  apps/site/components/Common/Button/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: remove unnecessary see tags
  apps/site/components/Icons/PackageManager/Npm.tsx
  apps/site/components/Icons/PackageManager/Pnpm.tsx
  apps/site/components/Icons/PackageManager/Yarn.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: attempt to fix vercel region (access fetch during initial build)
  apps/site/next-data/blogData.ts
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/releaseData.ts
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: attempt to fix vercel region (access fetch during initial build) (#7355)
  apps/site/next-data/blogData.ts
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/releaseData.ts
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(icons): introduce package manager (#7354)
  apps/site/components/Icons/PackageManager/Npm.tsx
  apps/site/components/Icons/PackageManager/Pnpm.tsx
  apps/site/components/Icons/PackageManager/Yarn.tsx
  apps/site/components/__design__/package-manager.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: AIX icon added
  apps/site/components/Common/Select/index.stories.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Icons/Platform/AIX.tsx
  apps/site/components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: AIX naming
  apps/site/components/Common/Select/index.stories.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Icons/Platform/AIX.tsx
  apps/site/components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: AIX naming
  apps/site/components/Common/Select/index.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: IBM AIX Icon added (#7356)
  apps/site/components/Common/Select/index.stories.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Icons/Platform/AIX.tsx
  apps/site/components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

inclue tsc mention
  TRANSLATION.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: document what we will/won’t translate (#7350)
  TRANSLATION.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove express example
  apps/site/pages/en/learn/getting-started/nodejs-the-difference-between-development-and-production.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

download: restore preamble in download snippets
  apps/site/snippets/en/download/brew.bash
  apps/site/snippets/en/download/choco.bash
  apps/site/snippets/en/download/docker.bash
  apps/site/snippets/en/download/fnm.bash
  apps/site/snippets/en/download/nvm.bash
Due: none

chore: fix lighthouse workflow
  .github/workflows/lighthouse.yml
Due: prettier --write, prettier --check --write

chore: fix lighthouse workflow (#7361)
  .github/workflows/lighthouse.yml
Due: prettier --write, prettier --check --write

download: restore preamble in download snippets (#7360)
  apps/site/snippets/en/download/brew.bash
  apps/site/snippets/en/download/choco.bash
  apps/site/snippets/en/download/docker.bash
  apps/site/snippets/en/download/fnm.bash
  apps/site/snippets/en/download/nvm.bash
Due: none

Update apps/site/snippets/en/download/nvm.bash
  apps/site/snippets/en/download/nvm.bash
Due: none

feat: improved types and logic to be consistent
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/BitnessDropdown.tsx
  apps/site/components/Downloads/Release/InstallationMethodDropdown.tsx
  apps/site/components/Downloads/Release/OperatingSystemDropdown.tsx
  apps/site/components/Downloads/Release/PackageManagerDropdown.tsx
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/components/Downloads/Release/PrebuiltDownloadButtons.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/download/current.mdx
  apps/site/pages/en/download/index.mdx
  apps/site/reducers/releaseReducer.ts
  apps/site/types/release.ts
  apps/site/types/userOS.ts
  apps/site/util/__tests__/getBitness.test.mjs
  apps/site/util/__tests__/getUserBitnessByArchitecture.test.mjs
  apps/site/util/downloadUtils.tsx
  apps/site/util/getArchitecture.ts
  apps/site/util/getBitness.ts
  apps/site/util/getHighEntropyValues.ts
  apps/site/util/getNodeDownloadUrl.ts
  apps/site/util/getUserBitnessByArchitecture.ts
  apps/site/util/getUserPlatform.ts
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: final improvements before PR merge
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/components/Downloads/Release/PrebuiltDownloadButtons.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/hooks/react-client/__tests__/useDetectOS.test.mjs
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/providers/__tests__/matterProvider.test.mjs
  apps/site/reducers/releaseReducer.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: react optimizations and profiling optimizations
  apps/site/components/Common/Select/index.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/JSX/CodeBox/index.tsx
  apps/site/components/withLayout.tsx
  apps/site/layouts/GlowingBackdrop.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
