Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: self review
  apps/site/components/Common/Tooltip/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: self review
  apps/site/package.json
Due: prettier --write, prettier --check --write

feat(blog): enable events (#7137)
  apps/site/layouts/Blog.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: remove unused i18n key (#7138)
  packages/i18n/locales/en.json
Due: prettier --write, prettier --check --write

WIP
  CODEOWNERS
  COLLABORATOR_GUIDE.md
  apps/site/app/[locale]/[[...path]]/page.tsx
  apps/site/app/[locale]/next-data/page-data/route.ts
  apps/site/app/sitemap.ts
  apps/site/components/Common/ActiveLink/__tests__/index.test.mjs
  apps/site/components/Common/ActiveLink/index.tsx
  apps/site/components/Common/CodeTabs/index.tsx
  apps/site/components/Common/FormattedTime.tsx
  apps/site/components/Common/Search/States/WithSearchBox.tsx
  apps/site/components/Link.tsx
  apps/site/components/MDX/Calendar/UpcomingMeetings.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withNavBar.tsx
  apps/site/components/withRouterSelect.tsx
  apps/site/middleware.ts
  apps/site/navigation.ts
  apps/site/next-data/generators/blogData.mjs
  apps/site/next-data/generators/blogData.ts
  apps/site/next-data/generators/changelogData.ts
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next-data/generators/websiteFeeds.ts
  apps/site/next-data/providers/blogData.ts
  apps/site/next-data/providers/changelogData.ts
  apps/site/next-data/providers/websiteFeeds.ts
  apps/site/next.calendar.constants.ts
  apps/site/next.calendar.ts
  apps/site/next.dynamic.constants.ts
  apps/site/next.dynamic.ts
  apps/site/shiki.config.ts
  apps/site/util/getHighlighter.ts
  apps/site/util/getLanguageDisplayName.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

wip
  apps/site/next.dynamic.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refracto(js-ts): MDX
  apps/site/app/[locale]/[[...path]]/page.tsx
  apps/site/components/Downloads/ChangelogModal/index.stories.tsx
  apps/site/components/MDX/CodeBox/index.stories.tsx
  apps/site/components/MDX/CodeTabs/index.stories.tsx
  apps/site/components/mdxRenderer.tsx
  apps/site/components/withChangelogModal.tsx
  apps/site/next.dynamic.ts
  apps/site/next.mdx.compiler.ts
  apps/site/next.mdx.ts
  apps/site/next.mdx.use.client.ts
  apps/site/next.mdx.use.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: class names
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.module.css
  apps/site/components/Common/AvatarGroup/Overlay/index.tsx
  apps/site/components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

refactor: horizontal margin added
  apps/site/components/Common/Tooltip/index.module.css
Due: prettier --write, stylelint --allow-empty-input

content/chore(learn): give visibility to the status page (#7139)
  README.md
  apps/site/pages/en/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(zh-cn): translation missing some text
  apps/site/pages/zh-cn/about/previous-releases.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: fix prettier:fix script to pass --write argument
  package.json
Due: prettier --write, prettier --check --write

Added a more descriptive explanation as to what npm does, and what dependencies are, including punctuation.
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Added a more descriptive explanation as to what npm does, and what dependencies are.
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Improve npm documentation for dependency management (#7146)
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Apply suggestions from code review
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Meta: adding docs about how to add/modify learn page (#7116)
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

test: release data coverage (7130)
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.11.0 release post
  apps/site/pages/en/blog/release/v22.11.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.11.0 release post (#7152)
  apps/site/pages/en/blog/release/v22.11.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

style: only make metabar sticky, not sidebar
  apps/site/components/Containers/MetaBar/index.module.css
  apps/site/components/Containers/Sidebar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: accessible avatars on mobile
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat: default author url
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.module.css
  apps/site/util/__tests__/authorUtils.test.mjs
  apps/site/util/authorUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: upgrade to next 15
  apps/site/app/[locale]/[[...path]]/page.tsx
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/app/[locale]/next-data/blog-data/[category]/[page]/route.ts
  apps/site/app/[locale]/next-data/changelog-data/[version]/route.ts
  apps/site/components/Common/Tabs/__tests__/index.test.mjs
  apps/site/hooks/react-client/useClickOutside.ts
  apps/site/hooks/react-client/useNavigationState.ts
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/util/downloadUtils.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: moving the version support button to the footer
  apps/site/components/Common/ActiveLink/__tests__/index.test.mjs
  apps/site/components/Common/ActiveLink/index.tsx
  apps/site/navigation.json
  apps/site/next.constants.mjs
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: add .mjs example to WebAssembly usage section
  apps/site/pages/en/learn/getting-started/nodejs-with-webassembly.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: run prettier
  apps/site/pages/en/learn/getting-started/nodejs-with-webassembly.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: punctuation nit
  apps/site/pages/en/learn/getting-started/nodejs-with-webassembly.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Docs: add .mjs example to WebAssembly usage section (#7147)
  apps/site/pages/en/learn/getting-started/nodejs-with-webassembly.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

test: release data coverage (7130) (#7150)
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: review updates
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.stories.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.tsx
  apps/site/components/Common/AvatarGroup/index.stories.tsx
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/Common/BlogPostCard/index.stories.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/util/__tests__/authorUtils.test.mjs
  apps/site/util/authorUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: self review
  apps/site/components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fixed vars, next-intl, etc
  .vscode/settings.json
  apps/site/app/[locale]/[[...path]]/page.tsx
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/app/[locale]/next-data/blog-data/[category]/[page]/route.ts
  apps/site/app/[locale]/next-data/changelog-data/[version]/route.ts
  apps/site/app/[locale]/next-data/og/route.tsx
  apps/site/app/[locale]/next-data/page-data/route.ts
  apps/site/app/[locale]/next-data/release-data/route.ts
  apps/site/i18n.tsx
  apps/site/navigation.mjs
  apps/site/next.constants.mjs
  apps/site/next.json.mjs
  apps/site/pages/en/blog/release/v16.14.0.md
  apps/site/turbo.json
  packages/i18n/lib/index.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: more build fixes
  apps/site/app/[locale]/next-data/og/route.tsx
  apps/site/tsconfig.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fix dependencies
  apps/site/hooks/react-generic/useSiteNavigation.ts
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: some other issues on build
  apps/site/app/[locale]/[[...path]]/page.tsx
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/app/[locale]/next-data/og/route.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fix unit tests
  apps/site/components/__mocks__/next-intl.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

style: make sidebars sticky (#7132)
  apps/site/components/Containers/MetaBar/index.module.css
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: Return `locale` in `i18n.tsx`, also move default there
  apps/site/app/[locale]/[[...path]]/page.tsx
  apps/site/i18n.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
