Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint

fix: update dependencies link location
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: globs of translations pr
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

fix: no need of approval for this
  .github/workflows/dependency-review.yml
Due: prettier --write, prettier --check --write

fix: update dependencies link location (#5893)
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Added platform placeholder (#5881)
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-placeholder.svg
Due: eslint --fix, prettier --write, prettier --check --write

Update components/__design__/stacked-logos.stories.tsx
  components/__design__/stacked-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

added stacked-dark logo and storybook (#5884)
  components/__design__/stacked-logos.stories.tsx
  public/static/images/logos/stacked-dark.svg
Due: eslint --fix, prettier --write, prettier --check --write

Update components/Common/Button/index.module.scss
  components/Common/Button/index.module.scss
Due: none

feat: add `button` component
  components/Common/Button/index.module.scss
  components/Common/Button/index.stories.tsx
  components/Common/Button/index.tsx
  package-lock.json
  types/button.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor(button): add space to tailwind tokens
  components/Common/Button/index.module.scss
Due: none

chore(button): format styles in sass ac to contrib guide
  components/Common/Button/index.module.scss
Due: none

refactor(button): stories according to contribution guideline
  components/Common/Button/index.stories.tsx
  package-lock.json
Due: eslint --fix, prettier --write, prettier --check --write

Update index.tsx
  components/Common/Button/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(button): adjust styles for special & add background to its story
  components/Common/Button/index.module.scss
  components/Common/Button/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(button): move types in the `Button` component file
  components/Common/Button/index.tsx
  types/button.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix(button): add special as a variant
  components/Common/Button/index.module.scss
  components/Common/Button/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(button): extract backdrop glow to a mixin
  components/Common/Button/index.module.scss
  components/Common/Button/index.stories.tsx
  styles/new/index.scss
  styles/new/mixins.scss
Due: eslint --fix, prettier --write, prettier --check --write

chore: changing import to index
  components/Common/Button/index.module.scss
Due: none

feat: add CrossLink component
  components/Common/CrossLink/index.module.css
  components/Common/CrossLink/index.stories.tsx
  components/Common/CrossLink/index.tsx
  components/Common/PrevNextArrow/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: add neutral 950 color
  .storybook/preview-body.html
  components/Common/CrossLink/index.module.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

Apply suggestions from code review
  components/Common/CrossLink/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: add CrossLink component (#5781)
  .storybook/preview-body.html
  components/Common/CrossLink/index.module.css
  components/Common/CrossLink/index.stories.tsx
  components/Common/CrossLink/index.tsx
  components/Common/PrevNextArrow/index.tsx
  i18n/locales/en.json
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

meta: updated storybook core build
  .gitignore
  .storybook/main.ts
  styles/new/index.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: attempt to fix dark/light mode
  .storybook/main.ts
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: hotfixes for storybook themes and eslint
  .eslintrc.json
  .storybook/preview.tsx
  public/static/js/legacyMain.js
  styles/old/base.css
  styles/old/layout/dark-theme.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

meta: update caching and eslint configs
  .eslintrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write, prettier --check --write

meta: crowdin pr labels
  crowdin.yml
Due: prettier --write, prettier --check --write

meta: rename step
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

added white hex svg logo
  components/__design__/hex-logos.stories.tsx
  public/static/images/logos/hex-white.svg
Due: eslint --fix, prettier --write, prettier --check --write

add stacked light logo
  public/static/images/logos/stacked-light.svg
Due: none

add image component to display the logo
  components/__design__/stacked-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

add stacked white logo
  public/static/images/logos/stacked-white.svg
Due: none

Adding Platform icon apple
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-apple.svg
Due: eslint --fix, prettier --write, prettier --check --write

chore: use postcss-mixins for mixins
  components/Common/Button/index.module.css
  components/Common/Button/index.tsx
  styles/new/mixins.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

Adding Platform icon apple (#5906)
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-apple.svg
Due: eslint --fix, prettier --write, prettier --check --write

refactor: code review changes
  components/Common/Button/index.stories.tsx
  styles/new/index.css
  styles/new/index.scss
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

feat: add `Button` component (#5783)
  components/Common/Button/index.module.css
  components/Common/Button/index.stories.tsx
  components/Common/Button/index.tsx
  styles/new/index.css
  styles/new/mixins.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

Add stacked logo white (#5905)
  components/__design__/stacked-logos.stories.tsx
  public/static/images/logos/stacked-white.svg
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{mjs,ts,tsx,md,mdx})
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint: any of: **/*.css
