Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: remove cache from build steps as it's already too fast
  .github/workflows/build.yml
Due: prettier --write, prettier --check --write

fix: locale and layouts errors (#6134)
  .github/workflows/build.yml
  app/[locale]/layout.tsx
  app/[locale]/not-found.tsx
  app/not-found.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: enable sentry features
  components/withNodeRelease.tsx
  next-data/generateNodeReleasesJson.mjs
  next.config.mjs
  next.constants.mjs
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: add sample rates
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: use <anonymous>
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: fine-tuned boundaries and filtering
  app/[locale]/layout.tsx
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: error page and boundaries
  app/[locale]/error.tsx
  app/[locale]/layout.tsx
  layouts/BaseLayout.tsx
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: sample rate and allow urls
  next.constants.mjs
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: attempt to use tunnel
  next.config.mjs
  next.constants.mjs
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: make lighthouse workflow more forgiving
  .github/workflows/lighthouse.yml
Due: prettier --write, prettier --check --write

feat: load ondemand
  next.constants.mjs
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.10.0 release post
  pages/en/blog/release/v20.10.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.10.0 release post (#6135)
  pages/en/blog/release/v20.10.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: anchor styling
  components/Downloads/ChangelogModal/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix(theme): Conform theme logic with OS theme preference
  components/Common/ThemeToggle/index.tsx
  components/Header.tsx
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
  providers/themeProvider.tsx
  styles/old/layout/dark-theme.css
  styles/old/page-modules/header.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix(theme): Conform theme logic with OS theme preference (#6138)
  components/Common/ThemeToggle/index.tsx
  components/Header.tsx
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
  providers/themeProvider.tsx
  styles/old/layout/dark-theme.css
  styles/old/page-modules/header.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: do not provide error details to users
  app/[locale]/error.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fixed a comment
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: enable sentry features (#6133)
  app/[locale]/error.tsx
  app/[locale]/layout.tsx
  components/withNodeRelease.tsx
  layouts/BaseLayout.tsx
  next-data/generateNodeReleasesJson.mjs
  next.config.mjs
  next.constants.mjs
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: avatar group overflow
  components/Common/AvatarGroup/index.tsx
  components/Downloads/ChangelogModal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: refactor data generation to server-side only
  .eslintignore
  .husky/pre-commit
  .prettierignore
  app/[locale]/[[...path]]/page.tsx
  app/[locale]/feed/[feed]/route.ts
  app/sitemap.ts
  components/Docs/NodeApiVersionLinks.tsx
  components/Downloads/DownloadReleasesTable.tsx
  components/Header.tsx
  components/TopNavigation.tsx
  components/withNodeRelease.tsx
  hooks/react-client/useBlogData.ts
  hooks/react-client/useSiteNavigation.tsx
  hooks/react-server/useBlogData.ts
  hooks/react-server/useSiteNavigation.tsx
  hooks/useBaseBlogData.ts
  hooks/useBaseSiteNavigation.tsx
  layouts/BaseLayout.tsx
  layouts/DocsLayout.tsx
  next-data/generateBlogPostsData.mjs
  next-data/generateNodeReleasesJson.mjs
  next-data/generateWebsiteFeeds.mjs
  next.constants.mjs
  next.data.mjs
  next.dynamic.constants.mjs
  next.dynamic.mjs
  next.json.mjs
  next.locales.mjs
  next.rewrites.mjs
  package.json
  public/blog-posts-data.json
  public/node-releases-data.json
  scripts/generate-next-data/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: use import for this small data
  next.json.mjs
Due: eslint --fix, prettier --write, prettier --check --write

meta: refactor to an inteligent cache system
  app/[locale]/next-data/blog-data/[category]/route.ts
  app/[locale]/next-data/release-data/route.ts
  components/Docs/NodeApiVersionLinks.tsx
  components/Downloads/DownloadReleasesTable.tsx
  components/Pagination.tsx
  components/withNodeRelease.tsx
  hooks/react-client/index.ts
  hooks/react-client/useBlogData.ts
  hooks/react-server/index.ts
  hooks/react-server/useBlogData.ts
  layouts/BlogCategoryLayout.tsx
  layouts/DocsLayout.tsx
  next-data/blogData.ts
  next-data/generators/blogData.mjs
  next-data/generators/releaseData.mjs
  next-data/generators/websiteFeeds.mjs
  next-data/providers/blogData.ts
  next-data/providers/releaseData.ts
  next-data/providers/websiteFeeds.ts
  next-data/releaseData.ts
  next.constants.mjs
  next.data.mjs
  next.dynamic.constants.mjs
  types/blog.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: some code review
  app/[locale]/[[...path]]/page.tsx
  components/TopNavigation.tsx
  hooks/react-server/useSiteNavigation.tsx
  types/navigation.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: final code review changes
  app/[locale]/[[...path]]/page.tsx
  app/[locale]/feed/[feed]/route.ts
  app/[locale]/next-data/blog-data/[category]/route.ts
  app/[locale]/next-data/release-data/route.ts
  components/Docs/NodeApiVersionLinks.tsx
  components/Downloads/DownloadReleasesTable.tsx
  components/withNodeRelease.tsx
  layouts/BlogCategoryLayout.tsx
  layouts/DocsLayout.tsx
  next-data/blogData.ts
  next-data/releaseData.ts
  next.constants.mjs
  next.dynamic.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

meta: updated certain packages
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

refactor: review updates
  components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: large viewport small content
  components/Downloads/ChangelogModal/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: mobile resolution content overflow
  styles/old/layout/main.css
Due: prettier --write, stylelint --allow-empty-input

fix: mobile resolution content overflow (#6139)
  styles/old/layout/main.css
Due: prettier --write, stylelint --allow-empty-input

Update pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Update pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
  pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Update run-nodejs-scripts-from-the-command-line.md
  pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: use absolute urls for external links
  pages/en/blog/announcements/foundation-v4-announce.md
  pages/en/blog/release/v20.6.0.md
  pages/en/blog/release/v4.0.0.md
  pages/en/blog/release/v8.0.0.md
  pages/en/blog/vulnerability/march-2018-security-releases.md
  pages/en/docs/guides/diagnostics/index.md
  pages/en/docs/guides/diagnostics/live-debugging/index.md
  pages/en/docs/guides/diagnostics/memory/index.md
  pages/en/docs/guides/diagnostics/poor-performance/index.md
  pages/en/docs/guides/diagnostics/poor-performance/using-linux-perf.md
  pages/en/docs/guides/index.md
  pages/en/learn/asynchronous-work/the-nodejs-event-emitter.md
  pages/en/learn/command-line/how-to-use-the-nodejs-repl.md
  pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
  pages/en/learn/manipulating-files/nodejs-file-stats.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  pages/en/learn/manipulating-files/writing-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: fixed some api docs links
  pages/en/blog/release/v20.6.0.md
  pages/en/blog/release/v8.0.0.md
  pages/en/docs/guides/diagnostics/index.md
  pages/en/docs/guides/diagnostics/live-debugging/index.md
  pages/en/docs/guides/diagnostics/memory/index.md
  pages/en/docs/guides/diagnostics/poor-performance/index.md
  pages/en/docs/guides/diagnostics/poor-performance/using-linux-perf.md
  pages/en/docs/guides/index.md
  pages/en/learn/asynchronous-work/the-nodejs-event-emitter.md
  pages/en/learn/command-line/how-to-use-the-nodejs-repl.md
  pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
  pages/en/learn/manipulating-files/nodejs-file-stats.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  pages/en/learn/manipulating-files/writing-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Update pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
  pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(learn): small update (#6132)
  pages/en/about/index.md
  pages/en/get-involved/index.md
  pages/en/learn/asynchronous-work/javascript-asynchronous-programming-and-callbacks.md
  pages/en/learn/asynchronous-work/overview-of-blocking-vs-non-blocking.md
  pages/en/learn/asynchronous-work/the-nodejs-event-emitter.md
  pages/en/learn/asynchronous-work/understanding-processnexttick.md
  pages/en/learn/command-line/accept-input-from-the-command-line-in-nodejs.md
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
  pages/en/learn/command-line/how-to-use-the-nodejs-repl.md
  pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
  pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
  pages/en/learn/getting-started/introduction-to-nodejs.md
  pages/en/learn/getting-started/nodejs-with-webassembly.md
  pages/en/learn/manipulating-files/nodejs-file-paths.md
  pages/en/learn/manipulating-files/nodejs-file-stats.md
  pages/en/learn/manipulating-files/reading-files-with-nodejs.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  pages/en/learn/manipulating-files/working-with-folders-in-nodejs.md
  pages/en/learn/manipulating-files/writing-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Add SPDX identifier to LICENSE
  LICENSE
Due: none

Add SPDX identifier to LICENSE (#6141)
  LICENSE
Due: none
