Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

chore(types): improve `Link` types (#8081)
  apps/site/components/Common/Button.tsx
  apps/site/components/Link.tsx
  apps/site/components/LinkWithArrow.tsx
  apps/site/components/Releases/MinorReleasesTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(publishing): use oidc (#8085)
  .github/workflows/publish-packages.yml
Due: prettier --write

fix: Update TRANSLATION_URL to new docs path (#8090)
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor: download archive pages moved into the next router
  apps/site/app/[locale]/download/[...path]/page.tsx
  apps/site/components/Releases/MinorReleasesTable/index.module.css
  apps/site/components/Releases/MinorReleasesTable/index.tsx
  apps/site/next.dynamic.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: typo in docs
  apps/site/app/[locale]/download/[...path]/page.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: type organisation
  apps/site/types/download.ts
  apps/site/util/download/archive.tsx
  apps/site/util/download/index.tsx
  apps/site/util/url.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: wrong import path
  apps/site/components/Downloads/DownloadsTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: path name and naming
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/components/Downloads/DownloadsTable/index.tsx
  apps/site/types/download.ts
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: rss button navigate to 404 page if not with en locale
  apps/site/components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: applied fix on link on generation
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: rollback to link based solution
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: simplify prop usage based on type definition change on Link component
  apps/site/components/Blog/BlogHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: naming convention
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/PrebuiltDownloadButtons.tsx
  apps/site/util/__tests__/url.test.mjs
  apps/site/util/download/archive.tsx
  apps/site/util/url.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: status order moved to the constants
  apps/site/components/withDownloadArchive.tsx
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: review updates
  apps/site/app/[locale]/[...path]/page.tsx
  apps/site/app/[locale]/blog/[...path]/page.tsx
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/app/[locale]/page.tsx
  apps/site/components/Downloads/DownloadsTable/index.tsx
  apps/site/components/withDownloadArchive.tsx
  apps/site/components/withReleaseSelect.tsx
  apps/site/next-data/generators/nodevuPromise.mjs
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next-data/generators/releaseVersions.mjs
  apps/site/next.dynamic.constants.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.dynamic.page.mjs
  apps/site/types/download.ts
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: ensure npm@11 is installed for OIDC publishing
  .github/workflows/publish-packages.yml
Due: prettier --write

Apply suggestions from code review
  .github/workflows/publish-packages.yml
Due: prettier --write

update on datasource and ui components
  apps/site/components/Common/Searchbox/Chat/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.tsx
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/package.json
  apps/site/scripts/orama-search/sync-orama-cloud.mjs
  packages/i18n/src/locales/en.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: ensure npm@11 is installed for OIDC publishing (#8091)
  .github/workflows/publish-packages.yml
Due: prettier --write

fix(ui-components): throw on failed publish
  packages/ui-components/scripts/publish.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(CODEOWNERS): add nvmrc, publish script under web-infra
  .github/CODEOWNERS
Due: none

update env variables
  apps/site/scripts/orama-search/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(redirects): don't prefix `/docs`
  apps/site/redirects.json
Due: prettier --write

fixup!
  apps/site/redirects.json
Due: prettier --write

fix(redirects): don't prefix `/docs` (#8095)
  apps/site/redirects.json
Due: prettier --write

feat(nextjs): upgrade to 15.5, and refresh config
  apps/site/eslint.config.js
  apps/site/next-env.d.ts
  apps/site/next.config.mjs
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Revert "fix(redirects): don't prefix `/docs` (#8095)"
  apps/site/redirects.json
Due: prettier --write

Revert "fix(redirects): don't prefix `/docs`" (#8097)
  apps/site/redirects.json
Due: prettier --write

pr comments and facets added
  apps/site/components/Common/Searchbox/Chat/ChatActions/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatActions/index.tsx
  apps/site/components/Common/Searchbox/Chat/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatInput/index.tsx
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/Chat/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatSources/index.tsx
  apps/site/components/Common/Searchbox/Chat/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.tsx
  apps/site/components/Common/Searchbox/DocumentLink/index.module.css
  apps/site/components/Common/Searchbox/DocumentLink/index.tsx
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

docs: update default type stripping Node.js version
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
Due: eslint --fix, prettier --write, prettier --check --write

doc: avoid mentioning EOL Node.js version
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: update default type stripping Node.js version (#8099)
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(CODEOWNERS): add nvmrc, publish script under web-infra (#8094)
  .github/CODEOWNERS
Due: none

pr comments
  apps/site/components/Common/Searchbox/Chat/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/Chat/ChatMessage/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.module.css
  apps/site/components/Common/Searchbox/Chat/index.tsx
  apps/site/components/Common/Searchbox/DocumentLink/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/download/current.mdx
  apps/site/pages/es/download/index.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/eol.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/eol.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/previous-releases.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/current.mdx
  apps/site/pages/ro/download/index.mdx
  apps/site/pages/ro/eol.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/tr/download/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ro.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/download/current.mdx
  apps/site/pages/es/download/index.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/eol.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/eol.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/current.mdx
  apps/site/pages/ro/download/index.mdx
  apps/site/pages/ro/eol.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/tr/download/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(blog): Fix homepage link in RSS feed
  apps/site/next-data/generators/__tests__/websiteFeeds.test.mjs
  apps/site/next-data/generators/websiteFeeds.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(nextjs): upgrade to 15.5, and refresh config (#8096)
  apps/site/eslint.config.js
  apps/site/next-env.d.ts
  apps/site/next.config.mjs
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui-components): throw on failed publish (#8093)
  packages/ui-components/scripts/publish.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
