Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

hotfix: clarify language in blog post
  pages/en/blog/announcements/diving-into-the-nodejs-website-redesign.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: Move turbo to dev dependency (#6539)
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

fix: Maximum scale and initial scale (#6526)
  next.dynamic.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: open external link in new tab for navbar items (#6487)
  components/Containers/NavBar/NavItem/index.tsx
  components/Containers/NavBar/index.tsx
  components/withNavBar.tsx
  hooks/react-generic/useSiteNavigation.ts
  navigation.json
  types/navigation.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(search): Enhance shortcut key transition for OS detection
  components/Common/Search/index.module.css
  components/Common/Search/index.tsx
  hooks/react-client/useDetectOS.ts
  types/userOS.ts
  util/downloadUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Added urdu language config
  i18n/config.json
Due: prettier --write, prettier --check --write

feat: Add PowerShell support to Shiki (#6538)
  components/Downloads/Release/ReleaseCodeBox.tsx
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(search): Optimize transition and apply style directly to kbd
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Blog: v18.20.0 release post
  pages/en/blog/release/v18.20.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.12.0 release post
  pages/en/blog/release/v20.12.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v18.20.0 release post (#6557)
  pages/en/blog/release/v18.20.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.12.0 release post (#6558)
  pages/en/blog/release/v20.12.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: RSS alternate link tag does not expose release/vuln feeds
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: Replace with baseUrlAndPath instead
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: add Uzbek lang to locales
  i18n/config.json
Due: prettier --write, prettier --check --write

fix order of lang
  i18n/config.json
Due: prettier --write, prettier --check --write

fixed date format
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: Update regex to match blog and use local to get url
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

[chore 🐱‍🏍] Added Bengali language config #6556
  i18n/config.json
Due: prettier --write, prettier --check --write

fix: Set urdu default false
  i18n/config.json
Due: prettier --write, prettier --check --write

fix: changelog index and mobile issues
  components/Common/Badge/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  components/Downloads/Release/ChangelogLink.tsx
  components/Downloads/Release/LinkWithArrow.tsx
  package-lock.json
  package.json
  styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Made RouterSelect inline (#6560)
  components/Downloads/Release/ReleaseCodeBox.tsx
  components/withRouterSelect.tsx
  pages/en/blog/release/v18.20.0.md
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Added Hindi language
  i18n/config.json
Due: prettier --write, prettier --check --write

Enables Hindi language
  i18n.tsx
  i18n/config.json
  i18n/locales/hi.json
Due: eslint --fix, prettier --write, prettier --check --write

blog: add april sec release announcement
  pages/en/blog/vulnerability/april-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: code format
  pages/en/blog/vulnerability/april-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove `.hbs`
  pages/en/blog/vulnerability/april-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: add april sec release announcement (#6574)
  pages/en/blog/vulnerability/april-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Add missing os from website redesign
  components/Downloads/Release/BitnessDropdown.tsx
  components/Downloads/Release/OperatingSystemDropdown.tsx
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  types/userOS.ts
  util/detectOS.ts
  util/downloadUtils.ts
  util/getNodeDownloadUrl.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(search): Enhance shortcut key transition for OS detection (#6554)
  components/Common/Search/index.module.css
  components/Common/Search/index.tsx
  hooks/react-client/useDetectOS.ts
  types/userOS.ts
  util/downloadUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: RSS alternate link tag does not expose release/vuln feeds (#6562)
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

remove: forceDarkTheme
  components/Common/CodeTabs/index.module.css
  components/Common/CodeTabs/index.tsx
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.stories.tsx
  components/Common/Tabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

blog: add banner for April security release
  site.json
Due: prettier --write, prettier --check --write

blog: add banner for April security release (#6578)
  site.json
Due: prettier --write, prettier --check --write

refactor: added bengali language in locale config file
  i18n/config.json
Due: prettier --write, prettier --check --write

locale: add hebrew support
  i18n/config.json
Due: prettier --write, prettier --check --write

feat: implement github avatar into blog cards
  components/withBlogCategories.tsx
  next-data/generators/blogData.mjs
  types/blog.ts
  util/__tests__/blogUtils.test.mjs
  util/blogUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

chore: add author avatar into layouts/Post.tsx
  layouts/Post.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update components/Downloads/Release/BitnessDropdown.tsx
  components/Downloads/Release/BitnessDropdown.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update util/detectOS.ts
  util/detectOS.ts
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
