Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

Potential fix for pull request finding
  packages/ui-components/src/Common/Search/Modal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: pride flag
  apps/site/site.json
Due: prettier --write

feat(blog): create post for v26.2.0
  apps/site/pages/en/blog/release/v26.2.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(site): apply absolute positioning and full dimensions to HexagonGrid in OG images
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v24.16.0
  apps/site/pages/en/blog/release/v24.16.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(site): apply absolute positioning and full dimensions to HexagonGrid in OG images (#8909)
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
Due: eslint --fix, prettier --write, prettier --check --write

docs(blog): add usage section for axios-to-fetch article
  apps/site/pages/en/blog/migrations/axios-to-fetch.mdx
Due: eslint --fix, prettier --write, prettier --check --write

docs: remove trailing colon in header
  apps/site/pages/en/blog/migrations/axios-to-fetch.mdx
Due: eslint --fix, prettier --write, prettier --check --write

docs(blog): add usage section for axios-to-fetch article (#8914)
  apps/site/pages/en/blog/migrations/axios-to-fetch.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: enable Twoslash on Cloudflare
  .gitignore
  apps/site/mdx/plugins.mjs
  apps/site/package.json
  apps/site/scripts/twoslash-fsmap/generate.mjs
  apps/site/scripts/twoslash-fsmap/index.mjs
  apps/site/turbo.json
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore(css): use "brand" over "green"
  apps/site/components/Blog/BlogPostCard/index.module.css
  apps/site/components/Common/LinkWithArrow/index.module.css
  packages/ui-components/__design__/colors.stories.tsx
  packages/ui-components/src/Common/AlertBox/index.module.css
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/BadgeGroup/index.module.css
  packages/ui-components/src/Common/Banner/index.module.css
  packages/ui-components/src/Common/BaseButton/index.module.css
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/Common/BasePagination/PaginationListItem/index.module.css
  packages/ui-components/src/Common/Blockquote/index.module.css
  packages/ui-components/src/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  packages/ui-components/src/Common/ChangeHistory/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.module.css
  packages/ui-components/src/Common/DataTag/index.module.css
  packages/ui-components/src/Common/GlowingBackdrop/index.module.css
  packages/ui-components/src/Common/LanguageDropDown/index.module.css
  packages/ui-components/src/Common/Preview/index.module.css
  packages/ui-components/src/Common/Search/Results/Hit/index.module.css
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
  packages/ui-components/src/Common/Select/index.module.css
  packages/ui-components/src/Common/Signature/SignatureHeader/index.module.css
  packages/ui-components/src/Common/Signature/SignatureItem/index.module.css
  packages/ui-components/src/Common/SkipToContentButton/index.module.css
  packages/ui-components/src/Common/Switch/index.module.css
  packages/ui-components/src/Common/Tabs/index.module.css
  packages/ui-components/src/Common/ThemeToggle/index.module.css
  packages/ui-components/src/Containers/Footer/index.module.css
  packages/ui-components/src/Containers/NavBar/NavItem/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/styles/markdown.css
  packages/ui-components/src/styles/theme.css
Due: eslint --fix, prettier --write, prettier --check --write

move `createTwoslasher` to its own file
  apps/site/mdx/create-vfs-twoslasher.mjs
  apps/site/mdx/plugins.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Simplify imports -- remove Promise.all and .then()
  apps/site/mdx/create-vfs-twoslasher.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Simplify generate.mjs using @typescript/vfs
  apps/site/package.json
  apps/site/scripts/twoslash-fsmap/generate.mjs
  apps/site/scripts/twoslash-fsmap/index.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

meta: bump @eslint-react/eslint-plugin from 3.0.0 to 5.8.6
  apps/site/components/Common/FormattedTime.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/package.json
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat: add asdf install method
  apps/site/snippets/en/download/asdf.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/styles/markdown.css
Due: none

feat: enable Twoslash on Cloudflare (#8837)
  .gitignore
  apps/site/mdx/create-vfs-twoslasher.mjs
  apps/site/mdx/plugins.mjs
  apps/site/package.json
  apps/site/scripts/twoslash-fsmap/generate.mjs
  apps/site/scripts/twoslash-fsmap/index.mjs
  apps/site/turbo.json
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

address asdf install feedback
  apps/site/snippets/en/download/asdf.bash
  apps/site/util/download/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(css): use "brand" over "green" (#8915)
  apps/site/components/Blog/BlogPostCard/index.module.css
  apps/site/components/Common/LinkWithArrow/index.module.css
  packages/ui-components/__design__/colors.stories.tsx
  packages/ui-components/src/Common/AlertBox/index.module.css
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/BadgeGroup/index.module.css
  packages/ui-components/src/Common/Banner/index.module.css
  packages/ui-components/src/Common/BaseButton/index.module.css
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/Common/BasePagination/PaginationListItem/index.module.css
  packages/ui-components/src/Common/Blockquote/index.module.css
  packages/ui-components/src/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  packages/ui-components/src/Common/ChangeHistory/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.module.css
  packages/ui-components/src/Common/DataTag/index.module.css
  packages/ui-components/src/Common/GlowingBackdrop/index.module.css
  packages/ui-components/src/Common/LanguageDropDown/index.module.css
  packages/ui-components/src/Common/Preview/index.module.css
  packages/ui-components/src/Common/Search/Results/Hit/index.module.css
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
  packages/ui-components/src/Common/Select/index.module.css
  packages/ui-components/src/Common/Signature/SignatureHeader/index.module.css
  packages/ui-components/src/Common/Signature/SignatureItem/index.module.css
  packages/ui-components/src/Common/SkipToContentButton/index.module.css
  packages/ui-components/src/Common/Switch/index.module.css
  packages/ui-components/src/Common/Tabs/index.module.css
  packages/ui-components/src/Common/ThemeToggle/index.module.css
  packages/ui-components/src/Containers/Footer/index.module.css
  packages/ui-components/src/Containers/NavBar/NavItem/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/styles/markdown.css
  packages/ui-components/src/styles/theme.css
Due: eslint --fix, prettier --write, prettier --check --write

update asdf snippet syntax
  apps/site/snippets/en/download/asdf.bash
Due: none

test: cover install method icon mapping
  apps/site/util/__tests__/download.test.mjs
  apps/site/util/download/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  platforms/cloudflare/package.json
Due: prettier --write

fixup!
  pnpm-lock.yaml
Due: none

fixup!
  platforms/cloudflare/next.config.mjs
  platforms/vercel/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  apps/site/turbo.json
  docs/cloudflare-build-and-deployment.md
  docs/getting-started.md
  docs/technologies.md
  platforms/cloudflare/package.json
  platforms/vercel/package.json
  platforms/vercel/vercel.json
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(download): add asdf install method
  apps/site/snippets/en/download/asdf.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: disable twoslash for cloudflare build
  platforms/cloudflare/create-vfs-twoslasher.mjs
  platforms/cloudflare/mdx.mjs
  platforms/cloudflare/package.json
  platforms/cloudflare/scripts/twoslash-fsmap/generate.mjs
  platforms/cloudflare/scripts/twoslash-fsmap/index.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat: add asdf install method (#8916)
  apps/site/snippets/en/download/asdf.bash
  apps/site/types/release.ts
  apps/site/util/__tests__/download.test.mjs
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove Mastodon from footer social links
  apps/site/navigation.json
Due: prettier --write

fix: make mobile navigation toggle keyboard accessible
  apps/site/tests/e2e/general-behavior.spec.ts
  packages/ui-components/src/Containers/NavBar/index.module.css
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: pride flag (#8904)
  apps/site/site.json
Due: prettier --write

meta: update pnpm from 10.33.2 to 11.5.0
  package.json
Due: prettier --write

fix: show error details outside production
  apps/site/app/[locale]/error.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(i18n): preserve OpenJS Foundation trademark
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/ta.json
Due: prettier --write
