Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Update read environment variables guide update with new .env guidance
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: removed dotenv package docs
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: Update read environment variables guide update with new .env guidance (#6182)
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: news title -> blog
  pages/en/blog/index.md
  pages/en/blog/pagination.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(i18n): modify key
  i18n/locales/en.json
Due: prettier --write, prettier --check --write

add german translation
  i18n/config.json
  i18n/locales/de.json
Due: prettier --write, prettier --check --write

add ide extension
  .vscode/extensions.json
  TRANSLATION.md
  project.inlang/settings.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: news title -> blog (#6183)
  i18n/locales/en.json
  pages/en/blog/index.md
  pages/en/blog/pagination.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.5.0 release post
  pages/en/blog/release/v21.5.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.5.0 release post (#6186)
  pages/en/blog/release/v21.5.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Updation of Nodejs package available for OpenSUSE TumbleWeeed
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

Update package-manager.md
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

Updation of Nodejs package available for OpenSUSE TumbleWeed (#6187)
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: add stylelint-* modules to lint group
  .github/dependabot.yml
Due: prettier --write, prettier --check --write

fix: override stylelint ecosystem
  package.json
Due: prettier --write, prettier --check --write

chore: relax override to only affected module, upgrade rest
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

create tailwind dependabot group
  .github/dependabot.yml
Due: prettier --write, prettier --check --write

upgrade to prettier-plugin-tailwindcss@0.5.10
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

reformatting per prettier
  components/Common/MetaBar/index.module.css
  components/Common/ProgressionSidebar/index.module.css
  components/Common/Sidebar/index.module.css
  components/Containers/Footer/index.module.css
  components/Containers/NavBar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  layouts/New/layouts.module.css
  styles/new/markdown.css
Due: prettier --write, stylelint --allow-empty-input

hotfix: fallback to previous year when no current posts in the year
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: fallback to previous year when no current posts in the year (#6206)
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: properly fallback to most recent year with blog posts
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Expose meta pagination in the API, use for fallback
  app/[locale]/next-data/blog-data/[category]/route.ts
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: add CodeBox component and code tabs plugin
  components/Common/CodeBox/CodeTabs/index.module.css
  components/Common/CodeBox/CodeTabs/index.stories.tsx
  components/Common/CodeBox/CodeTabs/index.tsx
  components/Common/CodeBox/index.module.css
  components/Common/CodeBox/index.stories.tsx
  components/Common/CodeBox/index.tsx
  components/Common/CodeBox/mdx.stories.tsx
  components/Common/Tabs/__tests__/index.test.mjs
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.stories.tsx
  components/Common/Tabs/index.tsx
  i18n/locales/en.json
  next.fonts.ts
  next.mdx.shiki.mjs
  next.mdx.use.mjs
  shiki.config.mjs
  util/getCodeLanguageDisplayName.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: code review changes
  components/Common/CodeBox/CodeTabs/index.tsx
  components/Common/CodeBox/index.stories.tsx
  components/Common/CodeBox/index.tsx
  components/Common/CodeTabs/index.module.css
  components/Common/CodeTabs/index.stories.tsx
  components/Common/CodeTabs/index.tsx
  components/MDX/CodeBox/index.stories.tsx
  components/MDX/CodeBox/index.tsx
  components/MDX/CodeTabs/index.tsx
  next.mdx.mjs
  next.mdx.use.mjs
  package-lock.json
  util/getLanguageDisplayName.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: simplify parts of the code
  components/MDX/CodeTabs/index.tsx
  next.mdx.shiki.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: no need of useMemo
  components/Common/CodeBox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: requires client
  components/MDX/CodeTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Prefer single-line return statements
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

De-duplicate string interpolations for year category
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Add TODO for deprecating year-based pagination
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Include more comments to explain logic flow
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: some code changes
  components/Common/CodeBox/index.stories.tsx
  components/Common/CodeBox/index.tsx
  components/Common/CodeTabs/index.stories.tsx
  components/Downloads/ChangelogModal/index.module.css
  components/MDX/CodeBox/index.stories.tsx
  components/MDX/CodeBox/index.tsx
  components/MDX/CodeTabs/index.stories.tsx
  next.mdx.shiki.mjs
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

hotfix: properly fallback to most recent year with blog posts (#6212)
  app/[locale]/next-data/blog-data/[category]/route.ts
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: codebox styling
  .storybook/main.ts
  components/Common/CodeBox/index.module.css
  components/Common/CodeTabs/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: some code improvements and fixes
  components/Common/CodeBox/index.tsx
  next.mdx.shiki.mjs
  pages/en/blog/release/v18.19.0.md
  pages/en/blog/release/v20.10.0.md
  pages/en/blog/release/v20.6.0.md
  pages/en/blog/release/v20.9.0.md
  pages/en/blog/release/v21.0.0.md
  pages/en/blog/release/v21.1.0.md
  pages/en/blog/release/v21.2.0.md
  pages/en/blog/release/v21.3.0.md
  pages/en/blog/release/v21.4.0.md
  pages/en/blog/release/v21.5.0.md
  scripts/release-post/template.hbs
  styles/old/index.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: fixed two bugs (style and code)
  components/Common/CodeBox/index.module.css
  next.mdx.shiki.mjs
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: revert scrollbar and leadings
  components/Common/CodeBox/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
