Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

chore: synced translations from crowdin [skip ci]
  pages/de/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/de/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/de.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/it.json
Due: prettier --write, prettier --check --write

chore(content): use as 100% new codebox (#6437)
  pages/en/about/index.mdx
  pages/en/learn/asynchronous-work/the-nodejs-event-emitter.md
  pages/en/learn/command-line/accept-input-from-the-command-line-in-nodejs.md
  pages/en/learn/diagnostics/memory/using-gc-traces.md
  pages/en/learn/getting-started/introduction-to-nodejs.md
  pages/en/learn/getting-started/security-best-practices.md
  pages/en/learn/manipulating-files/nodejs-file-paths.md
  pages/en/learn/manipulating-files/nodejs-file-stats.md
  pages/en/learn/manipulating-files/reading-files-with-nodejs.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  pages/en/learn/manipulating-files/working-with-folders-in-nodejs.md
  pages/en/learn/modules/anatomy-of-an-http-transaction.md
  pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(branding): introduce branding page (#6435)
  README.md
  i18n/locales/en.json
  navigation.json
  pages/en/about/branding.mdx
  pages/en/about/index.mdx
  public/static/images/dark-mode.svg
  public/static/images/language-picker.svg
  public/static/images/light-mode.svg
  public/static/images/logo.png
  public/static/images/logo.svg
  public/static/images/logos/nodejs-black.eps
  public/static/images/logos/nodejs-dark.eps
  public/static/images/logos/nodejs-green.eps
  public/static/images/logos/nodejs-light.eps
  public/static/images/logos/nodejs-new-pantone-black.svg
  public/static/images/logos/nodejs-new-pantone-white.svg
  public/static/images/logos/nodejs.png
  public/static/logos/jsIconGreen.svg
  public/static/logos/jsIconWhite.svg
  public/static/logos/nodejsDark.svg
  public/static/logos/nodejsLight.svg
  public/static/logos/nodejsStackedBlack.svg
  public/static/logos/nodejsStackedDark.svg
  public/static/logos/nodejsStackedLight.svg
  public/static/logos/nodejsStackedWhite.svg
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove .hbs on branding
  pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove .hbs on branding (#6466)
  pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat(metabar): allow Avatar
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Containers/MetaBar/index.module.css
  components/withMetaBar.tsx
  layouts/Learn.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Blog: v21.7.1 release post
  pages/en/blog/release/v21.7.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.7.1 release post (#6468)
  pages/en/blog/release/v21.7.1.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: clean up filename comments in homepage code examples
  pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(tabs): do not wrap, scroll instead
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.tsx
  layouts/layouts.module.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore(code): do not wrap, scroll instead
  components/Common/CodeBox/index.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: changelog removed from release and moved to a different endpoint
  app/[locale]/next-data/changelog-data/[version]/route.ts
  components/withChangelogModal.tsx
  next-data/changelogData.ts
  next-data/generators/changelogData.mjs
  next-data/generators/releaseData.mjs
  next-data/providers/changelogData.ts
  types/releases.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: generateStaticParams provides version
  app/[locale]/next-data/changelog-data/[version]/route.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(tabs): use classNames helper
  components/Common/Tabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: ensure homepage layout is responsive on mobile
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: use w-full rather than w-fit for code on homepage
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: Clean up homepage code examples (tweak comments + no wrapping) (#6470)
  components/Common/CodeBox/index.module.css
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.tsx
  layouts/layouts.module.css
  pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Using Next.js Image component in markdown files (#6454)
  components/MDX/Image/index.tsx
  next.config.mjs
  next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove corepack mention
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: npm link to npm version
  components/Downloads/Release/NpmLink.tsx
  components/Downloads/Release/NpmVersion.tsx
  next.mdx.use.mjs
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Update NpmLink.tsx
  components/Downloads/Release/NpmLink.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(styles): overflow
  components/Common/AvatarGroup/index.module.css
  components/withMetaBar.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

story: add more avatar on MetaBar
  components/Containers/MetaBar/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove corepack mention (#6471)
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix stuff
  components/Downloads/Release/NpmLink.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: update incorrect code comments regarding dynamicParams
  app/[locale]/feed/[feed]/route.ts
  app/[locale]/next-data/og/route.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: update incorrect code comments regarding dynamicParams (#6473)
  app/[locale]/feed/[feed]/route.ts
  app/[locale]/next-data/og/route.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update next.mdx.use.mjs
  next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: npm link to npm version (#6472)
  components/Downloads/Release/NpmLink.tsx
  components/Downloads/Release/NpmVersion.tsx
  next.mdx.use.mjs
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: Orama remote image pattern
  next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: Orama remote image pattern (#6474)
  next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

build(dep): add million
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

infra(nextjs): use millionjs
  next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

docs: add MillionJS
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: added million.js compiler (react) and updated packages
  next.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
