Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

Add contribute link to navbar (#7274)
  apps/site/navigation.json
  apps/site/pages/en/about/get-involved/contribute.md
  apps/site/redirects.json
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

meta: upgrade to node v22 (#7282)
  .nvmrc
  apps/site/package.json
  package-lock.json
  package.json
  packages/i18n/package.json
Due: prettier --write, prettier --check --write

content(blog/events): Dublin collab summit 2024 (#7215)
  apps/site/authors.json
  apps/site/pages/en/blog/events/collab-summit-2024-dublin.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: turbo config for i18n
  packages/i18n/turbo.json
Due: prettier --write, prettier --check --write

hotfix: only one og (#7291)
  apps/site/next.dynamic.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(cache): remove cache rules from fetch() (#7270)
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/next-data/blogData.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.calendar.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: include npm audit reference link (#7309)
  apps/site/pages/en/learn/getting-started/security-best-practices.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: trigger crowdin one more time
  crowdin.yml
Due: prettier --write, prettier --check --write

hotfix: move i18n formatting to sync workflow
  .github/workflows/translations-pr-lint-and-format.yml
  .github/workflows/translations-pr-lint.yml
  .github/workflows/translations-sync.yml
  .github/workflows/translations-upload.yml
Due: prettier --write, prettier --check --write

Fix button focus (#7287)
  apps/site/components/Common/Button/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: assign job output
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

hotfix: don't warn on workflow_run events
  .github/workflows/translations-pr-lint-and-format.yml
Due: prettier --write, prettier --check --write

feat(banner): add cyber week (#7311)
  apps/site/site.json
Due: prettier --write, prettier --check --write

hotfix: add preserve_hierarchy to crowdin
  crowdin.yml
Due: prettier --write, prettier --check --write

hotfix: remove ci-skip
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

Fix: whitespace between the main content and progressive sidebar (#7271)
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

Blog: v23.4.0 release post (#7325)
  apps/site/pages/en/blog/release/v23.4.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

update hardcoded nvm version (#7323)
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Automated, scheduled crowdin sync (#7272)
  .github/workflows/translations-pr-lint-and-format.yml
  .github/workflows/translations-sync.yml
  .github/workflows/translations-upload.yml
  TRANSLATION.md
  crowdin.yml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add CSS structure for country-specific style overrides (#7326) (#7327)
  apps/site/styles/index.css
  apps/site/styles/locals.css
Due: prettier --write, stylelint --allow-empty-input

docs: fix typos in wasm mjs example (#7333)
  apps/site/pages/en/learn/getting-started/nodejs-with-webassembly.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: allow a workflow to trigger another workflow
  .github/workflows/translations-pr-lint-and-format.yml
Due: prettier --write, prettier --check --write

hotfix: fix typos, trigger crowdin sync
  apps/site/pages/en/blog/npm/managing-node-js-dependencies-with-shrinkwrap.md
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
  apps/site/pages/en/learn/getting-started/security-best-practices.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: crowdin action needs the config
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

meta: add security-wg as owners of security practices (#7310)
  CODEOWNERS
Due: none

hotfix: wat on completion of first job
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

Blog: v23.5.0 release post (#7341)
  apps/site/pages/en/blog/release/v23.5.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: specify branch name
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

hotfix: reference job correctly
  .github/workflows/translations-sync.yml
Due: prettier --write, prettier --check --write

Enable spanish (#7334)
  packages/i18n/config.json
Due: prettier --write, prettier --check --write

feat(search): implements Orama searchbox (#6908)
  apps/site/components/Common/Search/States/WithAllResults.tsx
  apps/site/components/Common/Search/States/WithError.tsx
  apps/site/components/Common/Search/States/WithNoResults.tsx
  apps/site/components/Common/Search/States/WithPoweredBy.tsx
  apps/site/components/Common/Search/States/WithSearchBox.tsx
  apps/site/components/Common/Search/States/WithSearchResult.tsx
  apps/site/components/Common/Search/States/index.module.css
  apps/site/components/Common/Search/index.module.css
  apps/site/components/Common/Search/index.tsx
  apps/site/components/Common/Search/utils.ts
  apps/site/components/Containers/NavBar/index.tsx
  apps/site/components/MDX/SearchPage/index.module.css
  apps/site/components/MDX/SearchPage/index.tsx
  apps/site/hooks/react-client/__tests__/useBottomScrollListener.test.mjs
  apps/site/hooks/react-client/__tests__/useClickOutside.test.mjs
  apps/site/hooks/react-client/__tests__/useKeyboardCommands.test.mjs
  apps/site/hooks/react-client/index.ts
  apps/site/hooks/react-client/useBottomScrollListener.ts
  apps/site/hooks/react-client/useClickOutside.ts
  apps/site/hooks/react-client/useKeyboardCommands.ts
  apps/site/next.constants.mjs
  apps/site/next.mdx.use.mjs
  apps/site/next.orama.mjs
  apps/site/package.json
  apps/site/pages/en/search.mdx
  apps/site/pages/fa/search.mdx
  apps/site/pages/fr/search.mdx
  apps/site/pages/id/search.mdx
  apps/site/pages/ja/search.mdx
  apps/site/pages/ko/search.mdx
  apps/site/pages/pt/search.mdx
  apps/site/pages/tr/search.mdx
  apps/site/pages/uk/search.mdx
  apps/site/pages/zh-cn/search.mdx
  apps/site/pages/zh-tw/search.mdx
  apps/site/scripts/orama-search/get-documents.mjs
  apps/site/types/index.ts
  apps/site/types/search.ts
  apps/site/util/searchUtils.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: remove vestigial commitizen references (#7317)
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

hotfix: provide proper context to workflow
  .github/workflows/translations-pr-lint-and-format.yml
Due: prettier --write, prettier --check --write

docs: Updated a string in array of code example
  apps/site/pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(blog): fix pubdate of upcoming-cve-for-eol-versions
  apps/site/pages/en/blog/vulnerability/upcoming-cve-for-eol-versions.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: add Devbox as commumity download option (#7370)
  apps/site/components/Icons/InstallationMethod/Devbox.tsx
  apps/site/components/Icons/InstallationMethod/index.ts
  apps/site/components/__design__/platform-logos.stories.tsx
  apps/site/snippets/en/download/devbox.bash
  apps/site/types/release.ts
  apps/site/util/downloadUtils.tsx
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: add security pre-release announcement
  apps/site/pages/en/blog/release/january-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! Blog: add security pre-release announcement
  apps/site/pages/en/blog/release/january-2025-security-releases.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: add alternative samples & configs
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
