Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add lint group to dependabot (#5565)
  .github/dependabot.yml
Due: prettier --write

chore: add eslint-plugin-storybook to storybook group (#5566)
  .github/dependabot.yml
Due: prettier --write

chore: ignore semver-major versions of @types/node (#5570)
  .github/dependabot.yml
  DEPENDENCY_PINNING.md
Due: eslint --fix, prettier --write

chore: skip on dependabot
  .github/workflows/pull-request-target.yml
Due: prettier --write

chore: group jest and RTL dependencies (#5571)
  .github/dependabot.yml
Due: prettier --write

Update next.rewrites.mjs
  next.rewrites.mjs
Due: eslint --fix, prettier --write

chore: improve redirects (#5587)
  next.rewrites.mjs
Due: eslint --fix, prettier --write

fix: sitemap url for production deployments
  next.constants.mjs
Due: eslint --fix, prettier --write

chore: prettier
  next.constants.mjs
Due: eslint --fix, prettier --write

Added '@typescript-eslint/recommended' to ESLint (#5547)
  .eslintrc.json
  components/AnchoredHeading.tsx
  components/Common/Dropdown/index.stories.tsx
  components/SideNavigation.tsx
  hooks/useNavigation.tsx
  middleware.ts
  providers/withNodeRelease.tsx
  util/getNodeJsChangelog.ts
  util/nodeRelease.ts
Due: eslint --fix, prettier --write

fix: prefer `NEXT_PUBLIC_BASE_URL`
  next.constants.mjs
Due: eslint --fix, prettier --write

fix: sitemap url for production deployments (#5599)
  next.constants.mjs
Due: eslint --fix, prettier --write

chore: updated deployment rules
  README.md
Due: eslint --fix, prettier --write

New translations index.md (Belarusian) chore(i18n): added new translations from crowdin
  pages/be/about/index.md
Due: eslint --fix, prettier --write

New translations index.md (Belarusian) chore(i18n): added new translations from crowdin
  pages/be/docs/guides/diagnostics/live-debugging/index.md
Due: eslint --fix, prettier --write

New translations releases.md (Belarusian) chore(i18n): added new translations from crowdin
  pages/be/download/releases.md
Due: eslint --fix, prettier --write

chore: configuration for merge queues (#5592)
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

meta: added chromatic for visual regression tests
  .github/workflows/pull-request.yml
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: remove snapshots
  components/Api/ApiChanges/__snapshots__/index.stories.tsx.snap
  components/Api/Stability/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
  components/Article/BlockQuote/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/EditLink/__snapshots__/index.stories.tsx.snap
  components/Article/InlineCode/__snapshots__/index.stories.tsx.snap
  components/Blog/BlogCard/__snapshots__/index.stories.tsx.snap
  components/Common/AnimatedPlaceholder/__snapshots__/index.stories.tsx.snap
  components/Common/Banner/__snapshots__/index.stories.tsx.snap
  components/Common/DarkModeToggle/__snapshots__/index.stories.tsx.snap
  components/Common/Dropdown/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Downloads/DownloadToggle/__snapshots__/index.stories.tsx.snap
  components/Home/NodeFeatures/__snapshots__/index.stories.tsx.snap
  components/Learn/PreviousNextLink/__snapshots__/index.stories.tsx.snap
  components/Sections/NewFooter/__snapshots__/index.stories.tsx.snap
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
Due: none

chore: remove storybook test runner and snapshot tests
  .github/workflows/pull-request.yml
  .storybook/test-runner.ts
  CONTRIBUTING.md
  package-lock.json
  package.json
  turbo.json
Due: eslint --fix, prettier --write

chore: added jest-junit reporter
  package-lock.json
  package.json
Due: prettier --write

chore: remove unrelated change
  package.json
Due: prettier --write

chore: add chromatic with secret token
  .github/workflows/pull-request-target.yml
Due: prettier --write

chore: remove snapshots
  components/Api/DataTag/__snapshots__/index.stories.ts.snap
  components/Api/JsonLink/__snapshots__/index.stories.ts.snap
  components/Api/SourceLink/__snapshots__/index.stories.ts.snap
  components/Article/Alert/__snapshots__/index.stories.ts.snap
  components/Common/SectionTitle/__snapshots__/index.stories.ts.snap
Due: none

chore: build storybook
  .github/workflows/pull-request.yml
Due: prettier --write

chore: no --ci argument
  .github/workflows/pull-request.yml
Due: prettier --write

chore: removed old chromatic command
  .github/workflows/pull-request.yml
Due: prettier --write

chore: no need of chromatic package anymore
  package-lock.json
  package.json
Due: prettier --write

chore: updated environment name
  .github/workflows/pull-request-target.yml
Due: prettier --write

chore: updated conditions for dependabot PRs and Merge Queues
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

meta: added chromatic for visual regression tests (#5583)
  .github/workflows/build.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  .storybook/test-runner.ts
  CONTRIBUTING.md
  README.md
  components/Api/ApiChanges/__snapshots__/index.stories.tsx.snap
  components/Api/DataTag/__snapshots__/index.stories.ts.snap
  components/Api/JsonLink/__snapshots__/index.stories.ts.snap
  components/Api/SourceLink/__snapshots__/index.stories.ts.snap
  components/Api/Stability/__snapshots__/index.stories.tsx.snap
  components/Article/Alert/__snapshots__/index.stories.ts.snap
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
  components/Article/BlockQuote/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/EditLink/__snapshots__/index.stories.tsx.snap
  components/Article/InlineCode/__snapshots__/index.stories.tsx.snap
  components/Blog/BlogCard/__snapshots__/index.stories.tsx.snap
  components/Common/AnimatedPlaceholder/__snapshots__/index.stories.tsx.snap
  components/Common/Banner/__snapshots__/index.stories.tsx.snap
  components/Common/DarkModeToggle/__snapshots__/index.stories.tsx.snap
  components/Common/Dropdown/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Common/SectionTitle/__snapshots__/index.stories.ts.snap
  components/Downloads/DownloadToggle/__snapshots__/index.stories.tsx.snap
  components/Home/NodeFeatures/__snapshots__/index.stories.tsx.snap
  components/Learn/PreviousNextLink/__snapshots__/index.stories.tsx.snap
  components/Sections/NewFooter/__snapshots__/index.stories.tsx.snap
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
  package-lock.json
  package.json
  turbo.json
Due: eslint --fix, prettier --write

fix: hot-fix pull-request templates
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  README.md
Due: eslint --fix, prettier --write

fix: hot-fix turbo env variables
  turbo.json
Due: prettier --write

fix: Incorrect anchor tag
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write

resolve conflicts
  next.dynamic.mjs
  package-lock.json
  package.json
  pages/en/download/package-manager.md
  providers/mdxProvider.tsx
Due: eslint --fix, prettier --write

update rehype plugins
  next.dynamic.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

update package.json, package-lock.json
  package-lock.json
  package.json
Due: prettier --write

undo changes in package-manager.md
  package-lock.json
  package.json
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{mjs,ts,tsx,md,mdx})
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.{mjs,ts,tsx,md,mdx,json,yml})
