Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

meta: updated translations
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
Due: prettier --write, prettier --check --write

chore: removed language picker from legacy-main
  components/Header.tsx
  public/static/js/legacyMain.js
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: Update security-reporting.md badge styling
  pages/en/about/security-reporting.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: sidenav support recursive items
  components/SideNavigation.tsx
  hooks/useNavigation.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: added learn layout
  layouts/LearnLayout.tsx
  providers/layoutProvider.tsx
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: added learn navigation
  navigation.json
  types/navigation.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: added new translation ids
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
Due: prettier --write, prettier --check --write

feat: mark docs as archive
  layouts/DocsLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: improved styles, use grid system
  styles/old/index.css
  styles/old/layout/main.css
Due: prettier --write, stylelint --allow-empty-input

feat: added learn pages, removed duplicated/outdated guides
  pages/en/docs/guides/buffer-constructor-deprecation.md
  pages/en/docs/guides/domain-postmortem.md
  pages/en/docs/guides/getting-started-guide.md
  pages/en/docs/guides/index.md
  pages/en/docs/guides/nodejs-docker-webapp.md
  pages/en/docs/guides/timers-in-node.md
  pages/en/learn/asynchronous-work/asynchronous-flow-control.md
  pages/en/learn/asynchronous-work/discover-javascript-timers.md
  pages/en/learn/asynchronous-work/javascript-asynchronous-programming-and-callbacks.md
  pages/en/learn/asynchronous-work/overview-of-blocking-vs-non-blocking.md
  pages/en/learn/asynchronous-work/the-nodejs-event-emitter.md
  pages/en/learn/asynchronous-work/understanding-processnexttick.md
  pages/en/learn/asynchronous-work/understanding-setimmediate.md
  pages/en/learn/command-line/accept-input-from-the-command-line-in-nodejs.md
  pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
  pages/en/learn/command-line/how-to-use-the-nodejs-repl.md
  pages/en/learn/command-line/output-to-the-command-line-using-nodejs.md
  pages/en/learn/command-line/run-nodejs-scripts-from-the-command-line.md
  pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
  pages/en/learn/getting-started/differences-between-nodejs-and-the-browser.md
  pages/en/learn/getting-started/ecmascript-2015-es6-and-beyond.md
  pages/en/learn/getting-started/how-much-javascript-do-you-need-to-know-to-use-nodejs.md
  pages/en/learn/getting-started/how-to-install-nodejs.md
  pages/en/learn/getting-started/introduction-to-nodejs.md
  pages/en/learn/getting-started/nodejs-the-difference-between-development-and-production.md
  pages/en/learn/getting-started/nodejs-with-typescript.md
  pages/en/learn/getting-started/nodejs-with-webassembly.md
  pages/en/learn/getting-started/the-v8-javascript-engine.md
  pages/en/learn/index.md
  pages/en/learn/manipulating-files/nodejs-file-paths.md
  pages/en/learn/manipulating-files/nodejs-file-stats.md
  pages/en/learn/manipulating-files/reading-files-with-nodejs.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  pages/en/learn/manipulating-files/working-with-folders-in-nodejs.md
  pages/en/learn/manipulating-files/writing-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: added images
  public/static/images/learn/javascript-timers/recursive-settimeout.png
  public/static/images/learn/javascript-timers/setinterval-ok.png
  public/static/images/learn/javascript-timers/setinterval-overlapping.png
  public/static/images/learn/javascript-timers/setinterval-varying-duration.png
Due: none

meta: crowdin no translations for learn
  crowdin.yml
Due: prettier --write, prettier --check --write

chore: updated redirects
  redirects.json
Due: prettier --write, prettier --check --write

meta: no need of package-name for private package
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

feat: Add SidebarItem, sideBarGroup and sideBar components
  components/Common/Sidebar/index.module.css
  components/Common/Sidebar/index.stories.tsx
  components/Common/Sidebar/index.tsx
  components/Common/SidebarGroup/index.module.css
  components/Common/SidebarGroup/index.stories.tsx
  components/Common/SidebarGroup/index.tsx
  components/Common/SidebarItem/index.module.css
  components/Common/SidebarItem/index.stories.tsx
  components/Common/SidebarItem/index.tsx
  types/sidebar.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Add styling to sideBarGroup
  components/Common/SidebarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Apply suggestions from code review
  components/SideNavigation.tsx
  styles/old/layout/main.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

style: use flexboxes
  styles/old/index.css
  styles/old/layout/grid.css
  styles/old/layout/main.css
Due: prettier --write, stylelint --allow-empty-input

Fix: broken link (about page) blocking vs. non-blocking
  pages/en/about/index.md
Due: eslint --fix, prettier --write, prettier --check --write

Update components/Common/Sidebar/index.tsx
  components/Common/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update types/sidebar.ts
  types/sidebar.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update components/Common/SidebarItem/index.module.css
  components/Common/SidebarItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Update components/Common/SidebarItem/index.tsx
  components/Common/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: refactored component structure for sidebar
  components/Common/Sidebar/SidebarGroup/index.module.css
  components/Common/Sidebar/SidebarGroup/index.tsx
  components/Common/Sidebar/SidebarItem/index.module.css
  components/Common/Sidebar/SidebarItem/index.tsx
  components/Common/Sidebar/index.tsx
  components/Common/SidebarGroup/index.stories.tsx
  components/Common/SidebarItem/index.stories.tsx
  components/Common/SidebarItem/index.tsx
  types/sidebar.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Fix: broken link (about page) blocking vs. non-blocking (#6067)
  pages/en/about/index.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: self-code-review and adjustments
  components/SideNavigation.tsx
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
  styles/old/layout/main.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Main layout container flex direction
  styles/old/layout/main.css
Due: prettier --write, stylelint --allow-empty-input

fix: Main layout container flex direction (#6069)
  styles/old/layout/main.css
Due: prettier --write, stylelint --allow-empty-input

feat: nextjs and mdx compiler
  next.config.mjs
  next.dynamic.mjs
  next.mdx.compiler.mjs
  next.mdx.mjs
  package-lock.json
  package.json
  pages/en/index.mdx
  providers/mdxProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: just some text
  providers/mdxProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: some comments
  next.mdx.compiler.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: attempts on improving the performance
  next.dynamic.mjs
  next.mdx.compiler.mjs
  next.mdx.mjs
  package-lock.json
  package.json
  pages/[...path].tsx
  pages/en/docs/guides/debugging-getting-started.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: code review changes and fixes
  next.dynamic.mjs
  next.mdx.mjs
Due: eslint --fix, prettier --write, prettier --check --write
