Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

format after refactor
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/types/vulnerabilities.ts
Due: eslint --fix, prettier --write, prettier --check --write

memoize calls
  apps/site/components/EOL/EOLModal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

simplify translation call
  apps/site/components/EOL/EOLModal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: revert downloadbutton
  apps/site/components/Downloads/DownloadButton/index.module.css
  apps/site/components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: missing exports
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/components/Downloads/ReleaseOverview/index.tsx
  apps/site/next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): make LinkWithArrow behave like accessible button for modal open
  apps/site/components/Common/LinkWithArrow/index.module.css
  apps/site/components/Common/LinkWithArrow/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/DownloadReleasesTable/DetailsButton.tsx
  apps/site/components/Downloads/Release/ChangelogLink.tsx
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/LinkWithArrow.tsx
  apps/site/next.config.mjs
  apps/site/next.mdx.use.mjs
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix lockfile
  pnpm-lock.yaml
Due: none

apply suggestion
  apps/site/components/EOL/VulnerabilitiesTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

apply linter
  apps/site/components/EOL/VulnerabilitiesTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: stateless select used instead of the HTML details element
  apps/site/components/withDownloadArchive.tsx
  apps/site/components/withReleaseSelect.tsx
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/download/archive.mdx
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: group download archive navigation by release status
  apps/site/components/withReleaseSelect.tsx
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: placeholder for non latest versions
  apps/site/pages/en/download/archive.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix casing
  apps/site/next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: fixed header for scrollable table, minor version identifier and stateless select fixes
  apps/site/components/Downloads/MinorReleasesTable/index.module.css
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  apps/site/util/download/archive.tsx
  packages/ui-components/src/Common/Select/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fix: dark mode border color
  apps/site/components/Downloads/MinorReleasesTable/index.module.css
Due: none

fix: duplicated alertbox message
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Exclude ThemeToggle btn from SSR
  apps/site/components/withNavBar.tsx
  apps/site/tests/e2e/general-behavior.spec.ts
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Containers/NavBar/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

chore: bump `@opennextjs/cloudflare` to `1.6.4`
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump `@opennextjs/cloudflare` to `1.6.4` (#8065)
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

refator vulnerability grouping, add unit tests
  apps/site/next-data/generators/__tests__/vulnerabilities.test.mjs
  apps/site/next-data/generators/vulnerabilities.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(ci): request reviews from API experts
  .github/CODEOWNERS
  .github/workflows/request-codeowner-review.yml
Due: prettier --write

hotfix(css): reference index in Turtle css
  apps/site/components/Common/Turtle/index.module.css
Due: none

hotfix(css): reference index in Turtle css (#8066)
  apps/site/components/Common/Turtle/index.module.css
Due: none

avoid passing modal via frontmatter
  apps/site/app/[locale]/page.tsx
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/withLayout.tsx
  apps/site/pages/en/about/previous-releases.mdx
  apps/site/pages/en/eol.mdx
  apps/site/providers/modalProvider.tsx
  apps/site/types/modal.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(remark-lint): add
  .github/workflows/publish-packages.yml
  apps/site/.remarkrc.json
  apps/site/package.json
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  packages/remark-lint/.lintstagedrc.json
  packages/remark-lint/README.md
  packages/remark-lint/eslint.config.js
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/index.mjs
  packages/remark-lint/src/rules/__tests__/duplicate-stability-nodes.test.mjs
  packages/remark-lint/src/rules/__tests__/hashed-self-references.test.mjs
  packages/remark-lint/src/rules/__tests__/ordered-references.test.mjs
  packages/remark-lint/src/rules/__tests__/required-metadata.test.mjs
  packages/remark-lint/src/rules/__tests__/utils.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/hashed-self-reference.mjs
  packages/remark-lint/src/rules/ordered-references.mjs
  packages/remark-lint/src/rules/required-metadata.mjs
  packages/remark-lint/src/rules/yaml/__tests__/ordered-yaml-keys.test.mjs
  packages/remark-lint/src/rules/yaml/__tests__/utils.mjs
  packages/remark-lint/src/rules/yaml/__tests__/validate-changes.test.mjs
  packages/remark-lint/src/rules/yaml/__tests__/validate-versions.test.mjs
  packages/remark-lint/src/rules/yaml/index.mjs
  packages/remark-lint/src/rules/yaml/ordered-yaml-keys.mjs
  packages/remark-lint/src/rules/yaml/validate-changes.mjs
  packages/remark-lint/src/rules/yaml/validate-versions.mjs
  packages/remark-lint/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix lockfile
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(learn): env var tutorial link to latest docs (#7996)
  apps/site/pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

generify modal props
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/components/withLayout.tsx
  apps/site/providers/modalProvider.tsx
  apps/site/types/modal.ts
Due: eslint --fix, prettier --write, prettier --check --write

move checks into children components
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/components/EOL/UnknownSeveritySection/index.tsx
  apps/site/components/EOL/VulnerabilitiesTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

pass all vulns to children
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/components/EOL/UnknownSeveritySection/index.tsx
  apps/site/types/vulnerabilities.ts
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/types/vulnerabilities.ts
Due: eslint --fix, prettier --write, prettier --check --write

no modal provider
  apps/site/components/Downloads/DownloadReleasesTable/DetailsButton.tsx
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/EOL/KnownSeveritySection/index.tsx
  apps/site/providers/modalProvider.tsx
  apps/site/types/index.ts
  apps/site/types/modal.ts
Due: eslint --fix, prettier --write, prettier --check --write

rename ref to url
  apps/site/components/EOL/VulnerabilitiesTable/index.tsx
  apps/site/components/EOL/VulnerabilityChips/Chip/index.tsx
  apps/site/components/EOL/VulnerabilityChips/index.tsx
  apps/site/next-data/generators/vulnerabilities.mjs
  apps/site/types/vulnerabilities.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix type
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: unnecessary use client usage
  apps/site/components/Downloads/DownloadsTable/index.tsx
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: throw error when version not exist
  apps/site/components/withDownloadArchive.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: dynamic markdown routes
  apps/site/app/[locale]/page.tsx
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  apps/site/components/withMarkdownContent.tsx
  apps/site/layouts/DownloadArchive.tsx
  apps/site/next-data/generators/releaseVersions.mjs
  apps/site/next-data/providers/releaseVersions.ts
  apps/site/next.dynamic.constants.mjs
  apps/site/next.dynamic.mjs
  apps/site/pages/en/download/archive/index.mdx
  apps/site/util/download/archive.tsx
Due: eslint --fix, prettier --write, prettier --check --write
