Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

fixup!
  apps/site/pages/en/about/get-involved/index.md
  apps/site/redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/redirects.json
Due: prettier --write

fixup!
  apps/site/navigation.json
Due: prettier --write

fixup!
  crowdin.yml
Due: prettier --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/partners.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8782)
  apps/site/snippets/ja/download/docker.bash
  apps/site/snippets/ro/download/docker.bash
  apps/site/snippets/uk/download/docker.bash
  packages/i18n/package.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/uk.json
Due: prettier --write

feat(ui): improve partner grid layout on download page (#8750)
  apps/site/components/Common/Partners/index.module.css
Due: none

fix: hide irrelevant download install options
  apps/site/components/Downloads/Release/InstallationMethodDropdown.tsx
  apps/site/util/__tests__/download.test.mjs
  apps/site/util/download/constants.json
Due: eslint --fix, prettier --write, prettier --check --write

feat: add asdf download method
  apps/site/snippets/en/download/asdf.bash
  apps/site/types/release.ts
  apps/site/util/__tests__/download.test.mjs
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Common/Select/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): make mobile nav toggle keyboard accessible
  packages/ui-components/src/Containers/NavBar/__tests__/index.test.jsx
  packages/ui-components/src/Containers/NavBar/index.module.css
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): correct typographical errors in multiple blog files
  apps/site/pages/en/blog/announcements/v20-release-announce.md
  apps/site/pages/en/blog/release/v12.17.0.md
  apps/site/pages/en/blog/release/v16.17.0.md
  apps/site/pages/en/blog/release/v18.14.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): revert commit message changes and fix additional typos
  apps/site/pages/en/blog/release/v16.17.0.md
  apps/site/pages/en/blog/release/v23.0.0.md
  apps/site/pages/en/blog/vulnerability/july-2022-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Add AGENTS.md with Cursor Cloud development instructions
  AGENTS.md
Due: eslint --fix, prettier --write, prettier --check --write

Add AI Coding Assistants Policy to footer
  apps/site/components/withLegal.tsx
  apps/site/navigation.json
  apps/site/next.constants.mjs
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

Update footer links order
  apps/site/navigation.json
Due: prettier --write

Fix external links in sitemap
  apps/site/app/sitemap.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: make navbar re-appear on upward scroll
  apps/site/components/withNavBar.tsx
  apps/site/hooks/client/__tests__/useScrollDirection.test.mjs
  apps/site/hooks/client/index.ts
  apps/site/hooks/client/useScrollDirection.ts
  apps/site/hooks/server/index.ts
  apps/site/hooks/server/useScrollDirection.ts
  packages/ui-components/src/Containers/NavBar/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fixup! rebase
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add AI Coding Assistants Policy to footer (#8807)
  apps/site/app/sitemap.ts
  apps/site/components/withLegal.tsx
  apps/site/navigation.json
  apps/site/next.constants.mjs
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): correct typographical errors in multiple blog files (#8803)
  apps/site/pages/en/blog/announcements/v20-release-announce.md
  apps/site/pages/en/blog/release/v12.17.0.md
  apps/site/pages/en/blog/release/v18.14.0.md
  apps/site/pages/en/blog/release/v23.0.0.md
  apps/site/pages/en/blog/vulnerability/july-2022-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/next-data/generators/supportersData.mjs
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Fix supporters data pagination and dedup regressions
  apps/site/components/Common/Supporters/index.tsx
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: update supporters data mapping to include source and adjust URL handling
  apps/site/components/Common/Supporters/index.tsx
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor: consolidate GraphQL queries for sponsorships and donations in supportersData.mjs
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor: streamline fetching of GitHub sponsors by combining sponsorships and donations queries
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

test: add end-to-end test for partners page to verify no 500 error
  apps/site/tests/e2e/supporters-page.spec.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: simplify cursor handling and clean up sponsor field mapping in GraphQL queries
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct wording in supporters section for clarity
  apps/site/pages/en/about/partners.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: standardize naming for GitHub sponsor supporter and update API key handling
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/site/next-data/generators/supportersData.mjs
  apps/site/types/supporters.ts
Due: eslint --fix, prettier --write, prettier --check --write

remove test
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/site/tests/e2e/supporters-page.spec.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: create release schedule component
  apps/site/components/Releases/ReleaseSchedule/index.tsx
  apps/site/mdx/components.mjs
  apps/site/next-data/generators/releaseSchedule.mjs
  apps/site/next-data/providers/releaseSchedule.ts
  apps/site/next-env.d.ts
  apps/site/next.constants.mjs
  apps/site/package.json
  apps/site/pages/en/about/previous-releases.mdx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

refactor: review
  apps/site/components/Releases/ReleaseSchedule/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: nits
  apps/site/next-data/generators/releaseSchedule.mjs
  apps/site/next-data/providers/releaseSchedule.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: revert next-env.d.ts
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, prettier --check --write
