Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

feat(favicon): use standardized icon (#7928)
  apps/site/public/static/images/favicons/android-chrome-192x192.png
  apps/site/public/static/images/favicons/android-chrome-512x512.png
  apps/site/public/static/images/favicons/favicon.png
  apps/site/public/static/images/logo-hexagon-card.png
Due: none

fix(learn): current sendMail typo (#7940)
  apps/site/pages/en/learn/asynchronous-work/asynchronous-flow-control.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): broken translation link
  .github/workflows/translations-pr-lint.yml
Due: prettier --write

fix: change choco download snippets to use nodejs package, and specify full version in version arg
  apps/site/snippets/en/download/choco.bash
Due: none

fix(ci): broken translation link (#7945)
  .github/workflows/translations-pr-lint.yml
Due: prettier --write

chore: delete empty file
  packages/ui-components/Containers/DocSideBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix tests
  packages/ui-components/src/Common/BasePagination/PaginationListItem/__tests__/index.test.jsx
  packages/ui-components/src/Common/BasePagination/__tests__/index.test.jsx
Due: none

docs: link event loop
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(styles): update sidebar link hover color to neutral grey for better contrast (#7894)
  packages/ui-components/Containers/MetaBar/index.module.css
Due: none

fix(sidebar): update hover to neutral grey for consistency with nav links
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
Due: none

chore: remove unrelated style changes, keep necessary margin and rounded corners
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
Due: none

chore(styles): revert unrelated changes and keep only sidebar hover fix (#7894)
  packages/ui-components/Containers/MetaBar/index.module.css
Due: none

chore: delete empty file (#7947)
  packages/ui-components/Containers/DocSideBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

site: fix sudden success clipboard animation
  apps/site/components/Common/CodeBox.tsx
  apps/site/providers/notificationProvider.tsx
  packages/ui-components/Common/Notification/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fix: include right-arrow icon in hover background; remove margin, rounded corners, and clean unrelated styles as per review
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: pipe the webServer output for cloudflare playwright runs
  apps/site/playwright.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/pages/en/blog/announcements/foundation-advances-growth.md
  apps/site/pages/en/blog/release/v0.10.29.md
  apps/site/pages/en/blog/release/v0.8.1.md
  apps/site/pages/en/blog/release/v0.8.17.md
  apps/site/pages/en/blog/release/v0.8.27.md
  apps/site/pages/en/blog/release/v10.15.1.md
  apps/site/pages/en/blog/release/v14.15.4.md
  apps/site/pages/en/blog/release/v15.5.1.md
  apps/site/pages/en/blog/release/v16.15.1.md
  apps/site/pages/en/blog/release/v20.12.0.md
  apps/site/pages/en/blog/release/v21.7.0.md
  apps/site/pages/en/blog/release/v5.10.1.md
  apps/site/pages/en/blog/release/v8.0.0.md
  apps/site/pages/en/blog/release/v8.1.1.md
  apps/site/pages/en/blog/release/v8.2.0.md
  apps/site/pages/en/blog/release/v8.3.0.md
  apps/site/pages/en/blog/release/v8.4.0.md
  apps/site/pages/en/blog/release/v9.0.0.md
  apps/site/pages/en/blog/release/v9.7.0.md
  apps/site/pages/en/blog/uncategorized/10-lts-to-12-lts.md
  apps/site/pages/en/blog/weekly/weekly-update.2015-02-13.md
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
  docs/getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(sidebar): move flex styles to CSS file & adding margin , rounded on item
  packages/ui-components/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: add hover effect to blog page menu links (#7952)
  packages/ui-components/Common/BaseLinkTabs/index.module.css
Due: none

fix(downloads/choco): use current name/version (#7944)
  apps/site/snippets/en/download/choco.bash
Due: none

feat(get-involved): add `r/node`
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix import
  packages/ui-components/.storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Delete packages/ui-components/.DS_Store
  packages/ui-components/.DS_Store
Due: none

feat(ui-components): prepublish
  .github/workflows/publish-packages.yml
  .gitignore
  .prettierignore
  apps/site/styles/effects.css
  apps/site/styles/locales.css
  eslint.config.js
  packages/ui-components/.stylelintignore
  packages/ui-components/package.json
  packages/ui-components/src/scripts/publish.mjs
  packages/ui-components/src/styles/base.css
  packages/ui-components/src/styles/effects.css
  packages/ui-components/src/styles/index.css
  packages/ui-components/src/styles/markdown.css
  packages/ui-components/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix css
  apps/site/styles/effects.css
  apps/site/styles/locales.css
  packages/ui-components/package.json
  packages/ui-components/src/styles/base.css
  packages/ui-components/src/styles/effects.css
  packages/ui-components/src/styles/index.css
  packages/ui-components/src/styles/markdown.css
Due: prettier --write

fix: setImmediate docs
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: format
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: drop 'immediately'
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct event loop terminology
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: make setImmediate docs more beginner-friendly.
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(get-involved): add `r/node` (#7954)
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(learn): improve `setImmediate` in Promises article (#7677)
  apps/site/pages/en/learn/asynchronous-work/discover-promises-in-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: pipe the webServer output for cloudflare playwright runs (#7951)
  apps/site/playwright.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

undo un-needed tsconfig changes
  packages/ui-components/tsconfig.json
Due: prettier --write

add code comment
  packages/ui-components/src/scripts/publish.mjs
Due: eslint --fix, prettier --write, prettier --check --write

ts-ignore root-level files
  packages/ui-components/src/Common/BasePagination/PaginationListItem/__tests__/index.test.jsx
  packages/ui-components/src/Common/BasePagination/__tests__/index.test.jsx
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
