Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

New translations index.md (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations collab-summit.md (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations backpressuring-in-streams.md (Indonesian) chore: synced translations from crowdin
  pages/id/docs/guides/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations buffer-constructor-deprecation.md (Indonesian) chore: synced translations from crowdin
  pages/id/docs/guides/buffer-constructor-deprecation.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Indonesian) chore: synced translations from crowdin
  pages/id/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Indonesian) chore: synced translations from crowdin
  pages/id/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Indonesian) chore: synced translations from crowdin
  pages/id/docs/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Persian) chore: synced translations from crowdin
  pages/fa/about/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: style formatting and storybook list story
  components/__design__/list.stories.tsx
  styles/new/base.css
  styles/new/index.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: storybook duplicated story
  components/__design__/list.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: storybook disposition
  components/__design__/list.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  util/__tests__/github.test.mjs
  util/github.ts
Due: eslint --fix, prettier --write, prettier --check --write

style: fix color identation
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

fix: hotfixes for tailwind
  components/Common/Banner/index.module.css
  package-lock.json
  styles/new/index.css
Due: prettier --write, prettier --check --write, stylelint --allow-empty-input

style: Resolved Reviews Requested
  .storybook/constants.ts
  components/__design__/text.stories.tsx
  styles/new/base.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Style: Altered the manual css to tailwind css
  .storybook/constants.ts
  .storybook/preview.tsx
  styles/new/base.css
  styles/new/layout/dark-theme.css
  styles/new/variables.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: rebase fix
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

style: Implemented inline code block design
  components/__design__/text.stories.tsx
  styles/new/base.css
  styles/new/layout/dark-theme.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Style: Added inline code styling
  styles/new/base.css
  styles/new/layout/dark-theme.css
  styles/new/variables.css
Due: prettier --write, stylelint --allow-empty-input

fix: remove unecessary story style
  components/__design__/list.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove return statement
  components/__design__/list.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: re-add container
  components/__design__/list.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: remove listContainerStyle
  components/__design__/list.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: add platform icon nvm
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-nvm.svg
Due: eslint --fix, prettier --write, prettier --check --write

Style: Added inline code styling (#5952)
  .storybook/constants.ts
  .storybook/preview.tsx
  components/__design__/text.stories.tsx
  styles/new/base.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: InlineSelect ability
  components/Common/Select/index.module.css
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: Unnecessary optional chaining removed
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: css indentation
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Chore: Add platform icon nvm (#5962)
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-nvm.svg
Due: eslint --fix, prettier --write, prettier --check --write

update
  components/Common/AvatarGroup/Avatar/__tests__/index.mjs
  components/Common/AvatarGroup/Avatar/index.module.css
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: Inline Select style updates and improvements
  components/Common/Select/index.module.css
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: do not ping everyone for certain things
  CODEOWNERS
Due: none

fix: reduce ping to web-infra
  CODEOWNERS
Due: none

fix: Update version number in github-actions
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

refactor: Removed unnecessary added types
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Add full version number in all workflow files
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

fix: correct version number for actions/checkout (#5968)
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

fix: storybook hot-fixes in general
  .storybook/preview-body.html
  .storybook/preview.tsx
  components/__design__/colors.stories.tsx
  components/__design__/font-family.stories.tsx
  components/__design__/node-logos.stories.tsx
  components/__design__/platform-logos.stories.tsx
  components/__design__/social-logos.stories.tsx
  public/static/images/logos/hex-black.svg
  public/static/images/logos/hex-green.svg
  public/static/images/logos/hex-white.svg
  styles/new/base.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
