Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: remove resolved todo
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.5.0 release post
  apps/site/pages/en/blog/release/v22.5.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! Blog: v22.5.0 release post
  apps/site/pages/en/blog/release/v22.5.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.5.0 release post (#6931)
  apps/site/pages/en/blog/release/v22.5.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: LinkedIn logo
  apps/site/components/Icons/Social/LinkedIn.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: logo svg arguments
  apps/site/components/Icons/Social/LinkedIn.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: Add serbian language config (#6923)
  apps/site/i18n/config.json
Due: prettier --write, prettier --check --write

fix: formatting
  apps/site/components/Icons/Social/LinkedIn.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: attempt to fix ci memory leak
  .eslintignore
  apps/site/.eslintignore
  apps/site/next.config.mjs
  apps/site/util/getHighlighter.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fixed eslint rules
  .eslintignore
  apps/site/.eslintignore
  apps/site/tsconfig.json
Due: prettier --write, prettier --check --write

fix: attempt to fix ci memory leak (#6933)
  .eslintignore
  apps/site/.eslintignore
  apps/site/next.config.mjs
  apps/site/tsconfig.json
  apps/site/util/getHighlighter.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

CI: fix coverage summary path
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

Blog: v22.5.1 release post
  apps/site/pages/en/blog/release/v22.5.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.5.1 release post (#6935)
  apps/site/pages/en/blog/release/v22.5.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: open docs links in the same tab closes #6927
  apps/site/navigation.json
Due: prettier --write, prettier --check --write

fix: Added translation for snippet in package manager in download (#6907)
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/i18n/locales/en.json
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: add link to `nodejs.org/download/release` (#6890)
  apps/site/pages/en/download/prebuilt-binaries/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Fix layout shift caused by redundant styles (#6865)
  apps/site/styles/base.css
Due: prettier --write, stylelint --allow-empty-input

CI: fix coverage summary path (#6934)
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

doc: fix the fnm docs for a functional instruction guide
  apps/site/i18n/locales/en.json
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Removed broken link
  apps/site/pages/en/learn/asynchronous-work/dont-block-the-event-loop.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update governance.md
  apps/site/pages/id/about/governance.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: indonesian broken footnotes
  apps/site/pages/id/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

doc: fix the fnm docs for a functional instruction guide (#6919)
  apps/site/i18n/locales/en.json
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix:added ellipsis for long value in breadcrumb
  apps/site/components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  apps/site/components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

changes js to css logic
  apps/site/components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  apps/site/components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  apps/site/components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

removed double truncate
  apps/site/components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

removed unneccesary comments and further minor changes
  apps/site/components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  apps/site/components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

draft changes
  apps/site/components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  apps/site/components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  apps/site/components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Update components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  apps/site/components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
Due: prettier --write, stylelint --allow-empty-input

pl to px
  apps/site/components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix(search component): adjust `search` component to better adapt to the available space
  apps/site/components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

increase the px from 2 to 6
  apps/site/components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix(navbar): better distribute navigation items according to available space
  apps/site/components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix(navitem): increase the font-size of navigation items
  apps/site/components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: make the `searchButton` width dynamic to fit the content (#6904)
  apps/site/components/Common/Search/index.module.css
  apps/site/components/Containers/NavBar/NavItem/index.module.css
  apps/site/components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Removed broken link (#6938)
  apps/site/pages/en/learn/asynchronous-work/dont-block-the-event-loop.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: added ellipsis for long content in breadcrumb (#6794)
  apps/site/components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  apps/site/components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  apps/site/components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: LinkedIn Logo (#6932)
  apps/site/components/Icons/Social/LinkedIn.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
