Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

Update util/downloadUtils.ts
  util/downloadUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: update Project governance page to match reality (#6493)
  pages/en/about/governance.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Changelog trigger and minor visual bugs (#6567)
  components/Common/Badge/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  components/Downloads/Release/ChangelogLink.tsx
  components/Downloads/Release/LinkWithArrow.tsx
  package-lock.json
  package.json
  styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: rebase
  util/__tests__/getNodeJsChangelog.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

feat: add authors to next.json.mjs
  authors.json
  next.json.mjs
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: mapAuthorToCardAuthors
  components/withBlogCategories.tsx
  layouts/Post.tsx
  next-data/generators/blogData.mjs
  util/blogUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

test: update util/__tests__/blogUtils.test.mjs
  util/__tests__/blogUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

chore: update mapAuthorToCardAuthors regex + tests
  util/__tests__/blogUtils.test.mjs
  util/blogUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

chore: update authors.json
  authors.json
  util/__tests__/blogUtils.test.mjs
  util/blogUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: navbar breakpoint issue (#6535)
  components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: properly tag maintenance and flag versions correctly
  components/Downloads/Release/VersionDropdown.tsx
  components/withDownloadCategories.tsx
  next-data/generators/releaseData.mjs
  pages/en/index.mdx
  types/releases.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: fixed prettier
  types/userOS.ts
Due: eslint --fix, prettier --write, prettier --check --write

Add missing os from website redesign (#6575)
  components/Downloads/Release/BitnessDropdown.tsx
  components/Downloads/Release/OperatingSystemDropdown.tsx
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  types/userOS.ts
  util/detectOS.ts
  util/downloadUtils.ts
  util/getNodeDownloadUrl.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: properly tag maintenance and flag versions correctly (#6586)
  components/Downloads/Release/VersionDropdown.tsx
  components/withDownloadCategories.tsx
  next-data/generators/releaseData.mjs
  pages/en/index.mdx
  types/releases.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: update Ryan Dahl author data
  authors.json
Due: prettier --write, prettier --check --write

test: Increase coverage (#6349)
  COLLABORATOR_GUIDE.md
  DEPENDENCY_PINNING.md
  components/Common/LinkTabs/index.stories.tsx
  components/Common/Pagination/Ellipsis/index.stories.tsx
  components/Common/Pagination/Ellipsis/index.tsx
  components/Common/Pagination/PaginationListItem/index.stories.tsx
  components/Containers/Sidebar/SidebarGroup/index.stories.tsx
  components/Containers/Sidebar/SidebarItem/index.stories.tsx
  components/Downloads/DownloadButton/index.stories.tsx
  components/MDX/Calendar/Event/index.stories.tsx
  components/__design__/effects.stories.tsx
  hooks/react-client/__tests__/useBottomScrollListener.test.mjs
  hooks/react-client/__tests__/useClickOutside.test.mjs
  hooks/react-client/__tests__/useClientContext.test.mjs
  hooks/react-client/__tests__/useCopyToClipboard.test.mjs
  hooks/react-client/__tests__/useDetectOS.test.mjs
  hooks/react-client/__tests__/useKeyboardCommands.test.mjs
  hooks/react-client/__tests__/useMediaQuery.test.mjs
  hooks/react-client/__tests__/useNotification.test.mjs
  next-data/generators/__tests__/releaseData.test.mjs
  next-data/generators/__tests__/websiteFeeds.test.mjs
  providers/__tests__/localeProvider.test.mjs
  providers/__tests__/matterProvider.test.mjs
  providers/__tests__/notificationProvider.test.mjs
  providers/__tests__/themeProvider.test.mjs
  util/__tests__/assignClientContext.test.mjs
  util/__tests__/blogUtils.test.mjs
  util/__tests__/dateUtils.test.mjs
  util/__tests__/debounce.test.mjs
  util/__tests__/getBitness.test.mjs
  util/__tests__/getNodeApiLink.test.mjs
  util/__tests__/getNodeDownloadUrl.test.mjs
  util/__tests__/getNodeJsChangelog.test.mjs
  util/__tests__/gitHubUtils.test.mjs
  util/__tests__/hexToRGBA.test.mjs
  util/__tests__/stringUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

Update april-2024-security-releases.md: Fix pluralization ("1 ... issues" -> "1 ... issue")
  pages/en/blog/vulnerability/april-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: proper release status
  app/[locale]/next-data/api-data/route.ts
  components/Downloads/DownloadButton/index.stories.tsx
  components/Downloads/Release/PlatformDropdown.tsx
  components/Downloads/Release/VersionDropdown.tsx
  components/withDownloadCategories.tsx
  next-data/generators/__tests__/releaseData.test.mjs
  next-data/generators/releaseData.mjs
  pages/en/index.mdx
  types/releases.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

feat(tabs): fix contrast ratio (#6543)
  components/Common/CodeTabs/index.module.css
  components/Common/CodeTabs/index.tsx
  components/Common/Tabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: update collab-summit.md
  pages/en/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

Update collab-summit.md
  pages/en/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix: h1 remains visible when selecting out of focus
  styles/effects.css
Due: prettier --write, stylelint --allow-empty-input

Update pages/en/about/get-involved/collab-summit.md
  pages/en/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: update collab-summit.md (#6604)
  pages/en/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

Update april-2024-security-releases.md: Fix pluralization ("1 ... issues" -> "1 ... issue") (#6588)
  pages/en/blog/vulnerability/april-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: fix example code
  pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: banner type
  components/Downloads/ChangelogModal/index.module.css
  site.json
Due: prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Banner type (#6607)
  components/Downloads/ChangelogModal/index.module.css
  site.json
Due: prettier --write, prettier --check --write, stylelint --allow-empty-input

Blog: v18.20.1 release post
  pages/en/blog/release/v18.20.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.12.1 release post
  pages/en/blog/release/v20.12.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.7.2 release post
  pages/en/blog/release/v21.7.2.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add post security release blog post
  pages/en/blog/vulnerability/april-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup! Blog: v18.20.1 release post
  pages/en/blog/release/v18.20.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add security release blog posts (#6609)
  pages/en/blog/release/v18.20.1.md
  pages/en/blog/release/v20.12.1.md
  pages/en/blog/release/v21.7.2.md
  pages/en/blog/vulnerability/april-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: proper release status (#6603)
  app/[locale]/next-data/api-data/route.ts
  components/Downloads/DownloadButton/index.stories.tsx
  components/Downloads/Release/PlatformDropdown.tsx
  components/Downloads/Release/VersionDropdown.tsx
  components/withDownloadCategories.tsx
  next-data/generators/__tests__/releaseData.test.mjs
  next-data/generators/releaseData.mjs
  pages/en/index.mdx
  types/releases.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: explain that example is not deterministic
  pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add April 9th pre announcement
  pages/en/blog/vulnerability/april2-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix: h1 use color transparent instead
  styles/effects.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: bitness dropdown type check
  components/Downloads/Release/BitnessDropdown.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
