Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: Deleted community-icons.png, #issue 5833 (#5873)
  public/static/images/community-icons.png
Due: none

fix: Deleted nodejs-dark.png file, Issue #5825 (#5883)
  public/static/images/logos/nodejs-dark.png
Due: none

Deleting the logo-light.svg (GHC) (#5882)
  public/static/images/logo-light.svg
Due: none

chore: Add homebrew platform logo to a storybook story (#5887)
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-homebrew.svg
Due: eslint --fix, prettier --write, prettier --check --write

chore: Deleted nodejs-training, #issue5822 (#5869)
  public/static/images/nodejs-training.png
Due: none

chore: Deleted node-cert-logo, #issue 5830 (#5871)
  public/static/images/node-cert-logo.png
Due: none

chore: Deleted nodejs-new-black, #issue 5837 (#5876)
  public/static/images/logos/nodejs-new-black.svg
Due: none

chore: Deleted ghc-banner, #issue 5829 (#5870)
  public/static/images/ghc-banner.png
Due: none

Delete public/static/images/logos/js-green.svg (#5877)
  public/static/images/logos/js-green.svg
Due: none

Update GOVERNANCE.md
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: Deleted logo-light, #issue 5832 (#5872)
  public/static/images/logo-light.png
Due: none

chore: Added social-x.svg, #issue 42 (#5866)
  public/static/images/logos/social-x.svg
Due: none

chore: added social-mastadon.svg, #issue 39 (#5865)
  public/static/images/logos/social-mastadon.svg
Due: none

chore(GOVERNANCE): added more ux team examples
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: only mark subfolders
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

fix: match only markdown files
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

removed openjs_foundation-logo.svg file (#5847)
  public/static/images/openjs_foundation-logo.svg
Due: none

Update COLLABORATOR_GUIDE.md
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

Feat(sitemap): add external url (#5821)
  app/sitemap.ts
  next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Delete the nodejs-black.png file Issue #5823 (#5844)
  public/static/images/logos/nodejs-black.png
Due: none

chore: remove useless images `_cursor.png`
  public/static/images/docs/guides/diagnostics/_cursor.png
Due: none

Fixed commited not belonged changes
  components/__design__/js-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: attribution prop replaced with an HTML cite child
  components/Common/Blockquote/index.module.scss
  components/Common/Blockquote/index.stories.tsx
  components/Common/Blockquote/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove useless images `_cursor.png` (#5889)
  public/static/images/docs/guides/diagnostics/_cursor.png
Due: none

chore: set cssnano as exact dependency
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

chore: added file horizontal-dark.svg
  public/static/images/logos/horizontal-dark.svg
Due: none

chore: updated horizontal-logos.stories
  components/__design__/horizontal-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: postcss does not support math calculations like scss
  styles/old/page-modules/header.css
  styles/old/page-modules/home.css
  styles/old/variables.css
Due: prettier --write, stylelint

chore: added postcss plugin to remove calc() on build
  package-lock.json
  package.json
  postcss.config.js
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated horizontal-dark.svg
  public/static/images/logos/horizontal-dark.svg
Due: none

meta: updated references to scss commands to css
  .lintstagedrc.json
  package.json
  turbo.json
Due: prettier --write, prettier --check --write

chore: updated horizontal-light and horizontal-dark logos
  public/static/images/logos/horizontal-dark.svg
  public/static/images/logos/horizontal-light.svg
Due: none

meta: stylelint remove scss
  .stylelintrc.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: added platform-nvm.svg
  components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated horizontal-logos.stories.tsx
  components/__design__/horizontal-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: customised stylelint config
  .stylelintrc.mjs
  COLLABORATOR_GUIDE.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: fixed old styles to be conforming with best css practices
  .lintstagedrc.json
  styles/old/base.css
  styles/old/index.css
  styles/old/page-modules/blog-index.css
  styles/old/page-modules/footer.css
  styles/old/page-modules/header.css
  styles/old/page-modules/home.css
  styles/old/page-modules/jsfoundation.css
  styles/old/page-modules/scrollToTop.css
Due: prettier --write, prettier --check --write, stylelint

feat: created minimal shared vscode config
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write, prettier --check --write

meta: updated rules and recommended extensions
  .stylelintrc.mjs
  .vscode/extensions.json
  .vscode/settings.json
  COLLABORATOR_GUIDE.md
  styles/new/index.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint
