Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

move to i18n
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Containers/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(CodeTabs): name overrides, duplicate name titles (#7994)
  packages/ui-components/src/MDX/CodeTabs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: add hover effect to sidebar links (#7893)
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

chore: remove unrelated style changes, keep necessary margin and rounded corners
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

fix(sidebar): update hover to neutral grey for consistency with nav links
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

fix: include right-arrow icon in hover background; remove margin, rounded corners, and clean unrelated styles as per review
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(sidebar): move flex styles to CSS file & adding margin , rounded on item
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): update sidebar hover effect as per review suggestion for consistency
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

feat(SidebarItem): hover effect (#7934)
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update introduction-to-nodejs.md
  apps/site/pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: bump minimum required node version to 22.14.0
  .nvmrc
  package.json
Due: prettier --write

Update Modal.tsx
  apps/site/components/EOL/Modal.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix the position of the footer links.
  apps/site/navigation.json
  packages/ui-components/src/Containers/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/i18n/src/locales/en.json
Due: prettier --write

fix(InstallationMethodDropdown): increase height (#7989)
  apps/site/components/Downloads/Release/InstallationMethodDropdown.tsx
  packages/ui-components/src/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(learn): use yarn main website
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

expand and do not reuse i18n keys
  apps/site/components/EOL/Table.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

add one more i18n key
  apps/site/components/EOL/Alert.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

add footer to article layout
  apps/site/layouts/ArticlePage.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/components/EOL/Table.tsx
  apps/site/components/EOL/Table.tsx
Due: eslint --fix, prettier --write, prettier --check --write

cleanup unused classnames
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/EOL/Table.tsx
Due: eslint --fix, prettier --write, prettier --check --write

simplify Table
  apps/site/components/EOL/Table.tsx
Due: eslint --fix, prettier --write, prettier --check --write

normalize endOfLife vs eol
  apps/site/components/EOL/Alert.tsx
  apps/site/components/EOL/VulnerabilityChips/Chip/index.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

Improve formatting and descriptions in docs index.
  docs/README.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: redirect Linux x86 download links to x64 binaries
  apps/site/util/url.ts
Due: eslint --fix, prettier --write, prettier --check --write

ci: disable is-crawlable audit in Lighthouse
  .lighthouserc.json
Due: prettier --write

Move is-crawlable to skipAudits
  .lighthouserc.json
Due: prettier --write

Apply suggestions from code review
  apps/site/pages/en/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

add back in the release schedule link
  apps/site/pages/en/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

small grammar / tense / capitalization changes
  apps/site/pages/en/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix the position of the footer links (#8003)
  apps/site/navigation.json
Due: prettier --write

ci: disable is-crawlable audit in Lighthouse (#8011)
  .lighthouserc.json
Due: prettier --write

Update apps/site/pages/en/eol.mdx
  apps/site/pages/en/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(learn): use yarn main website (#8007)
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

Expanded 'TSC' so it's clearer for outsiders
  docs/technologies.md
Due: eslint --fix, prettier --write, prettier --check --write

Fixed typo in #nextrwritesmjs anchor
  docs/technologies.md
Due: eslint --fix, prettier --write, prettier --check --write

Clarified fallback mention in next.dynamic.mjs
  docs/technologies.md
Due: eslint --fix, prettier --write, prettier --check --write

Added URL for Playwright
  docs/technologies.md
Due: eslint --fix, prettier --write, prettier --check --write
