Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

chore(learn): update typescript
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: ts error output
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Search button accessibility
  components/Common/Search/index.module.css
  components/Common/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Search button font
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Blog: add April 9th pre announcement (#6617)
  pages/en/blog/vulnerability/april2-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: update april-2 security release slug
  pages/en/blog/vulnerability/april-2024-security-releases-2.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: update april-2 security release slug (#6620)
  pages/en/blog/vulnerability/april-2024-security-releases-2.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor: absolute positioning removed
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: explain that example is not deterministic (#6612)
  pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Made RouterSelect inline (#6560)
  components/Common/Select/index.tsx
  components/Downloads/Release/BitnessDropdown.tsx
  components/Downloads/Release/OperatingSystemDropdown.tsx
  components/Downloads/Release/PlatformDropdown.tsx
  components/Downloads/Release/VersionDropdown.tsx
  components/withRouterSelect.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Search box button accessibility (#6619)
  components/Common/Search/index.module.css
  components/Common/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix type
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

fix typo
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

grammar logic
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

update
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

update title
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

Update pages/en/learn/getting-started/nodejs-with-typescript.md
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

Add author image to blog posts (#6581)
  authors.json
  layouts/Post.tsx
  next-data/generators/blogData.mjs
  next.json.mjs
  types/blog.ts
  types/config.ts
  util/__tests__/blogUtils.test.mjs
  util/blogUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: Made RouterSelect inline (#6560) (#6568)
  components/Common/Select/index.tsx
  components/Downloads/Release/BitnessDropdown.tsx
  components/Downloads/Release/OperatingSystemDropdown.tsx
  components/Downloads/Release/PlatformDropdown.tsx
  components/Downloads/Release/VersionDropdown.tsx
  components/withRouterSelect.tsx
Due: eslint --fix, prettier --write, prettier --check --write

docs: add Exherbo Linux package manager to Download instructions
  pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor/fix: Move sidebar from article to base layout
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/global-error.tsx
  components/Common/ProgressionSidebar/index.module.css
  components/Common/ProgressionSidebar/index.tsx
  components/Common/Select/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/MetaBar/index.tsx
  components/Containers/NavBar/index.module.css
  components/Containers/Sidebar/SidebarItem/index.module.css
  components/Containers/Sidebar/index.module.css
  components/Containers/Sidebar/index.tsx
  components/withBlogCrossLinks.tsx
  components/withNavBar.tsx
  components/withSidebarCrossLinks.tsx
  hooks/react-client/__tests__/useHideSidebar.test.mjs
  hooks/react-client/index.ts
  hooks/react-client/useHideSidebar.ts
  layouts/About.tsx
  layouts/Base.tsx
  layouts/Blog.tsx
  layouts/Centered.tsx
  layouts/Default.tsx
  layouts/Download.tsx
  layouts/Learn.tsx
  layouts/Post.tsx
  layouts/Search.tsx
  layouts/layouts.module.css
  providers/__tests__/showSidebarProvider.test.mjs
  providers/showSidebarProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

remove conclusion
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Anchor scroll behind navbar
  styles/markdown.css
Due: prettier --write, stylelint --allow-empty-input

Blog: remove vulnerability from upcoming release
  pages/en/blog/vulnerability/april-2024-security-releases-2.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: remove vulnerability from upcoming release (#6624)
  pages/en/blog/vulnerability/april-2024-security-releases-2.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: add Exherbo Linux package manager to Download instructions (#6622)
  pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: Added serbian language config
  i18n/config.json
Due: prettier --write, prettier --check --write

Adding Thai Language in i18n/config.json
  .vscode/settings.json
  i18n/config.json
Due: prettier --write, prettier --check --write

attempt at making notificationProvider only render on client efficiently
  providers/notificationProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: lazy load sentry integrations
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Add Missing OS value in the Regex for handling the current userAgent OS in sswitch case statement.
  util/detectOS.ts
Due: eslint --fix, prettier --write, prettier --check --write

Added Constants for the STORYBOOK_MODE_THEME and removed extran closing or div and or '||' operator from withSidebarCrossLinks.tsx
  .storybook/constants.ts
  .storybook/preview.tsx
  app/[locale]/[[...path]]/page.tsx
  components/Common/Search/States/WithPoweredBy.tsx
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/withNavBar.tsx
  components/withSidebarCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

Added STORYBOOK_MODE_THEME in the constants of the storybook for using constant values for the theme modes.
  .storybook/constants.ts
  .storybook/preview.tsx
  app/[locale]/[[...path]]/page.tsx
  components/Common/Search/States/WithPoweredBy.tsx
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/withNavBar.tsx
  components/withSidebarCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: Removed extra closing of div
  components/withBlogCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: numerous fixes regarding package manager page
  components/Downloads/Release/OperatingSystemDropdown.tsx
  components/Downloads/Release/PlatformDropdown.tsx
  components/Downloads/Release/ReleaseCodeBox.tsx
  i18n/locales/en.json
  pages/en/download/package-manager/current.mdx
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: lts choco
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(search): Rename searchUtils file
  components/Common/Search/States/WithSearchBox.tsx
  components/Common/Search/States/WithSearchResult.tsx
  util/searchUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
