Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/__tests__/*.test.mjs": ["npx turbo test:staged"]
}

Blog: v20.15.0 release post
  pages/en/blog/release/v20.15.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.15.0 release post (#6852)
  pages/en/blog/release/v20.15.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Add commitizen to repo to make it easy to follow conventional-commits (#6844)
  .cz.json
  .husky/prepare-commit-msg
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: readme logo
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix: Certain languages break the max height of the search bar #6841
  components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: merge default and pride logos
  components/Common/NodejsLogo/index.tsx
  components/Icons/Logos/Nodejs.tsx
  components/Icons/Logos/NodejsPride.tsx
  components/__design__/node-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: Setup i18n for Tibetan Language
  i18n/config.json
Due: prettier --write, prettier --check --write

Update introduction-to-nodejs.md
  pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(mastodon.tsx): replace old mastodon icon with new icon
  components/Icons/Social/Mastodon.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Move Storybook in.
  apps/site/.storybook/constants.ts
  apps/site/.storybook/main.ts
  apps/site/.storybook/preview.tsx
  apps/site/package.json
Due: eslint --fix, prettier --write, prettier --check --write

Temporarily adjust pre-commit.
  .husky/pre-commit
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, prettier --check --write

Have lint-staged look at directory.
  .lintstagedrc.json
  apps/site/client-context.ts
  apps/site/package.json
  package.json
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

Fix ESLint directory and some fixes found by Prettier(?).
  .github/workflows/lint-and-tests.yml
  .lintstagedrc.json
  apps/site/.eslintrc.json
  apps/site/components/Common/Blockquote/index.module.css
  apps/site/components/Common/Button/index.module.css
  apps/site/components/Common/CodeBox/index.module.css
  apps/site/components/Common/LinkTabs/index.module.css
  apps/site/components/Common/Pagination/PaginationListItem/index.module.css
  apps/site/components/Common/Preview/index.module.css
  apps/site/components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  apps/site/components/Common/ProgressionSidebar/index.module.css
  apps/site/components/Common/Search/States/index.module.css
  apps/site/components/Common/Search/index.module.css
  apps/site/components/Common/Select/index.module.css
  apps/site/components/Common/Tabs/index.module.css
  apps/site/components/Containers/Footer/index.module.css
  apps/site/components/Containers/MetaBar/index.module.css
  apps/site/components/Containers/NavBar/index.module.css
  apps/site/components/Containers/Sidebar/SidebarItem/index.module.css
  apps/site/components/Containers/Sidebar/index.module.css
  apps/site/components/Downloads/ChangelogModal/index.module.css
  apps/site/components/__design__/colors.stories.tsx
  apps/site/components/__design__/font-family.stories.tsx
  apps/site/components/withBlogCategories.tsx
  apps/site/components/withBlogCrossLinks.tsx
  apps/site/layouts/layouts.module.css
  apps/site/package.json
  apps/site/styles/base.css
  apps/site/styles/effects.css
  apps/site/styles/markdown.css
  apps/site/turbo.json
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update CONTRIBUTING.
  CONTRIBUTING.md
  apps/site/.eslintrc.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

Move husky, lint-staged, and turbo to deps from devDeps._
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

Blog: add pre security release announcement
  pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Update paths for crowdin.
  crowdin.yml
Due: prettier --write, prettier --check --write

Add temporary vercel.json file.
  apps/site/vercel.json
Due: prettier --write, prettier --check --write

lint-staged debug
  apps/site/README.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! Blog: add pre security release announcement
  pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! fixup! Blog: add pre security release announcement
  pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Thanks, Andrulko!
  crowdin.yml
Due: prettier --write, prettier --check --write

Blog: add pre security release announcement (#6863)
  pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Update lockfile.
  package-lock.json
Due: prettier --write, prettier --check --write

Update paths in docs.
  COLLABORATOR_GUIDE.md
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, prettier --check --write

More paths.
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

Re-align release post script.
  apps/site/scripts/release-post/index.mjs
  package.json
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

Fix formatting fixer scripts.
  package.json
Due: prettier --write, prettier --check --write

Blog: update banner to mention security release
  site.json
Due: prettier --write, prettier --check --write

Blog: update banner to mention security release (#6864)
  site.json
Due: prettier --write, prettier --check --write

fix: layout shift caused by redundant styles
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

chore(internationalization): Add Russian language to Home page
  i18n/config.json
  i18n/locales/ru.json
  pages/ru/index.mdx
  pages/ru/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

style(app): use default logo
  site.json
Due: prettier --write, prettier --check --write

Blog: remove one a vuln from upcoming sec release
  pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: remove one a vuln from upcoming sec release (#6868)
  pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Use the default Node.js logo (#6867)
  site.json
Due: prettier --write, prettier --check --write

Remove prepare in site package.
  apps/site/package.json
Due: prettier --write, prettier --check --write

Just bumping package.lock...
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write
