Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix weight font
  apps/site/next.fonts.ts
  apps/site/styles/index.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

blog: r2 migration blog post
  apps/site/authors.json
  apps/site/pages/en/blog/announcements/making-nodejs-downloads-reliable.md
  apps/site/public/static/images/blog/announcements/old-release-asset-infra.png
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add DigitalOcean to thanks section of README
  README.md
  apps/site/README.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add DigitalOcean to thanks section of README (#7547)
  README.md
  apps/site/README.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(snippets): update nvm version
  apps/site/snippets/en/download/nvm.bash
Due: none

Blog: v20.19.0 release post
  apps/site/pages/en/blog/release/v20.19.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v20.19.0 release post (#7549)
  apps/site/pages/en/blog/release/v20.19.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(snippets): update nvm version (#7548)
  apps/site/snippets/en/download/nvm.bash
Due: none

Blog: v23.10.0 release post
  apps/site/pages/en/blog/release/v23.10.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.10.0 release post (#7550)
  apps/site/pages/en/blog/release/v23.10.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

doc: clarify updates to CVE to EOL
  apps/site/pages/en/blog/vulnerability/updates-cve-for-end-of-life.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

doc: clarify updates to CVE to EOL (#7551)
  apps/site/pages/en/blog/vulnerability/updates-cve-for-end-of-life.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: supporter page and mechanism
  apps/site/components/Common/Supporters/SupporterIcon/index.module.css
  apps/site/components/Common/Supporters/SupporterIcon/index.tsx
  apps/site/components/Common/Supporters/SupporterIconList/index.module.css
  apps/site/components/Common/Supporters/SupporterIconList/index.tsx
  apps/site/components/Common/Supporters/SupporterLogo/index.tsx
  apps/site/components/Common/Supporters/SupporterLogoList/index.module.css
  apps/site/components/Common/Supporters/SupporterLogoList/index.tsx
  apps/site/components/withSupporterLogoList.tsx
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/about/supporters.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix gradients
  apps/site/styles/index.css
Due: prettier --write, stylelint --allow-empty-input

fix some bugs with ::after and ::before
  apps/site/components/Common/Button/index.module.css
  apps/site/components/Common/GlowingBackdrop/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix menu
  apps/site/components/Containers/NavBar/index.module.css
  apps/site/components/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix some bugs with ::after and ::before
  apps/site/components/Common/Preview/index.module.css
  apps/site/components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

update tailwind to 4.0.14
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

fix storybook build
  package-lock.json
Due: prettier --write, prettier --check --write

fix grid areas
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix format
  apps/site/.stylelintrc.mjs
  apps/site/components/Common/Button/index.module.css
  apps/site/components/Common/GlowingBackdrop/index.module.css
  apps/site/components/Common/Preview/index.module.css
  apps/site/components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  apps/site/styles/effects.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix background
  apps/site/styles/index.css
Due: prettier --write, stylelint --allow-empty-input

Update using-gc-traces.md
  apps/site/pages/en/learn/diagnostics/memory/using-gc-traces.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

meta: announce the new discord server
  apps/site/pages/en/about/get-involved/index.md
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: added missing authors and sorted
  apps/site/authors.json
Due: prettier --write, prettier --check --write

Update official-discord-launch-announcement.md
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: make it clear the link is not ready yet
  apps/site/pages/en/about/get-involved/index.md
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/about/get-involved/index.md
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: datetime fixes
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: discord logo and footer icon and redirect link
  apps/site/components/Containers/Footer/index.tsx
  apps/site/components/Icons/Social/Bluesky.tsx
  apps/site/components/Icons/Social/Discord.tsx
  apps/site/components/Icons/Social/GitHub.tsx
  apps/site/components/Icons/Social/LinkedIn.tsx
  apps/site/components/Icons/Social/Mastodon.tsx
  apps/site/components/Icons/Social/Slack.tsx
  apps/site/components/Icons/Social/Twitter.tsx
  apps/site/components/__design__/social-logos.stories.tsx
  apps/site/navigation.json
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
  apps/site/redirects.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: purge get involved links
  apps/site/pages/en/about/get-involved/index.md
  apps/site/pages/es/about/get-involved/index.md
  apps/site/pages/fr/about/get-involved/index.md
  apps/site/pages/id/about/get-involved/index.md
  apps/site/pages/ja/about/get-involved/index.md
  apps/site/pages/ko/about/get-involved/index.md
  apps/site/pages/pt/about/get-involved/index.md
  apps/site/pages/tr/about/get-involved/index.md
  apps/site/pages/uk/about/get-involved/index.md
  apps/site/pages/zh-tw/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

meta: announce the new discord server (#7490)
  apps/site/authors.json
  apps/site/components/Containers/Footer/index.tsx
  apps/site/components/Icons/Social/Bluesky.tsx
  apps/site/components/Icons/Social/Discord.tsx
  apps/site/components/Icons/Social/GitHub.tsx
  apps/site/components/Icons/Social/LinkedIn.tsx
  apps/site/components/Icons/Social/Mastodon.tsx
  apps/site/components/Icons/Social/Slack.tsx
  apps/site/components/Icons/Social/Twitter.tsx
  apps/site/components/__design__/social-logos.stories.tsx
  apps/site/navigation.json
  apps/site/pages/en/about/get-involved/index.md
  apps/site/pages/en/blog/announcements/official-discord-launch-announcement.md
  apps/site/pages/es/about/get-involved/index.md
  apps/site/pages/fr/about/get-involved/index.md
  apps/site/pages/id/about/get-involved/index.md
  apps/site/pages/ja/about/get-involved/index.md
  apps/site/pages/ko/about/get-involved/index.md
  apps/site/pages/pt/about/get-involved/index.md
  apps/site/pages/tr/about/get-involved/index.md
  apps/site/pages/uk/about/get-involved/index.md
  apps/site/pages/zh-tw/about/get-involved/index.md
  apps/site/redirects.json
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! feat(ui): add ui-components package
  packages/ui-components/Containers/Footer/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
