Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

New translations en.json (Turkish) chore: synced translations from crowdin [skip ci]
  i18n/locales/tr.json
Due: prettier --write, prettier --check --write

New translations en.json (Russian) chore: synced translations from crowdin [skip ci]
  i18n/locales/ru.json
Due: prettier --write, prettier --check --write

New translations en.json (Ukrainian) chore: synced translations from crowdin [skip ci]
  i18n/locales/uk.json
Due: prettier --write, prettier --check --write

New translations en.json (Chinese Simplified) chore: synced translations from crowdin [skip ci]
  i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

New translations en.json (Vietnamese) chore: synced translations from crowdin [skip ci]
  i18n/locales/vi.json
Due: prettier --write, prettier --check --write

New translations en.json (Portuguese, Brazilian) chore: synced translations from crowdin [skip ci]
  i18n/locales/pt-br.json
Due: prettier --write, prettier --check --write

New translations en.json (Indonesian) chore: synced translations from crowdin [skip ci]
  i18n/locales/id.json
Due: prettier --write, prettier --check --write

New translations en.json (Persian) chore: synced translations from crowdin [skip ci]
  i18n/locales/fa.json
Due: prettier --write, prettier --check --write

feat(download):color link on botton in dark and light mode
  components/Downloads/Release/LinkWithArrow.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: bg on `LanguageDropDown`
  components/Common/LanguageDropDown/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: no weird commit messages
  crowdin.yml
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/es/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ar/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/de/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/it/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ka/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ko/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ru/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/zh-cn/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/vi/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt-br/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/id/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/es/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ar/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/it/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/de/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ka/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ko/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ru/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/zh-cn/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/vi/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt-br/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write
