Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

doc(learn): remove toc from files
  pages/en/learn/diagnostics/memory/index.md
  pages/en/learn/diagnostics/poor-performance/index.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): change javascript snippets to js
  pages/en/guides/backpressuring-in-streams.md
  pages/en/guides/dont-block-the-event-loop.md
  pages/en/guides/simple-profiling.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: add update february sec release
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

update banner
  site.json
Due: prettier --write, prettier --check --write

blog: add update february sec release (#6293)
  pages/en/blog/vulnerability/february-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: Migrate the legacy guide Easy profiling for Node.js Applications to the learn section
  pages/en/learn/getting-started/simple-profiling.md
Due: eslint --fix, prettier --write, prettier --check --write

Migrate ABI Stability
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/modules/abi-stability.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Make necessary changes site wide
  navigation.json
  pages/en/guides/diagnostics/poor-performance/index.md
  pages/en/guides/index.md
  pages/en/learn/getting-started/simple-profiling.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): Migrate diagnostics user journey from guide to learn section (#6291)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/backpressuring-in-streams.md
  pages/en/guides/diagnostics/index.md
  pages/en/guides/dont-block-the-event-loop.md
  pages/en/guides/index.md
  pages/en/guides/security/index.md
  pages/en/guides/simple-profiling.md
  pages/en/learn/diagnostics/flame-graphs.md
  pages/en/learn/diagnostics/live-debugging/index.md
  pages/en/learn/diagnostics/live-debugging/using-inspector.md
  pages/en/learn/diagnostics/memory/index.md
  pages/en/learn/diagnostics/memory/using-gc-traces.md
  pages/en/learn/diagnostics/memory/using-heap-profiler.md
  pages/en/learn/diagnostics/memory/using-heap-snapshot.md
  pages/en/learn/diagnostics/poor-performance/index.md
  pages/en/learn/diagnostics/poor-performance/using-linux-perf.md
  pages/en/learn/diagnostics/user-journey.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: rename file, added to i18n, redirects.json
  i18n/locales/en.json
  navigation.json
  pages/en/learn/getting-started/profiling.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: Broken link to new article
  pages/en/guides/diagnostics/poor-performance/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(redirect): redirect old links to the new ones
  redirects.json
Due: prettier --write, prettier --check --write

redirect.json redirect setup abi-stability
  redirects.json
Due: prettier --write, prettier --check --write

feat: migrated to shiki and fixed font-family
  COLLABORATOR_GUIDE.md
  components/Common/CodeBox/index.module.css
  components/Common/CodeBox/index.tsx
  package-lock.json
  package.json
  shiki.config.mjs
  util/getHighlighter.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Remove redundant redirect
  redirects.json
Due: prettier --write, prettier --check --write

Delete pages/en/guides/diagnostics/poor-performance/index.md
  pages/en/guides/diagnostics/poor-performance/index.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: update security release target
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: add banner
  site.json
Due: prettier --write, prettier --check --write

chore: remove extra empty lines
  components/Common/CodeBox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

blog: update security release target (#6341)
  pages/en/blog/vulnerability/february-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: must be bash
  pages/en/guides/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: critical fix to codetabs visit tree
  next.mdx.shiki.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update COLLABORATOR_GUIDE.md
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: migrated to shiki and fixed font-family (#6340)
  COLLABORATOR_GUIDE.md
  components/Common/CodeBox/index.module.css
  components/Common/CodeBox/index.tsx
  next.mdx.shiki.mjs
  package-lock.json
  package.json
  pages/en/guides/event-loop-timers-and-nexttick.md
  shiki.config.mjs
  util/getHighlighter.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update redirects.json
  redirects.json
Due: prettier --write, prettier --check --write

fix(redirect): redirect old links to the new ones (#6339)
  redirects.json
Due: prettier --write, prettier --check --write

Update index.md
  pages/en/guides/index.md
Due: eslint --fix, prettier --write, prettier --check --write

redirect resolve
  redirects.json
Due: prettier --write, prettier --check --write

docs(learn): Migrate "ABI Stability" guide to the learn section (#6335)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/modules/abi-stability.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): Migrate the legacy guide "Easy profiling for Node.js Applications" to the learn section (#6336)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/diagnostics/poor-performance/index.md
  pages/en/learn/getting-started/profiling.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.6.2 release post
  pages/en/blog/release/v21.6.2.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.11.1 release post
  pages/en/blog/release/v20.11.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v18.19.1 release post
  pages/en/blog/release/v18.19.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add pos release announcement
  pages/en/blog/vulnerability/february-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Update pages/en/blog/vulnerability/february-2024-security-releases.md
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write
