Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

feat(blog): create post for v25.6.0
  apps/site/pages/en/blog/release/v25.6.0.md
Due: eslint --fix, prettier --write, prettier --check --write

learn(frame-graphs): update the ways to view flame graphs (#8555)
  apps/site/pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(CodeQL): more triggers
  .github/workflows/codeql.yml
Due: prettier --write

change to NavLink
  apps/site/components/withLegal.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(CodeQL): more triggers (#8591)
  .github/workflows/codeql.yml
Due: prettier --write

Adds OpenJS Footer (#8577)
  apps/site/components/withFooter.tsx
  apps/site/components/withLegal.tsx
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Containers/Footer/index.module.css
  packages/ui-components/src/Containers/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): remove meta bar
  apps/site/components/withLayout.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withSidebar.tsx
  apps/site/components/withTOC.tsx
  apps/site/layouts/About.tsx
  apps/site/layouts/ArticlePage.tsx
  apps/site/layouts/Default.tsx
  apps/site/layouts/Learn.tsx
  apps/site/layouts/Post.tsx
  apps/site/layouts/layouts.module.css
  apps/site/next-env.d.ts
  packages/i18n/src/locales/en.json
  packages/ui-components/package.json
  packages/ui-components/src/Common/Preview/index.module.css
  packages/ui-components/src/Common/TableOfContents/index.module.css
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/MetaBar/__tests__/index.test.jsx
  packages/ui-components/src/Containers/MetaBar/index.module.css
  packages/ui-components/src/Containers/MetaBar/index.stories.tsx
  packages/ui-components/src/Containers/MetaBar/index.tsx
  packages/ui-components/src/Containers/Sidebar/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): lessen padding of side bars
  packages/ui-components/package.json
  packages/ui-components/src/Containers/Article/index.module.css
Due: prettier --write

refactor: standardize responsive breakpoints, update CSS utilities, and refine viewport configuration.
  apps/site/components/Releases/MinorReleasesTable/index.module.css
  apps/site/components/withBlogCategories.tsx
  apps/site/components/withBlogCrossLinks.tsx
  apps/site/layouts/layouts.module.css
  apps/site/next.dynamic.constants.mjs
  apps/site/pages/en/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  packages/ui-components/package.json
  packages/ui-components/src/Common/AvatarGroup/Avatar/index.module.css
  packages/ui-components/src/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  packages/ui-components/src/Common/Modal/index.module.css
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Footer/index.module.css
  packages/ui-components/src/Containers/MetaBar/index.module.css
  packages/ui-components/src/Containers/NavBar/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
  packages/ui-components/src/styles/markdown.css
  packages/ui-components/src/styles/theme.css
Due: eslint --fix, prettier --write, prettier --check --write

chore: other css fix
  packages/ui-components/src/Common/Search/Modal/index.module.css
Due: none

chore: more style fixes
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): refine sidebar styles for improved item spacing and layout
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: none

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Due: prettier --write

refactor: standardize responsive breakpoints, update CSS utilities, and refine viewport configuration. (#8606)
  apps/site/components/Releases/MinorReleasesTable/index.module.css
  apps/site/components/withBlogCategories.tsx
  apps/site/components/withBlogCrossLinks.tsx
  apps/site/layouts/layouts.module.css
  apps/site/next.dynamic.constants.mjs
  apps/site/pages/en/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  packages/ui-components/package.json
  packages/ui-components/src/Common/AvatarGroup/Avatar/index.module.css
  packages/ui-components/src/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  packages/ui-components/src/Common/Modal/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.tsx
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Footer/index.module.css
  packages/ui-components/src/Containers/MetaBar/index.module.css
  packages/ui-components/src/Containers/NavBar/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
  packages/ui-components/src/styles/markdown.css
  packages/ui-components/src/styles/theme.css
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: this pr hotfixes a few styles
  apps/site/components/withMetaBar.tsx
  packages/ui-components/package.json
  packages/ui-components/src/Common/Select/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: this pr hotfixes a few styles (#8608)
  apps/site/components/withMetaBar.tsx
  packages/ui-components/package.json
  packages/ui-components/src/Common/Select/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

Use fetchWithRetry for nodevu fetch calls
  apps/site/next-data/generators/majorNodeReleases.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Avoid node: import in fetch util
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

Add missing await to fetch util
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

Avoid unsafe access to e.cause.code
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: use fetchWithRetry for nodevu fetch calls (#8609)
  apps/site/next-data/generators/majorNodeReleases.mjs
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui-components): add collapsible sidebar (#8595)
  packages/ui-components/src/Containers/Sidebar/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor(ui-components): adjust grid-template-columns for sidebar collapse
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: none

fixup
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: implement donations queary and fix links
  apps/site/components/Common/Supporters/index.tsx
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: update text of supporters
  apps/site/next-data/generators/supportersData.mjs
  apps/site/pages/en/about/partners.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: include past sponsors
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: sort supporters
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/next-data/generators/supportersData.mjs
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestion from @Copilot
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update event-loop-timers-and-nexttick.md
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: clarify contact method for low signal researchers
  apps/site/pages/en/blog/announcements/hackerone-signal-requirement.md
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8557)
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/get-involved/collab-summit.md
  apps/site/pages/ta/about/get-involved/events.mdx
  apps/site/pages/ta/about/get-involved/index.md
  apps/site/pages/ta/about/governance.md
  apps/site/pages/ta/about/index.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/about/security-reporting.mdx
  apps/site/snippets/ta/download/brew.bash
  apps/site/snippets/ta/download/choco.bash
  apps/site/snippets/ta/download/corepack.bash
  apps/site/snippets/ta/download/docker.bash
  apps/site/snippets/ta/download/fnm.bash
  apps/site/snippets/ta/download/n.bash
  apps/site/snippets/ta/download/npm.bash
  apps/site/snippets/ta/download/nvm.bash
  apps/site/snippets/ta/download/pnpm.bash
  apps/site/snippets/ta/download/yarn.bash
  packages/i18n/package.json
  packages/i18n/src/locales/ja.json
Due: eslint --fix, prettier --write, prettier --check --write

meta: bump opennextjs
  apps/site/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

hotfix: fetch retry fix
  apps/site/next-data/generators/majorNodeReleases.mjs
  apps/site/next-data/generators/supportersData.mjs
  apps/site/next-data/generators/vulnerabilities.mjs
  apps/site/next.calendar.mjs
  apps/site/next.fetch.mjs
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: fetch retry fix (#8615)
  apps/site/next-data/generators/majorNodeReleases.mjs
  apps/site/next-data/generators/supportersData.mjs
  apps/site/next-data/generators/vulnerabilities.mjs
  apps/site/next.calendar.mjs
  apps/site/next.fetch.mjs
  apps/site/util/fetch.ts
Due: eslint --fix, prettier --write, prettier --check --write
