Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Refactor: abstract common test code into a setUpTest function in Common/Pagination tests
  components/Common/Pagination/__tests__/index.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Feat: add currentPageSiblingsCount prop, and update useGetPageElements hook with ellipsis logic
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Feat: add initial stories for Common/Pagination component
  components/Common/Pagination/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Adding NavItem
  .idea/modules.xml
  .idea/nodejs.org.iml
  .idea/vcs.xml
  .idea/workspace.xml
  components/sections/NavItem/index.module.css
  components/sections/NavItem/index.stories.tsx
  components/sections/NavItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Feat: add aria-current modifier in tailwind.config.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Feat: add initial Tailwind styles to all Common/Pagination HTML elements
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Refactor: move styles of Common/Pagination component to index.module.css
  components/Common/Pagination/index.module.css
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Feat: add internationalization to Common/Pagination component
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

Fix: add missing responsive styles in Common/Pagination index.module.css
  components/Common/Pagination/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Refactor: add some minor updates to Common/Pagination component
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update
  components/Common/AvatarGroup/Avatar/__tests__/index.mjs
  components/Common/AvatarGroup/Avatar/index.module.css
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  util/__tests__/avatar.test.mjs
  util/__tests__/github.test.mjs
  util/avatars.ts
  util/github.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix(Breadcrumbs): itemProp without wrapping with span
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Refactor: split useGetPageElements code into sub-components, refactor its code, and document it through comments
  components/Common/Pagination/Ellipsis/index.module.css
  components/Common/Pagination/Ellipsis/index.tsx
  components/Common/Pagination/PaginationListItem/index.module.css
  components/Common/Pagination/PaginationListItem/index.tsx
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.module.css
  components/Common/Pagination/index.stories.tsx
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Feat: add nextJsRouter.mjs mock in __mocks__ directory, and import it within jest.setup.mjs
  .eslintrc.json
  __mocks__/nextJsRouter.mjs
  components/Common/ActiveLocalizedLink/__tests__/index.test.mjs
  components/Common/Pagination/__tests__/index.test.mjs
  jest.setup.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update Fedora/RHEL section for installing via Package Manager
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

Remove `nodesource` as alternative method
  pages/en/download/package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: create NavItem component
  components/sections/NavItem/index.module.css
  components/sections/NavItem/index.stories.tsx
  components/sections/NavItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Create NavItem component (#5972)
  components/sections/NavItem/index.module.css
  components/sections/NavItem/index.stories.tsx
  components/sections/NavItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Feat: add PaginationListItem unit tests, and minor refactors to improve code consistency
  __mocks__/nextJsRouter.mjs
  components/Common/Pagination/PaginationListItem/__tests__/index.test.mjs
  components/Common/Pagination/PaginationListItem/index.module.css
  components/Common/Pagination/PaginationListItem/index.tsx
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor(Breadcrumbs): modularize Breadcrumb and refine logic
  components/Common/Breadcrumbs/BreadcrumbHomeLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbHomeLink/index.tsx
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.tsx
  components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
  components/Common/Breadcrumbs/BreadcrumbTruncatedItem/index.tsx
  components/Common/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

style(Breadcrumbs): rename other to props
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(Breadcrumbs): move name to link
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbLink/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(Breadcrumbs): disable microdata for truncated item
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbTruncatedItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Feat: create Common/Pagination component (#5971)
  .eslintrc.json
  __mocks__/nextJsRouter.mjs
  components/Common/ActiveLocalizedLink/__tests__/index.test.mjs
  components/Common/Pagination/Ellipsis/index.module.css
  components/Common/Pagination/Ellipsis/index.tsx
  components/Common/Pagination/PaginationListItem/__tests__/index.test.mjs
  components/Common/Pagination/PaginationListItem/index.module.css
  components/Common/Pagination/PaginationListItem/index.tsx
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/index.module.css
  components/Common/Pagination/index.stories.tsx
  components/Common/Pagination/index.tsx
  components/Common/Pagination/useGetPageElements.tsx
  i18n/locales/en.json
  jest.setup.mjs
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat(components): add `Breadcrumbs` component (#5928)
  components/Common/Breadcrumbs/BreadcrumbHomeLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbHomeLink/index.tsx
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/Breadcrumbs/BreadcrumbItem/index.tsx
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.tsx
  components/Common/Breadcrumbs/BreadcrumbRoot/index.module.css
  components/Common/Breadcrumbs/BreadcrumbRoot/index.tsx
  components/Common/Breadcrumbs/BreadcrumbTruncatedItem/index.tsx
  components/Common/Breadcrumbs/index.stories.tsx
  components/Common/Breadcrumbs/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: hotfix of breadcrumb styles
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbLink/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Blog: v18.18.1 release post
  pages/en/blog/release/v18.18.1.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: add remark-gfm
  .remarkrc.json
  next.dynamic.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v18.18.1 release post (#5975)
  pages/en/blog/release/v18.18.1.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: add remark-gfm (#5978)
  .remarkrc.json
  next.dynamic.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

rename list and logos stories
  components/__design__/list.stories.tsx
  components/__design__/node-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(avatarGroupe): update with feedBack
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/index.stories.tsx
  util/avatars.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: hotfix pagination tests and provider
  components/Common/Pagination/PaginationListItem/__tests__/index.test.mjs
  components/Common/Pagination/PaginationListItem/index.tsx
  components/Common/Pagination/__tests__/index.test.mjs
  components/Common/Pagination/useGetPageElements.tsx
Due: eslint --fix, prettier --write, prettier --check --write

rename list and logos stories (#5979)
  components/__design__/list.stories.tsx
  components/__design__/node-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: indentation
  components/Common/AvatarGroup/Avatar/index.module.css
  components/Common/AvatarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

remove `'use client';`
  components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(utils): separate "avatar"
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  util/__tests__/github.mjs
  util/__tests__/string.mjs
  util/github.ts
  util/stringutils.ts
Due: eslint --fix, prettier --write, prettier --check --write

update
  components/Common/AvatarGroup/avatar/index.module.css
  components/Common/AvatarGroup/avatar/index.stories.tsx
  components/Common/AvatarGroup/avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  public/static/images/avatar-placeholder.svg
  util/__tests__/github.test.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat(avatarGroup): introduce
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  util/github.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

update
  components/Common/AvatarGroup/Avatar/index.module.css
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
