Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

revert: tablebody
  apps/site/components/EOL/EOLReleaseTable/TableBody.tsx
  apps/site/components/EOL/EOLReleaseTable/TableClient.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: implement the switch in html/css only
  apps/site/components/EOL/EOLReleaseTable/TableBody.tsx
  apps/site/components/EOL/EOLReleaseTable/index.module.css
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  packages/ui-components/src/Common/Switch/index.module.css
  packages/ui-components/src/Common/Switch/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

revert: @radix-ui/react-switch install
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: prettier --write

revert: pnpm.lock
  pnpm-lock.yaml
Due: none

revert: tests
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: new stories
  packages/ui-components/src/Common/Switch/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/types/features.ts
  apps/site/util/feeds.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove blog data from providers, cache snippets (#8243)
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/components/Blog/BlogPostCard/index.tsx
  apps/site/components/withBlogCrossLinks.tsx
  apps/site/components/withDownloadSection.tsx
  apps/site/layouts/Blog.tsx
  apps/site/next-data/blogData.ts
  apps/site/next-data/generators/blogData.mjs
  apps/site/next-data/providers/blogData.ts
  apps/site/next-data/providers/downloadSnippets.ts
  apps/site/next-data/providers/websiteFeeds.ts
  apps/site/next.dynamic.constants.mjs
  apps/site/package.json
  apps/site/scripts/blog-data/__test__/generate.test.mjs
  apps/site/scripts/blog-data/generate.mjs
  apps/site/scripts/blog-data/index.mjs
  apps/site/types/blog.ts
  apps/site/types/features.ts
  apps/site/util/__tests__/feeds.test.mjs
  apps/site/util/blog.ts
  apps/site/util/feeds.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui-components): add README
  packages/ui-components/README.md
  packages/ui-components/package.json
  packages/ui-components/scripts/publish.mjs
  packages/ui-components/src/Common/Search/README.md
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestion from @Copilot
  packages/ui-components/README.md
Due: eslint --fix, prettier --write, prettier --check --write

bump wrangler and open-next adapter
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

add open-next DO queue
  apps/site/open-next.config.ts
  apps/site/wrangler.jsonc
Due: eslint --fix, prettier --write, prettier --check --write

for the open-next incremental cache use R2 with regional cache instead of kv
  apps/site/open-next.config.ts
  apps/site/wrangler.jsonc
Due: eslint --fix, prettier --write, prettier --check --write

enable open-next cache interception
  apps/site/open-next.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

remove extra backtick
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

add open-next custom image loader
  apps/site/cloudflare-image-loader.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

define `OPEN_NEXT_CLOUDFLARE` variable in `next.consstants.mjs`
  apps/site/next.config.mjs
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

avoid ternaries in `next.config.mjs`
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

update cloudflare-build-and-deployment
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

add inline comment for regional cache
  apps/site/open-next.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

add env variables for R2 cache batch uploads
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

add missing parenthesis
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

move image-loader file inside cloudflare directory
  apps/site/cloudflare/image-loader.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

allow the open-next version of the site to be built using turbo and remove the `build:default` script
  apps/site/open-next.config.ts
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

Bump `@opennextjs/cloudflare` to `1.13.1` and remove no-longer needed R2 env variables
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ui-components): add README (#8356)
  packages/ui-components/README.md
  packages/ui-components/package.json
  packages/ui-components/scripts/publish.mjs
  packages/ui-components/src/Common/Search/README.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: rename certifications to courses
  packages/i18n/src/locales/en.json
Due: prettier --write

feat: rename certifications to courses (#8359)
  packages/i18n/src/locales/en.json
Due: prettier --write

[automated]: crowdin sync (#8358)
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/get-involved/collab-summit.md
  apps/site/pages/pt-br/about/get-involved/events.mdx
  apps/site/pages/pt-br/about/get-involved/index.md
  apps/site/pages/pt-br/about/governance.md
  apps/site/pages/pt-br/about/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/uk/about/partners.mdx
  apps/site/snippets/pt-br/download/brew.bash
  apps/site/snippets/pt-br/download/choco.bash
  apps/site/snippets/pt-br/download/corepack.bash
  apps/site/snippets/pt-br/download/devbox.bash
  apps/site/snippets/pt-br/download/docker.bash
  apps/site/snippets/pt-br/download/fnm.bash
  apps/site/snippets/pt-br/download/n.bash
  apps/site/snippets/pt-br/download/node.bash
  apps/site/snippets/pt-br/download/npm.bash
  apps/site/snippets/pt-br/download/nvm.bash
  apps/site/snippets/pt-br/download/pnpm.bash
  apps/site/snippets/pt-br/download/volta.bash
  apps/site/snippets/pt-br/download/yarn.bash
  packages/i18n/package.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/pt-br.json
Due: eslint --fix, prettier --write, prettier --check --write

feat: add toggle to show/hide LTS releases (#8263)
  apps/site/components/EOL/EOLReleaseTable/TableBody.tsx
  apps/site/components/EOL/EOLReleaseTable/index.module.css
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Common/Switch/index.module.css
  packages/ui-components/src/Common/Switch/index.stories.tsx
  packages/ui-components/src/Common/Switch/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: proper import order
  apps/site/components/Common/Partners/PartnersIconList/index.tsx
  apps/site/components/Common/Partners/PartnersLogoList/index.tsx
  apps/site/components/Common/Searchbox/ChatInteractions/index.tsx
  apps/site/components/Common/Searchbox/ChatMessage/index.tsx
  apps/site/components/Common/Searchbox/ChatSources/index.tsx
  apps/site/components/Common/Searchbox/SearchItem/index.tsx
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/Releases/ReleaseOverview/index.tsx
  docs/code-style.md
  docs/creating-components.md
  eslint.config.js
  packages/ui-components/src/Common/BaseLinkTabs/index.tsx
  packages/ui-components/src/Common/Switch/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: update running typescript natively documentation
  apps/site/pages/en/learn/typescript/run-natively.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(cicd): add bundle stats comparison (#8245)
  .github/workflows/build.yml
  .github/workflows/bundle-compare.yml
  apps/site/scripts/compare-size/index.mjs
  apps/site/turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/learn/typescript/run-natively.md
  apps/site/pages/en/learn/typescript/run-natively.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: require admin approval for `.github`
  .github/CODEOWNERS
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
