Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

FIx to Improvement: Banner issue #5510
  components/Common/Banner/index.module.scss
  components/Common/Banner/index.tsx
Due: eslint --fix, prettier --write

Fix for Improvement: Banner #5510
  components/Common/Banner/index.module.scss
Due: none

fix: pin dependecy and file format
  .eslintrc
  package.json
Due: prettier --write

fix: revert back `snapshot` for article/codebox
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
Due: none

chore: renamed .rc files to proper .json extension
  .eslintrc.json
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc.json
  .remarkrc.json
  .stylelintrc.json
Due: prettier --write

chore: updated linting commands
  .gitignore
  package.json
Due: prettier --write

chore: fixed file according to remark-lint
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

fixed margin,font and color left
  components/Common/Banner/index.module.scss
  components/Common/Banner/index.tsx
Due: eslint --fix, prettier --write

chore: revert contributing changes
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

fix: typo githuh -> github
  pages/en/blog/vulnerability/june-2023-security-releases.md
Due: eslint --fix, prettier --write

New translations index.mdx (Chinese Simplified) chore(i18n): added new translations from crowdin
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

New translations index.mdx (Indonesian) chore(i18n): added new translations from crowdin
  pages/id/docs/index.mdx
Due: eslint --fix, prettier --write

New translations event-loop-timers-and-nexttick.md (Chinese Simplified) chore(i18n): added new translations from crowdin
  pages/zh-cn/docs/guides/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write

New translations en.json (Chinese Simplified) chore(i18n): added new translations from crowdin
  i18n/locales/zh-cn.json
Due: prettier --write

New translations en.json (Indonesian) chore(i18n): added new translations from crowdin
  i18n/locales/id.json
Due: prettier --write

Changed the banner scss as required
  components/Common/Banner/index.module.scss
Due: none

fix: typo githuh -> github (#5515)
  pages/en/blog/vulnerability/june-2023-security-releases.md
Due: eslint --fix, prettier --write

Update index.module.scss remove radius for banner
  components/Common/Banner/index.module.scss
Due: none

tests: remove some warnings (#5511)
  components/Common/ActiveLocalizedLink/__tests__/index.test.tsx
  components/Learn/PreviousNextLink/__tests__/index.test.tsx
Due: eslint --fix, prettier --write

chore: renamed .rc files to proper .json extension (#5514)
  .eslintrc.json
  .gitignore
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc.json
  .remarkrc.json
  .stylelintrc.json
  CONTRIBUTING.md
  package.json
Due: eslint --fix, prettier --write

Docs(started): Translate in french getting started
  pages/fr/docs/guides/getting-started-guide.md
Due: eslint --fix, prettier --write

Feat(guides): Translate index of guides page
  pages/fr/docs/guides/index.md
Due: eslint --fix, prettier --write

Added URLS
  .lighthouserc.json
Due: prettier --write

Removed BE
  .lighthouserc.json
Due: prettier --write

Removed GL
  .lighthouserc.json
Due: prettier --write

Removed blog
  .lighthouserc.json
Due: prettier --write

Removed NL
  .lighthouserc.json
Due: prettier --write

Added Values
  .lighthouserc.json
Due: prettier --write

LightHouse Recommended
  .lighthouserc.json
Due: prettier --write

Done
  .lighthouserc.json
Due: prettier --write

File name changed
  .github/workflows/lighthouse-ci.yml
Due: prettier --write

Requested Changes
  .github/workflows/lighthouse-ci.yml
  .lighthouserc.json
  package.json
Due: prettier --write

Removed the unused package
  package-lock.json
Due: prettier --write

chore: only replace file if base does not exists
  .github/workflows/build-and-analysis.yml
Due: prettier --write

chore: pinned actions versions
  .github/workflows/build-and-analysis.yml
  .github/workflows/pull-request.yml
Due: prettier --write

fix: toggle language selector button
  components/Common/Dropdown/index.tsx
  components/Common/LanguageSelector/index.tsx
Due: eslint --fix, prettier --write

tests: update storybook snapshots
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
Due: none

fix: pin dependecy and file format
  .eslintrc.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
