Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

fix(nextjs): fix static exports (#8439)
  .github/workflows/build.yml
  apps/site/app/[locale]/not-found.tsx
  apps/site/components/withDownloadSection.tsx
  apps/site/components/withNodeRelease.tsx
  apps/site/components/withReleaseSelect.tsx
  apps/site/components/withSupporters.tsx
  apps/site/next-data/generators/majorNodeReleases.mjs
  apps/site/next-data/providers/downloadSnippets.ts
  apps/site/next-data/providers/releaseData.ts
  apps/site/next-data/providers/releaseVersions.ts
  apps/site/next-data/providers/supportersData.ts
  apps/site/next-data/providers/vulnerabilities.ts
  apps/site/next-env.d.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

docs(security.txt): move security.txt to .well-known folder (#8436)
  apps/site/public/.well-known/security.txt
Due: none

docs: add marketing team as code owners for partners and branding pages (#8435)
  .github/CODEOWNERS
Due: none

fix(ci): disable all locale export
  .github/workflows/build.yml
Due: prettier --write

Update build.yml
  .github/workflows/build.yml
Due: prettier --write

fix(ci): disable all locale export (#8440)
  .github/workflows/build.yml
Due: prettier --write

chore(next): bump version of nextjs and related deps
  apps/site/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fixup!
  apps/site/package.json
Due: prettier --write

refactor: searchbox flash issue and minor improvements
  packages/ui-components/src/Common/Search/Modal/index.module.css
Due: none

chore: searchbox min height
  packages/ui-components/src/Common/Search/Modal/index.module.css
Due: none

refactor: searchbox flash issue and minor improvements (#8444)
  packages/ui-components/src/Common/Search/Modal/index.module.css
Due: none

fix: code scroll issue on small screen
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

fix: resolve horizontal scroll issue on small screens
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

fix: improve handling of horizontal scroll on small screens
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

fix: update overflow-wrap property for better code block handling
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

feat(orama): mobile ui
  apps/site/components/Common/Searchbox/ChatInteractions/index.module.css
  apps/site/components/Common/Searchbox/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/package.json
  packages/ui-components/package.json
  packages/ui-components/src/Common/Search/Chat/Actions/index.module.css
  packages/ui-components/src/Common/Search/Chat/Input/index.module.css
  packages/ui-components/src/Common/Search/Chat/Input/index.tsx
  packages/ui-components/src/Common/Search/Chat/Trigger/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Results/Hit/index.module.css
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
  packages/ui-components/src/Common/Search/Suggestions/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/components/Common/Searchbox/ChatInteractions/index.module.css
Due: none

feat(orama): mobile ui (#8443)
  apps/site/components/Common/Searchbox/ChatInteractions/index.module.css
  apps/site/components/Common/Searchbox/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/package.json
  packages/ui-components/package.json
  packages/ui-components/src/Common/Search/Chat/Actions/index.module.css
  packages/ui-components/src/Common/Search/Chat/Input/index.module.css
  packages/ui-components/src/Common/Search/Chat/Input/index.tsx
  packages/ui-components/src/Common/Search/Chat/Trigger/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Results/Hit/index.module.css
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
  packages/ui-components/src/Common/Search/Suggestions/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix: mobile close icon and focus in issue
  packages/ui-components/src/Common/Search/Input/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: hide in medium res
  packages/ui-components/src/Common/Search/Modal/index.module.css
Due: none

chore(bundle): don't send translations to client
  apps/site/app/[locale]/[...path]/page.tsx
  apps/site/app/[locale]/blog/[...path]/page.tsx
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/app/[locale]/layout.tsx
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
  apps/site/app/[locale]/page.tsx
  apps/site/app/sitemap.ts
  apps/site/components/withDownloadSection.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withNavBar.tsx
  apps/site/i18n.tsx
  apps/site/middleware.ts
  apps/site/navigation.mjs
  apps/site/next-data/generators/downloadSnippets.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.dynamic.page.mjs
  apps/site/next.locales.mjs
  apps/site/next.rewrites.mjs
  apps/site/tests/e2e/general-behavior.spec.ts
  docs/technologies.md
  packages/i18n/src/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: mobile dialog close icon (#8446)
  packages/ui-components/src/Common/Search/Input/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Modal/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/tests/e2e/general-behavior.spec.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): use `##` instead of `#` when comparing
  apps/site/scripts/compare-size/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/scripts/compare-size/index.mjs
  apps/site/scripts/compare-size/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/next.dynamic.page.mjs
  apps/site/tests/e2e/general-behavior.spec.ts
  packages/i18n/src/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: fixed codebox height for active tab (#8425)
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

docs: fix broken /download link on Nodejs Releases page (#8451)
  apps/site/pages/en/about/previous-releases.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: code scroll issue on small screen (#8445)
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

fix: added an extra line to eliminate resizing of code block (#8425)
  apps/site/pages/en/index.mdx
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

meta: bump ui-components version manually
  packages/ui-components/package.json
Due: prettier --write

fix: workflow publish package failure fix
  .github/workflows/publish-packages.yml
Due: prettier --write

fix: correct condition syntax for package publishing check
  .github/workflows/publish-packages.yml
Due: prettier --write

fix: scorecard workflow failure fix
  .github/workflows/scorecard.yml
Due: prettier --write

fix: fixes variable codeblock size (#8425)
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui-components): update table border colors
  packages/ui-components/src/styles/markdown.css
Due: none

feat: inline copy feedback for code blocks
  apps/site/components/Common/CodeBox.tsx
  packages/ui-components/src/Common/BaseCodeBox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui-components): bump version
  packages/ui-components/package.json
Due: prettier --write
