Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: synced translations from crowdin [skip ci]
  i18n/locales/tr.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/uk.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/vi.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/pt-br.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/id.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/fa.json
Due: prettier --write, prettier --check --write

fix: bg on `LanguageDropDown` (#6449)
  components/Common/LanguageDropDown/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Update components/Downloads/Release/LinkWithArrow.tsx
  components/Downloads/Release/LinkWithArrow.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update to have `width` and `height`
  pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat(download):color link on botton in dark and light mode (#6450)
  components/Downloads/Release/LinkWithArrow.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: select should have scrollbar
  components/Common/Select/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

feat: next/image added into the mdx components
  next.mdx.use.mjs
  pages/en/about/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Image moved into the html components
  next.mdx.use.mjs
  pages/en/about/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Fix arm64 select by default v2
  components/Downloads/Release/BitnessDropdown.tsx
  hooks/react-client/__tests__/useDetectOS.test.mjs
  hooks/react-client/useDetectOS.ts
  util/__tests__/getUserBitnessByArchitecture.test.mjs
  util/getUserBitnessByArchitecture.ts
Due: eslint --fix, prettier --write, prettier --check --write

Fix arm64 select by default v2
  components/Downloads/Release/BitnessDropdown.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update util/__tests__/getUserBitnessByArchitecture.test.mjs
  util/__tests__/getUserBitnessByArchitecture.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update util/getUserBitnessByArchitecture.ts
  util/getUserBitnessByArchitecture.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: zoom issue on smaller screens due to focus
  next.dynamic.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: zoom issue on smaller screens due to focus (#6455)
  next.dynamic.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update getUserBitnessByArchitecture.ts
  util/getUserBitnessByArchitecture.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: fixed lint
  components/Downloads/Release/BitnessDropdown.tsx
  util/__tests__/getUserBitnessByArchitecture.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(i18n): added Polish lang
  i18n/config.json
Due: prettier --write, prettier --check --write

test: ResizeObserver mock added
  components/Common/Select/__tests__/index.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: select arm64 by default (#6439)
  components/Downloads/Release/BitnessDropdown.tsx
  hooks/react-client/__tests__/useDetectOS.test.mjs
  hooks/react-client/useDetectOS.ts
  util/__tests__/getUserBitnessByArchitecture.test.mjs
  util/getArchitecture.ts
  util/getUserBitnessByArchitecture.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: select should have scrollbar (#6452)
  components/Common/Select/__tests__/index.test.mjs
  components/Common/Select/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: minor cleanup
  components/withBreadcrumbs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: other minor
  components/withBreadcrumbs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix breadcrumbs not updating (#6431)
  components/Common/Breadcrumbs/index.tsx
  components/withBreadcrumbs.tsx
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: mdx image component added
  components/MDX/Image/index.tsx
  next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: better examples on home
  pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/zh-cn/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/zh-cn/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/get-involved/index.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/about/get-involved/index.md
Due: eslint --fix, prettier --write, prettier --check --write
