Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

Only transition colors
  components/Common/LanguageDropDown/index.module.css
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

feat: add support for Node.js v22
  next.json.mjs
  next.locales.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct the execution order in esm (#6725)
  pages/en/learn/asynchronous-work/understanding-setimmediate.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: disabled button (#6731)
  components/Common/Button/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat(pride logo): introduce
  components/Containers/NavBar/index.stories.tsx
  components/Containers/NavBar/index.tsx
  components/Icons/Logos/NodejsDarkPride.tsx
  components/Icons/Logos/NodejsLightPride.tsx
  components/__design__/node-logos.stories.tsx
  components/withNavBar.tsx
  public/static/logos/nodejsDarkPride.svg
  public/static/logos/nodejsLightPride.svg
  site.json
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: default transition (for colors) to `0.3s` (#6726)
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

fix: Update nav and i18n keys to match article name
  i18n/locales/en.json
  navigation.json
Due: prettier --write, prettier --check --write

fix: learn page breadcrumbs where label !== path slug (#6729)
  components/withBreadcrumbs.tsx
  i18n/locales/en.json
  navigation.json
  util/__tests__/stringUtils.test.mjs
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

Fix TypeError in useBottomScrollListener Test Due to Incorrect act Import
  hooks/react-client/__tests__/useBottomScrollListener.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

feat(logo): update logic to allow variant
  components/Common/NodejsLogo/index.module.css
  components/Common/NodejsLogo/index.stories.tsx
  components/Common/NodejsLogo/index.tsx
  components/Containers/NavBar/index.module.css
  components/Containers/NavBar/index.stories.tsx
  components/Containers/NavBar/index.tsx
  components/withNavBar.tsx
  components/withNodejsLogo.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix:positioning of the toast notification
  layouts/Base.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix(test): TypeError in useBottomScrollListener Test Due to Incorrect act Import (#6736)
  hooks/react-client/__tests__/useBottomScrollListener.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: motion safe animations
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

feat: smooth scroll behavior in article
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: Layout shift in codebox
  components/Common/CodeBox/index.tsx
  components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Layout shift in download page / CodeBox (#6740)
  components/Common/CodeBox/index.tsx
  components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix: positioning of the toast notification (copy to clipboard) (#6737)
  layouts/Base.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Move links from headings
  pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, prettier --check --write

Update dont-block-the-event-loop.md
  pages/en/learn/asynchronous-work/dont-block-the-event-loop.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix debugging page hydration (#6743)
  pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, prettier --check --write

Feat: Motion safe animations (#6739)
  layouts/layouts.module.css
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

Blog: v20.14.0 release post
  pages/en/blog/release/v20.14.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.14.0 release post (#6745)
  pages/en/blog/release/v20.14.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(meta): support nodejs v22
  next.json.mjs
  next.locales.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(copy): inline copy/paste button result
  components/Common/CodeBox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(download): don't directly download
  components/Downloads/DownloadButton/index.tsx
  pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Update tsx example
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

Update dont-block-the-event-loop.md (#6744)
  pages/en/learn/asynchronous-work/dont-block-the-event-loop.md
Due: eslint --fix, prettier --write, prettier --check --write

update
  components/Common/NodejsLogo/index.stories.tsx
  components/Common/NodejsLogo/index.tsx
  components/withNodejsLogo.tsx
  package.json
  site.json
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update how-to-install-nodejs.md
  pages/en/learn/getting-started/how-to-install-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

Update how-to-install-nodejs.md (#6753)
  pages/en/learn/getting-started/how-to-install-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(pride logo): introduce (#6734)
  components/Common/NodejsLogo/index.module.css
  components/Common/NodejsLogo/index.stories.tsx
  components/Common/NodejsLogo/index.tsx
  components/Containers/NavBar/index.module.css
  components/Containers/NavBar/index.tsx
  components/Icons/Logos/NodejsDarkPride.tsx
  components/Icons/Logos/NodejsLightPride.tsx
  components/__design__/node-logos.stories.tsx
  components/withNodejsLogo.tsx
  package.json
  public/static/logos/nodejsDarkPride.svg
  public/static/logos/nodejsLightPride.svg
  site.json
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: eslint --fix, prettier --write, prettier --check --write

Update getNodeDownloadSnippet.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

Add how-to guide for node's test runner
  pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, prettier --check --write

Update tsx example (#6750)
  pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, prettier --check --write

Require TSC approval for stances
  GOVERNANCE.md
Due: eslint --fix, prettier --write, prettier --check --write

adjust markdown to special flavour
  pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: add issue link to the release worker
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write, prettier --check --write

Update .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
