Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: more changes with notifications
  components/Common/CodeBox/index.tsx
  layouts/New/Base.tsx
  providers/notificationProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: more minor fixes
  components/Common/CodeBox/index.module.css
  components/Common/CodeBox/index.tsx
  components/SideNavigation.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: add CodeBox component and code tabs plugin (#6038)
  .storybook/main.ts
  components/Common/CodeBox/index.module.css
  components/Common/CodeBox/index.stories.tsx
  components/Common/CodeBox/index.tsx
  components/Common/CodeTabs/index.module.css
  components/Common/CodeTabs/index.stories.tsx
  components/Common/CodeTabs/index.tsx
  components/Common/Tabs/__tests__/index.test.mjs
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.stories.tsx
  components/Common/Tabs/index.tsx
  components/Downloads/ChangelogModal/index.module.css
  components/MDX/CodeBox/index.stories.tsx
  components/MDX/CodeBox/index.tsx
  components/MDX/CodeTabs/index.stories.tsx
  components/MDX/CodeTabs/index.tsx
  components/SideNavigation.tsx
  i18n/locales/en.json
  layouts/New/Base.tsx
  next.fonts.ts
  next.mdx.mjs
  next.mdx.shiki.mjs
  next.mdx.use.mjs
  package-lock.json
  pages/en/blog/release/v18.19.0.md
  pages/en/blog/release/v20.10.0.md
  pages/en/blog/release/v20.6.0.md
  pages/en/blog/release/v20.9.0.md
  pages/en/blog/release/v21.0.0.md
  pages/en/blog/release/v21.1.0.md
  pages/en/blog/release/v21.2.0.md
  pages/en/blog/release/v21.3.0.md
  pages/en/blog/release/v21.4.0.md
  pages/en/blog/release/v21.5.0.md
  providers/notificationProvider.tsx
  scripts/release-post/template.hbs
  shiki.config.mjs
  styles/old/index.css
  util/getLanguageDisplayName.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: added renderer for badges
  components/withBadge.tsx
  site.json
  types/config.ts
  types/features.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: refactored banner components and some optimizations
  components/Common/Banner/index.tsx
  components/withBanner.tsx
  components/withNavBar.tsx
  site.json
  types/features.ts
  types/releases.ts
  util/dateIsBetween.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: unit test
  util/__tests__/dateIsBetween.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: types
  components/Common/Banner/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: added renderer for badges (#6213)
  components/Common/Banner/index.stories.tsx
  components/Common/Banner/index.tsx
  components/withBadge.tsx
  components/withBanner.tsx
  components/withNavBar.tsx
  site.json
  types/config.ts
  types/features.ts
  types/releases.ts
  util/__tests__/dateIsBetween.test.mjs
  util/dateIsBetween.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: hotfixes on styles
  components/Common/Banner/index.module.css
  components/Common/Button/index.module.css
  components/Common/MetaBar/index.module.css
  components/Common/Pagination/PaginationListItem/index.module.css
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  components/withNavBar.tsx
  navigation.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: normalized layout types and layout connector
  app/[locale]/[[...path]]/page.tsx
  components/withLayout.tsx
  pages/en/about/get-involved/collab-summit.md
  pages/en/about/get-involved/contribute.md
  pages/en/about/get-involved/index.md
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: base-layout without overflow hidden
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

chore: tailwind changes
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: fixed codetabs styles
  components/Common/CodeTabs/index.module.css
  components/Common/CodeTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: download button component
  components/Downloads/DownloadButton.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: shiki and highlighter changes
  next.mdx.shiki.mjs
  next.mdx.use.mjs
  util/getHighlighter.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: fix codebox tabs and copy button
  components/Common/CodeBox/index.tsx
  components/MDX/CodeTabs/index.tsx
  next.mdx.shiki.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: normalize export of withCurrentOS
  components/Downloads/PrimaryDownloadMatrix.tsx
  components/withCurrentOS.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: mdx codetabs with external link
  components/MDX/CodeTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: home page layout
  layouts/New/Home.tsx
  layouts/New/layouts.module.css
  pages/en/new-design/index.mdx
  public/static/images/dark-backdrop.svg
  public/static/images/white-backdrop.svg
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: website redesign route rewrite
  next.rewrites.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: banner and badge on home
  components/Home/Banner.tsx
  next.mdx.use.mjs
  pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: markdown styles
  components/Common/CodeTabs/index.module.css
  layouts/New/layouts.module.css
  pages/en/new-design/index.mdx
  styles/new/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: fixed types and code
  components/Common/CodeBox/index.tsx
  components/MDX/CodeBox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fixed rewrites
  next.rewrites.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: rephrase text
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: design fixes and removed bloat
  components/Common/Button/index.module.css
  components/Common/Preview/index.module.css
  layouts/New/Home.tsx
  layouts/New/layouts.module.css
  public/static/images/dark-backdrop.svg
  public/static/images/patterns/hexagon-grid.svg
  public/static/images/white-backdrop.svg
  site.json
  styles/new/index.css
  styles/new/mixins.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: revert site.json test changes
  site.json
Due: prettier --write, prettier --check --write

chore: tailwind fixes
  components/Downloads/DownloadButton.tsx
  components/MDX/CodeBox/index.tsx
  layouts/New/layouts.module.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: make default layout more organised
  layouts/New/Default.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: more design fixes
  components/Common/CodeTabs/index.module.css
  components/Common/Tabs/index.module.css
  components/Downloads/DownloadButton.tsx
  layouts/New/layouts.module.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: use css modules
  components/Downloads/DownloadButton/index.module.css
  components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: styling updates
  components/Common/Button/index.module.css
  components/Downloads/DownloadButton/index.module.css
  layouts/New/layouts.module.css
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: feedbacks from review
  components/Common/Button/index.module.css
  components/Downloads/DownloadButton/index.module.css
  layouts/New/layouts.module.css
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: some fixes and formatting
  components/Common/Select/index.module.css
  components/Containers/Footer/index.tsx
  next.mdx.compiler.mjs
  pages/en/about/security-reporting.mdx
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Update next.rewrites.mjs
  next.rewrites.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: numerous accessibility issues
  app/[locale]/layout.tsx
  components/Common/Breadcrumbs/BreadcrumbHomeLink/index.tsx
  components/Common/Tabs/index.tsx
  layouts/New/layouts.module.css
  next.mdx.mjs
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat(styles): use `size` instead of `h` and `w`
  styles/new/base.css
Due: prettier --write, stylelint --allow-empty-input

fix: codebox accessible comment color
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

docs: color replacements on shikiji
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: fixed mdxcontent css priority
  components/Downloads/ChangelogModal/index.module.css
  components/Downloads/ChangelogModal/index.stories.tsx
  components/__design__/list.stories.tsx
  components/__design__/table.stories.tsx
  components/__design__/text.stories.tsx
  layouts/New/About.tsx
  layouts/New/Article.tsx
  layouts/New/Default.tsx
  layouts/New/Docs.tsx
  layouts/New/Home.tsx
  layouts/New/Learn.tsx
  layouts/New/layouts.module.css
  styles/new/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
