Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

refactor: client renaming
  apps/site/components/EOL/EOLReleaseTable/TableClient.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: use tilde for version
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: dont create arrow fn onCheckedChange
  apps/site/components/EOL/EOLReleaseTable/TableClient.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: rename prop
  packages/ui-components/src/Common/Switch/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

handle all viewports for complementary tab or select
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
Due: none

fix(css): `!` in `md:hidden` (#8276)
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/Common/BaseLinkTabs/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update navigation.json
  apps/site/navigation.json
Due: prettier --write

fixes test, but does it?
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix grammar
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
  apps/site/pages/en/learn/getting-started/userland-migrations.md
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: add use client directive
  packages/ui-components/src/Common/Switch/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update pnpm package manager reference in docs
  docs/getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

content(`userland-migration`): make up to date (#8053)
  apps/site/layouts/Blog.tsx
  apps/site/mdx/components.mjs
  apps/site/navigation.json
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
  apps/site/pages/en/learn/getting-started/userland-migrations.md
  apps/site/pages/en/learn/migrations/introduction.md
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(versioning): bump node to v24, pnpm to v10.20
  .github/workflows/publish-packages.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

update types
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

content(migration): fix typo + improve texting
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

Update learning nav to bring beginner friendly topics before complex articles for the english locale
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
Due: prettier --write

fix broken i18n keys[en] and move userland migrations to getting started
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
Due: prettier --write

chore: use correct codemod logo (#8278)
  packages/ui-components/src/Icons/PartnerLogos/Codemod/Favicon.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: update @orama/core
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

create a new HTTP section within the learn tab
  apps/site/navigation.json
  apps/site/pages/en/learn/http/anatomy-of-an-http-transaction.md
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

test: create remark table plugin tests
  apps/site/util/__tests__/table.test.mjs
  apps/site/util/table.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove duplicate mdast-util-to-string in site package (#8287)
  apps/site/package.json
Due: prettier --write

chore: automated format of translated files
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/branding.mdx
  apps/site/pages/zh-cn/about/previous-releases.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  apps/site/pages/zh-cn/download/current.mdx
  apps/site/pages/zh-cn/download/index.mdx
  apps/site/pages/zh-cn/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: improve color contrast in AlertBox info variant
  packages/ui-components/src/Common/AlertBox/index.module.css
Due: none

fix: resolve CSS conflict between AlertBox and markdown styles
  packages/ui-components/src/Common/AlertBox/index.module.css
Due: none

refactor: minor fixes and clean up
  apps/site/components/Common/Searchbox/ChatInput/index.tsx
  apps/site/components/Common/Searchbox/InnerSearchboxModal/index.module.css
  apps/site/components/Common/Searchbox/InnerSearchboxModal/index.tsx
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/SearchResults/index.tsx
  apps/site/components/Common/Searchbox/index.module.css
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/package.json
  apps/site/providers/oramaProvider.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

improve color contrast in AlertBox info variant
  packages/ui-components/src/Common/AlertBox/index.module.css
Due: none

Update pnpm package manager reference in docs (#8288)
  docs/getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): made blog category select clickable and navigate correctly on mobile
  packages/ui-components/src/Common/BaseLinkTabs/index.tsx
  packages/ui-components/src/Common/Select/StatelessSelect/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

docs: remove unnecessary locale path
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: add span and div to text color override
  packages/ui-components/src/Common/AlertBox/index.module.css
Due: none

refactor: clean up modal state
  apps/site/components/Common/Searchbox/InnerSearchboxModal/index.module.css
  apps/site/components/Common/Searchbox/InnerSearchboxModal/index.tsx
  apps/site/components/Common/Searchbox/MobileTopBar/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/providers/searchboxProvider.tsx
  apps/site/reducers/searchboxReducer.ts
  apps/site/types/searchbox.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: codebox selectable code
  packages/rehype-shiki/src/transformers/twoslash/index.css
Due: none

refactor: remove oramaProvider
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/components/Common/Searchbox/orama-client.ts
  apps/site/providers/oramaProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove throw error
  apps/site/components/Common/Searchbox/EmptyResults/index.tsx
  apps/site/components/Common/Searchbox/InnerSearchboxModal/index.tsx
  apps/site/components/Common/Searchbox/MobileTopBar/index.tsx
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/SearchResults/index.tsx
  apps/site/providers/searchboxProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: link tabs redirect
  packages/ui-components/src/Common/BaseLinkTabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix grammatical errors in migration documentation
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
Due: eslint --fix, prettier --write, prettier --check --write

bump wrangler and open-next adapter
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

enable open-next cache interception
  apps/site/open-next.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
