Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

Update notify-on-push.yml (#7430)
  .github/workflows/notify-on-push.yml
Due: prettier --write, prettier --check --write

Remove reference-style markdown links from translated content (#7426)
  apps/site/pages/en/about/governance.md
  apps/site/pages/en/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: addressed feedback
  apps/site/pages/en/download/current.mdx
  apps/site/pages/en/download/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Fix: nodejs.org/about/* leads to 404 (#7432)
  apps/site/redirects.json
Due: prettier --write, prettier --check --write

Apply suggestion from code review
  apps/site/components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: better links for source (#7428)
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/DownloadLink.tsx
  apps/site/next.mdx.use.client.mjs
  apps/site/pages/en/download/current.mdx
  apps/site/pages/en/download/index.mdx
  apps/site/pages/en/index.mdx
  apps/site/util/getNodeDownloadUrl.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: create markdown snippets linter (#7431)
  apps/site/package.json
  apps/site/pages/en/learn/modules/how-to-use-streams.md
  apps/site/pages/en/learn/test-runner/mocking.md
  apps/site/scripts/lint-snippets/index.mjs
  apps/site/turbo.json
  package-lock.json
  package.json
  turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

download: fix nvm instructions
  apps/site/snippets/en/download/nvm.bash
Due: none

fixup!: replace `npm publish` step from `publish.yml` with note
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.7.0 release post
  apps/site/pages/en/blog/release/v23.7.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v23.7.0 release post (#7435)
  apps/site/pages/en/blog/release/v23.7.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: replace ref to TS's own publishing guide with generic intro
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: add note about `erasableSyntaxOnly`
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: restore box vert lines
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/index.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/index.mdx
  apps/site/pages/id/about/previous-releases.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ko/about/branding.mdx
  apps/site/pages/ko/about/previous-releases.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/index.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/previous-releases.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

attempt to encode title
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

remove spaces
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

download: fix nvm instructions (#7434)
  apps/site/snippets/en/download/nvm.bash
Due: none

Revert "download: fix nvm instructions (#7434)"
  apps/site/snippets/en/download/nvm.bash
Due: none

Revert "download: fix nvm instructions" (#7444)
  apps/site/snippets/en/download/nvm.bash
Due: none

fix: accessibility of the mobile nav bar (#7427)
  apps/site/components/Containers/NavBar/index.module.css
  apps/site/components/Containers/NavBar/index.tsx
  apps/site/components/Icons/Logos/Nodejs.tsx
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: remove confusing close label for navigation menu
  apps/site/components/Containers/NavBar/index.tsx
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: add "dist output" tsconfig sample
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: handle flavours of `.ts` file extensions in `.gitignore` sample
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: correct code block lang for gitignore samples
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: remove extra word
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: simple & advanced examples
  apps/site/pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: re-organise examples
  apps/site/pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

enable `ini` lang in codeblocks
  apps/site/shiki.config.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(learn): organise TypeScript articles from simplest to advanced usage
  apps/site/navigation.json
  apps/site/pages/en/learn/typescript/run-natively.md
  apps/site/pages/en/learn/typescript/run.md
  apps/site/pages/en/learn/typescript/transpile.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(learn): add section for dynamically generating test cases (#7387)
  apps/site/pages/en/learn/test-runner/using-test-runner.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update run.md
  apps/site/pages/en/learn/typescript/run.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: don’t hardcode 3000; use the actual port
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

download: fix nvm instructions (#7434)
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/generators/downloadSnippets.mjs
  apps/site/snippets/en/download/nvm.bash
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content(learn/typescript): revise intro
  apps/site/pages/en/learn/typescript/introduction.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content(learn/typescript): revise intro bis
  apps/site/pages/en/learn/typescript/introduction.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: expand description of article's purpose
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: adjust `tsconfig`s to support oldest node LTS version
  apps/site/pages/en/learn/typescript/publishing-a-ts-project.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Apply suggestions from code review
  apps/site/pages/en/learn/typescript/introduction.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
