Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

blog: update acknowledgment for vulnerability fix
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: update acknowledgment for vulnerability fix (#8964)
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(blog): release security numbers
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(blog): release security numbers (#8966)
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Add CODEOWNER for vulnerability blog post
  .github/CODEOWNERS
Due: none

fixup!
  apps/site/turbo.json
Due: prettier --write

chore(ui): reduce prod deps
  apps/site/styles/index.css
  apps/site/styles/locales.css
  apps/site/turbo.json
  apps/site/vercel.json
  package.json
  packages/rehype-shiki/package.json
  packages/ui-components/README.md
  packages/ui-components/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  .github/workflows/build.yml
  apps/site/.stylelintrc.mjs
  apps/site/styles/index.css
  apps/site/turbo.json
  package.json
  packages/ui-components/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  turbo.json
Due: prettier --write

chore(ui): reduce prod deps (#8955)
  .github/workflows/build.yml
  apps/site/.stylelintrc.mjs
  apps/site/styles/index.css
  apps/site/styles/locales.css
  apps/site/turbo.json
  apps/site/vercel.json
  package.json
  packages/rehype-shiki/package.json
  packages/ui-components/README.md
  packages/ui-components/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

Add CODEOWNER for vulnerability blog post (#8967)
  .github/CODEOWNERS
Due: none

feat(blog): create post for v22.23.1
  apps/site/pages/en/blog/release/v22.23.1.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v24.18.0
  apps/site/pages/en/blog/release/v24.18.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix typos in June 2026 security release notes
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix typos in June 2026 security release notes (#8970)
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(banner): add RenderATL
  apps/site/site.json
Due: prettier --write

fixup!
  apps/site/site.json
Due: prettier --write

feat(banner): add RenderATL (#8972)
  apps/site/site.json
Due: prettier --write

feat: Add TuxCare partner
  apps/site/pages/en/about/eol.mdx
  apps/site/public/static/partners/constants.json
  packages/ui-components/src/Icons/Logos/Nodejs.tsx
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/Favicon.tsx
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/Logo.tsx
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/index.ts
  packages/ui-components/src/Icons/PartnerLogos/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/about/eol.mdx
  apps/site/pages/en/about/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v26.4.0
  apps/site/pages/en/blog/release/v26.4.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Update June 2026 security release credit
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Update June 2026 security release credit (#8975)
  apps/site/pages/en/blog/vulnerability/june-2026-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

remove specific Node.js versions per feedback from Kylie
  apps/site/pages/en/about/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

improve visual weight of tuxcare logo
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/Logo.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: Add TuxCare partner (#8973)
  apps/site/pages/en/about/eol.mdx
  apps/site/public/static/partners/constants.json
  packages/ui-components/src/Icons/Logos/Nodejs.tsx
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/Favicon.tsx
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/Logo.tsx
  packages/ui-components/src/Icons/PartnerLogos/TuxCare/index.ts
  packages/ui-components/src/Icons/PartnerLogos/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

Update link for Node.js Interactive event
  apps/site/site.json
Due: prettier --write

Update link for Node.js Interactive event (#8977)
  apps/site/site.json
Due: prettier --write

meta: update pnpm from 11.5.3 to
  package.json
  pnpm-lock.yaml
Due: prettier --write

Restore default logo
  apps/site/site.json
Due: prettier --write

Restore default logo (#8979)
  apps/site/site.json
Due: prettier --write

Fix version tag
  .github/workflows/publish-packages.yml
Due: prettier --write

feat: add NodeSource commercial support to EOL page
  apps/site/pages/en/about/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: add NodeSource commercial support to EOL page (#8990)
  apps/site/pages/en/about/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(ci): no more pull_request_target
  .github/workflows/build.yml
  .github/workflows/bundle-compare.yml
  .github/workflows/chromatic.yml
  .github/workflows/leave-comment.yml
  .github/workflows/lighthouse.yml
Due: prettier --write

fix(ui): show up to 12 partner logos and fix width
  apps/site/components/Common/Partners/PartnerButton/index.module.css
  apps/site/components/Common/Partners/index.module.css
  apps/site/components/Common/Partners/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): show up to 12 partner logos and fix width (#8993)
  apps/site/components/Common/Partners/PartnerButton/index.module.css
  apps/site/components/Common/Partners/index.module.css
  apps/site/components/Common/Partners/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write
