Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

fixed margin,font and color left
  components/Common/Banner/index.module.scss
  components/Common/Banner/index.tsx
Due: eslint --fix, prettier --write

fixed some small issues
  components/Common/Banner/index.module.scss
Due: none

ran format
  components/Common/Banner/index.module.scss
Due: none

A fix for scrollbar out of border option (#5519)
  components/Common/Dropdown/index.module.scss
Due: none

changed <p> to <div>
  components/Common/Banner/__snapshots__/index.stories.tsx.snap
  components/Common/Banner/index.tsx
Due: eslint --fix, prettier --write

Improvement banner#5510 (#5518)
  components/Common/Banner/index.module.scss
  components/Common/Banner/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: install react-tabs
  package-lock.json
  package.json
Due: prettier --write

feat: migrate DownloadCard component
  components/Downloads/DownloadCards/DownloadCard/index.module.scss
  components/Downloads/DownloadCards/DownloadCard/index.stories.tsx
  components/Downloads/DownloadCards/DownloadCard/index.tsx
  public/static/images/logos/mac-download-logo.svg
  public/static/images/logos/source-code-download-logo.svg
  public/static/images/logos/windows-download-logo.svg
Due: eslint --fix, prettier --write

feat: migrate DownloadCards component
  components/Downloads/DownloadCards/index.module.scss
  components/Downloads/DownloadCards/index.stories.tsx
  components/Downloads/DownloadCards/index.tsx
Due: eslint --fix, prettier --write

chore: add DownloadCards component tests
  components/Downloads/DownloadCards/__tests__/index.test.tsx
Due: eslint --fix, prettier --write

chore: install storybook-addon-module-mock
  .storybook/main.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: regenerate snapshot
  components/Downloads/DownloadCards/DownloadCard/__snapshots__/index.stories.tsx.snap
  components/Downloads/DownloadCards/__snapshots__/index.stories.tsx.snap
  components/Downloads/DownloadCards/index.stories.tsx
Due: eslint --fix, prettier --write

chore: rename test files
  components/Article/Codebox/__tests__/index.test.mjs
  components/Article/EditLink/__tests__/index.test.mjs
  components/Common/ActiveLocalizedLink/__tests__/index.test.mjs
  components/Common/Banner/__tests__/index.test.mjs
  components/Common/DarkModeToggle/__tests__/index.test.mjs
  components/Common/Dropdown/__tests__/index.test.mjs
  components/Common/LanguageSelector/__tests__/index.test.mjs
  components/Common/SectionTitle/__tests__/SectionTitle.test.mjs
  components/Downloads/DownloadToggle/__tests__/index.test.mjs
  components/Learn/PreviousNextLink/__tests__/index.test.mjs
  components/Sections/NewHeader/__tests__/index.test.mjs
  hooks/__tests__/useClickOutside.test.mjs
  hooks/__tests__/useCopyToClipboard.test.mjs
  hooks/__tests__/useDetectOS.test.mjs
  hooks/__tests__/useMediaQuery.test.mjs
Due: eslint --fix, prettier --write

chore: strip typings from tests
  components/Article/Codebox/__tests__/index.test.mjs
  components/Common/Banner/__tests__/index.test.mjs
  components/Common/Dropdown/__tests__/index.test.mjs
  components/Downloads/DownloadToggle/__tests__/index.test.mjs
  hooks/__tests__/useClickOutside.test.mjs
  hooks/__tests__/useCopyToClipboard.test.mjs
  hooks/__tests__/useMediaQuery.test.mjs
Due: eslint --fix, prettier --write

chore: update test matcher
  jest.config.mjs
Due: eslint --fix, prettier --write

docs: add .mjs note to tests
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write

chore: bust turbo cache on mjs files
  turbo.json
Due: prettier --write

chore: add relative import to tested module
  components/Article/Codebox/__tests__/index.test.mjs
  components/Common/Banner/__tests__/index.test.mjs
  components/Common/DarkModeToggle/__tests__/index.test.mjs
  hooks/__tests__/useClickOutside.test.mjs
  hooks/__tests__/useCopyToClipboard.test.mjs
  hooks/__tests__/useDetectOS.test.mjs
  hooks/__tests__/useMediaQuery.test.mjs
Due: eslint --fix, prettier --write

Convert all tests to .mjs format (#5543)
  COLLABORATOR_GUIDE.md
  components/Article/Codebox/__tests__/index.test.mjs
  components/Article/EditLink/__tests__/index.test.mjs
  components/Common/ActiveLocalizedLink/__tests__/index.test.mjs
  components/Common/Banner/__tests__/index.test.mjs
  components/Common/DarkModeToggle/__tests__/index.test.mjs
  components/Common/Dropdown/__tests__/index.test.mjs
  components/Common/LanguageSelector/__tests__/index.test.mjs
  components/Common/SectionTitle/__tests__/SectionTitle.test.mjs
  components/Downloads/DownloadToggle/__tests__/index.test.mjs
  components/Learn/PreviousNextLink/__tests__/index.test.mjs
  components/Sections/NewHeader/__tests__/index.test.mjs
  hooks/__tests__/useClickOutside.test.mjs
  hooks/__tests__/useCopyToClipboard.test.mjs
  hooks/__tests__/useDetectOS.test.mjs
  hooks/__tests__/useMediaQuery.test.mjs
  jest.config.mjs
  turbo.json
Due: eslint --fix, prettier --write

feat(.eslintrc.json): Added '@typescript-eslint/recommended' to ESLint
  .eslintrc.json
Due: prettier --write

fix(.eslintrc.json): Moved rule at proper location and resolved linting errors
  .eslintrc.json
  components/Common/Dropdown/index.stories.tsx
  middleware.ts
  providers/withNodeRelease.tsx
  util/nodeRelease.ts
Due: eslint --fix, prettier --write

chore: added new pull request configs and storybook
  .eslintignore
  .github/workflows/pull-request.yml
  .gitignore
  .prettierignore
  .storybook/test-runner.ts
  jest.config.mjs
  package.json
  turbo.json
Due: eslint --fix, prettier --write

chore: updated snapshots
  .github/workflows/pull-request.yml
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
  components/Article/EditLink/__snapshots__/index.stories.tsx.snap
  components/Blog/BlogCard/__snapshots__/index.stories.tsx.snap
  components/Common/Banner/__snapshots__/index.stories.tsx.snap
  components/Learn/PreviousNextLink/__snapshots__/index.stories.tsx.snap
  components/Sections/NewFooter/__snapshots__/index.stories.tsx.snap
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
Due: prettier --write

chore: storybook test local vs remote
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  package.json
  turbo.json
Due: eslint --fix, prettier --write

chore: 1s is still the safest
  .storybook/test-runner.ts
Due: eslint --fix, prettier --write

chore: dependabot be more precise
  .github/dependabot.yml
Due: prettier --write

chore: storybook does not respect log levels
  .storybook/main.ts
  package.json
Due: eslint --fix, prettier --write

chore: optimised storybook tr config
  .storybook/test-runner.ts
  package.json
Due: eslint --fix, prettier --write

chore: snapshot updates
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
Due: none

chore: moved the timeout to post-render
  .storybook/test-runner.ts
Due: eslint --fix, prettier --write

chore: updated snapshots
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
Due: none

chore: 19:00 pm
  .github/dependabot.yml
Due: prettier --write

chore: dependabot be more precise (#5549)
  .github/dependabot.yml
Due: prettier --write

Update .storybook/test-runner.ts
  .storybook/test-runner.ts
Due: eslint --fix, prettier --write

chore: attempt to fix dependabot
  .github/dependabot.yml
Due: prettier --write

chore: updated config so it works on forks
  .github/workflows/pull-request.yml
Due: prettier --write

chore: updated actions with docs and cleaned up
  .github/workflows/build-and-analysis.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore: re-add directory
  .github/dependabot.yml
Due: prettier --write

chore: still use regular pull_request rule to validate PR
  .github/workflows/pull-request.yml
Due: prettier --write
