Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/partners.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/partners.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

Fix documentation reference for write function
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: review updates
  packages/ui-components/src/Containers/FunctionSignature/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: minimize mobile nav empty space (#8719)
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update import path for routes type definitions
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: FunctionSignature return type container (#8717)
  packages/ui-components/package.json
  packages/ui-components/src/Common/Signature/SignatureRoot/index.module.css
  packages/ui-components/src/Containers/FunctionSignature/index.stories.tsx
  packages/ui-components/src/Containers/FunctionSignature/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update packages/ui-components/src/Containers/NavBar/index.tsx
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix conditional rendering of navItems in NavBar
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Remove blank line in NavBar component
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove empty padding in mobile navbar when navItems is empty
  apps/site/next-env.d.ts
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

style: fix prettier formatting in NavBar
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui-components): reduce empty search state padding
  packages/ui-components/src/Common/Search/Results/Empty/index.module.css
Due: none

fix(ui): empty space on search
  packages/ui-components/src/Common/Search/Results/index.module.css
  packages/ui-components/src/Common/Search/Suggestions/index.module.css
Due: none

fixup!
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
Due: none

feat(navigation): don't render `navItems` when no children (#8722)
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): expand type stripping explanation and constraints
  apps/site/pages/en/learn/typescript/run-natively.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): empty space on search (#8725)
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
  packages/ui-components/src/Common/Search/Results/index.module.css
  packages/ui-components/src/Common/Search/Suggestions/index.module.css
Due: none

Blog: pre-release announcement March 26 sec release
  apps/site/pages/en/blog/vulnerability/march-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(ci): add zizmor
  .github/workflows/zizmor.yml
Due: prettier --write

fixup!
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/build.yml
  .github/workflows/bundle-compare.yml
  .github/workflows/chromatic.yml
  .github/workflows/create-release-post.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright.yml
  .github/workflows/pnpm-updater.yml
  .github/workflows/publish-packages.yml
  .github/workflows/pull-request-label.yml
  .github/workflows/request-codeowner-review.yml
  .github/workflows/sync-orama.yml
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  .github/workflows/translations-pr-lint.yml
  .github/workflows/translations-sync.yml
  .github/workflows/translations-upload.yml
  .github/workflows/zizmor.yml
Due: prettier --write

Blog: pre-release announcement March 26 sec release (#8727)
  apps/site/pages/en/blog/vulnerability/march-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui-components): guard ThemeToggle against invalid stored theme
  packages/ui-components/src/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update publish-packages.yml
  .github/workflows/publish-packages.yml
Due: prettier --write

feat(ci): add zizmor (#8728)
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/build.yml
  .github/workflows/bundle-compare.yml
  .github/workflows/chromatic.yml
  .github/workflows/create-release-post.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright.yml
  .github/workflows/pnpm-updater.yml
  .github/workflows/publish-packages.yml
  .github/workflows/pull-request-label.yml
  .github/workflows/request-codeowner-review.yml
  .github/workflows/sync-orama.yml
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  .github/workflows/translations-pr-lint.yml
  .github/workflows/translations-sync.yml
  .github/workflows/translations-upload.yml
  .github/workflows/zizmor.yml
Due: prettier --write

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/partners.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/partners.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): skip playwright on Dependabot
  .github/workflows/playwright.yml
Due: prettier --write

fix(ci): skip playwright on Dependabot (#8748)
  .github/workflows/playwright.yml
Due: prettier --write

feat(ui): improve partner grid layout on download page
  apps/site/components/Common/Partners/index.module.css
Due: none

feat(remark-lint): add deprecation validation, improve type validation
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/rules/__tests__/invalid-deprecations.test.mjs
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/invalid-deprecations.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat(remark-lint): improve validation (#8746)
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/rules/__tests__/invalid-deprecations.test.mjs
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/invalid-deprecations.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): adjust large partner grid layout for better responsiveness
  apps/site/components/Common/Partners/index.module.css
Due: none

fix: remove mastodon from footer
  apps/site/navigation.json
Due: prettier --write

fix: show error details in preview environments
  apps/site/app/[locale]/error.tsx
  apps/site/next.constants.mjs
  apps/site/tests/errorPage.test.jsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: expose preview error details to clients
  apps/site/app/[locale]/error.tsx
  apps/site/next.config.mjs
  apps/site/next.constants.mjs
  apps/site/tests/errorPage.test.jsx
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/es.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/ta.json
  packages/i18n/src/locales/tr.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: keep new error i18n key in english only
  packages/i18n/src/locales/es.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/ta.json
  packages/i18n/src/locales/tr.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
Due: prettier --write

[automated]: crowdin sync (#8747)
  apps/site/pages/uk/about/security-reporting.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

ci: use custom token for auto-merge
  .github/workflows/auto-merge.yml
Due: prettier --write

Add auto-merge label to Dependabot PRs
  .github/dependabot.yml
Due: prettier --write
