Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

fix: there's no such architecture arm64
  apps/site/hooks/react-client/useDetectOS.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: removed console.log
  apps/site/hooks/react-client/useDetectOS.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: test
  apps/site/hooks/react-client/__tests__/useDetectOS.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: download page mobile layout spacing
  apps/site/layouts/layouts.module.css
Due: none

refactor: simplify the remote patterns config (#8325)
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): improve debugging docs (#8329)
  apps/site/pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): correct another example code for the consumption of response body (#8332)
  apps/site/pages/en/learn/manipulating-files/reading-files-with-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

make prettier happy
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: make prettier happy
  apps/site/layouts/layouts.module.css
Due: none

Fix codemod command for fs-truncate-fd-deprecation
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: download page mobile layout spacing (#8334)
  apps/site/layouts/layouts.module.css
Due: none

suggestion
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

resolve prettier issues
  apps/site/components/Common/Searchbox/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/DocumentLink/index.module.css
  apps/site/components/Common/Searchbox/EmptyResults/index.module.css
  apps/site/components/Common/Searchbox/MobileTopBar/index.module.css
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/SearchItem/index.module.css
  apps/site/components/Common/Searchbox/SearchResults/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
  apps/site/components/Common/Searchbox/index.module.css
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/Common/Select/index.module.css
Due: none

fix(pnpm): pin doc-kit
  packages/remark-lint/package.json
  pnpm-lock.yaml
Due: prettier --write

resolve prettier issues on main (#8339)
  apps/site/components/Common/Searchbox/ChatInput/index.module.css
  apps/site/components/Common/Searchbox/ChatSources/index.module.css
  apps/site/components/Common/Searchbox/DocumentLink/index.module.css
  apps/site/components/Common/Searchbox/EmptyResults/index.module.css
  apps/site/components/Common/Searchbox/MobileTopBar/index.module.css
  apps/site/components/Common/Searchbox/Search/index.module.css
  apps/site/components/Common/Searchbox/SearchItem/index.module.css
  apps/site/components/Common/Searchbox/SearchResults/index.module.css
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.module.css
  apps/site/components/Common/Searchbox/index.module.css
  packages/ui-components/src/Common/BaseLinkTabs/index.module.css
  packages/ui-components/src/Common/Select/index.module.css
Due: none

fix(pnpm): pin doc-kit (#8340)
  packages/remark-lint/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(learn): correct the example code for Streaming Responses with Undici (#8327)
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

Add npm package uninstall instructions
  apps/site/pages/en/learn/getting-started/an-introduction-to-the-npm-package-manager.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synchronizing styles with the new version of prettier-plugin-tailwindcss
  apps/site/components/Blog/BlogPostCard/index.module.css
  apps/site/components/Common/Turtle/index.module.css
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/styles/locales.css
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/BadgeGroup/index.module.css
  packages/ui-components/src/Common/BaseButton/index.module.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/BasePagination/PaginationListItem/index.module.css
  packages/ui-components/src/Common/ChangeHistory/index.module.css
  packages/ui-components/src/Common/GlowingBackdrop/index.module.css
  packages/ui-components/src/Common/LanguageDropDown/index.module.css
  packages/ui-components/src/Common/Modal/index.module.css
  packages/ui-components/src/Common/Preview/index.module.css
  packages/ui-components/src/Common/Skeleton/index.module.css
  packages/ui-components/src/Common/Tabs/index.module.css
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Providers/NotificationProvider/index.module.css
  packages/ui-components/src/styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write

Add a learn article explaining HTTP status code
  apps/site/navigation.json
  apps/site/pages/en/learn/http/understanding-http-status-codes.md
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

bump wrangler and open-next adapter
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

enable open-next cache interception
  apps/site/open-next.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

add open-next DO queue
  apps/site/open-next.config.ts
  apps/site/wrangler.jsonc
Due: eslint --fix, prettier --write, prettier --check --write

for the open-next incremental cache use R2 with regional cache instead of kv
  apps/site/open-next.config.ts
  apps/site/wrangler.jsonc
Due: eslint --fix, prettier --write, prettier --check --write

add open-next custom image loader
  apps/site/cloudflare-image-loader.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

add inline comment for regional cache
  apps/site/open-next.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

define `OPEN_NEXT_CLOUDFLARE` variable in `next.consstants.mjs`
  apps/site/next.config.mjs
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

avoid ternaries in `next.config.mjs`
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

add env variables for R2 cache batch uploads
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

add missing parenthesis
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

remove extra backtick
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

update cloudflare-build-and-deployment
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

move image-loader file inside cloudflare directory
  apps/site/cloudflare/image-loader.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: fix headings having duplicate keys
  packages/ui-components/src/Containers/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

allow the open-next version of the site to be built using turbo and remove the `build:default` script
  apps/site/open-next.config.ts
  apps/site/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8335)
  apps/site/components/Blog/BlogPostCard/index.module.css
  apps/site/components/Common/Turtle/index.module.css
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/pages/en/about/branding.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/about/get-involved/index.md
  apps/site/pages/id/about/partners.mdx
  apps/site/pages/id/about/previous-releases.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/snippets/id/download/choco.bash
  apps/site/snippets/id/download/corepack.bash
  apps/site/snippets/id/download/node.bash
  apps/site/styles/locales.css
  packages/i18n/package.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/uk.json
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/BadgeGroup/index.module.css
  packages/ui-components/src/Common/BaseButton/index.module.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/BasePagination/PaginationListItem/index.module.css
  packages/ui-components/src/Common/ChangeHistory/index.module.css
  packages/ui-components/src/Common/GlowingBackdrop/index.module.css
  packages/ui-components/src/Common/LanguageDropDown/index.module.css
  packages/ui-components/src/Common/Modal/index.module.css
  packages/ui-components/src/Common/Preview/index.module.css
  packages/ui-components/src/Common/Skeleton/index.module.css
  packages/ui-components/src/Common/Tabs/index.module.css
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.module.css
  packages/ui-components/src/Providers/NotificationProvider/index.module.css
  packages/ui-components/src/styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
