Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

chore: synced translations from crowdin [skip ci]
  pages/fr/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

no rounded underline border, footer text color change doesn't apply on .social anymore
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

text color change .not(social)
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

trying not to get that color change on socials
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

excluded .social from .navitem.nav hover
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: footer for small screen
  components/Containers/Footer/index.module.css
Due: prettier --write, stylelint --allow-empty-input

disable hover on svg
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

better svg color change disable on hover
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

made sure no hover effect on header when active
  components/Containers/NavBar/NavItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

ghIconWrapper no hover effect
  components/Containers/NavBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix layout
  pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

Fix layout bug on hidden page (#6834)
  pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v22.3.0 release post
  pages/en/blog/release/v22.3.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v22.3.0 release post (#6835)
  pages/en/blog/release/v22.3.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: sticky footer
  components/Containers/Footer/index.module.css
  layouts/About.tsx
  layouts/Learn.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Re-enable turbo flag in dev script
  next.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

comment resolved
  components/Containers/Footer/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: synced translations from crowdin [skip ci]
  pages/fr/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/download/prebuilt-installer/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/download/prebuilt-installer/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/prebuilt-installer/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/download/prebuilt-installer/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/download/prebuilt-installer/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/prebuilt-installer/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/download/package-manager/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/download/package-manager/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/download/package-manager/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/package-manager/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/download/package-manager/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
