Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix: fixed for old legacy design
  components/SideNavigation.tsx
  components/withLayout.tsx
  layouts/AboutLayout.tsx
  layouts/ContributeLayout.tsx
  layouts/LearnLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: some redirect fixes
  next.rewrites.mjs
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: getting started should be learn index
  navigation.json
  pages/en/learn/index.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: ensure static rendering without throwing errors
  app/[locale]/[[...path]]/page.tsx
  app/[locale]/feed/[feed]/route.ts
  app/[locale]/next-data/blog-data/[category]/route.ts
  app/[locale]/next-data/release-data/route.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: layout sizing moved to the container
  layouts/New/layouts.module.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Layout max width (#6174)
  layouts/New/layouts.module.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: code format
  next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: normalise promises
  next-data/generators/blogData.mjs
  next-data/generators/releaseData.mjs
  next-data/generators/websiteFeeds.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update next-data/generators/websiteFeeds.mjs
  next-data/generators/websiteFeeds.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: normalise promises (#6177)
  next-data/generators/blogData.mjs
  next-data/generators/releaseData.mjs
  next-data/generators/websiteFeeds.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.4.0 release post
  pages/en/blog/release/v21.4.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: add learn layout
  components/Common/ActiveLink/index.tsx
  components/Common/NavItem/index.tsx
  components/Common/ProgressionSideBar/ProgressionSideBarGroup/index.module.css
  components/Common/ProgressionSideBar/ProgressionSideBarGroup/index.tsx
  components/Common/ProgressionSideBar/ProgressionSideBarIcon/index.tsx
  components/Common/ProgressionSideBar/ProgressionSideBarItem/index.module.css
  components/Common/ProgressionSideBar/ProgressionSideBarItem/index.tsx
  components/Common/ProgressionSideBar/index.module.css
  components/Common/ProgressionSideBar/index.stories.tsx
  components/Common/ProgressionSideBar/index.tsx
  components/Containers/ProgressionSidebar/index.tsx
  components/withLayout.tsx
  components/withProgressionSidebar.tsx
  layouts/New/Learn.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

meta: redid ProgressionSidebar
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarIcon/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  components/Common/ProgressionSidebar/index.module.css
  components/Common/ProgressionSidebar/index.stories.tsx
  components/Common/ProgressionSidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

meta: removed files
  components/Common/ProgressionSideBar/ProgressionSideBarGroup/index.module.css
  components/Common/ProgressionSideBar/ProgressionSideBarGroup/index.tsx
  components/Common/ProgressionSideBar/ProgressionSideBarIcon/index.tsx
  components/Common/ProgressionSideBar/ProgressionSideBarItem/index.module.css
  components/Common/ProgressionSideBar/ProgressionSideBarItem/index.tsx
  components/Common/ProgressionSideBar/index.module.css
  components/Common/ProgressionSideBar/index.stories.tsx
  components/Common/ProgressionSideBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: fixed linting errors
  components/Common/ProgressionSideBar/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fixed subpaths on navigation
  components/Common/NavItem/index.tsx
  components/TopNavigation.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: fixed styles for sidebars and normalised select component
  components/Common/ActiveLink/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Common/ProgressionSidebar/index.module.css
  components/Common/ProgressionSidebar/index.tsx
  components/Common/Sidebar/index.module.css
  components/Common/Sidebar/index.tsx
  components/Header.tsx
  components/withSidebarSelect.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: fixed some layouts issues
  components/Common/ProgressionSidebar/index.module.css
  components/withCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: normalised names and types
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  components/Common/ProgressionSidebar/index.stories.tsx
  components/Common/Sidebar/SidebarGroup/index.tsx
  components/Common/Sidebar/SidebarItem/index.tsx
  components/Common/Sidebar/index.stories.tsx
  components/Common/Sidebar/index.tsx
  components/withProgressionSidebar.tsx
  components/withSideBar.tsx
  layouts/New/About.tsx
  layouts/New/Learn.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: removed files
  components/withSideBar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: added file back
  components/withSidebar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: finished styles for learn and some css adjustments
  components/Common/CrossLink/index.module.css
  components/Common/CrossLink/index.stories.tsx
  components/Common/CrossLink/index.tsx
  components/Downloads/ChangelogModal/index.stories.tsx
  components/mdxRenderer.tsx
  components/withCrossLinks.tsx
  layouts/New/About.tsx
  layouts/New/Default.tsx
  layouts/New/Learn.tsx
  layouts/New/layouts.module.css
  styles/new/index.css
  styles/new/markdown.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: md styles should actually be global indeed
  layouts/New/About.tsx
  layouts/New/Default.tsx
  layouts/New/Learn.tsx
  layouts/New/layouts.module.css
  styles/new/index.css
  styles/new/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: fix tailwind classes
  components/Common/ProgressionSidebar/index.module.css
  components/Common/Sidebar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: more css fixes
  components/Common/CrossLink/index.module.css
  components/Common/ProgressionSidebar/index.module.css
  components/Common/Sidebar/SidebarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: tiny div change
  components/withCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: rebase fixes
  layouts/New/Docs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.4.0 release post (#6178)
  pages/en/blog/release/v21.4.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: add learn layout (#6173)
  components/Common/ActiveLink/index.tsx
  components/Common/CrossLink/index.module.css
  components/Common/CrossLink/index.stories.tsx
  components/Common/CrossLink/index.tsx
  components/Common/NavItem/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarIcon/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  components/Common/ProgressionSidebar/index.module.css
  components/Common/ProgressionSidebar/index.stories.tsx
  components/Common/ProgressionSidebar/index.tsx
  components/Common/Sidebar/SidebarGroup/index.module.css
  components/Common/Sidebar/SidebarGroup/index.tsx
  components/Common/Sidebar/SidebarItem/index.tsx
  components/Common/Sidebar/index.stories.tsx
  components/Common/Sidebar/index.tsx
  components/Containers/ProgressionSidebar/index.module.css
  components/Containers/ProgressionSidebar/index.stories.tsx
  components/Containers/ProgressionSidebar/index.tsx
  components/Downloads/ChangelogModal/index.stories.tsx
  components/Header.tsx
  components/TopNavigation.tsx
  components/mdxRenderer.tsx
  components/withCrossLinks.tsx
  components/withLayout.tsx
  components/withProgressionSidebar.tsx
  components/withSideBar.tsx
  components/withSidebar.tsx
  components/withSidebarSelect.tsx
  layouts/New/Default.tsx
  layouts/New/Docs.tsx
  layouts/New/Learn.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: blog pagination
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix unused code
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: update comment
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: blog pagination (#6179)
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: some minor hotfixes for Vercel infra
  app/[locale]/[[...path]]/page.tsx
  app/[locale]/feed/[feed]/route.ts
  app/[locale]/next-data/blog-data/[category]/route.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: invalid categories redirect to 404 when using ssg
  layouts/BlogCategoryLayout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: updated packages
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

meta: added speed insights from Vercel
  app/[locale]/layout.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: updated error handlers
  app/[locale]/error.tsx
  app/global-error.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: updated packages (#6181)
  app/[locale]/error.tsx
  app/[locale]/layout.tsx
  app/global-error.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write
