Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

Blog: add OpenSSL Jan Sec Release Assessment
  apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-jan2026.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(tabs): update tab labels to reflect correct file extensions
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-jan2026.md
  apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-jan2026.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! Blog: add OpenSSL Jan Sec Release Assessment
  apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-jan2026.md
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-jan2026.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: enhance footer layout with powered by Alignment
  apps/site/components/Common/Searchbox/Footer/index.module.css
  apps/site/components/Common/Searchbox/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): adjust sidebar styles for improved layout and scrolling behavior
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: none

Blog: add OpenSSL Jan Sec Release Assessment (#8572)
  apps/site/pages/en/blog/vulnerability/openssl-fixes-in-regular-releases-jan2026.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/security-reporting.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

adds @nodejs/doc-kit as an allow-lists dependency
  pnpm-workspace.yaml
Due: none

add withLegal with full translation support
  apps/site/components/withLegal.tsx
Due: eslint --fix, prettier --write, prettier --check --write

add withLegal to the new legal slot
  apps/site/components/withFooter.tsx
Due: eslint --fix, prettier --write, prettier --check --write

introduce third slot to footer
  packages/ui-components/src/Containers/Footer/index.module.css
  packages/ui-components/src/Containers/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

you'd think the formatter and precommit would catch this
  packages/ui-components/src/Containers/Footer/index.module.css
Due: none

add and order new keys and links for footer
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
Due: prettier --write

improve types
  apps/site/components/withLegal.tsx
Due: eslint --fix, prettier --write, prettier --check --write

rename key
  apps/site/components/withLegal.tsx
  apps/site/navigation.json
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

fix html entities
  packages/i18n/src/locales/en.json
Due: prettier --write

match style of markdown.css anchors
  packages/ui-components/src/Containers/Footer/index.module.css
Due: none

fix rendering of legal paragraph
  apps/site/components/withFooter.tsx
  apps/site/components/withLegal.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update description of process.nextTick() behavior
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: update pnpm from 10.28.0 to 10.28.2
  package.json
Due: prettier --write

hotfix: add @nodejs/doc-kit as an allow-lists dependency (#8576)
  pnpm-workspace.yaml
Due: none

Add missing `WORKER_SELF_REFERENCE` service binding to wrangler configuration
  apps/site/wrangler.jsonc
Due: none

Add missing `WORKER_SELF_REFERENCE` service binding to wrangler configuation (#8589)
  apps/site/wrangler.jsonc
Due: none

fix(search): align footer elements and add proper spacing
  apps/site/components/Common/Searchbox/Footer/index.module.css
  apps/site/components/Common/Searchbox/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: formatting
  apps/site/components/Common/Searchbox/Footer/index.module.css
Due: none

fix(search): using tailwind for fix margin
  apps/site/components/Common/Searchbox/Footer/index.module.css
Due: none

fix(search): syntax issue
  apps/site/components/Common/Searchbox/Footer/index.module.css
Due: none

fix(search): remove extra ( ; )
  apps/site/components/Common/Searchbox/Footer/index.module.css
Due: none

fix(search): resolve misalignment in mobile design
  apps/site/components/Common/Searchbox/Footer/index.module.css
Due: none

feat: add migration guide for chalk to util styletext codemod (#8430)
  apps/site/authors.json
  apps/site/pages/en/blog/migrations/chalk-to-styletext.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(search): align footer elements and add proper spacing (#8571)
  apps/site/components/Common/Searchbox/Footer/index.module.css
  apps/site/components/Common/Searchbox/Footer/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update description of process.nextTick() behavior (#8578)
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: Improve CodeTabs tab naming (#8552)
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
  packages/ui-components/src/Common/Tabs/index.module.css
  packages/ui-components/src/Common/Tabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

learn(frame-graphs): update the ways to view flame graphs
  apps/site/pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/learn/diagnostics/flame-graphs.md
  apps/site/pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write
