Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

update
  components/Common/AvatarGroup/avatar/index.module.css
  components/Common/AvatarGroup/avatar/index.stories.tsx
  components/Common/AvatarGroup/avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  public/static/images/avatar-placeholder.svg
  util/__tests__/github.test.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore(js-black.svg): Deleted js-black.svg file (#5838)
  public/static/images/logos/js-black.svg
Due: none

update v20.8.0 blog post (#5912)
  pages/en/blog/release/v20.8.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Added Microsoft logo to site assets for Node.js website redesign (#5897)
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-microsoft.svg
Due: eslint --fix, prettier --write, prettier --check --write

Added Mastadon logo to site assets for Node.js website redesign (#5896)
  components/__design__/social-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Added X logo to site assets for Node.js website redesign (#5894)
  components/__design__/social-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Added Mastadon logo to site assets for Node.js website redesign (#5896) (#5919)
  components/__design__/social-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Added Microsoft logo to site assets for Node.js website redesign (#5897) (#5918)
  components/__design__/platform-logos.stories.tsx
  public/static/images/logos/platform-microsoft.svg
Due: eslint --fix, prettier --write, prettier --check --write

feat(avatarGroup): update base on feedback
  components/Common/AvatarGroup/avatar/index.module.css
  components/Common/AvatarGroup/avatar/index.stories.tsx
  components/Common/AvatarGroup/avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
  package-lock.json
  package.json
  public/static/images/avatar-placeholder.svg
  util/__tests__/github.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

chore: fixing indentation
  components/__design__/social-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: eslint configuration conflicting with mdx
  .eslintrc.json
  .github/workflows/translations-pr.yml
  .remarkrc.json
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

chore: hotfix translations-pr target git
  .github/workflows/translations-pr.yml
  .husky/pre-commit
Due: prettier --write, prettier --check --write

New translations buffer-constructor-deprecation.md (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/docs/guides/buffer-constructor-deprecation.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations contribute.md (French) chore: synced translations from crowdin
  pages/fr/get-involved/contribute.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (French) chore: synced translations from crowdin
  pages/fr/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations releases.md (French) chore: synced translations from crowdin
  pages/fr/download/releases.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (French) chore: synced translations from crowdin
  pages/fr/get-involved/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations collab-summit.md (French) chore: synced translations from crowdin
  pages/fr/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (French) chore: synced translations from crowdin
  pages/fr/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations debugging-getting-started.md (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/docs/guides/debugging-getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.md (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations using-linux-perf.md (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/docs/guides/diagnostics/poor-performance/using-linux-perf.md
Due: eslint --fix, prettier --write, prettier --check --write

New translations current.md (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/download/current.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  pages/fr/download/current.md
  pages/fr/download/index.md
  pages/fr/download/releases.md
  pages/zh-cn/docs/guides/buffer-constructor-deprecation.md
  pages/zh-cn/docs/guides/debugging-getting-started.md
  pages/zh-cn/docs/guides/diagnostics/poor-performance/using-linux-perf.md
  pages/zh-cn/docs/index.mdx
  pages/zh-cn/download/current.md
  pages/zh-cn/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#5922)
  pages/fr/get-involved/collab-summit.md
  pages/fr/get-involved/contribute.md
  pages/fr/get-involved/index.md
  pages/zh-cn/docs/guides/debugging-getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: some npm settings tweaks
  .npmrc
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

chore: added docs for binaries
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(node-favicon.png): Deleted node-favicon.png file (#5826)
  public/static/images/logos/node-favicon.png
Due: none

feat: Select component
  components/Common/Select/__tests__/index.test.mjs
  components/Common/Select/index.module.css
  components/Common/Select/index.stories.tsx
  components/Common/Select/index.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint

refactor: ScrollUpButton and ScrollDownButton removed
  components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: CSS styling for Select
  components/Common/Select/index.module.css
Due: prettier --write, stylelint

fix: Remove issue with node-gyp and Catalina (#5907)
  pages/en/docs/guides/index.md
  pages/id/docs/guides/index.md
  pages/ka/docs/guides/index.md
  pages/zh-cn/docs/guides/index.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: Added slack logo and updated social-logos.stories (#5917)
  components/__design__/social-logos.stories.tsx
  public/static/images/logos/social-slack.svg
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Unused button styles removed
  components/Common/Select/index.module.css
Due: prettier --write, stylelint

meta: do not use peerDeps on an App package
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

feat: new eslint rules
  .eslintrc.json
Due: prettier --write, prettier --check --write

update
  components/Common/AvatarGroup/Avatar/index.module.css
  components/Common/AvatarGroup/Avatar/index.stories.tsx
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Common/AvatarGroup/index.stories.tsx
  components/Common/AvatarGroup/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint
