Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: use jest module-mapper for mocks
  __mocks__/nextJsRouter.mjs
  components/__mocks__/next-router.mjs
  jest.config.mjs
  jest.setup.mjs
Due: eslint --fix, prettier --write, prettier --check --write

meta: removed unused fixture
  components/__fixtures__/nodeReleases.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: jest env for mocks
  .eslintrc.json
Due: prettier --write, prettier --check --write

chore: add reasoning why we don't use
  COLLABORATOR_GUIDE.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Update debugging guide header link
  pages/ar/docs/guides/debugging-getting-started.md
  pages/en/docs/guides/debugging-getting-started.md
  pages/id/docs/guides/debugging-getting-started.md
  pages/ja/docs/guides/debugging-getting-started.md
  pages/ka/docs/guides/debugging-getting-started.md
  pages/ko/docs/guides/debugging-getting-started.md
  pages/pt-br/docs/guides/debugging-getting-started.md
  pages/ru/docs/guides/debugging-getting-started.md
  pages/zh-cn/docs/guides/debugging-getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: screen flashing in dark mode when refresh
  pages/_app.tsx
  providers/themeProvider.tsx
  public/static/js/legacyMain.js
Due: eslint --fix, prettier --write, prettier --check --write

Fix debugging guide header (#6000)
  pages/ar/docs/guides/debugging-getting-started.md
  pages/en/docs/guides/debugging-getting-started.md
  pages/id/docs/guides/debugging-getting-started.md
  pages/ja/docs/guides/debugging-getting-started.md
  pages/ka/docs/guides/debugging-getting-started.md
  pages/ko/docs/guides/debugging-getting-started.md
  pages/pt-br/docs/guides/debugging-getting-started.md
  pages/ru/docs/guides/debugging-getting-started.md
  pages/zh-cn/docs/guides/debugging-getting-started.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: Create Footer Component
  components/sections/Footer/index.module.css
  components/sections/Footer/index.stories.tsx
  components/sections/Footer/index.tsx
  components/sections/NavItem/index.stories.tsx
  components/sections/NavItem/index.tsx
  i18n/locales/en.json
  providers/siteProvider.tsx
  site.json
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: use next-themes for the legacy website
  components/Header.tsx
  next.constants.mjs
  pages/_app.tsx
  providers/themeProvider.tsx
  public/static/js/legacyMain.js
  styles/old/layout/dark-theme.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: updated release script and updated shiki (#5997)
  package-lock.json
  package.json
  pages/en/blog/release/v15.1.0.md
  pages/en/blog/release/v18.16.0.md
  scripts/release-post/downloadsTable.mjs
  scripts/release-post/index.mjs
  scripts/release-post/template.hbs
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  COLLABORATOR_GUIDE.md
  next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: create tabs component (#5964)
  COLLABORATOR_GUIDE.md
  components/Common/Tabs/__tests__/index.test.mjs
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.stories.tsx
  components/Common/Tabs/index.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Create Footer Component (#5983)
  components/sections/Footer/index.module.css
  components/sections/Footer/index.stories.tsx
  components/sections/Footer/index.tsx
  components/sections/NavItem/index.stories.tsx
  components/sections/NavItem/index.tsx
  i18n/locales/en.json
  providers/siteProvider.tsx
  site.json
  types/config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

performance, bundle and standardisation changes (#5999)
  .eslintrc.json
  .nvmrc
  .remarkrc.json
  COLLABORATOR_GUIDE.md
  __mocks__/nextJsRouter.mjs
  components/__fixtures__/nodeReleases.tsx
  components/__mocks__/next-router.mjs
  jest.config.mjs
  jest.setup.mjs
  next.config.mjs
  next.dynamic.mjs
  next.mdast.mjs
  package-lock.json
  package.json
  postcss.config.js
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: Added LanguageDropDown Component
  components/Common/LanguageDropDown/index.module.css
  components/Common/LanguageDropDown/index.stories.tsx
  components/Common/LanguageDropDown/index.tsx
  i18n/locales/en.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Removed Leftover Files
  hooks/__tests__/useClickOutside.test.mjs
  hooks/useClickOutside.ts
Due: eslint --fix, prettier --write, prettier --check --write

Resolve Issues - Proper Component Name - Use Predefined Tailwind Class - Pass Handler as Prop
  components/Common/LanguageDropDown/index.module.css
  components/Common/LanguageDropDown/index.stories.tsx
  components/Common/LanguageDropDown/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: use next-themes for the legacy website (#6004)
  components/Header.tsx
  next.constants.mjs
  pages/_app.tsx
  providers/themeProvider.tsx
  public/static/js/legacyMain.js
  styles/old/layout/dark-theme.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: remark-lint, caches and preset-lint-node
  .github/workflows/lint-and-tests.yml
  .gitignore
  .prettierignore
  .remarkrc.json
  COLLABORATOR_GUIDE.md
  package-lock.json
  package.json
  pages/id/docs/guides/backpressuring-in-streams.md
  pages/tr/about/governance.md
  pages/uk/get-involved/contribute.md
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

Fix: use MDX format to render tables
  pages/ar/docs/guides/debugging-getting-started.mdx
  pages/en/docs/guides/debugging-getting-started.mdx
  pages/id/docs/guides/debugging-getting-started.mdx
  pages/ja/docs/guides/debugging-getting-started.mdx
  pages/ka/docs/guides/debugging-getting-started.mdx
  pages/ko/docs/guides/debugging-getting-started.mdx
  pages/pt-br/docs/guides/debugging-getting-started.mdx
  pages/ru/docs/guides/debugging-getting-started.mdx
  pages/zh-cn/docs/guides/debugging-getting-started.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: MetaBar component
  components/Common/MetaBar/index.module.css
  components/Common/MetaBar/index.stories.tsx
  components/Common/MetaBar/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: AvatarGroup layout shift
  components/Common/AvatarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: Unordered list to ordered list
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Unnecessary condition removed
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Heading depth control
  components/Common/MetaBar/index.module.css
  components/Common/MetaBar/index.stories.tsx
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: Metabar type imports
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: non persistent
  turbo.json
Due: prettier --write, prettier --check --write

refactor: More generic prop types for MetaBar component
  components/Common/MetaBar/index.module.css
  components/Common/MetaBar/index.stories.tsx
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Constant naming
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remark-lint, caches and preset-lint-node (#6006)
  .github/workflows/lint-and-tests.yml
  .gitignore
  .prettierignore
  .remarkrc.json
  COLLABORATOR_GUIDE.md
  package-lock.json
  package.json
  pages/id/docs/guides/backpressuring-in-streams.md
  pages/tr/about/governance.md
  pages/uk/get-involved/contribute.md
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(common): develop initial ui and logic for metabar
  components/Common/MetaBar/index.module.css
  components/Common/MetaBar/index.stories.tsx
  components/Common/MetaBar/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: Link hover state styling
  components/Common/MetaBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: hot-fix prettierignore and gitignore
  .gitignore
  .prettierignore
Due: none

feat(Preview): add Preview component
  components/Common/Preview/index.module.css
  components/Common/Preview/index.stories.tsx
  components/Common/Preview/index.tsx
  public/static/images/patterns/hexagon-grid.svg
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: revert download link labels
  pages/ja/download/current.md
  pages/ja/download/index.md
  pages/ru/download/current.md
  pages/ru/download/index.md
  pages/uk/download/current.md
  pages/uk/download/index.md
  pages/zh-tw/download/current.md
  pages/zh-tw/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Revert download link labels (#6015)
  pages/ja/download/current.md
  pages/ja/download/index.md
  pages/ru/download/current.md
  pages/ru/download/index.md
  pages/uk/download/current.md
  pages/uk/download/index.md
  pages/zh-tw/download/current.md
  pages/zh-tw/download/index.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Heading default depth
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Unnecessary constant
  components/Common/MetaBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Resolve Issues - Replace Tabs with Spaces - Use Tailwind Default Class for Dropdown Content
  components/Common/LanguageDropDown/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat(Preview): use radial gradient
  components/Common/Preview/index.module.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
