Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix: release announce links
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/next-data/generators/releaseData.mjs
  apps/site/types/releases.ts
  apps/site/util/getReleaseAnnounceLink.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: remove comment
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: fix error link
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update javascript-asynchronous-programming-and-callbacks.md
  apps/site/pages/en/learn/asynchronous-work/javascript-asynchronous-programming-and-callbacks.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: lint-snippets glob (#7686)
  apps/site/pages/en/learn/test-runner/using-test-runner.md
  apps/site/scripts/lint-snippets/index.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

[automated]: crowdin sync (#7687)
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(meta): add learn article issue template (#7680)
  .github/ISSUE_TEMPLATE/03-article-issue.yml
Due: prettier --write, prettier --check --write

fix(learn): improve the learn Asynchronous Work doc (#7682)
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: use npm icon
  apps/site/components/Downloads/ReleaseOverview/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: redesign the previous releases page (#7630)
  apps/site/components/Downloads/DownloadReleasesTable.tsx
  apps/site/components/Downloads/DownloadReleasesTable/DetailsButton.tsx
  apps/site/components/Downloads/DownloadReleasesTable/index.tsx
  apps/site/components/Downloads/MinorReleasesTable/index.module.css
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  apps/site/components/Downloads/ReleaseModal/index.tsx
  apps/site/components/Downloads/ReleaseOverview/index.module.css
  apps/site/components/Downloads/ReleaseOverview/index.tsx
  apps/site/components/withBadgeGroup.tsx
  apps/site/layouts/About.tsx
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next.mdx.use.mjs
  apps/site/pages/en/index.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/index.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/index.mdx
  apps/site/pages/zh-tw/index.mdx
  apps/site/providers/releaseModalProvider.tsx
  apps/site/types/releases.ts
  package-lock.json
  packages/i18n/locales/en.json
  packages/ui-components/Common/Badge/index.module.css
  packages/ui-components/Common/Badge/index.stories.tsx
  packages/ui-components/Common/Badge/index.tsx
  packages/ui-components/Common/BadgeGroup/index.module.css
  packages/ui-components/Common/BadgeGroup/index.stories.tsx
  packages/ui-components/Common/BadgeGroup/index.tsx
  packages/ui-components/Common/Modal/index.module.css
  packages/ui-components/Common/Modal/index.tsx
  packages/ui-components/Common/Separator/index.module.css
  packages/ui-components/Common/Separator/index.stories.tsx
  packages/ui-components/Common/Separator/index.tsx
  packages/ui-components/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix(content): unify usage of i.e. and e.g. (#7653)
  apps/site/pages/en/blog/npm/npm-1-0-link.md
  apps/site/pages/en/blog/release/v0.10.0.md
  apps/site/pages/en/blog/vulnerability/october-2023-security-releases.md
  apps/site/pages/en/learn/getting-started/nodejs-with-webassembly.md
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
  apps/site/scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: update v18 EOL banner
  apps/site/site.json
Due: prettier --write, prettier --check --write

chore: update v18 EOL banner (#7689)
  apps/site/site.json
Due: prettier --write, prettier --check --write

chore: update env file inclusion order to follow common practices
  apps/site/pages/en/learn/command-line/how-to-read-environment-variables-from-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

unpin, add peer deps
  apps/site/package.json
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check --write

use @/ when possible
  apps/site/components/Blog/BlogHeader/__tests__/index.test.jsx
  apps/site/components/Blog/BlogPostCard/__tests__/index.test.jsx
  apps/site/hooks/react-client/__tests__/useClientContext.test.jsx
  apps/site/hooks/react-client/__tests__/useCopyToClipboard.test.jsx
  apps/site/hooks/react-client/__tests__/useDetectOS.test.mjs
  apps/site/hooks/react-client/__tests__/useMediaQuery.test.mjs
  apps/site/hooks/react-client/__tests__/useNotification.test.jsx
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
  apps/site/next-data/generators/__tests__/websiteFeeds.test.mjs
  apps/site/providers/__tests__/matterProvider.test.jsx
  apps/site/providers/__tests__/navigationStateProvider.test.jsx
  apps/site/providers/__tests__/notificationProvider.test.jsx
  apps/site/providers/__tests__/releaseProvider.test.jsx
  apps/site/providers/__tests__/themeProvider.test.jsx
  apps/site/reducers/__tests__/releaseReducer.test.mjs
  apps/site/util/__tests__/assignClientContext.test.mjs
  apps/site/util/__tests__/authorUtils.test.mjs
  apps/site/util/__tests__/blogUtils.test.mjs
  apps/site/util/__tests__/dateUtils.test.mjs
  apps/site/util/__tests__/debounce.test.mjs
  apps/site/util/__tests__/deepMerge.test.mjs
  apps/site/util/__tests__/detectOS.test.mjs
  apps/site/util/__tests__/downloadUtils.test.mjs
  apps/site/util/__tests__/getHighEntropyValues.test.mjs
  apps/site/util/__tests__/getLanguageDisplayName.test.mjs
  apps/site/util/__tests__/getNodeApiLink.test.mjs
  apps/site/util/__tests__/getNodeDownloadUrl.test.mjs
  apps/site/util/__tests__/getUserPlatform.test.mjs
  apps/site/util/__tests__/gitHubUtils.test.mjs
  apps/site/util/__tests__/hexToRGBA.test.mjs
  apps/site/util/__tests__/imageUtils.test.mjs
  apps/site/util/__tests__/stringUtils.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

add note to onlyBuiltDependencies
  pnpm-workspace.yaml
Due: none

Update vercel.json
  apps/site/vercel.json
Due: prettier --write, prettier --check --write

code review
  .husky/pre-commit
  CONTRIBUTING.md
  apps/site/hooks/react-client/useClientContext.ts
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/hooks/react-client/useNavigationState.ts
  apps/site/hooks/react-client/useNotification.ts
  apps/site/hooks/react-generic/useSiteNavigation.ts
  apps/site/package.json
  apps/site/providers/matterProvider.tsx
  apps/site/providers/releaseProvider.tsx
  apps/site/providers/themeProvider.tsx
  apps/site/util/authorUtils.ts
  apps/site/util/downloadUtils.tsx
  apps/site/util/getLanguageDisplayName.ts
  apps/site/util/getNodeApiLink.ts
  apps/site/util/getNodeDownloadUrl.ts
  package.json
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(infra): adopt `pnpm` (#7662)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/translations-sync.yml
  .gitignore
  .husky/pre-commit
  .npmrc
  .prettierignore
  COLLABORATOR_GUIDE.md
  CONTRIBUTING.md
  DEPENDENCY_PINNING.md
  README.md
  apps/site/eslint.config.js
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/tsconfig.json
  apps/site/vercel.json
  eslint.config.js
  package-lock.json
  package.json
  packages/i18n/eslint.config.js
  packages/i18n/package.json
  packages/i18n/tsconfig.json
  packages/ui-components/eslint.config.js
  packages/ui-components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: local fonts and removed some weird files
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next.fonts.ts
  apps/site/public/static/fonts/ibm-plex-mono.woff2
  apps/site/public/static/fonts/open-sans.woff2
  apps/site/vercel.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: use from google fonts
  apps/site/public/static/fonts/ibm-plex-mono.woff2
  apps/site/public/static/fonts/open-sans.woff2
Due: none

chore(const): add IS_NOT_VERCEL_RUNTIME_ENV
  apps/site/next-data/blogData.ts
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

finally a good copilot suggestion
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

pull out `!IS_DEV_ENV`
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(chromatic): run if a user adds the label to a Dependabot PR
  .github/workflows/chromatic.yml
Due: prettier --write, prettier --check --write

fixup!
  .github/workflows/chromatic.yml
Due: prettier --write, prettier --check --write

chore(const): add IS_NOT_VERCEL_RUNTIME_ENV (#7721)
  apps/site/next-data/blogData.ts
  apps/site/next-data/downloadSnippets.ts
  apps/site/next-data/releaseData.ts
  apps/site/next.constants.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(next): remove `vercel.json` and extra log, update fonts (#7718)
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next.fonts.ts
  apps/site/public/static/fonts/ibm-plex-mono.woff2
  apps/site/public/static/fonts/open-sans.woff2
  apps/site/vercel.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(dependabot): improve dependency grouping
  .github/dependabot.yml
Due: prettier --write, prettier --check --write

chore(dependabot): improve dependency grouping (#7719)
  .github/dependabot.yml
Due: prettier --write, prettier --check --write

format
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/previous-releases.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

[automated]: crowdin sync (#7710)
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ro/download/package-manager/all.md
  apps/site/pages/uk/about/get-involved/index.md
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-tw/about/index.mdx
  apps/site/pages/zh-tw/about/previous-releases.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  apps/site/snippets/fr/download/nvm.bash
  apps/site/snippets/ja/download/nvm.bash
  apps/site/snippets/uk/download/nvm.bash
  apps/site/snippets/zh-tw/download/n.bash
  apps/site/snippets/zh-tw/download/nvm.bash
  packages/i18n/locales/fr.json
  packages/i18n/locales/ja.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(chromatic): run if a user adds the label to a Dependabot PR (#7722)
  .github/workflows/chromatic.yml
Due: prettier --write, prettier --check --write

chore(badge): add next-10
  apps/site/site.json
Due: prettier --write, prettier --check --write

make site work with the Cloudflare OpenNext adapter
  .github/workflows/dependency-review.yml
  .gitignore
  CONTRIBUTING.md
  apps/site/.stylelintignore
  apps/site/app/[locale]/next-data/blog-data/[category]/[page]/route.ts
  apps/site/layouts/Blog.tsx
  apps/site/next-data/blogData.ts
  apps/site/next-data/providers/blogData.ts
  apps/site/next.json.mjs
  apps/site/open-next.config.ts
  apps/site/package.json
  apps/site/scripts/blog-data/generate.mjs
  apps/site/turbo.json
  apps/site/wrangler.jsonc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v24.0.0 release post
  apps/site/pages/en/blog/release/v24.0.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v24.0.0 release post (#7727)
  apps/site/pages/en/blog/release/v24.0.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
