Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

Blog: v18.17.0 release post (#5532)
  pages/en/blog/release/v18.17.0.md
Due: eslint --fix, prettier --write

test: Added test for codebox (#5529)
  components/Article/Codebox/__tests__/index.test.tsx
Due: eslint --fix, prettier --write

chore: we should not compare children due to circular references
  theme.tsx
Due: eslint --fix, prettier --write

fix: 404 only statically generated
  pages/404.tsx
Due: eslint --fix, prettier --write

chore: remove 404 from blacklist
  next.constants.mjs
Due: eslint --fix, prettier --write

fix: language selector from not closing (#5527)
  components/Common/Dropdown/index.tsx
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/index.tsx
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
  hooks/useClickOutside.ts
Due: eslint --fix, prettier --write

fix: 404 generation and circular dependencies (#5534)
  next.constants.mjs
  pages/404.tsx
  theme.tsx
Due: eslint --fix, prettier --write

chore: empty traffic-manager route for Cloudflare
  public/traffic-manager
Due: none

fix: lang box radius
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.stories.tsx
Due: eslint --fix, prettier --write

style: stylelint
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.stories.tsx
Due: eslint --fix, prettier --write

chore:Migrate Hero Component
  components/Home/Hero/__snapshots__/index.stories.tsx.snap
  components/Home/Hero/__tests__/index.test.tsx
  components/Home/Hero/index.module.scss
  components/Home/Hero/index.stories.tsx
  components/Home/Hero/index.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write

feat: mocked useDetectOS for snapshot compatability and updated locale properties
  .storybook/main.ts
  components/Home/Hero/__snapshots__/index.stories.tsx.snap
  components/Home/Hero/__tests__/index.test.tsx
  components/Home/Hero/index.tsx
  hooks/__mocks__/useDetectOS.ts
  i18n/locales/en.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat:merge changes
  components/Home/Hero/__snapshots__/index.stories.tsx.snap
  components/Home/Hero/__tests__/index.test.tsx
  components/Home/Hero/index.stories.tsx
  components/Home/Hero/index.tsx
Due: eslint --fix, prettier --write

fixed imports
  components/Home/Hero/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: lang box radius (#5535)
  components/Article/Codebox/index.module.scss
Due: none

chore: add eslint:recommended rules and fixes
  .eslintrc.json
  components/LocalizedLink.tsx
Due: eslint --fix, prettier --write

chore: move jsx-no-undef to only mdx
  .eslintrc.json
Due: prettier --write

Blog: v20.5.0 release post
  pages/en/blog/release/v20.5.0.md
Due: eslint --fix, prettier --write

Blog: v20.5.0 release post (#5536)
  pages/en/blog/release/v20.5.0.md
Due: eslint --fix, prettier --write

chore: specify a more exact Anchor type
  components/LocalizedLink.tsx
Due: eslint --fix, prettier --write

chore: add eslint:recommended rules (#5531)
  .eslintrc.json
  components/LocalizedLink.tsx
  hooks/usePrismJS.ts
  providers/blogDataProvider.tsx
Due: eslint --fix, prettier --write

fix: make prettier fix style files
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: make prettier fix style files (#5539)
  .lintstagedrc.json
  package.json
Due: prettier --write

Added Custom Methods
  .github/workflows/lighthouse-ci.yml
Due: prettier --write

fixed hover over buttons
  components/Common/Dropdown/index.module.scss
Due: none

changes made according to the feedback
  components/Common/Dropdown/index.module.scss
  styles/_tokens.scss
Due: none

added changes as per the feedback
  components/Common/Dropdown/index.module.scss
  styles/_tokens.scss
Due: none

A fix for scrollbar out of border option
  components/Common/Dropdown/index.module.scss
Due: none

removed unnecessary spaces
  components/Common/Dropdown/index.module.scss
  styles/_tokens.scss
Due: none

ran format
  components/Common/Dropdown/index.module.scss
Due: none

made changes as per the feedback
  components/Common/Banner/index.module.scss
  package-lock.json
  package.json
Due: prettier --write

Fix for Improvement: Banner #5510
  components/Common/Banner/index.module.scss
Due: none

fixed the feedback things
  components/Common/Banner/index.module.scss
Due: none

style fixes
  components/Common/Banner/index.module.scss
Due: none

Style Fixes
  components/Common/Banner/index.module.scss
Due: none

Update index.module.scss remove radius for banner
  components/Common/Banner/index.module.scss
Due: none

resolved comments
  components/Common/Banner/index.module.scss
Due: none

FIx to Improvement: Banner issue #5510
  components/Common/Banner/index.module.scss
  components/Common/Banner/index.tsx
Due: eslint --fix, prettier --write

updated snapshots
  components/Common/Banner/__snapshots__/index.stories.tsx.snap
Due: none

Changed the banner scss as required
  components/Common/Banner/index.module.scss
Due: none
