Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

infra: use sval to parse javascript instead of mdx's `recma`
  apps/site/next.config.mjs
  apps/site/next.mdx.compiler.mjs
  apps/site/next.mdx.evaluater.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove existsSync
  apps/site/next.config.mjs
  apps/site/next.dynamic.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: simplify fragments
  apps/site/components/Downloads/Release/ReleaseStatus.tsx
  apps/site/components/Downloads/Release/ReleaseVersion.tsx
  apps/site/components/MDX/CodeBox/index.stories.tsx
  apps/site/components/MDX/CodeTabs/index.stories.tsx
  apps/site/next.mdx.compiler.mjs
  apps/site/providers/__tests__/localeProvider.test.mjs
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup!: makeshift footnotes to md footnotes
  apps/site/pages/en/learn/modules/package-configuration.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

use recma and sval
  apps/site/next.mdx.compiler.mjs
  apps/site/next.mdx.evaluater.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

add mdx dependency
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

fixup! add mdx dependency
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

fixup! fixup! add mdx dependency
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

chore: code cleanup
  apps/site/next.mdx.compiler.mjs
  apps/site/next.mdx.evaluater.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: retrieve must be after
  apps/site/next.mdx.compiler.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

infra: use sval to parse javascript instead of mdx's `evaluate` (#7233)
  apps/site/next.config.mjs
  apps/site/next.mdx.compiler.mjs
  apps/site/next.mdx.evaluater.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update remaining logo (#7227)
  apps/site/public/static/images/favicons/android-chrome-192x192.png
  apps/site/public/static/images/favicons/android-chrome-512x512.png
  apps/site/public/static/images/favicons/favicon.png
  apps/site/public/static/images/logo-hexagon-card.png
Due: none

feat: add Bluesky social icon and update footer navigation (#7218)
  apps/site/components/Containers/Footer/index.tsx
  apps/site/components/Icons/Social/Bluesky.tsx
  apps/site/components/__design__/social-logos.stories.tsx
  apps/site/navigation.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

meta: link status page in issue contact links
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write, prettier --check --write

meta: link status page in issue contact links (#7225)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write, prettier --check --write

fix the inconsistency in Development start command between Contributing Guide and README (#7224)
  README.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content: clarify `process.nextTick()` timing (#7204)
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: review updates
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/Downloads/Release/LinkWithArrow.tsx
  apps/site/next.config.mjs
  apps/site/types/config.ts
  apps/site/util/authorUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/util/authorUtils.ts
  apps/site/util/authorUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: add skip-to-content button
  apps/site/components/withNavBar.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: enhancing code readability
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/util/authorUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Apply suggestions from code review
  apps/site/pages/en/learn/modules/how-to-use-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! Apply suggestions from code review
  apps/site/pages/en/learn/modules/how-to-use-streams.md
  packages/i18n/locales/en.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! fixup! Apply suggestions from code review
  apps/site/navigation.json
Due: prettier --write, prettier --check --write

fix:credit change from X to LinedIn
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

name changes
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: review update
  apps/site/components/withAvatarGroup.tsx
  apps/site/types/author.ts
  apps/site/types/config.ts
  apps/site/types/index.ts
  apps/site/util/authorUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: Introducing avatar tooltip (#7143)
  apps/site/components/Common/AvatarGroup/Avatar/index.module.css
  apps/site/components/Common/AvatarGroup/Avatar/index.stories.tsx
  apps/site/components/Common/AvatarGroup/Avatar/index.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.module.css
  apps/site/components/Common/AvatarGroup/Overlay/index.stories.tsx
  apps/site/components/Common/AvatarGroup/Overlay/index.tsx
  apps/site/components/Common/AvatarGroup/__tests__/index.test.mjs
  apps/site/components/Common/AvatarGroup/index.stories.tsx
  apps/site/components/Common/AvatarGroup/index.tsx
  apps/site/components/Common/BlogPostCard/__tests__/index.test.mjs
  apps/site/components/Common/BlogPostCard/index.module.css
  apps/site/components/Common/BlogPostCard/index.stories.tsx
  apps/site/components/Common/BlogPostCard/index.tsx
  apps/site/components/Common/Tooltip/index.module.css
  apps/site/components/Common/Tooltip/index.stories.tsx
  apps/site/components/Common/Tooltip/index.tsx
  apps/site/components/Containers/MetaBar/index.stories.tsx
  apps/site/components/Downloads/Release/LinkWithArrow.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/components/withBlogCategories.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/layouts/Post.tsx
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/types/author.ts
  apps/site/types/config.ts
  apps/site/types/index.ts
  apps/site/util/__tests__/authorUtils.test.mjs
  apps/site/util/__tests__/blogUtils.test.mjs
  apps/site/util/authorUtils.ts
  apps/site/util/blogUtils.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

chore: bump shiki to 1.23.1
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

chore: bump shiki patch
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

chore: rollback shiki
  apps/site/package.json
  package-lock.json
Due: prettier --write, prettier --check --write

chore: update dependencies
  apps/site/package.json
  package-lock.json
  package.json
  packages/i18n/package.json
Due: prettier --write, prettier --check --write

content: synchronize contribute page with GOVERNANCE.md
  apps/site/pages/en/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: Credit link changes from X to LinkedIn for Angela Angelini (#7236)
  apps/site/pages/en/about/branding.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content: synchronize contribute page with GOVERNANCE.md (#7238)
  apps/site/pages/en/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: update dependencies (#7234)
  apps/site/package.json
  package-lock.json
  package.json
  packages/i18n/package.json
Due: prettier --write, prettier --check --write

Fix Download button pointing to an incorrect binary on Windows arm64
  apps/site/components/Downloads/DownloadButton/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update detectOS.ts
  apps/site/util/detectOS.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write
