Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

chore: bump version
  packages/ui-components/package.json
Due: prettier --write

Blog: update to new target date for security release
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: search modal overflow (#8523)
  packages/ui-components/package.json
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Results/Hit/index.module.css
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
Due: prettier --write

Update apps/site/site.json
  apps/site/site.json
Due: prettier --write

Blog: update to new target date for security release (#8524)
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: addressed nitpicks and ran pnpm version path in ui-components directory
  apps/site/hooks/client/useScrollToElement.ts
  apps/site/hooks/server/index.ts
  apps/site/hooks/server/useScroll.ts
  apps/site/hooks/server/useScrollToElement.ts
  packages/ui-components/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: package is named nodejs on https://www.nixhub.io, not node
  apps/site/snippets/en/download/devbox.bash
Due: none

Blog: postpone security release to Tuesday 13
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

Blog: postpone security release to Tuesday 13 (#8526)
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(downloads): remove devbox
  apps/site/snippets/en/download/devbox.bash
  apps/site/snippets/es/download/devbox.bash
  apps/site/snippets/fr/download/devbox.bash
  apps/site/snippets/id/download/devbox.bash
  apps/site/snippets/ja/download/devbox.bash
  apps/site/snippets/ko/download/devbox.bash
  apps/site/snippets/pt-br/download/devbox.bash
  apps/site/snippets/pt/download/devbox.bash
  apps/site/snippets/ro/download/devbox.bash
  apps/site/snippets/tr/download/devbox.bash
  apps/site/snippets/uk/download/devbox.bash
  apps/site/snippets/zh-cn/download/devbox.bash
  apps/site/snippets/zh-tw/download/devbox.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
  packages/ui-components/__design__/platform-logos.stories.tsx
  packages/ui-components/src/Icons/InstallationMethod/Devbox.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove unnecessary 'use client' directive from Sidebar component
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: improve sidebar pathname handling
  apps/site/components/withSidebar.tsx
  apps/site/hooks/client/useScrollToElement.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove unused locale handling from WithSidebar component
  apps/site/components/withSidebar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: create release schedule component
  apps/site/components/Releases/ReleaseSchedule/index.tsx
  apps/site/mdx/components.mjs
  apps/site/next-data/generators/releaseSchedule.mjs
  apps/site/next-data/providers/releaseSchedule.ts
  apps/site/next-env.d.ts
  apps/site/next.constants.mjs
  apps/site/package.json
  apps/site/pages/en/about/previous-releases.mdx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/security-reporting.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

refactor: nits
  apps/site/next-data/generators/releaseSchedule.mjs
  apps/site/next-data/providers/releaseSchedule.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(ci): pnpm updater
  .github/workflows/pnpm-updater.yml
Due: prettier --write

fixup!
  .github/workflows/build.yml
  apps/site/next-env.d.ts
  apps/site/next.config.mjs
  apps/site/next.constants.mjs
  apps/site/next.image.config.mjs
  apps/site/package.json
  apps/site/turbo.json
  apps/site/types/server.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update .github/workflows/pnpm-updater.yml
  .github/workflows/pnpm-updater.yml
Due: prettier --write

chore(downloads): remove devbox (#8527)
  apps/site/snippets/en/download/devbox.bash
  apps/site/snippets/es/download/devbox.bash
  apps/site/snippets/fr/download/devbox.bash
  apps/site/snippets/id/download/devbox.bash
  apps/site/snippets/ja/download/devbox.bash
  apps/site/snippets/ko/download/devbox.bash
  apps/site/snippets/pt-br/download/devbox.bash
  apps/site/snippets/pt/download/devbox.bash
  apps/site/snippets/ro/download/devbox.bash
  apps/site/snippets/tr/download/devbox.bash
  apps/site/snippets/uk/download/devbox.bash
  apps/site/snippets/zh-cn/download/devbox.bash
  apps/site/snippets/zh-tw/download/devbox.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  packages/i18n/src/locales/en.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/id.json
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/ko.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/pt.json
  packages/i18n/src/locales/ro.json
  packages/i18n/src/locales/uk.json
  packages/i18n/src/locales/zh-cn.json
  packages/i18n/src/locales/zh-tw.json
  packages/ui-components/__design__/platform-logos.stories.tsx
  packages/ui-components/src/Icons/InstallationMethod/Devbox.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): implement sidebar scroll position preservation (#8517)
  apps/site/components/withSidebar.tsx
  apps/site/hooks/client/__tests__/useScrollToElement.test.jsx
  apps/site/hooks/client/index.ts
  apps/site/hooks/client/useScroll.ts
  apps/site/hooks/client/useScrollToElement.ts
  apps/site/hooks/server/index.ts
  apps/site/hooks/server/useScroll.ts
  apps/site/hooks/server/useScrollToElement.ts
  packages/ui-components/package.json
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: adds asdf installation instructions to downloads page
  .tool-versions
  apps/site/snippets/en/download/asdf.bash
  apps/site/util/download/constants.json
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Icons/InstallationMethod/ASDF.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: use correct macos formatting, add asdf story
  apps/site/snippets/en/download/asdf.bash
  packages/ui-components/__design__/platform-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove asdf icon, icon requirement and tool-versions
  .tool-versions
  apps/site/snippets/en/download/asdf.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
  apps/site/util/download/index.tsx
  packages/ui-components/__design__/platform-logos.stories.tsx
  packages/ui-components/src/Icons/InstallationMethod/ASDF.tsx
  packages/ui-components/src/Icons/InstallationMethod/index.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(ci): pnpm updater (#8532)
  .github/workflows/pnpm-updater.yml
Due: prettier --write

[automated]: crowdin sync (#8530)
  apps/site/pages/ja/about/previous-releases.mdx
  packages/i18n/package.json
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ja.json
Due: eslint --fix, prettier --write, prettier --check --write

meta: update pnpm from 10.24.0 to 10.28.0
  package.json
Due: prettier --write

feat(blog): create post for v20.20.0
  apps/site/pages/en/blog/release/v20.20.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add January 13 security release
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v24.13.0
  apps/site/pages/en/blog/release/v24.13.0.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v25.3.0
  apps/site/pages/en/blog/release/v25.3.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Update apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add January 13 security release (#8538)
  apps/site/pages/en/blog/vulnerability/december-2025-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for 22.22.0
  apps/site/pages/en/blog/release/v22.22.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
