Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

fix: keep "OpenJS Foundation" untranslated per project policy
  packages/i18n/src/locales/fr.json
  packages/i18n/src/locales/ta.json
Due: prettier --write

fix: remove unmaintained Mastodon link from footer
  apps/site/navigation.json
Due: prettier --write

refactor: consolidate platform detection into NEXT_PUBLIC_DEPLOY_TARGET
  apps/site/app/[locale]/layout.tsx
  apps/site/instrumentation.ts
  apps/site/mdx/plugins.mjs
  apps/site/next.config.mjs
  apps/site/next.constants.cloudflare.mjs
  apps/site/next.constants.mjs
  apps/site/next.image.config.mjs
  apps/site/open-next.config.ts
  apps/site/package.json
  apps/site/platform/body-end.tsx
  apps/site/platform/body-end.vercel.tsx
  apps/site/turbo.json
  apps/site/vercel.json
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: use project-relative alias strings in default platform config
  apps/site/next.platform.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore(deps): catalog next versions across workspace
  apps/site/package.json
  packages/platform-cloudflare/package.json
  packages/platform-vercel/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

refactor(config): restrict platform nextConfig overrides
  apps/site/next.config.mjs
  packages/platform-cloudflare/next.platform.config.d.ts
  packages/platform-vercel/next.platform.config.d.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix(vercel): restore mdx defaults for shiki
  packages/platform-vercel/__tests__/next.platform.config.test.mjs
  packages/platform-vercel/next.platform.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

docs: update Repository Structure to list apps/vercel and apps/cloudflare
  docs/technologies.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor: move platform workspaces from packages/ to apps/ and decouple site deps
  .github/CODEOWNERS
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  apps/cloudflare/next.platform.config.d.ts
  apps/cloudflare/next.platform.config.mjs
  apps/cloudflare/open-next.config.ts
  apps/cloudflare/package.json
  apps/cloudflare/playwright.platform.config.d.ts
  apps/cloudflare/playwright.platform.config.mjs
  apps/cloudflare/src/analytics.tsx
  apps/cloudflare/src/image-loader.ts
  apps/cloudflare/src/instrumentation.ts
  apps/cloudflare/src/worker-entrypoint.ts
  apps/cloudflare/tsconfig.json
  apps/cloudflare/turbo.json
  apps/cloudflare/wrangler.jsonc
  apps/site/package.json
  apps/site/vercel.json
  apps/vercel/__tests__/next.platform.config.test.mjs
  apps/vercel/next.platform.config.d.ts
  apps/vercel/next.platform.config.mjs
  apps/vercel/package.json
  apps/vercel/playwright.platform.config.d.ts
  apps/vercel/playwright.platform.config.mjs
  apps/vercel/src/analytics.tsx
  apps/vercel/src/instrumentation.ts
  apps/vercel/tsconfig.json
  docs/cloudflare-build-and-deployment.md
  docs/technologies.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

refactor(types): enforce platform nextConfig via type-only constraints
  apps/site/next.config.mjs
  packages/platform-cloudflare/next.platform.config.d.ts
  packages/platform-vercel/next.platform.config.d.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor(platform): resolve via #platform import map and unify type contract
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/cloudflare/next.platform.config.d.ts
  apps/cloudflare/next.platform.config.mjs
  apps/cloudflare/open-next.config.ts
  apps/cloudflare/playwright.platform.config.mjs
  apps/cloudflare/src/instrumentation.ts
  apps/cloudflare/tsconfig.json
  apps/site/mdx/plugins.mjs
  apps/site/next.config.mjs
  apps/site/next.platform.config.d.ts
  apps/site/next.platform.config.mjs
  apps/site/package.json
  apps/site/platform/instrumentation.ts
  apps/site/playwright.config.ts
  apps/site/playwright.platform.config.d.ts
  apps/site/playwright.platform.config.mjs
  apps/site/vercel.json
  apps/vercel/next.platform.config.mjs
  apps/vercel/playwright.platform.config.d.ts
  apps/vercel/playwright.platform.config.mjs
  apps/vercel/src/instrumentation.ts
  apps/vercel/tsconfig.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): build open-next in a dedicated step and skip turbo for wrangler
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/cloudflare/playwright.platform.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): invoke cloudflare:preview via pnpm filter so wrangler resolves
  apps/cloudflare/playwright.platform.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor(platform): relocate deploy-target apps under platforms/
  .github/CODEOWNERS
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  .gitignore
  apps/vercel/__tests__/next.platform.config.test.mjs
  docs/cloudflare-build-and-deployment.md
  docs/technologies.md
  platforms/cloudflare/next.platform.config.mjs
  platforms/cloudflare/open-next.config.ts
  platforms/cloudflare/package.json
  platforms/cloudflare/playwright.platform.config.mjs
  platforms/cloudflare/src/analytics.tsx
  platforms/cloudflare/src/image-loader.ts
  platforms/cloudflare/src/instrumentation.ts
  platforms/cloudflare/src/worker-entrypoint.ts
  platforms/cloudflare/tsconfig.json
  platforms/cloudflare/turbo.json
  platforms/cloudflare/wrangler.jsonc
  platforms/vercel/next.platform.config.mjs
  platforms/vercel/package.json
  platforms/vercel/playwright.platform.config.mjs
  platforms/vercel/src/analytics.tsx
  platforms/vercel/src/instrumentation.ts
  platforms/vercel/tsconfig.json
  platforms/vercel/vercel.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore(cloudflare): drop cd-prefixed scripts and ignore wrangler state dir
  .gitignore
  apps/cloudflare/package.json
  apps/cloudflare/wrangler.jsonc
Due: prettier --write

fix(platform): defer Node-only config behind async thunks
  apps/cloudflare/next.platform.config.mjs
  apps/site/next.config.mjs
  apps/site/next.platform.config.d.ts
  apps/vercel/next.platform.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(platform): restore platform-vercel next config test under platforms/
  platforms/vercel/__tests__/next.platform.config.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(cloudflare): repair paths after platforms/cloudflare flatten
  .github/CODEOWNERS
  platforms/cloudflare/turbo.json
  platforms/cloudflare/worker-entrypoint.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor(platform): flatten platform packages and route via #platform
  apps/site/mdx/plugins.mjs
  apps/site/next.config.mjs
  apps/site/next.constants.mjs
  apps/site/next.platform.constants.mjs
  apps/site/package.json
  apps/site/platform/next.platform.config.mjs
  apps/site/platform/playwright.platform.config.mjs
  apps/site/playwright.config.ts
  apps/site/playwright.platform.config.d.ts
  apps/site/playwright.platform.config.mjs
  apps/site/tsconfig.json
  docs/technologies.md
  platforms/cloudflare/analytics.tsx
  platforms/cloudflare/image-loader.ts
  platforms/cloudflare/instrumentation.ts
  platforms/cloudflare/next.platform.config.mjs
  platforms/cloudflare/package.json
  platforms/cloudflare/playwright.platform.config.mjs
  platforms/cloudflare/tsconfig.json
  platforms/cloudflare/worker-entrypoint.ts
  platforms/cloudflare/wrangler.jsonc
  platforms/vercel/__tests__/next.platform.config.test.mjs
  platforms/vercel/analytics.tsx
  platforms/vercel/instrumentation.ts
  platforms/vercel/next.platform.config.mjs
  platforms/vercel/package.json
  platforms/vercel/playwright.platform.config.mjs
  platforms/vercel/tsconfig.json
Due: eslint --fix, prettier --write, prettier --check --write

refactor(platform): rename platform scripts and add default platform package
  .github/CODEOWNERS
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  apps/site/mdx/plugins.mjs
  apps/site/next.config.mjs
  apps/site/next.constants.mjs
  apps/site/next.platform.config.d.ts
  apps/site/next.platform.constants.mjs
  apps/site/package.json
  apps/site/platform/next.platform.config.mjs
  apps/site/playwright.config.ts
  apps/site/tsconfig.json
  docs/cloudflare-build-and-deployment.md
  docs/technologies.md
  package.json
  platforms/cloudflare/next.config.mjs
  platforms/cloudflare/open-next.config.ts
  platforms/cloudflare/package.json
  platforms/cloudflare/playwright.config.mjs
  platforms/cloudflare/turbo.json
  platforms/default/analytics.tsx
  platforms/default/instrumentation.ts
  platforms/default/next.config.mjs
  platforms/default/package.json
  platforms/default/playwright.config.mjs
  platforms/default/tsconfig.json
  platforms/vercel/next.config.mjs
  platforms/vercel/package.json
  platforms/vercel/playwright.config.mjs
  platforms/vercel/vercel.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write, prettier --check --write

refactor(platform): collapse @platform aliases into a single wildcard
  .github/workflows/playwright-cloudflare-open-next.yml
  apps/site/next.config.mjs
  apps/site/next.platform.config.d.ts
  apps/site/next.platform.constants.mjs
  apps/site/playwright.config.mjs
  apps/site/playwright.platform.config.d.ts
  platforms/cloudflare/next.config.mjs
  platforms/cloudflare/package.json
  platforms/default/next.config.mjs
  platforms/vercel/next.config.mjs
  platforms/vercel/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: tiny next.config.mjs simplification
  platforms/vercel/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(platform): give Turbopack a wildcard `@platform/*` alias
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(platform): stop tsconfig paths from shadowing the @platform alias
  apps/site/next.config.mjs
  apps/site/next.platform.modules.d.ts
  apps/site/tsconfig.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(deps): align orama and cloudflare deps after rebase
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

Update README.md
  docs/README.md
Due: eslint --fix, prettier --write, prettier --check --write

Refine README.md content for clarity
  docs/README.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: sidebar last items hidden behind header on scroll
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: none

ci: update Cloudflare account ID for open-next version of site (#8841)
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
  apps/site/wrangler.jsonc
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(ci): delete CODEOWNER script (#8845)
  .github/workflows/request-codeowner-review.yml
Due: prettier --write

Update apps/site/pages/en/blog/events/collab-summit-2026-london.md
  apps/site/pages/en/blog/events/collab-summit-2026-london.md
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions
  apps/site/pages/en/blog/events/collab-summit-2026-london.md
Due: eslint --fix, prettier --write, prettier --check --write

cleanup
  apps/site/cloudflare/worker-entrypoint.ts
  packages/cloudflare-sentry-tail/src/index.ts
  packages/cloudflare-sentry-tail/src/utils/processTailItem.ts
  packages/cloudflare-sentry-tail/src/utils/sentry.ts
Due: eslint --fix, prettier --write, prettier --check --write

apply suggestions
  apps/site/pages/en/blog/events/collab-summit-2026-london.md
Due: eslint --fix, prettier --write, prettier --check --write
