Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

use renamed function
  .github/workflows/lighthouse.yml
Due: prettier --write, prettier --check --write

fix: hotfix middleware redirect available languages
  middleware.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: use rehype-shikiji
  next.mdx.mjs
  package-lock.json
  package.json
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: webpack does not support .mjs by default
  next.config.mjs
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: support dockerfile format
  pages/en/docs/guides/nodejs-docker-webapp.md
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: date changing on story every day
  components/Common/BlogPostCard/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: add support to diff
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: use rehype-shikiji (#6054)
  components/Common/BlogPostCard/index.stories.tsx
  next.config.mjs
  next.mdx.mjs
  package-lock.json
  package.json
  pages/en/docs/guides/nodejs-docker-webapp.md
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: Syntax highlighter empty line
  styles/old/index.css
Due: prettier --write, stylelint --allow-empty-input

fix: Last empty line shouldnt shown
  styles/old/index.css
Due: prettier --write, stylelint --allow-empty-input

fix: Syntax highlighter empty line (#6055)
  styles/old/index.css
Due: prettier --write, stylelint --allow-empty-input

add openssf badge to new security page
  pages/en/about/security-reporting.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: overeager global padding avoided
  pages/en/about/security-reporting.md
Due: eslint --fix, prettier --write, prettier --check --write

increase vercel preview timeout
  .github/workflows/lighthouse.yml
Due: prettier --write, prettier --check --write

feat(themeToggle): introduce
  .storybook/preview.tsx
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.module.css
  components/Common/ThemeToggle/index.stories.tsx
  components/Common/ThemeToggle/index.tsx
  hooks/useNotification 2.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: indentation
  components/Common/ThemeToggle/index.module.css
Due: prettier --write, stylelint --allow-empty-input

remove toggling
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

separate icon
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

update to use focus and `onKeyDown`
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

use classname instead of css module
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

test: render put on `beforeEach`
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: code format
  components/Common/ThemeToggle/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix
  components/Common/ThemeToggle/index.module.css
  hooks/useNotification 2.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

remove `ThemeProvider` from `preview.tsx`
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: code review changes
  components/Common/AvatarGroup/__tests__/index.test.mjs
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.stories.tsx
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: style indentation
  components/Common/ThemeToggle/index.module.css
Due: prettier --write, stylelint --allow-empty-input

meta: corrected designs of themetoggle and languagedropdown
  components/Common/LanguageDropDown/index.module.css
  components/Common/LanguageDropDown/index.tsx
  components/Common/ThemeToggle/index.module.css
  components/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat(themeToggle): introduce (#6007)
  components/Common/AvatarGroup/__tests__/index.test.mjs
  components/Common/LanguageDropDown/index.module.css
  components/Common/LanguageDropDown/index.tsx
  components/Common/ThemeToggle/__tests__/index.test.mjs
  components/Common/ThemeToggle/index.module.css
  components/Common/ThemeToggle/index.stories.tsx
  components/Common/ThemeToggle/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Add Lighthouse CI (#6047)
  .github/workflows/lighthouse.yml
  .lighthouserc.json
  scripts/lighthouse/__tests__/index.test.mjs
  scripts/lighthouse/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

add openssf badge to new security page (#6057)
  pages/en/about/security-reporting.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: always enforce date objs
  next-data/generateBlogPostsData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: normalise template
  scripts/release-post/template.hbs
Due: none

chore: do not translate deprecated download pages for now
  crowdin.yml
Due: prettier --write, prettier --check --write

meta: only do not translate guides
  crowdin.yml
Due: prettier --write, prettier --check --write

chore: pagination no author
  pages/en/blog/pagination.md
Due: eslint --fix, prettier --write, prettier --check --write

meta: updated components and exports for mdx
  components/Docs/NodeApiVersionLinks.tsx
  components/Home/HomeDownloadButton.tsx
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
  layouts/DownloadReleasesLayout.tsx
  layouts/IndexLayout.tsx
  next.mdx.use.mjs
  pages/en/about/previous-releases.mdx
  pages/en/docs/index.mdx
  pages/en/index.mdx
  providers/layoutProvider.tsx
  providers/mdxProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated some links
  i18n/locales/ar.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fr.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/pt-br.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
  navigation.json
  pages/en/docs/guides/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: localized link change approach
  components/LocalizedLink.tsx
  scripts/release-post/template.hbs
Due: eslint --fix, prettier --write, prettier --check --write
