Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: update link display logic instead of the href
  apps/site/components/Containers/NavBar/NavItem/index.tsx
  apps/site/navigation.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: expedited hot fix for training link
  apps/site/navigation.json
Due: prettier --write, prettier --check --write

Blog: v20.16.0 release post
  apps/site/pages/en/blog/release/v20.16.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v20.16.0 release post (#6940)
  apps/site/pages/en/blog/release/v20.16.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(blog): update "Coming soon" links
  apps/site/pages/en/blog/release/v18.1.0.md
  apps/site/pages/en/blog/release/v18.17.0.md
  apps/site/pages/en/blog/release/v18.18.0.md
  apps/site/pages/en/blog/release/v20.15.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

update from review
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

improve "Learning Materials"
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(blog): update "Coming soon" links (#6941)
  apps/site/pages/en/blog/release/v18.1.0.md
  apps/site/pages/en/blog/release/v18.17.0.md
  apps/site/pages/en/blog/release/v18.18.0.md
  apps/site/pages/en/blog/release/v20.15.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: Break long words only in blog posts
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

Update layouts.module.css
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: create initial i18n pkg
  apps/site/i18n.tsx
  apps/site/next.locales.mjs
  apps/site/package.json
  package-lock.json
  package.json
  packages/i18n/config.json
  packages/i18n/locales/en.json
  packages/i18n/locales/fr.json
  packages/i18n/locales/id.json
  packages/i18n/locales/pt.json
  packages/i18n/locales/zh-cn.json
  packages/i18n/package.json
  turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: delete website locale files
  apps/site/i18n/config.json
  apps/site/i18n/locales/en.json
  apps/site/i18n/locales/fr.json
  apps/site/i18n/locales/id.json
  apps/site/i18n/locales/pt.json
  apps/site/i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

chore: remove useless build task
  apps/site/turbo.json
  turbo.json
Due: prettier --write, prettier --check --write

feat:improve-fnm-download-instructions
  apps/site/i18n/locales/en.json
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: invalid property name "stop-color"
  apps/site/components/Icons/Social/Mastodon.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: document the `--inspect-wait` flag
  apps/site/pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: footer missing on learn & about layout
  apps/site/layouts/About.tsx
  apps/site/layouts/Learn.tsx
  apps/site/layouts/layouts.module.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: open docs links in the same tab closes #6927 (#6936)
  apps/site/components/Containers/NavBar/NavItem/index.tsx
  apps/site/navigation.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: invalid property name "stop-color" (#6947)
  apps/site/components/Icons/Social/Mastodon.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content(learn): update ressources about typescript
  apps/site/i18n/locales/en.json
  apps/site/navigation.json
  apps/site/pages/en/learn/getting-started/nodejs-with-typescript.md
  apps/site/pages/en/learn/typescript/introduction.md
  apps/site/pages/en/learn/typescript/run-natively.md
  apps/site/pages/en/learn/typescript/run.md
  apps/site/pages/en/learn/typescript/transpile.md
  apps/site/redirects.json
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

adding important note
  apps/site/pages/en/learn/typescript/run-natively.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: document the `--inspect-wait` flag (#6948)
  apps/site/pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(i18n): Add space between Chinese and English nouns for readability
  apps/site/i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

content(learn): update from feedback
  apps/site/pages/en/learn/typescript/introduction.md
  apps/site/pages/en/learn/typescript/run-natively.md
  apps/site/pages/en/learn/typescript/transpile.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

content(learn): remove global install of tsc
  apps/site/pages/en/learn/typescript/transpile.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix fails from github copilot
  apps/site/pages/en/learn/typescript/transpile.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: remove old stuff from navigation
  apps/site/i18n/locales/en.json
  apps/site/navigation.json
Due: prettier --write, prettier --check --write

refactor: Fix typos in variable names
  apps/site/i18n/locales/en.json
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update translations-pr.yml
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

Update apps/site/layouts/layouts.module.css
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: Break long words only in blog posts (#6944)
  apps/site/layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

Update translation check logic (#6955)
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

docs: Add WinGet as a listed way to install Node.js
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/components/Icons/Platform/WinGet.tsx
  apps/site/i18n/locales/en.json
  apps/site/types/release.ts
  apps/site/util/downloadUtils.ts
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Enhance modal accessibility in WithSearchBox with RemoveScroll and FocusLock
  components/Common/Search/States/WithSearchBox.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: add alternates languages to sitemap (#6956)
  apps/site/app/sitemap.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/i18n/locales/en.json
  apps/site/i18n/locales/en.json
Due: prettier --write, prettier --check --write

feat:improve-fnm-download-instructions (#6946)
  apps/site/i18n/locales/en.json
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: add support for Proto package manager
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/components/Icons/Platform/Proto.tsx
  apps/site/i18n/locales/en.json
  apps/site/pages/en/download/package-manager/all.md
  apps/site/types/release.ts
  apps/site/util/downloadUtils.ts
  apps/site/util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
