Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

fix: Add 'twoslash' to Dependabot Shiki group (#8491)
  .github/dependabot.yml
Due: prettier --write

fix: PartnerIcon Accessibility (#8489)
  apps/site/components/Common/Partners/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
  packages/rehype-shiki/src/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): inline code block feedback
  apps/site/components/Common/CodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/layouts/Base.tsx
  apps/site/next.config.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/package.json
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/BaseCodeBox/index.stories.tsx
  packages/ui-components/src/Common/BaseCodeBox/index.tsx
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
  packages/ui-components/src/Common/Notification/index.module.css
  packages/ui-components/src/Common/Notification/index.stories.tsx
  packages/ui-components/src/Common/Notification/index.tsx
  packages/ui-components/src/Providers/NotificationProvider/__tests__/index.test.jsx
  packages/ui-components/src/Providers/NotificationProvider/index.module.css
  packages/ui-components/src/Providers/NotificationProvider/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): inline code block feedback (#8493)
  apps/site/components/Common/CodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/layouts/Base.tsx
  apps/site/next.config.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/package.json
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/BaseCodeBox/index.stories.tsx
  packages/ui-components/src/Common/BaseCodeBox/index.tsx
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
  packages/ui-components/src/Common/Notification/index.module.css
  packages/ui-components/src/Common/Notification/index.stories.tsx
  packages/ui-components/src/Common/Notification/index.tsx
  packages/ui-components/src/Providers/NotificationProvider/__tests__/index.test.jsx
  packages/ui-components/src/Providers/NotificationProvider/index.module.css
  packages/ui-components/src/Providers/NotificationProvider/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

Update how-to-use-the-nodejs-repl.md
  apps/site/pages/en/learn/command-line/how-to-use-the-nodejs-repl.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove volta from install options (#8492)
  apps/site/snippets/en/download/volta.bash
  apps/site/snippets/es/download/volta.bash
  apps/site/snippets/fr/download/volta.bash
  apps/site/snippets/id/download/volta.bash
  apps/site/snippets/ja/download/volta.bash
  apps/site/snippets/pt-br/download/volta.bash
  apps/site/snippets/pt/download/volta.bash
  apps/site/snippets/ro/download/volta.bash
  apps/site/snippets/tr/download/volta.bash
  apps/site/snippets/uk/download/volta.bash
  apps/site/snippets/zh-cn/download/volta.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): badge + breadcrumbs color contrast (#8494)
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/Breadcrumbs/BreadcrumbLink/index.module.css
Due: none

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/security-reporting.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/security-reporting.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

Deduplicate dependencies
  pnpm-lock.yaml
Due: none

meta: deduplicate dependencies (#8499)
  pnpm-lock.yaml
Due: none

feat(mdx): move to `next-mdx-remote`
  apps/site/app/[locale]/[...path]/page.tsx
  apps/site/app/[locale]/blog/[...path]/page.tsx
  apps/site/app/[locale]/blog/[cat]/page.tsx
  apps/site/app/[locale]/page.tsx
  apps/site/app/sitemap.ts
  apps/site/mdx/compiler.mjs
  apps/site/mdx/plugins.mjs
  apps/site/next-env.d.ts
  apps/site/next.dynamic.mjs
  apps/site/next.dynamic.page.mjs
  apps/site/next.helpers.mjs
  apps/site/package.json
  apps/site/router/constants.ts
  apps/site/router/index.ts
  apps/site/router/mdx/components.mjs
  apps/site/router/mdx/plugins.ts
  apps/site/router/mdx/plugins/headings.mjs
  apps/site/router/mdx/plugins/shiki.mjs
  apps/site/router/mdx/plugins/table.mjs
  apps/site/router/page.ts
  apps/site/router/render.tsx
  apps/site/scripts/blog-data/__test__/generate.test.mjs
  apps/site/scripts/blog-data/generate.mjs
  apps/site/scripts/orama-search/get-documents.mjs
  apps/site/types/index.ts
  apps/site/types/markdown.ts
  apps/site/types/server.ts
  apps/site/util/__tests__/table.test.mjs
  apps/site/util/array.ts
  apps/site/util/table.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/app/sitemap.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): Added Skip To Content
  apps/site/components/withNavBar.module.css
  apps/site/components/withNavBar.tsx
  apps/site/layouts/About.tsx
  apps/site/layouts/ArticlePage.tsx
  apps/site/layouts/Blog.tsx
  apps/site/layouts/Default.tsx
  apps/site/layouts/Download.tsx
  apps/site/layouts/DownloadArchive.tsx
  apps/site/layouts/GlowingBackdrop.tsx
  apps/site/layouts/Learn.tsx
  apps/site/layouts/Post.tsx
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): moved Skip to Content as a component, added test and storybook file
  apps/site/components/withNavBar.tsx
  packages/ui-components/src/Common/SkipToContentButton/__tests__/index.test.jsx
  packages/ui-components/src/Common/SkipToContentButton/index.module.css
  packages/ui-components/src/Common/SkipToContentButton/index.stories.tsx
  packages/ui-components/src/Common/SkipToContentButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(a11y): wrap SidebarItem with <li> in SidebarGroup
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8513)
  apps/site/pages/fr/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/uk/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/src/hooks/__test__/useCopy.test.jsx
Due: none

feat(tests): remove SkipToContentButton test file
  packages/ui-components/src/Common/SkipToContentButton/__tests__/index.test.jsx
Due: none

feat(ui): refactor SkipToContentButton to use children prop instead of label
  apps/site/components/withNavBar.tsx
  packages/ui-components/src/Common/SkipToContentButton/index.stories.tsx
  packages/ui-components/src/Common/SkipToContentButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor(a11y): move <li> wrapper from SidebarGroup to SidebarItem
  packages/ui-components/src/Containers/Sidebar/SidebarGroup/index.tsx
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): update WithNavBar component structure for improved accessibility
  apps/site/components/withNavBar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): Added Skip To Content (#8514)
  apps/site/components/withNavBar.tsx
  apps/site/layouts/About.tsx
  apps/site/layouts/ArticlePage.tsx
  apps/site/layouts/Blog.tsx
  apps/site/layouts/Default.tsx
  apps/site/layouts/Download.tsx
  apps/site/layouts/DownloadArchive.tsx
  apps/site/layouts/GlowingBackdrop.tsx
  apps/site/layouts/Learn.tsx
  apps/site/layouts/Post.tsx
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Common/SkipToContentButton/index.module.css
  packages/ui-components/src/Common/SkipToContentButton/index.stories.tsx
  packages/ui-components/src/Common/SkipToContentButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(a11y): wrap SidebarItem with <li> in SidebarGroup (#8515)
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(ui): implement sidebar scroll position preservation
  apps/site/components/withSidebar.tsx
  apps/site/hooks/client/index.ts
  apps/site/hooks/client/useNavigationState.ts
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct import statements for hooks in withSidebar component
  apps/site/components/withSidebar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update introduction-to-nodejs.md
  apps/site/pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct comment grammar, improve sidebar component display name and fixed potential memory leak issue in useNavigationState
  apps/site/components/withSidebar.tsx
  apps/site/hooks/client/useNavigationState.ts
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: streamline imports in withSidebar component and update pathname handling in Sidebar
  apps/site/components/withSidebar.tsx
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

meta: bump ui-components to 1.5.2
  packages/ui-components/package.json
Due: prettier --write

fix: remove unused imports and ensure 'use client' directive is present in Sidebar component
  apps/site/hooks/client/useNavigationState.ts
  packages/ui-components/src/Containers/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update permissions and workflow reference in scorecard
  .github/workflows/scorecard.yml
Due: prettier --write

chore(ci): bump scorecard (#8500)
  .github/workflows/scorecard.yml
Due: prettier --write

fix: replace useNavigationState with useScrollToElement in WithSidebar component and add scroll handling functionality
  apps/site/components/withSidebar.tsx
  apps/site/hooks/client/__tests__/useScrollToElement.test.jsx
  apps/site/hooks/client/index.ts
  apps/site/hooks/client/useScroll.ts
  apps/site/hooks/client/useScrollToElement.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: clarify comment in handleScroll function to improve code readability
  apps/site/hooks/client/useScrollToElement.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: search modal overflow
  packages/ui-components/package.json
  packages/ui-components/src/Common/Search/Modal/index.module.css
  packages/ui-components/src/Common/Search/Results/Hit/index.module.css
  packages/ui-components/src/Common/Search/Results/Tabs/index.module.css
Due: prettier --write
