Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

bump open-next adapter and wrangler packages
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

import open-next adapter in next.config.mjs only if necessary
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: add skew-version support in Cloudflare open-next worker (#7980)
  apps/site/next.config.mjs
  apps/site/open-next.config.ts
  apps/site/package.json
  apps/site/wrangler.jsonc
  packages/rehype-shiki/src/index.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

remove unnecessary information
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(meta): add Cloudflare docs (#8023)
  docs/README.md
  docs/cloudflare-build-and-deployment.md
Due: eslint --fix, prettier --write, prettier --check --write

ci: set 3-day cooldown for Dependabot updates (#8016)
  .github/dependabot.yml
Due: prettier --write

chore: add x86 for Node.js <10 for Linux (#8014)
  apps/site/util/download/constants.json
Due: prettier --write

fixup!
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pull-request-label.yml
Due: prettier --write

fix(docs): add comment explaining TextDecoder stream option
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): explain top-level await usage and fallback in fetch example
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): correct response structure comment in GET example
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: fixed bracket and spacing in comment example
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): include dual cjs/esm tabs in fetch streaming examples
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): handle streaming JSON parsing properly in fetch example, avoiding parsing incomplete chunks mid-stream
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(docs): revert unintended tab changes for separate PR
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(docs): add dual ESM/CJS tabs to fetch documentation
  apps/site/pages/en/learn/getting-started/fetch.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: improved technologies.md documentation (#8013)
  docs/technologies.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: consistent :hover styling (#8034)
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

chore: added comment linking hover style to related components (#8034)
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

chore: added refrence for hover effect synced with other files
  packages/ui-components/src/Containers/Sidebar/SidebarItem/index.module.css
Due: none

feat: update supporters and partners sections
  apps/site/components/Common/Supporters/index.tsx
  apps/site/components/withSupporters.tsx
  apps/site/layouts/Post.tsx
  apps/site/pages/en/about/partners.mdx
  apps/site/pages/en/download/current.mdx
  apps/site/pages/en/download/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

feat: enhance partner list functionality with sorting options
  apps/site/components/Common/Partners/PartnersIconList/index.tsx
  apps/site/components/Common/Partners/PartnersLogoList/index.tsx
  apps/site/components/Common/Partners/utils.ts
  apps/site/pages/en/about/partners.mdx
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: enable romanian automation clobbered this change friday, then it was merged without noticing until after
  packages/i18n/src/config.json
Due: prettier --write

docs: correct 'undefined' to 'null' in callback example
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, prettier --check --write

make all translation strings long-form per feedback, this helps with static analysis. this scope included code not introduced in this PR
  apps/site/components/Downloads/DownloadReleasesTable/DetailsButton.tsx
  apps/site/components/Downloads/MinorReleasesTable/index.tsx
  apps/site/components/EOL/Alert.tsx
  apps/site/components/EOL/Modal.tsx
  apps/site/components/EOL/Table.tsx
  apps/site/components/EOL/VulnerabilityChips/Chip/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

document translation key retrieval
  docs/translation.md
Due: eslint --fix, prettier --write, prettier --check --write

rename variable
  apps/site/components/EOL/Table.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(actions): use gov repo for reused actions
  .github/CODEOWNERS
  .github/scripts/report-inactive-collaborators.mjs
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-packages.yml
  .github/workflows/pull-request-label.yml
  .github/workflows/translations-sync.yml
  GOVERNANCE.md
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

move CTAs up
  apps/site/pages/en/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: button variants, and updated eol page; removed translated previous-releases (outdated pages)
  apps/site/components/Common/Button.tsx
  apps/site/pages/en/eol.mdx
  apps/site/pages/en/index.mdx
  apps/site/pages/es/about/previous-releases.mdx
  apps/site/pages/fa/about/previous-releases.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/id/about/previous-releases.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ko/about/previous-releases.mdx
  apps/site/pages/pt/about/previous-releases.mdx
  apps/site/pages/ro/about/previous-releases.mdx
  apps/site/pages/tr/about/previous-releases.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/zh-cn/about/previous-releases.mdx
  apps/site/pages/zh-tw/about/previous-releases.mdx
  apps/site/redirects.json
  packages/ui-components/src/Common/BaseButton/index.module.css
  packages/ui-components/src/Common/BaseButton/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: minor mdx component arrangement and type fix
  apps/site/next.mdx.use.client.mjs
  apps/site/next.mdx.use.mjs
  apps/site/package.json
  apps/site/tsconfig.json
  packages/ui-components/src/MDX/CodeTabs.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

Update README.md
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

Delete README.md
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

rename EOLModal/index per standard
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/providers/modalProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

rename components per docs and patterns
  apps/site/components/EOL/EOLAlert/index.tsx
  apps/site/components/EOL/EOLModal/index.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/EOL/UnknownSeveritySection/index.tsx
  apps/site/components/EOL/VulnerabilitiesTable/index.tsx
  apps/site/layouts/Post.tsx
  apps/site/next.mdx.use.mjs
  apps/site/pages/en/eol.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Update CodeTabs.tsx
  packages/ui-components/src/MDX/CodeTabs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
