Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Blog: v20.11.0 release post
  pages/en/blog/release/v20.11.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v20.11.0 release post (#6218)
  pages/en/blog/release/v20.11.0.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: adjusted w-h- to size-
  components/Common/AvatarGroup/Avatar/index.module.css
  components/Common/Badge/index.module.css
  components/Common/Banner/index.module.css
  components/Common/Breadcrumbs/BreadcrumbHomeLink/index.module.css
  components/Common/Breadcrumbs/BreadcrumbItem/index.module.css
  components/Common/CodeBox/index.module.css
  components/Common/CodeTabs/index.module.css
  components/Common/CrossLink/index.module.css
  components/Common/Pagination/PaginationListItem/index.module.css
  components/Common/Select/index.module.css
  components/Common/ThemeToggle/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/NavBar/NavItem/index.module.css
  components/Containers/NavBar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: cleaned up code samples
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: layout and content fixes
  components/Containers/MetaBar/index.tsx
  components/Containers/Sidebar/index.tsx
  components/withMetaBar.tsx
  layouts/New/layouts.module.css
  pages/en/download/package-manager.md
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: minor changes
  pages/en/new-design/index.mdx
  styles/new/effects.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: update examples from feedback
  pages/en/new-design/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: active page on hover
  components/Common/Pagination/PaginationListItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: lighthouse audits on mobile resolution
  components/Containers/MetaBar/index.module.css
  styles/new/markdown.css
Due: prettier --write, stylelint --allow-empty-input

docs(learn): migrate 'How to publish Node-API package' guide to the learn section (#6229)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/modules/publishing-node-api-modules.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): Migrate 'How to publish N-API package' guide to the learn section (#6229).
  components/Common/ProgressionSidebar/index.module.css
  components/Containers/Footer/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/NavBar/index.module.css
  components/Containers/Sidebar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  layouts/New/layouts.module.css
  styles/new/markdown.css
Due: prettier --write, stylelint --allow-empty-input

fix: missing redirect from about/releases
  redirects.json
Due: prettier --write, prettier --check --write

Update pages/en/learn/modules/publishing-node-api-modules.md
  pages/en/learn/modules/publishing-node-api-modules.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: code format
  components/Common/ProgressionSidebar/index.module.css
  components/Containers/Footer/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/NavBar/index.module.css
  components/Containers/Sidebar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  layouts/New/layouts.module.css
  styles/new/markdown.css
Due: prettier --write, stylelint --allow-empty-input

feat: not found layout
  app/[locale]/not-found.tsx
  i18n/locales/en.json
  layouts/New/NotFound.tsx
  layouts/New/layouts.module.css
  styles/new/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

removed unused i18n keys
  i18n/locales/en.json
Due: prettier --write, prettier --check --write

removed unused i18n keys (#6245)
  i18n/locales/en.json
Due: prettier --write, prettier --check --write

Blog: v21.6.0 release post
  pages/en/blog/release/v21.6.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.6.0 release post (#6248)
  pages/en/blog/release/v21.6.0.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor: markdown content
  app/[locale]/not-found.tsx
  components/withLayout.tsx
  i18n/locales/en.json
  layouts/New/Centered.tsx
  layouts/New/NotFound.tsx
  layouts/New/layouts.module.css
  pages/en/new-design/404.mdx
  pages/en/new-design/index.mdx
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: source moved outside of the component
  app/[locale]/not-found.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: review updates
  components/withLayout.tsx
  layouts/New/Home.tsx
  layouts/New/layouts.module.css
  pages/en/new-design/404.mdx
  pages/en/new-design/index.mdx
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

infra: introduced initial endpoint for orama
  app/[locale]/next-data/page-data/route.ts
  app/[locale]/next-data/release-data/route.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

refactor: review updates
  components/withLayout.tsx
  layouts/New/Home.tsx
  layouts/New/layouts.module.css
  pages/en/new-design/404.mdx
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: layout struct
  app/[locale]/not-found.tsx
  layouts/New/Centered.tsx
  layouts/New/Home.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: updated string replacement for page-dfata
  app/[locale]/next-data/page-data/route.ts
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: adds basic orama structure
  package-lock.json
  package.json
  scripts/orama/create.mjs
  scripts/orama/get-documents.mjs
  scripts/orama/sync-orama-cloud.mjs
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: keep markdown headings
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: mdx to i18n
  app/[locale]/not-found.tsx
  i18n/locales/en.json
  next.dynamic.constants.mjs
  pages/en/new-design/404.mdx
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: unused layouts removed into the layouts
  app/[locale]/not-found.tsx
  components/withLayout.tsx
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: unused 404.md removed
  app/[locale]/not-found.tsx
  pages/en/404.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: global-error and error page
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/global-error.tsx
Due: eslint --fix, prettier --write, prettier --check --write

grammar nits
  i18n/locales/en.json
  pages/en/learn/modules/publishing-node-api-modules.md
Due: eslint --fix, prettier --write, prettier --check --write

doc(modules): removed outdated point referring to node-api as experimental
  pages/en/learn/modules/publishing-node-api-modules.md
Due: eslint --fix, prettier --write, prettier --check --write

feat: adds searchbox
  .gitignore
  components/Containers/NavBar/index.tsx
  components/SearchBox/index.module.css
  components/SearchBox/index.tsx
  components/SearchBox/lib/orama.ts
  scripts/orama/create.mjs
  scripts/orama/get-documents.mjs
  scripts/orama/sync-orama-cloud.mjs
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: error page i18n support
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/global-error.tsx
  i18n/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

feat: introduced not found / error layout (#6247)
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/global-error.tsx
  i18n/locales/en.json
  layouts/New/Centered.tsx
  layouts/New/Home.tsx
  layouts/New/layouts.module.css
  next.dynamic.constants.mjs
  pages/en/404.md
  styles/new/markdown.css
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: fixed prettier issues
  components/Common/LinkTabs/index.module.css
  components/Common/ProgressionSidebar/index.module.css
  components/Containers/Footer/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/NavBar/index.module.css
  components/Containers/Sidebar/index.module.css
  components/Downloads/ChangelogModal/index.module.css
  components/withBlogCategories.tsx
  layouts/New/layouts.module.css
  styles/new/effects.css
  styles/new/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
