Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: delete AnimatedPlaceholder component (#5691)
  components/Common/AnimatedPlaceholder/index.module.scss
  components/Common/AnimatedPlaceholder/index.stories.tsx
  components/Common/AnimatedPlaceholder/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Added DevOps files
  Dockerfile
  Jenkinsfile
  terraform/EC2/dockerRun-template.sh
  terraform/EC2/dockerRun.sh
  terraform/EC2/main.tf
  terraform/EC2/smokeTest.sh
  terraform/EC2/terraform-template.txt
  terraform/EC2/terraform.tfvars
  terraform/ECR/main.tf
  terraform/ECR/pushToECR-template.sh
  terraform/ECR/pushToECR.sh
  terraform/ECR/terraform-template.txt
  terraform/ECR/terraform.tfvars
Due: none

edit in jenkinsfile
  Jenkinsfile
Due: none

edit in jenkinsfile
  Jenkinsfile
  terraform/EC2/dockerRun-template.sh
  terraform/EC2/dockerRun.sh
Due: none

edit in ec2 var
  terraform/EC2/terraform-template.txt
Due: none

added instance profile
  terraform/EC2/instance_profile.tf
  terraform/EC2/main.tf
Due: none

chore: delete Stability component
  components/Api/Stability/index.module.scss
  components/Api/Stability/index.stories.tsx
  components/Api/Stability/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: delete PreviousNextLink component
  components/Learn/PreviousNextLink/__tests__/index.test.mjs
  components/Learn/PreviousNextLink/index.module.scss
  components/Learn/PreviousNextLink/index.stories.tsx
  components/Learn/PreviousNextLink/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

refactor: BlogCard component removed
  components/Blog/BlogCard/index.module.scss
  components/Blog/BlogCard/index.stories.tsx
  components/Blog/BlogCard/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

refactor: BlogCard internationalizations removed
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

docs: fix technicalities in CONTENT_VS_CODE (#5696)
  CONTENT_VS_CODE.md
Due: eslint --fix, prettier --write

Remove ApiChanges component (#5692)
  components/Api/ApiChanges/index.module.scss
  components/Api/ApiChanges/index.stories.tsx
  components/Api/ApiChanges/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

feat: remove inlineCode component (#5693)
  components/Article/InlineCode/index.module.scss
  components/Article/InlineCode/index.stories.tsx
  components/Article/InlineCode/index.tsx
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

feat: remove EditLink component (#5694)
  components/Article/EditLink/__tests__/index.test.mjs
  components/Article/EditLink/index.module.scss
  components/Article/EditLink/index.stories.tsx
  components/Article/EditLink/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: delete PreviousNextLink component (#5709)
  components/Learn/PreviousNextLink/__tests__/index.test.mjs
  components/Learn/PreviousNextLink/index.module.scss
  components/Learn/PreviousNextLink/index.stories.tsx
  components/Learn/PreviousNextLink/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

refactor: remove BlogCard component (#5710)
  components/Blog/BlogCard/index.module.scss
  components/Blog/BlogCard/index.stories.tsx
  components/Blog/BlogCard/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

add scorecard pipeline (#5660)
  .github/workflows/scorecards.yml
Due: prettier --write

add dependency review (#5662)
  .github/workflows/dependency-review.yml
Due: prettier --write

chore: delete Stability component (#5708)
  components/Api/Stability/index.module.scss
  components/Api/Stability/index.stories.tsx
  components/Api/Stability/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Deleted DarkModeToggle Component
  components/Common/DarkModeToggle/__tests__/index.test.mjs
  components/Common/DarkModeToggle/index.module.scss
  components/Common/DarkModeToggle/index.stories.tsx
  components/Common/DarkModeToggle/index.tsx
  components/Header.tsx
  components/Sections/NewHeader/__tests__/index.test.mjs
  components/Sections/NewHeader/index.tsx
  i18n/locales/ar.json
  i18n/locales/ca.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fa.json
  i18n/locales/fr.json
  i18n/locales/gl.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/nl.json
  i18n/locales/pt-br.json
  i18n/locales/ro.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

deleted Darkmode Toggle component
  components/Common/DarkModeToggle/__tests__/index.test.mjs
  components/Common/DarkModeToggle/index.module.scss
  components/Common/DarkModeToggle/index.stories.tsx
  components/Common/DarkModeToggle/index.tsx
  components/Header.tsx
  components/Sections/NewHeader/__tests__/index.test.mjs
  components/Sections/NewHeader/index.tsx
  i18n/locales/ar.json
  i18n/locales/ca.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fa.json
  i18n/locales/fr.json
  i18n/locales/gl.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/nl.json
  i18n/locales/pt-br.json
  i18n/locales/ro.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

feat: remove codebox component
  .vscode/settings.json
  components/Article/Codebox/__tests__/index.test.mjs
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.stories.tsx
  components/Article/Codebox/index.tsx
  components/Article/Codebox/themes/_dark.scss
  components/Article/Codebox/themes/_light.scss
  hooks/usePrismJS.ts
  next.prism.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

chore: remove empty config file
  .vscode/settings.json
Due: prettier --write

added readme and some modifications
  Dockerfile
  Jenkinsfile
  README.md
Due: eslint --fix, prettier --write

final commit
  Images/SonarTest.png
  Images/diagram.png
  Jenkinsfile
  README.md
Due: eslint --fix, prettier --write

fix: fix bad merge
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

Delete DarkModeToggle Component
  components/Header.tsx
  i18n/locales/ar.json
  i18n/locales/ca.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/es.json
  i18n/locales/fa.json
  i18n/locales/fr.json
  i18n/locales/gl.json
  i18n/locales/id.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
  i18n/locales/nl.json
  i18n/locales/pt-br.json
  i18n/locales/ro.json
  i18n/locales/ru.json
  i18n/locales/tr.json
  i18n/locales/uk.json
  i18n/locales/zh-cn.json
  i18n/locales/zh-tw.json
Due: eslint --fix, prettier --write

fix: fix bad merge (#5716)
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

chore: delete Author and AuthorList components
  components/Article/AuthorList/Author/index.module.scss
  components/Article/AuthorList/Author/index.stories.tsx
  components/Article/AuthorList/Author/index.tsx
  components/Article/AuthorList/index.module.scss
  components/Article/AuthorList/index.stories.tsx
  components/Article/AuthorList/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Deleted NewHeader component
  components/Sections/NewHeader/__tests__/index.test.mjs
  components/Sections/NewHeader/index.module.scss
  components/Sections/NewHeader/index.stories.tsx
  components/Sections/NewHeader/index.tsx
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: eslint --fix, prettier --write, stylelint --config .stylelintrc.json

Deleted NewHeader component
  i18n/locales/en.json
  i18n/locales/id.json
  i18n/locales/zh-cn.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{mjs,ts,tsx,md,mdx})
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (((any of: **/*.{mjs,ts,tsx,md,mdx}) or (any of: **/*.{css,sass,scss})) or (any of: **/*.{json,yml}))
  stylelint --config .stylelintrc.json: any of: **/*.{css,sass,scss}
