Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/__tests__/*.test.mjs": ["npx turbo test:staged"]
}

chore: synced translations from crowdin [skip ci]
  pages/fr/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/tr/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/id/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/fr.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/tr.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/id.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/fa.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  pages/fa/about/branding.mdx
  pages/fa/about/previous-releases.mdx
  pages/fa/about/security-reporting.mdx
  pages/fa/download/current.mdx
  pages/fa/download/index.mdx
  pages/fa/download/package-manager/current.mdx
  pages/fa/download/package-manager/index.mdx
  pages/fa/download/prebuilt-binaries/current.mdx
  pages/fa/download/prebuilt-binaries/index.mdx
  pages/fa/download/source-code/current.mdx
  pages/fa/download/source-code/index.mdx
  pages/fr/about/branding.mdx
  pages/fr/about/previous-releases.mdx
  pages/fr/about/security-reporting.mdx
  pages/fr/download/current.mdx
  pages/fr/download/index.mdx
  pages/fr/download/package-manager/current.mdx
  pages/fr/download/package-manager/index.mdx
  pages/fr/download/prebuilt-binaries/current.mdx
  pages/fr/download/prebuilt-binaries/index.mdx
  pages/fr/download/source-code/current.mdx
  pages/fr/download/source-code/index.mdx
  pages/fr/index.mdx
  pages/ja/about/branding.mdx
  pages/ja/download/current.mdx
  pages/ja/download/index.mdx
  pages/ja/download/package-manager/current.mdx
  pages/ja/download/package-manager/index.mdx
  pages/ja/download/prebuilt-binaries/current.mdx
  pages/ja/download/prebuilt-binaries/index.mdx
  pages/ja/download/source-code/current.mdx
  pages/ja/download/source-code/index.mdx
  pages/ja/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix lint
  pages/en/download/package-manager/all.md
Due: eslint --fix, prettier --write, prettier --check --write

making sure that links in WithSidebarCrossLinks are valid
  components/withSidebarCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: Improve keyboard interactions in searchbox (#6537)
  components/Common/Search/States/WithEmptyState.tsx
  components/Common/Search/States/WithSearchBox.tsx
  components/Common/Search/States/WithSearchResult.tsx
  components/Common/Search/States/index.module.css
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.tsx
  hooks/react-client/useKeyboardCommands.ts
  util/searchUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: redirect to default locale page when locale is not supported
  app/[locale]/[[...path]]/page.tsx
  next.locales.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Update websiteFeeds.ts
  next-data/providers/websiteFeeds.ts
Due: eslint --fix, prettier --write, prettier --check --write

Added Bengali language configuration in i18n/config.json
  i18n/config.json
Due: prettier --write, prettier --check --write

Fix: change spelling of patname to pathname in comment
  app/[locale]/[[...path]]/page.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update config.json
  i18n/config.json
Due: prettier --write, prettier --check --write

Change spelling of "patname" to "pathname" in comment (#6650)
  app/[locale]/[[...path]]/page.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Bitness type in dropdown (#6614)
  components/Downloads/Release/BitnessDropdown.tsx
Due: eslint --fix, prettier --write, prettier --check --write

added missing Promise to tsdoc of getRoutesByLanguage and _getPageMetadata
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add trip report of London 2024 summit
  authors.json
  pages/en/blog/events/collab-summit-2024-london.md
Due: eslint --fix, prettier --write, prettier --check --write

fix
  pages/en/blog/events/.gitkeep
  pages/en/blog/events/collab-summit-2024-london.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: collaborator summit -> collaboration summit
  i18n/locales/en.json
Due: prettier --write, prettier --check --write

fixup! Blog: add trip report of London 2024 summit
  pages/en/blog/events/collab-summit-2024-london.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! fixup! Blog: add trip report of London 2024 summit
  site.json
Due: prettier --write, prettier --check --write

fixup! fixup! Blog: add trip report of London 2024 summit
  pages/en/blog/events/collab-summit-2024-london.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! fixup! fixup! Blog: add trip report of London 2024 summit
  pages/en/blog/events/collab-summit-2024-london.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup! fixup! fixup! fixup! Blog: add trip report of London 2024 summit
  pages/en/blog/events/collab-summit-2024-london.md
Due: eslint --fix, prettier --write, prettier --check --write
