Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

chore: synced translations from crowdin [skip ci]
  pages/ja/download/source-code/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/download/source-code/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/download/source-code/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/source-code/current.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  i18n/locales/pt.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fr/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/ja/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/pt/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/uk/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin [skip ci]
  pages/fa/about/branding.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: add general portuguese to locale (#6503)
  i18n/config.json
Due: prettier --write, prettier --check --write

enables portuguese
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: Add Swedish locale in i18n config (#6530)
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: clean up whitespace
  i18n/config.json
Due: prettier --write, prettier --check --write

chore(i18n): add Mongolian locale in config (#6541)
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: add Uzbek lang to locales (#6563)
  i18n/config.json
Due: prettier --write, prettier --check --write

Update i18n/config.json
  i18n/config.json
Due: prettier --write, prettier --check --write

Delete i18n/locales/bn.json
  i18n/locales/bn.json
Due: prettier --write, prettier --check --write

chore: Setup i18n for general for Bengali language (#6512)
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: fix whitespace
  i18n/config.json
Due: prettier --write, prettier --check --write

added greek language config (#6544)
  i18n/config.json
Due: prettier --write, prettier --check --write

Add Hebrew language config (#6580)
  i18n/config.json
Due: prettier --write, prettier --check --write

Added Hindi language (#6572)
  i18n/config.json
Due: prettier --write, prettier --check --write

fix whitespace
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: Translation setup for: Swedish, Finnish, Dutch and Hindi (#6531)
  i18n/config.json
Due: prettier --write, prettier --check --write

[automated]: crowdin sync - enables Portuguese (#6839)
  i18n/config.json
  i18n/locales/pt.json
  pages/uk/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Metabar border
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: merge horizontal logos
  components/Common/NodejsLogo/index.module.css
  components/Common/NodejsLogo/index.tsx
  components/Icons/Logos/Nodejs.tsx
  components/Icons/Logos/NodejsDark.tsx
  components/__design__/node-logos.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Fix: Certain languages break the max height of the search bar #6841
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  npx turbo test:staged: any of: **/__tests__/*.test.mjs
