Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

Add default aria-label to ThemeToggle
  .changeset/theme-toggle-aria.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/src/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(ci): make it clear that PR policy applies to versioned pkgs only
  .github/workflows/pull-request-policy.yml
Due: prettier --write

Blog: announce sec release postponed (#9022)
  apps/site/pages/en/blog/vulnerability/july-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui): account for nested `code` elements
  .changeset/ui-hydration-fix.md
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

Blog: announce delay of security release (again)
  apps/site/pages/en/blog/vulnerability/july-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui): add light mode to code elements
  .changeset/young-breads-fall.md
  packages/rehype-shiki/src/__tests__/highlighter.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.css
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/src/Common/BaseButton/index.module.css
Due: none

fix(ui): add default aria-label to toggle (#9024)
  .changeset/theme-toggle-aria.md
  packages/ui-components/src/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore(ci): make it clear that PR policy is for `packages/` (#9025)
  .github/workflows/pull-request-policy.yml
Due: prettier --write

Update apps/site/site.json
  apps/site/site.json
Due: prettier --write

Blog: announce delay of security release (again) (#9030)
  apps/site/pages/en/blog/vulnerability/july-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v22.23.2
  apps/site/pages/en/blog/release/v22.23.2.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v26.5.1
  apps/site/pages/en/blog/release/v26.5.1.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: announce successful Node.js security release
  apps/site/pages/en/blog/vulnerability/july-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

Blog: announce successful Node.js security release (#9045)
  apps/site/pages/en/blog/vulnerability/july-2026-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: none

feat(blog): create post for v24.18.1
  apps/site/pages/en/blog/release/v24.18.1.md
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  packages/rehype-shiki/src/__tests__/highlighter.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

shiki
  .changeset/young-breads-fall.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): always mount code tabs
  .changeset/chubby-bats-work.md
  packages/ui-components/src/Common/CodeTabs/index.module.css
  packages/ui-components/src/MDX/CodeTabs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: improve avatar rendering
  apps/site/authors.json
  apps/site/types/author.ts
  apps/site/util/__tests__/author.test.mjs
  apps/site/util/__tests__/github.test.mjs
  apps/site/util/author.ts
  apps/site/util/github.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui): add light mode to code elements (#9031)
  .changeset/young-breads-fall.md
  packages/rehype-shiki/src/__tests__/highlighter.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.css
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/ui-components/src/Common/BaseButton/index.module.css
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/CodeTabs/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

chore(ui): account for nested `code` elements (#9028)
  .changeset/ui-hydration-fix.md
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

chore(deps): change dependabot prefix
  .github/dependabot.yml
Due: prettier --write

fix: remove border and padding when FunctionSignature has only return
  packages/ui-components/package.json
  packages/ui-components/src/Common/Signature/SignatureItem/index.tsx
  packages/ui-components/src/Common/Signature/SignatureRoot/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/package.json
  platforms/vercel/vercel.json
Due: prettier --write

fixup!
  apps/site/package.json
Due: prettier --write

fix(ui): always mount code tabs (#9047)
  .changeset/chubby-bats-work.md
  packages/ui-components/src/Common/CodeTabs/index.module.css
  packages/ui-components/src/MDX/CodeTabs.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(pnpm): warn > over
  package.json
Due: prettier --write

fix(ci): use `pnpm` for publishing
  package.json
Due: prettier --write

JIC
  package.json
Due: prettier --write

fix(ci): use `pnpm` for publishing (#9052)
  package.json
Due: prettier --write

chore(i18n): sync translations from crowdin
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/src/locales/ja.json
  packages/i18n/src/locales/uk.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(i18n): format translated files
  .changeset/crowdin-translations.md
  apps/site/pages/ar/about/branding.mdx
  apps/site/pages/ar/about/security-reporting.mdx
  apps/site/pages/ar/download/archive/index.mdx
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(doc-kit): add 'event' to the code-like array
  packages/ui-components/src/constants.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(deps): change dependabot prefix (#9049)
  .github/dependabot.yml
Due: prettier --write

fix(ui): variable width toc
  .changeset/tasty-toes-smile.md
  packages/ui-components/src/Containers/Article/index.module.css
Due: eslint --fix, prettier --write, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
