Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: make utc small
  components/MDX/UpcomingCalendar.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Apply suggestions from code review
  pages/en/about/get-involved/events.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: code-review changes
  components/Common/BlogPostCard/index.tsx
  components/Common/FormattedTime.tsx
  components/Common/PrevNextArrow.tsx
  components/MDX/Calendar/Event/index.module.css
  components/MDX/Calendar/Event/index.tsx
  components/MDX/Calendar/UpcomingEvents.tsx
  components/MDX/Calendar/UpcomingSummits.tsx
  components/MDX/Calendar/calendar.module.css
  components/MDX/Calendar/utils.ts
  components/MDX/UpcomingCalendar.tsx
  layouts/BlogCategoryLayout.tsx
  layouts/BlogPostLayout.tsx
  next.mdx.use.mjs
  pages/en/about/get-involved/events.mdx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: center content on extra large screens
  layouts/New/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

docs(learn): migrate 'Working with Different Filesystems' to manipulating-files/learn section
  i18n/locales/en.json
  navigation.json
  pages/en/learn/manipulating-files/working-with-different-filesystems.md
Due: eslint --fix, prettier --write, prettier --check --write

test(utils): increase test coverage
  util/__tests__/assignClientContext.test.mjs
  util/__tests__/blogUtils.test.mjs
  util/__tests__/gitHubUtils.test.mjs
  util/__tests__/stringUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

stories: increase coverage
  components/Common/Pagination/Ellipsis/index.stories.tsx
  components/Common/Pagination/Ellipsis/index.tsx
  components/Common/Pagination/PaginationListItem/index.stories.tsx
  components/Downloads/DownloadButton/index.stories.tsx
  components/MDX/Calendar/Event/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

blog: add february 2024 security release announcement
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

blog: add february 2024 security release announcement (#6268)
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

refactor(docs): matching navigation and page title (#6267)
  i18n/locales/en.json
  navigation.json
Due: prettier --write, prettier --check --write

fix(test): use consistent date formatting
  components/Common/BlogPostCard/__tests__/index.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(test): use consistent date formatting (#6271)
  components/Common/BlogPostCard/__tests__/index.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

meta: add banner for 6 February 2024 security releases
  pages/en/blog/vulnerability/february-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: code format
  tsconfig.json
Due: prettier --write, prettier --check --write

docs(learn): Migrate "Anatomy of an http transaction" guide to the learn section (#6256)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/modules/anatomy-of-an-http-transaction.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): Migrates Flame Graphs to learn section
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

chore: updates orama dependencies to latest version
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

meta: add banner for 6 February 2024 security releases (#6270)
  pages/en/blog/vulnerability/february-2024-security-releases.md
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: remove sharp
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

docs(learn): fix capital letters
  pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

Update pages/en/guides/index.md
  pages/en/guides/index.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): migrate 'Working with Different Filesystems' to learn section (#6267)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/manipulating-files/working-with-different-filesystems.md
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: resolve format
  pages/en/guides/index.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: when banner layout breaks
  components/withNavBar.tsx
  styles/new/effects.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

docs(learn): Migrate the legacy guide "Debugging - Getting Started" to the learn section (#6265)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Update inspector redirect to learn section
  redirects.json
Due: prettier --write, prettier --check --write

docs(learn): Migrates guide Flame Graphs to learn section (#6285)
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Update inspector redirect to learn section (#6288)
  redirects.json
Due: prettier --write, prettier --check --write

blog: update target security release feb24
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Redirect old debug guide URL to new URL
  redirects.json
Due: prettier --write, prettier --check --write

Update pages/en/blog/vulnerability/february-2024-security-releases.md
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: Redirect old debug guide URL to new URL (#6290)
  redirects.json
Due: prettier --write, prettier --check --write

blog: update target security release feb24 (#6289)
  pages/en/blog/vulnerability/february-2024-security-releases.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: redirect old guide links to new learn section
  pages/en/guides/security/index.md
  pages/en/guides/simple-profiling.md
  pages/en/learn/diagnostics/flame-graphs.md
Due: eslint --fix, prettier --write, prettier --check --write

docs(learn): migrate diagnostics user journey to learn
  i18n/locales/en.json
  navigation.json
  pages/en/guides/index.md
  pages/en/learn/diagnostics/live-debugging/index.md
  pages/en/learn/diagnostics/live-debugging/using-inspector.md
  pages/en/learn/diagnostics/memory/index.md
  pages/en/learn/diagnostics/memory/using-gc-traces.md
  pages/en/learn/diagnostics/memory/using-heap-profiler.md
  pages/en/learn/diagnostics/memory/using-heap-snapshot.md
  pages/en/learn/diagnostics/poor-performance/index.md
  pages/en/learn/diagnostics/poor-performance/using-linux-perf.md
  pages/en/learn/diagnostics/user-journey.md
Due: eslint --fix, prettier --write, prettier --check --write

doc(learn): add redirect changes
  redirects.json
Due: prettier --write, prettier --check --write

fix(learn): fix redirect url
  redirects.json
Due: prettier --write, prettier --check --write

doc(learn): move internal links to the nav and fix redirect
  i18n/locales/en.json
  navigation.json
  pages/en/learn/diagnostics/live-debugging/index.md
  pages/en/learn/diagnostics/user-journey.md
  redirects.json
Due: eslint --fix, prettier --write, prettier --check --write
