Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

meta: bump nvm to v0.40.4 (#8643)
  apps/site/snippets/en/download/nvm.bash
Due: none

fix: correct platform dropdown aria label key (#8654)
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(BasePagination): fix pagination list item vertical alignment (8639) (#8640)
  packages/ui-components/src/Common/BasePagination/PaginationListItem/index.module.css
  packages/ui-components/src/Common/BasePagination/PaginationListItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Blog: New HackerOne Signal Requirement for reports (#8658)
  apps/site/pages/en/about/security-reporting.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore(remark-lint): better invalid type regex (#8673)
  packages/remark-lint/package.json
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat: add system theme toggle (#8659)
  apps/site/components/withNavBar.tsx
  apps/site/tests/e2e/general-behavior.spec.ts
  packages/i18n/src/locales/en.json
  packages/ui-components/src/Common/ThemeToggle/__tests__/index.test.jsx
  packages/ui-components/src/Common/ThemeToggle/index.module.css
  packages/ui-components/src/Common/ThemeToggle/index.stories.tsx
  packages/ui-components/src/Common/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8663)
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/snippets/ja/download/nvm.bash
  apps/site/snippets/ro/download/nvm.bash
  apps/site/snippets/uk/download/nvm.bash
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

blog: clarify contact method for low signal researchers (#8613)
  apps/site/pages/en/blog/announcements/hackerone-signal-requirement.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(deps): make ts prod (#8671)
  apps/site/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(ui-components): add Signature and FunctionSignature components (#8667)
  packages/ui-components/package.json
  packages/ui-components/src/Common/Signature/SignatureHeader/index.module.css
  packages/ui-components/src/Common/Signature/SignatureHeader/index.tsx
  packages/ui-components/src/Common/Signature/SignatureItem/index.module.css
  packages/ui-components/src/Common/Signature/SignatureItem/index.tsx
  packages/ui-components/src/Common/Signature/SignatureRoot/index.module.css
  packages/ui-components/src/Common/Signature/SignatureRoot/index.tsx
  packages/ui-components/src/Common/Signature/index.stories.tsx
  packages/ui-components/src/Common/Signature/index.tsx
  packages/ui-components/src/Containers/FunctionSignature/index.stories.tsx
  packages/ui-components/src/Containers/FunctionSignature/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: add blog exclude explain comment (#8661)
  apps/site/scripts/orama-search/get-documents.mjs
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8642)
  apps/site/pages/fr/index.mdx
  apps/site/pages/pt-br/about/previous-releases.mdx
  apps/site/pages/pt-br/index.mdx
  packages/i18n/package.json
  packages/i18n/src/locales/pt-br.json
  packages/i18n/src/locales/ta.json
  packages/i18n/src/locales/uk.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui): Sidebar scroll not showing last element
  packages/ui-components/src/Containers/Article/index.module.css
Due: none

fix(ui): adjust sidebar styles for improved layout and scrolling behavior
  packages/ui-components/src/Containers/Article/index.module.css
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: none

fix(package): bump version to 1.6.2
  packages/ui-components/package.json
Due: prettier --write

fix(ui): refine sidebar styles for improved item spacing and layout
  packages/ui-components/src/Containers/Sidebar/index.module.css
Due: none

feat(blog): create post for v20.20.1
  apps/site/pages/en/blog/release/v20.20.1.md
Due: eslint --fix, prettier --write, prettier --check --write

feat(blog): create post for v22.22.1
  apps/site/pages/en/blog/release/v22.22.1.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: clarify file extension for module type
  apps/site/pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: The "optional" label in the signature component is incorrectly positioned (#8693)
  packages/ui-components/package.json
  packages/ui-components/src/Common/Signature/SignatureHeader/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui-components): implement hrefLang in language selector for better a11y
  packages/ui-components/src/Common/LanguageDropDown/index.tsx
  packages/ui-components/src/types.ts
Due: eslint --fix, prettier --write, prettier --check --write

test(ui-components): update language selector stories with localized examples
  packages/ui-components/src/Common/LanguageDropDown/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ui-components): refine language dropdown a11y for cross-browser consistency
  packages/ui-components/src/Common/LanguageDropDown/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/partners.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/pt-br/download/current.mdx
  apps/site/pages/pt-br/download/index.mdx
  apps/site/pages/pt-br/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ta/about/branding.mdx
  apps/site/pages/ta/about/eol.mdx
  apps/site/pages/ta/about/partners.mdx
  apps/site/pages/ta/download/archive/index.mdx
  apps/site/pages/ta/download/current.mdx
  apps/site/pages/ta/download/index.mdx
  apps/site/pages/ta/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

chore(deps): bump doc-kit in remark-lint
  packages/remark-lint/package.json
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

ci: add auto-merge workflow
  .github/workflows/auto-merge.yml
Due: prettier --write

chore: update next-env.d.ts
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, prettier --check --write

i18n(pt): adicionar seção header com botões de tema
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar footer.legal e releasePills
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar campos faltantes em downloadReleasesTable
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar downloadsTable e releaseModal
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar seções relacionadas a EOL
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar minorReleasesTable e releaseOverview
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): atualizar themeToggle e adicionar skipToContent
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar metadata em metabar e seção banner
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): expandir seção search com funcionalidades completas
  packages/i18n/src/locales/pt.json
Due: prettier --write

i18n(pt): adicionar links faltantes em navigation.learn
  packages/i18n/src/locales/pt.json
Due: prettier --write

Add missing blog category migrations to pt.json
  packages/i18n/src/locales/pt.json
Due: prettier --write

Add missing ltsVersionFeaturesNotice to download codeBox in pt.json
  packages/i18n/src/locales/pt.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
  prettier --check --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json.yml}
