Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: node 18 eol support publish date (#7848)
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Final touches on EOL article (#7849)
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: minor text and styling updates
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
  apps/site/components/withReleaseAlertBox.tsx
  apps/site/pages/en/download/archive.mdx
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: force object shorthand
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/app/[locale]/next-data/page-data/route.ts
  apps/site/app/[locale]/page.tsx
  apps/site/components/withAvatarGroup.tsx
  apps/site/components/withBreadcrumbs.tsx
  apps/site/components/withFooter.tsx
  apps/site/components/withNavBar.tsx
  apps/site/eslint.config.js
  apps/site/hooks/react-generic/useSiteNavigation.ts
  apps/site/i18n.tsx
  apps/site/layouts/Blog.tsx
  apps/site/next-data/generators/__tests__/websiteFeeds.test.mjs
  apps/site/next-data/generators/blogData.mjs
  apps/site/next-data/generators/releaseData.mjs
  apps/site/next-data/generators/websiteFeeds.mjs
  apps/site/next.calendar.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.mdx.use.mjs
  apps/site/next.rewrites.mjs
  apps/site/reducers/releaseReducer.ts
  apps/site/scripts/orama-search/get-documents.mjs
  eslint.config.js
  packages/i18n/eslint.config.js
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/ui-components/Common/BasePagination/useGetPageElements.tsx
  packages/ui-components/Common/Select/index.tsx
  packages/ui-components/Containers/Sidebar/index.tsx
  packages/ui-components/eslint.config.js
  packages/ui-components/stylelint/one-utility-class-per-line.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: revert guid changes
  apps/site/next-data/generators/websiteFeeds.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: content stylings
  apps/site/pages/en/learn/getting-started/fetch.md
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
  apps/site/pages/en/learn/modules/how-to-use-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(meta): clean up root
  .browserslistrc
  .github/CODEOWNERS
  .pre-commit-config.yaml
Due: none

chore(meta): docs folder (#7837)
  COLLABORATOR_GUIDE.md
  CONTRIBUTING.md
  docs/README.md
  docs/adding-pages.md
  docs/code-style.md
  docs/collaborator-guide.md
  docs/content-vs-code.md
  docs/creating-components.md
  docs/dependency-pinning.md
  docs/downloads-page.md
  docs/getting-started.md
  docs/package-publishing.md
  docs/technologies.md
  docs/translation.md
  docs/writing-tests.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: add example of respecting backpressure in Readable stream
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(meta): clean up root (#7852)
  .browserslistrc
  .github/CODEOWNERS
  .pre-commit-config.yaml
Due: none

ua -> userAgent
  apps/site/components/Downloads/DownloadButton/index.tsx
  apps/site/components/Downloads/DownloadLink.tsx
  apps/site/components/Downloads/Release/PlatformDropdown.tsx
  apps/site/hooks/react-client/useDetectOS.ts
  apps/site/util/__tests__/userAgent.test.mjs
  apps/site/util/userAgent.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup! ua -> userAgent
  apps/site/hooks/react-client/useDetectOS.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v24.2.0 release post
  apps/site/pages/en/blog/release/v24.2.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v24.2.0 release post (#7855)
  apps/site/pages/en/blog/release/v24.2.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: images for node 18 eol blog post
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: images for node 18 eol blog post (#7856)
  apps/site/pages/en/blog/announcements/node-18-eol-support.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Mention --disable-sigusr1
  apps/site/pages/en/learn/getting-started/debugging.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update apps/site/pages/en/learn/modules/backpressuring-in-streams.md
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: correct indentation in MyReadable class example
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: Fix broken link in docs
  README.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: add example of respecting backpressure in Readable stream (#7854)
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update gramatical typo in nodejs-the-difference-between-development-and-production.md
  apps/site/pages/en/learn/getting-started/nodejs-the-difference-between-development-and-production.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

docs: Fix broken link in docs (#7858)
  README.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Added mikeal announcement
  apps/site/pages/en/blog/announcements/mikeal.md
  apps/site/public/static/images/blog/announcements/mikeal.jpg
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fixup
  apps/site/pages/en/blog/announcements/mikeal.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: updated commands, use plain node
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-packages.yml
  .github/workflows/translations-sync.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  CONTRIBUTING.md
  apps/site/.lintstagedrc.json
  apps/site/eslint.config.js
  apps/site/package.json
  apps/site/playwright.config.ts
  apps/site/turbo.json
  eslint.config.js
  package.json
  packages/i18n/.lintstagedrc.json
  packages/i18n/eslint.config.js
  packages/i18n/package.json
  packages/i18n/turbo.json
  packages/rehype-shiki/.lintstagedrc.json
  packages/rehype-shiki/package.json
  packages/rehype-shiki/turbo.json
  packages/ui-components/.lintstagedrc.json
  packages/ui-components/eslint.config.js
  packages/ui-components/package.json
  packages/ui-components/turbo.json
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: turbo-args
  .github/workflows/build.yml
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

fix: use node --run for test:ci
  .github/workflows/lint-and-tests.yml
Due: prettier --write, prettier --check --write

fix: fixed final checks
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
Due: prettier --write, prettier --check --write

meta: updated codeowners
  .github/CODEOWNERS
Due: none

fix: playwright open-next command
  apps/site/playwright.config.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add blog post publishing guidelines
  GOVERNANCE.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: code review changes
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
Due: prettier --write, prettier --check --write

chore(🏳️‍🌈): logo
  apps/site/site.json
Due: prettier --write, prettier --check --write

chore(🏳️‍🌈): logo (#7861)
  apps/site/site.json
Due: prettier --write, prettier --check --write

chore: synced translations from crowdin
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  apps/site/pages/zh-tw/index.mdx
  packages/i18n/locales/ja.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/es/index.mdx
  apps/site/pages/fa/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/previous-releases.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/current.mdx
  apps/site/pages/fr/download/index.mdx
  apps/site/pages/fr/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/current.mdx
  apps/site/pages/id/download/index.mdx
  apps/site/pages/id/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ko/about/security-reporting.mdx
  apps/site/pages/pt/about/security-reporting.mdx
  apps/site/pages/pt/index.mdx
  apps/site/pages/tr/about/security-reporting.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/previous-releases.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-tw/about/branding.mdx
  apps/site/pages/zh-tw/about/security-reporting.mdx
  apps/site/pages/zh-tw/download/current.mdx
  apps/site/pages/zh-tw/download/index.mdx
  apps/site/pages/zh-tw/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(description): fit to landing page
  apps/site/site.json
Due: prettier --write, prettier --check --write

docs: use `their` instead of `her/his`
  apps/site/pages/en/learn/modules/publishing-a-package.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
