Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/__tests__/*.test.mjs": ["npx turbo test:staged"]
}

feat(metabar): Add avatarGroup on learn section (#6467)
  components/Common/AvatarGroup/Avatar/index.tsx
  components/Common/AvatarGroup/index.module.css
  components/Containers/MetaBar/index.module.css
  components/Containers/MetaBar/index.stories.tsx
  components/withMetaBar.tsx
  types/frontmatter.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Added border bottom to Sideabar of about page (#6678)
  components/Containers/Sidebar/SidebarGroup/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: use import attribute in release-post script (#6707)
  scripts/release-post/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

revert: components/withSidebarCrossLinks.tsx
  components/withSidebarCrossLinks.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Fix: transfered misplaced blog pages that caused broken links (#6644)
  pages/en/blog/announcements/update-v8-5.4.md
  pages/en/blog/announcements/v5-to-v7.md
Due: eslint --fix, prettier --write, prettier --check --write

Add fnm logo
  components/Icons/Platform/FNM.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Add fnm to download picker/snippets
  components/Downloads/Release/PlatformDropdown.tsx
  types/release.ts
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

Revert "List fmn first as the only cross-platform option"
  components/Downloads/Release/PlatformDropdown.tsx
  providers/releaseProvider.tsx
  types/release.ts
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

List fmn first as the only cross-platform option
  components/Downloads/Release/PlatformDropdown.tsx
  providers/releaseProvider.tsx
  types/release.ts
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

Fix bad switch cascade in download snippets
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

Use traced vector fnm logo
  components/Icons/Platform/FNM.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat(download): add fnm to package managers for all platforms (#6667)
  components/Downloads/Release/PlatformDropdown.tsx
  components/Icons/Platform/FNM.tsx
  types/release.ts
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Navigation state hook effect
  hooks/react-client/useNavigationState.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: package-managers as default, redirects and more info
  .gitignore
  components/Common/Badge/index.tsx
  components/Downloads/Release/ReleaseCodeBox.tsx
  components/withDownloadCategories.tsx
  i18n/locales/en.json
  pages/en/download/prebuilt-installer/current.mdx
  pages/en/download/prebuilt-installer/index.mdx
  redirects.json
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: added missing redirect of current
  redirects.json
Due: prettier --write, prettier --check --write

chore: fix test
  util/__tests__/downloadUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: change NVM to nvm
  util/downloadUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: getNodeDownloadSnippet nvm comment
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: change NVM to nvm (#6722)
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update differences-between-nodejs-and-the-browser.md
  pages/en/learn/getting-started/differences-between-nodejs-and-the-browser.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v22.2.0 release post
  pages/en/blog/release/v22.2.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v22.2.0 release post (#6724)
  pages/en/blog/release/v22.2.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct the execution order in esm
  pages/en/learn/asynchronous-work/understanding-setimmediate.md
Due: eslint --fix, prettier --write, prettier --check --write

docs: Add comment explaining eslint-disable-next-line
  hooks/react-client/useNavigationState.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat: package-managers as default, redirects and more info (#6720)
  .gitignore
  components/Common/Badge/index.tsx
  components/Downloads/Release/ReleaseCodeBox.tsx
  components/withDownloadCategories.tsx
  i18n/locales/en.json
  pages/en/download/prebuilt-installer/current.mdx
  pages/en/download/prebuilt-installer/index.mdx
  redirects.json
  util/__tests__/downloadUtils.test.mjs
  util/downloadUtils.ts
  util/getNodeDownloadSnippet.ts
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix: layout word break (#6712)
  layouts/layouts.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: set default transition to `0.3s`
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

Update index.module.css
  components/Common/LanguageDropDown/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: Navigation state provider and hook (#6709)
  components/Common/ProgressionSidebar/index.tsx
  components/withProgressionSidebar.tsx
  hooks/react-client/index.ts
  hooks/react-client/useNavigationState.ts
  layouts/Base.tsx
  providers/navigationStateProvider.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: correct same level side navigation on breadcrumbs (#6710)
  components/withBreadcrumbs.tsx
  layouts/About.tsx
  layouts/Learn.tsx
  navigation.json
Due: eslint --fix, prettier --write, prettier --check --write

docs(README): clarify how our styles are applied
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

fix/added digit regex
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

docs(README): clarify how our styles are applied (#6727)
  README.md
Due: eslint --fix, prettier --write, prettier --check --write

added unit test for dashtocamel
  util/__tests__/stringUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

fix learn page breadcrumbs where label !== path slug
  components/withBreadcrumbs.tsx
  util/stringUtils.ts
Due: eslint --fix, prettier --write, prettier --check --write

test: dashToCamelCase string util
  util/__tests__/stringUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write, npx turbo test:staged

Blog: v18.20.3 release post
  pages/en/blog/release/v18.20.3.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: disabled button
  components/Common/Button/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Blog: v18.20.3 release post (#6730)
  pages/en/blog/release/v18.20.3.md
Due: eslint --fix, prettier --write, prettier --check --write
