Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

New translations index.mdx (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Vietnamese) chore: synced translations from crowdin
  pages/vi/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Indonesian) chore: synced translations from crowdin
  pages/id/download/source-code/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (French) chore: synced translations from crowdin
  pages/fr/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Spanish) chore: synced translations from crowdin
  pages/es/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Arabic) chore: synced translations from crowdin
  pages/ar/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (German) chore: synced translations from crowdin
  pages/de/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Italian) chore: synced translations from crowdin
  pages/it/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Japanese) chore: synced translations from crowdin
  pages/ja/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Georgian) chore: synced translations from crowdin
  pages/ka/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Korean) chore: synced translations from crowdin
  pages/ko/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Russian) chore: synced translations from crowdin
  pages/ru/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Turkish) chore: synced translations from crowdin
  pages/tr/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Ukrainian) chore: synced translations from crowdin
  pages/uk/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Chinese Simplified) chore: synced translations from crowdin
  pages/zh-cn/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Vietnamese) chore: synced translations from crowdin
  pages/vi/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Portuguese, Brazilian) chore: synced translations from crowdin
  pages/pt-br/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations index.mdx (Indonesian) chore: synced translations from crowdin
  pages/id/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (French) chore: synced translations from crowdin
  pages/fr/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations search.mdx (Ukrainian) chore: synced translations from crowdin
  pages/uk/search.mdx
Due: eslint --fix, prettier --write, prettier --check --write

New translations en.json (French) chore: synced translations from crowdin
  i18n/locales/fr.json
Due: prettier --write, prettier --check --write

New translations en.json (Spanish) chore: synced translations from crowdin
  i18n/locales/es.json
Due: prettier --write, prettier --check --write

New translations en.json (Arabic) chore: synced translations from crowdin
  i18n/locales/ar.json
Due: prettier --write, prettier --check --write

New translations en.json (German) chore: synced translations from crowdin
  i18n/locales/de.json
Due: prettier --write, prettier --check --write

New translations en.json (Italian) chore: synced translations from crowdin
  i18n/locales/it.json
Due: prettier --write, prettier --check --write

New translations en.json (Japanese) chore: synced translations from crowdin
  i18n/locales/ja.json
Due: prettier --write, prettier --check --write

New translations en.json (Georgian) chore: synced translations from crowdin
  i18n/locales/ka.json
Due: prettier --write, prettier --check --write

New translations en.json (Korean) chore: synced translations from crowdin
  i18n/locales/ko.json
Due: prettier --write, prettier --check --write

New translations en.json (Russian) chore: synced translations from crowdin
  i18n/locales/ru.json
Due: prettier --write, prettier --check --write

New translations en.json (Turkish) chore: synced translations from crowdin
  i18n/locales/tr.json
Due: prettier --write, prettier --check --write

New translations en.json (Ukrainian) chore: synced translations from crowdin
  i18n/locales/uk.json
Due: prettier --write, prettier --check --write

New translations en.json (Chinese Simplified) chore: synced translations from crowdin
  i18n/locales/zh-cn.json
Due: prettier --write, prettier --check --write

New translations en.json (Vietnamese) chore: synced translations from crowdin
  i18n/locales/vi.json
Due: prettier --write, prettier --check --write

New translations en.json (Portuguese, Brazilian) chore: synced translations from crowdin
  i18n/locales/pt-br.json
Due: prettier --write, prettier --check --write

New translations en.json (Indonesian) chore: synced translations from crowdin
  i18n/locales/id.json
Due: prettier --write, prettier --check --write

feat(i18n): added Persian (fa) lang (#6421)
  i18n/config.json
Due: prettier --write, prettier --check --write

fix: removed unnecessary md:top-60 in searchBoxModalPanel style (#6428)
  components/Common/Search/States/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Fix #6404 : Version dropdown on download page doesn't scroll on overflow (#6411)
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

New translations collab-summit.md (French) chore: synced translations from crowdin
  pages/fr/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, prettier --check --write
