Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

docs: clarify /download reference on Previous Releases page
  apps/site/next-env.d.ts
  apps/site/pages/en/about/previous-releases.mdx
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix accidental dev-only Next.js types import
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/id/about/branding.mdx
  apps/site/pages/id/about/eol.mdx
  apps/site/pages/id/about/security-reporting.mdx
  apps/site/pages/id/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/pt-br/about/branding.mdx
  apps/site/pages/pt-br/about/eol.mdx
  apps/site/pages/pt-br/about/security-reporting.mdx
  apps/site/pages/pt-br/download/archive/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/ro/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/uk/download/current.mdx
  apps/site/pages/uk/download/index.mdx
  apps/site/pages/uk/index.mdx
  apps/site/pages/zh-cn/about/previous-releases.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  apps/site/pages/zh-cn/download/archive/index.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(i18n): add Tamil language configuration (#8460)
  packages/i18n/src/config.json
Due: prettier --write

feat(ui-components): darken table border colors (#8457)
  packages/ui-components/package.json
  packages/ui-components/src/styles/markdown.css
Due: prettier --write

fix(ci): skip workflow publish when no packages found (#8454)
  .github/workflows/publish-packages.yml
Due: prettier --write

feat(index): add empty line to even code box size (#8450)
  apps/site/pages/en/index.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): use `##` instead of `#` when comparing (#8448)
  apps/site/scripts/compare-size/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore(bundle): don't send translations to client (#8447)
  apps/site/app/[locale]/[...path]/page.tsx
  apps/site/app/[locale]/blog/[...path]/page.tsx
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/app/[locale]/feed/[feed]/route.ts
  apps/site/app/[locale]/layout.tsx
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
  apps/site/app/[locale]/page.tsx
  apps/site/app/sitemap.ts
  apps/site/components/withDownloadSection.tsx
  apps/site/components/withMetaBar.tsx
  apps/site/components/withNavBar.tsx
  apps/site/i18n.tsx
  apps/site/middleware.ts
  apps/site/navigation.mjs
  apps/site/next-data/generators/downloadSnippets.mjs
  apps/site/next.dynamic.mjs
  apps/site/next.dynamic.page.mjs
  apps/site/next.locales.mjs
  apps/site/next.rewrites.mjs
  apps/site/tests/e2e/general-behavior.spec.ts
  docs/technologies.md
  packages/i18n/src/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

docs: improve wording for download page reference in releases page section
  apps/site/pages/en/about/previous-releases.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix(ci): bump re-usables
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/create-release-post.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-orama.yml
  .github/workflows/translations-sync.yml
Due: prettier --write

fix(ci): bump re-usables (#8463)
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/create-release-post.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-orama.yml
  .github/workflows/translations-sync.yml
Due: prettier --write

feat(i18n): added Tamil language configuration (#8461)
  packages/i18n/src/config.json
Due: prettier --write

feat: inline copy feedback for code blocks
  apps/site/components/Common/CodeBox.tsx
  apps/site/components/MDX/CodeBox/index.tsx
  apps/site/layouts/Base.tsx
  apps/site/next.config.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/package.json
  packages/ui-components/src/Common/BaseCodeBox/index.module.css
  packages/ui-components/src/Common/BaseCodeBox/index.stories.tsx
  packages/ui-components/src/Common/BaseCodeBox/index.tsx
  packages/ui-components/src/Common/CodeTabs/index.stories.tsx
  packages/ui-components/src/Common/Notification/index.module.css
  packages/ui-components/src/Common/Notification/index.stories.tsx
  packages/ui-components/src/Common/Notification/index.tsx
  packages/ui-components/src/Providers/NotificationProvider/__tests__/index.test.jsx
  packages/ui-components/src/Providers/NotificationProvider/index.module.css
  packages/ui-components/src/Providers/NotificationProvider/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

fix(navbar): don't show navitems if none provided
  packages/ui-components/package.json
  packages/ui-components/src/Containers/NavBar/index.stories.tsx
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8459)
  apps/site/pages/es/about/branding.mdx
  apps/site/pages/es/about/eol.mdx
  apps/site/pages/es/about/get-involved/index.md
  apps/site/pages/es/about/previous-releases.mdx
  apps/site/pages/es/about/security-reporting.mdx
  apps/site/snippets/es/download/choco.bash
  apps/site/snippets/es/download/corepack.bash
  apps/site/snippets/es/download/node.bash
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix(navbar): don't show navitems if none provided (#8467)
  packages/ui-components/package.json
  packages/ui-components/src/Containers/NavBar/index.stories.tsx
  packages/ui-components/src/Containers/NavBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/app/[locale]/next-data/og/[category]/[title]/route.tsx
  apps/site/next-data/generators/__tests__/releaseData.test.mjs
  packages/rehype-shiki/src/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: PartnerIcon Accessibility
  apps/site/components/Common/Partners/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove redundant aria-label from Tooltip in PartnersList
  apps/site/components/Common/Partners/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Add 'twoslash' to Dependabot ignore patterns
  .github/dependabot.yml
Due: prettier --write

feat(previous-releases): convert plaintext link to markdown (#8452)
  apps/site/pages/en/about/previous-releases.mdx
Due: eslint --fix, prettier --write, prettier --check --write

content(`migrations`): update (#8420)
  .github/CODEOWNERS
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove volta from installation methods
  apps/site/snippets/en/download/volta.bash
  apps/site/snippets/es/download/volta.bash
  apps/site/snippets/fr/download/volta.bash
  apps/site/snippets/id/download/volta.bash
  apps/site/snippets/ja/download/volta.bash
  apps/site/snippets/pt-br/download/volta.bash
  apps/site/snippets/pt/download/volta.bash
  apps/site/snippets/ro/download/volta.bash
  apps/site/snippets/tr/download/volta.bash
  apps/site/snippets/uk/download/volta.bash
  apps/site/snippets/zh-cn/download/volta.bash
  apps/site/types/release.ts
  apps/site/util/download/constants.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: Previous Releases page accessibility issues
  packages/ui-components/src/Common/Badge/index.module.css
  packages/ui-components/src/Common/Breadcrumbs/BreadcrumbLink/index.module.css
Due: none

Bump qs from 6.14.0 to 6.14.1
  pnpm-lock.yaml
Due: none

meta: bump qs from 6.14.0 to 6.14.1 (#8495)
  pnpm-lock.yaml
Due: none

Bump mdast-util-to-hast from 13.2.0 to 13.2.1
  pnpm-lock.yaml
Due: none

Bump body-parser from 2.2.0 to 2.2.1
  pnpm-lock.yaml
Due: none

Bump js-yaml from 3.14.1/4.1.0 to 13.4.2/4.1.1
  pnpm-lock.yaml
Due: none

meta: bump mdast-util-to-hast from 13.2.0 to 13.2.1 (#8496)
  pnpm-lock.yaml
Due: none

meta: bump body-parser from 2.2.0 to 2.2.1 (#8497)
  pnpm-lock.yaml
Due: none

meta: bump js-yaml from 3.14.1/4.1.0 to 13.4.2/4.1.1 (#8498)
  pnpm-lock.yaml
Due: none

chore(ci): bump scorecard
  .github/workflows/scorecard.yml
Due: prettier --write

Update scorecard.yml
  .github/workflows/scorecard.yml
Due: prettier --write

chore(codecov): update deprecated package
  .github/workflows/lint-and-tests.yml
Due: prettier --write

refactor: changed to default export
  apps/site/proxy.ts
Due: eslint --fix, prettier --write, prettier --check --write

removed comment
  apps/site/proxy.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore(codecov): update deprecated action (#8501)
  .github/workflows/lint-and-tests.yml
Due: prettier --write
