Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": [
    "turbo run lint:lint-staged --",
    "prettier --check --write"
  ],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

[automated]: crowdin sync - enables Ukrainian (#6993)
  apps/site/i18n/config.json
  apps/site/i18n/locales/uk.json
  apps/site/pages/uk/about/get-involved/collab-summit.md
  apps/site/pages/uk/about/get-involved/contribute.md
  apps/site/pages/uk/about/get-involved/index.md
  apps/site/pages/uk/about/governance.md
  apps/site/pages/uk/about/index.mdx
  apps/site/pages/uk/about/security-reporting.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.7.0 release post
  apps/site/pages/en/blog/release/v22.7.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.7.0 release post (#6999)
  apps/site/pages/en/blog/release/v22.7.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Fixes 7000
  apps/site/redirects.json
Due: prettier --write, prettier --check --write

Update backpressuring-in-streams.md
  apps/site/pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: use github api for build
  .github/workflows/build.yml
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/next.constants.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: use github api for build (#7003)
  .github/workflows/build.yml
  apps/site/app/[locale]/next-data/api-data/route.ts
  apps/site/next.constants.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fixed translations and eslint updates
  apps/site/pages/fr/about/governance.md
  apps/site/pages/id/about/governance.md
  apps/site/pages/id/about/index.mdx
  apps/site/pages/uk/about/governance.md
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: fixed translations and eslint updates (#7004)
  apps/site/pages/fr/about/governance.md
  apps/site/pages/id/about/governance.md
  apps/site/pages/id/about/index.mdx
  apps/site/pages/uk/about/governance.md
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update understanding-processnexttick.md
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Update the-v8-javascript-engine.md
  apps/site/pages/en/learn/getting-started/the-v8-javascript-engine.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add additional information for running mjs code example
  apps/site/pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.8.0 release post
  apps/site/pages/en/blog/release/v22.8.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v22.8.0 release post (#7027)
  apps/site/pages/en/blog/release/v22.8.0.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Fix: nodejs.org/learn leads to 404 (#7001)
  apps/site/redirects.json
Due: prettier --write, prettier --check --write

chore: added new certification promo
  apps/site/site.json
Due: prettier --write, prettier --check --write

chore: added new certification promo (#7029)
  apps/site/site.json
Due: prettier --write, prettier --check --write

TypeScript article: Add experimental-strip-types note
  apps/site/pages/en/learn/getting-started/nodejs-with-typescript.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Add additional information for running mjs code example (#7026)
  apps/site/pages/en/learn/getting-started/introduction-to-nodejs.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: updated ESLint to v9 with flat config
  .github/workflows/lint-and-tests.yml
  .gitignore
  .prettierignore
  apps/site/.eslintignore
  apps/site/.eslintjscache
  apps/site/.eslintrc.json
  apps/site/.storybook/main.ts
  apps/site/.storybook/preview.tsx
  apps/site/components/withChangelogModal.tsx
  apps/site/components/withDownloadCategories.tsx
  apps/site/eslint.config.js
  apps/site/layouts/Download.tsx
  apps/site/package.json
  apps/site/turbo.json
  apps/site/util/hexToRGBA.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: missed an .eslintjscache
  apps/site/.eslintjscache
Due: none

chore: updated ESLint to v9 with flat config (#7032)
  .github/workflows/lint-and-tests.yml
  .gitignore
  .prettierignore
  apps/site/.eslintignore
  apps/site/.eslintrc.json
  apps/site/.storybook/main.ts
  apps/site/.storybook/preview.tsx
  apps/site/components/withChangelogModal.tsx
  apps/site/components/withDownloadCategories.tsx
  apps/site/eslint.config.js
  apps/site/layouts/Download.tsx
  apps/site/package.json
  apps/site/turbo.json
  apps/site/util/hexToRGBA.ts
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: footer missing on learn & about layout (#6949)
  apps/site/layouts/About.tsx
  apps/site/layouts/Learn.tsx
  apps/site/layouts/layouts.module.css
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat: Ensure Trusted Code Checkout in GitHub Actions Workflow
  .github/workflows/build.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

chore(get-Involved): update and add new ressources (#6857)
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

update
  apps/site/i18n/locales/en.json
  apps/site/pages/en/learn/typescript/introduction.md
  apps/site/pages/en/learn/typescript/run-natively.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore(update-dep)
  package-lock.json
Due: prettier --write, prettier --check --write

chore: update dep (#7038)
  package-lock.json
Due: prettier --write, prettier --check --write

Fix dropdown cutoff issue for long text in mobile view (#7035)
  apps/site/components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: improved sentences and example
  apps/site/pages/en/learn/asynchronous-work/understanding-processnexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

remove scroll-x and make text wrappable in select box
  apps/site/components/Common/Select/index.module.css
  apps/site/components/Common/Select/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

build: change package scopes
  apps/site/package.json
  package.json
Due: prettier --write, prettier --check --write

build: create packages workspace
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

feat: create initial i18n package
  .gitignore
  apps/site/next.locales.mjs
  apps/site/package.json
  apps/site/turbo.json
  package-lock.json
  packages/i18n/package.json
  packages/i18n/src/config.json
  packages/i18n/src/index.ts
  packages/i18n/src/types.ts
  packages/i18n/tsconfig.json
  packages/i18n/turbo.json
  turbo.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: some peaks
  apps/site/.eslintjscache
  apps/site/.storybook/preview.tsx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat: create import locale fn
  apps/site/i18n.tsx
  apps/site/package.json
  apps/site/tsconfig.json
  package-lock.json
  packages/i18n/locales/en.json
  packages/i18n/locales/fr.json
  packages/i18n/locales/id.json
  packages/i18n/locales/pt.json
  packages/i18n/locales/uk.json
  packages/i18n/locales/zh-cn.json
  packages/i18n/locales/zh-tw.json
  packages/i18n/package.json
  packages/i18n/src/index.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: remove duplicated type
  apps/site/components/Common/LanguageDropDown/index.tsx
  apps/site/next.locales.mjs
  apps/site/types/i18n.ts
  packages/i18n/package.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: set up lint
  packages/i18n/.eslintrc.json
  packages/i18n/package.json
  packages/i18n/turbo.json
  turbo.json
Due: prettier --write, prettier --check --write

chore: dep fix
  apps/site/package.json
Due: prettier --write, prettier --check --write

fix: crowdin config
  .github/workflows/translations-pr.yml
  crowdin.yml
Due: prettier --write, prettier --check --write
