Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix: Update SVG Component Props
  components/Icons/Github.tsx
  components/sections/NavigationBar/index.module.css
  components/sections/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: Convert SVG to Components
  components/Icons/GitHubLogo.tsx
  components/Icons/Github.tsx
  components/Icons/NodejsLogoDark.tsx
  components/Icons/NodejsLogoLight.tsx
  components/sections/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: CSS Indentation
  components/sections/NavigationBar/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: Use Meaningful Classname
  components/sections/NavigationBar/index.module.css
  components/sections/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Resolve Issues - Fix CSS Indentation - Move Inline Class to CSS File - Import Type Imports Separately - Remove button as Child of anchor tag
  components/sections/NavigationBar/index.module.css
  components/sections/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Move NavigationBar into Containers Folder
  components/Containers/NavigationBar/index.module.css
  components/Containers/NavigationBar/index.stories.tsx
  components/Containers/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Make NavigatioBar a Client Component
  components/Containers/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Blog pagination / Blog category listing (#6113)
  components/withLayout.tsx
  hooks/useBaseBlogData.ts
  pages/en/blog/advisory-board/index.md
  pages/en/blog/announcements/index.md
  pages/en/blog/community/index.md
  pages/en/blog/feature/index.md
  pages/en/blog/index.md
  pages/en/blog/module/index.md
  pages/en/blog/npm/index.md
  pages/en/blog/pagination.md
  pages/en/blog/release/index.md
  pages/en/blog/uncategorized/index.md
  pages/en/blog/video/index.md
  pages/en/blog/vulnerability/index.md
  pages/en/blog/weekly-updates/index.md
  types/layouts.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: force fix of sentry client
  sentry.client.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: child_process link
  pages/en/about/index.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.2.0 release post
  pages/en/blog/release/v21.2.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: more hotfixes for sentry
  next.config.mjs
  package-lock.json
  package.json
  sentry.client.config.ts
  sentry.server.config.ts
  util/getBitness.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: attempt build hotfix
  next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Blog: v21.2.0 release post (#6117)
  pages/en/blog/release/v21.2.0.md
Due: eslint --fix, prettier --write, prettier --check --write

fix: add trailing slash to urls in previous releases table (#6111)
  components/Downloads/DownloadReleasesTable.tsx
Due: eslint --fix, prettier --write, prettier --check --write

chore: address review feedback, align with figma
  components/Common/Sidebar/SidebarItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: Add SidebarItem, sideBarGroup and sideBar components (#6065)
  components/Common/Sidebar/SidebarGroup/index.module.css
  components/Common/Sidebar/SidebarGroup/index.tsx
  components/Common/Sidebar/SidebarItem/index.module.css
  components/Common/Sidebar/SidebarItem/index.tsx
  components/Common/Sidebar/index.module.css
  components/Common/Sidebar/index.stories.tsx
  components/Common/Sidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: only record sentry on vercel
  next.config.mjs
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: Resolve Issues - Set Cursor to Pointer on Mobile Item Toggler Label - Remove NavigationBar Dependency on Current NavItem
  components/Containers/NavigationBar/index.module.css
  components/Containers/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Use CamelCase for Attribute Name
  components/Icons/NodejsLogoDark.tsx
  components/Icons/NodejsLogoLight.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Remove CurrentPath Arg from Strorybook
  components/Containers/NavigationBar/index.stories.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: Item Layout When Screen Size is Changed
  components/Containers/NavigationBar/index.module.css
  components/Containers/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: Add Nodejs Github Aria Label
  components/Containers/NavigationBar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: storybook app router mode
  .storybook/preview.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: remove unnecessary hook
  components/Common/ActiveLink/__tests__/index.test.mjs
  components/Common/ActiveLink/index.tsx
  components/Containers/NavItem/index.tsx
  components/Header.tsx
  components/SideNavigation.tsx
  hooks/react-client/index.ts
  hooks/react-client/useIsCurrentPathname.ts
  hooks/react-server/index.ts
  hooks/react-server/useIsCurrentPathname.ts
  layouts/DocsLayout.tsx
  styles/old/index.css
  styles/old/layout/dark-theme.css
  styles/old/page-modules/header.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Added Navbar component (#6072)
  components/Common/LanguageDropDown/index.stories.tsx
  components/Common/LanguageDropDown/index.tsx
  components/Containers/NavigationBar/index.module.css
  components/Containers/NavigationBar/index.stories.tsx
  components/Containers/NavigationBar/index.tsx
  components/Icons/GitHubLogo.tsx
  components/Icons/NodejsLogoDark.tsx
  components/Icons/NodejsLogoLight.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

fix: promisify instead of ignoring
  util/getBitness.ts
Due: eslint --fix, prettier --write, prettier --check --write

Update util/getBitness.ts
  util/getBitness.ts
Due: eslint --fix, prettier --write, prettier --check --write

refactor: remove unnecessary hook (#6120)
  components/Common/ActiveLink/__tests__/index.test.mjs
  components/Common/ActiveLink/index.tsx
  components/Containers/NavItem/index.tsx
  components/Header.tsx
  components/SideNavigation.tsx
  hooks/react-client/index.ts
  hooks/react-client/useIsCurrentPathname.ts
  hooks/react-server/index.ts
  hooks/react-server/useIsCurrentPathname.ts
  layouts/DocsLayout.tsx
  styles/old/index.css
  styles/old/layout/dark-theme.css
  styles/old/page-modules/header.css
  util/getBitness.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

refactor: review updates
  components/Common/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  components/Common/ProgressionSidebar/index.tsx
  components/Containers/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  components/Containers/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Containers/ProgressionSidebar/ProgressionSidebarIcon/index.tsx
  components/Containers/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  components/Containers/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  components/Containers/ProgressionSidebar/index.module.css
  components/Containers/ProgressionSidebar/index.stories.tsx
  components/Containers/ProgressionSidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: ProgressionSidebar component (#6104)
  components/Containers/ProgressionSidebar/ProgressionSidebarGroup/index.module.css
  components/Containers/ProgressionSidebar/ProgressionSidebarGroup/index.tsx
  components/Containers/ProgressionSidebar/ProgressionSidebarIcon/index.tsx
  components/Containers/ProgressionSidebar/ProgressionSidebarItem/index.module.css
  components/Containers/ProgressionSidebar/ProgressionSidebarItem/index.tsx
  components/Containers/ProgressionSidebar/index.module.css
  components/Containers/ProgressionSidebar/index.stories.tsx
  components/Containers/ProgressionSidebar/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

tune sentry collection rates per docs
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write

fix: missing `.test`
  util/__tests__/gitHubUtils.test.mjs
  util/__tests__/stringUtils.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

test: dateIsBetween
  util/__tests__/dateIsBetween.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

test: getNodeApiLink
  util/__tests__/getNodeApiLink.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

test: getNodeJsChangelog.test.mjs
  util/__tests__/getNodeJsChangelog.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

test: react-client
  hooks/react-client/__tests__/useCopyToClipboard.test.mjs
  hooks/react-client/__tests__/useDetectOS.test.mjs
  hooks/react-client/__tests__/useMediaQuery.test.mjs
  hooks/react-client/__tests__/useNotification.test.mjs
Due: eslint --fix, prettier --write, prettier --check --write

build(test): remove `--passWithNotTests`
  package.json
Due: prettier --write, prettier --check --write

tune sentry collection rates per docs (#6121)
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, prettier --check --write
