Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx,json.yml}": ["prettier --check --write"]
}

feat(orama): allow manual syncing
  .github/workflows/sync-orama.yml
Due: prettier --write

add open-next deployment github workflow
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

add workflow_dispatch event
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

remove unnecessary permission
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

update token secret name
  .github/workflows/tmp-cloudflare-open-next-deploy.yml
Due: prettier --write

fix: download options alignment (#8209)
  packages/ui-components/src/Common/Select/index.module.css
  packages/ui-components/src/Common/Skeleton/index.module.css
Due: none

fix: update workflow with the new vars
  .github/workflows/sync-orama.yml
  apps/site/scripts/orama-search/sync-orama-cloud.mjs
  apps/site/tests/e2e/general-behavior.spec.ts
Due: eslint --fix, prettier --write, prettier --check --write

feat(orama): allow manual syncing (#8210)
  .github/workflows/sync-orama.yml
Due: prettier --write

feat(shiki): add twoslash support
  apps/site/mdx/components.mjs
  apps/site/mdx/plugins.mjs
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/pages/en/learn/typescript/introduction.md
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
  apps/site/pages/en/learn/typescript/transpile.md
  apps/site/styles/index.css
  packages/rehype-shiki/package.json
  packages/rehype-shiki/src/__tests__/highlighter.test.mjs
  packages/rehype-shiki/src/__tests__/plugin.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.css
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/minimal.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
  packages/ui-components/package.json
  packages/ui-components/src/MDX/Tooltip.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: synced translations from crowdin
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/partners.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/about/branding.mdx
  apps/site/pages/zh-cn/about/previous-releases.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  packages/i18n/src/locales/ja.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: automated format of translated files
  apps/site/pages/fr/about/branding.mdx
  apps/site/pages/fr/about/eol.mdx
  apps/site/pages/fr/about/security-reporting.mdx
  apps/site/pages/fr/download/archive/index.mdx
  apps/site/pages/ja/about/branding.mdx
  apps/site/pages/ja/about/eol.mdx
  apps/site/pages/ja/about/previous-releases.mdx
  apps/site/pages/ja/about/security-reporting.mdx
  apps/site/pages/ja/download/archive/index.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  apps/site/pages/ro/about/branding.mdx
  apps/site/pages/ro/about/security-reporting.mdx
  apps/site/pages/ro/download/archive/index.mdx
  apps/site/pages/uk/about/branding.mdx
  apps/site/pages/uk/about/eol.mdx
  apps/site/pages/uk/about/security-reporting.mdx
  apps/site/pages/uk/download/archive/index.mdx
  apps/site/pages/zh-cn/about/branding.mdx
  apps/site/pages/zh-cn/about/previous-releases.mdx
  apps/site/pages/zh-cn/about/security-reporting.mdx
  packages/i18n/package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: remove querySelectorAll
  apps/site/components/Common/Searchbox/DocumentLink/index.tsx
  apps/site/components/Common/Searchbox/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fix: cleanup sliding panel props
  apps/site/components/Common/Searchbox/SlidingChatPanel/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: move orama instance to provider
  apps/site/components/Common/Searchbox/OramaProvider.tsx
  apps/site/components/Common/Searchbox/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

refactor: manage orama searchbox state via reducer
  apps/site/components/Common/Searchbox/Footer/index.tsx
  apps/site/components/Common/Searchbox/Search/index.tsx
  apps/site/components/Common/Searchbox/index.tsx
  apps/site/providers/oramaProvider.tsx
  apps/site/reducers/searchboxReducer.ts
  apps/site/types/index.ts
  apps/site/types/searchbox.ts
Due: eslint --fix, prettier --write, prettier --check --write

update
  apps/site/mdx/components.mjs
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

update + improve
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
  apps/site/pages/en/learn/getting-started/userland-migrations.md
  packages/i18n/src/locales/en.json
Due: eslint --fix, prettier --write, prettier --check --write

feat(remark-lint): add strict rules
  packages/remark-lint/README.md
  packages/remark-lint/package.json
  packages/remark-lint/src/api.mjs
  packages/remark-lint/src/rules/__tests__/invalid-type-reference.test.mjs
  packages/remark-lint/src/rules/duplicate-stability-nodes.mjs
  packages/remark-lint/src/rules/hashed-self-reference.mjs
  packages/remark-lint/src/rules/invalid-type-reference.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

refactor: cache release data
  apps/site/app/[locale]/download/archive/[version]/page.tsx
  apps/site/components/EOL/EOLReleaseTable.tsx
  apps/site/components/EOL/EOLReleaseTable/TableBody.tsx
  apps/site/components/EOL/EOLReleaseTable/index.tsx
  apps/site/components/Releases/PreviousReleasesTable.tsx
  apps/site/components/Releases/PreviousReleasesTable/TableBody.tsx
  apps/site/components/Releases/PreviousReleasesTable/index.tsx
  apps/site/components/withDownloadArchive.tsx
  apps/site/components/withDownloadSection.tsx
  apps/site/components/withNodeRelease.tsx
  apps/site/components/withReleaseSelect.tsx
  apps/site/layouts/Download.tsx
  apps/site/next-data/providers/releaseData.ts
  apps/site/next.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

[automated]: crowdin sync (#8213)
  apps/site/pages/ja/about/partners.mdx
  apps/site/pages/ja/download/current.mdx
  apps/site/pages/ja/download/index.mdx
  apps/site/pages/ja/index.mdx
  packages/i18n/package.json
  packages/i18n/src/locales/ja.json
Due: eslint --fix, prettier --write, prettier --check --write

meta: upgrade to next.js 16
  apps/site/app/[locale]/error.tsx
  apps/site/app/[locale]/not-found.tsx
  apps/site/app/global-error.tsx
  apps/site/app/global-not-found.tsx
  apps/site/eslint.config.js
  apps/site/next-env.d.ts
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/proxy.ts
  apps/site/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: added changed file
  apps/site/next-env.d.ts
Due: eslint --fix, prettier --write, prettier --check --write

hotfix: layout shift on codebox
  apps/site/components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  apps/site/turbo.json
  packages/ui-components/turbo.json
Due: prettier --write

chore(actions): use gov repo
  .github/scripts/report-inactive-collaborators.mjs
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-orama.yml
  .github/workflows/translations-sync.yml
Due: eslint --fix, prettier --write, prettier --check --write

fixup!
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/publish-packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/translations-sync.yml
Due: prettier --write

fixup!
  packages/rehype-shiki/package.json
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add v24.10.0 release post
  apps/site/pages/en/blog/release/v24.10.0.md
Due: eslint --fix, prettier --write, prettier --check --write

Blog: add v24.10.0 release post (#8219)
  apps/site/pages/en/blog/release/v24.10.0.md
Due: eslint --fix, prettier --write, prettier --check --write

chore(actions): use gov repo for reused actions (#7904)
  .github/scripts/report-inactive-collaborators.mjs
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/find-inactive-collaborators.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/notify-on-push.yml
  .github/workflows/playwright-cloudflare-open-next.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-orama.yml
  .github/workflows/translations-sync.yml
Due: eslint --fix, prettier --write, prettier --check --write

fix(chromatic): Add fetch-depth option to Chromatic workflow
  .github/workflows/chromatic.yml
Due: prettier --write

fix(chromatic): Add fetch-depth option to Chromatic workflow (#8220)
  .github/workflows/chromatic.yml
Due: prettier --write

feat(supporters): sort supporters and add link to profile
  apps/site/components/Common/Supporters/index.tsx
  apps/site/next-data/generators/supportersData.mjs
  apps/site/types/partners.ts
Due: eslint --fix, prettier --write, prettier --check --write

chore: fix sort logic
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(shiki): add twoslash support (#8132)
  apps/site/mdx/components.mjs
  apps/site/mdx/plugins.mjs
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/pages/en/learn/typescript/introduction.md
  apps/site/pages/en/learn/typescript/publishing-a-ts-package.md
  apps/site/pages/en/learn/typescript/transpile.md
  apps/site/styles/index.css
  packages/rehype-shiki/package.json
  packages/rehype-shiki/src/__tests__/highlighter.test.mjs
  packages/rehype-shiki/src/__tests__/plugin.test.mjs
  packages/rehype-shiki/src/highlighter.mjs
  packages/rehype-shiki/src/index.css
  packages/rehype-shiki/src/index.mjs
  packages/rehype-shiki/src/minimal.mjs
  packages/rehype-shiki/src/plugin.mjs
  packages/rehype-shiki/src/transformers/twoslash/index.css
  packages/rehype-shiki/src/transformers/twoslash/index.mjs
  packages/ui-components/package.json
  packages/ui-components/src/MDX/Tooltip.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --check --write

chore: cleanup
  apps/site/next-data/generators/supportersData.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(blog): apply proper route to metadata call
  apps/site/app/[locale]/blog/[...path]/page.tsx
  apps/site/next.dynamic.page.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix: orama git workflow step
  .github/workflows/sync-orama.yml
Due: prettier --write

make date up to date
  apps/site/pages/en/blog/migrations/v12-to-v14.mdx
  apps/site/pages/en/blog/migrations/v14-to-v16.mdx
  apps/site/pages/en/blog/migrations/v20-to-v22.mdx
  apps/site/pages/en/blog/migrations/v22-to-v24.mdx
Due: eslint --fix, prettier --write, prettier --check --write

Delete next.mdx.use.mjs
  apps/site/next.mdx.use.mjs
Due: eslint --fix, prettier --write, prettier --check --write
