Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

feat(search): implements Orama searchbox
  apps/site/components/Common/Search/index.tsx
  apps/site/components/Containers/NavBar/index.tsx
  apps/site/next.constants.mjs
  apps/site/package.json
  package-lock.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: add link to `nodejs.org/download/release`
  apps/site/pages/en/download/prebuilt-binaries/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

feat(search): improves styles
  apps/site/components/Common/Search/index.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

refactor: merge default and pride logos
  apps/site/components/Common/NodejsLogo/index.module.css
  apps/site/components/Common/NodejsLogo/index.tsx
  apps/site/components/Icons/Logos/Nodejs.tsx
  apps/site/components/Icons/Logos/NodejsDark.tsx
  apps/site/components/Icons/Logos/NodejsDarkPride.tsx
  apps/site/components/Icons/Logos/NodejsLightPride.tsx
  apps/site/components/__design__/node-logos.stories.tsx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write, stylelint --allow-empty-input

fix: codeowner (#6898)
  CODEOWNERS
Due: none

fix(actions): use correct paths during i18n checks
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

Update apps/site/i18n/config.json
  apps/site/i18n/config.json
Due: prettier --write, prettier --check --write

added Urdu language config (#6556)
  apps/site/i18n/config.json
Due: prettier --write, prettier --check --write

Blog: v22.4.1 release post
  apps/site/pages/en/blog/release/v22.4.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v20.15.1 release post
  apps/site/pages/en/blog/release/v20.15.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: v18.20.4 release post
  apps/site/pages/en/blog/release/v18.20.4.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: add post security release
  apps/site/pages/en/blog/vulnerability/july-2024-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: add July Security Release (#6914)
  apps/site/pages/en/blog/release/v18.20.4.md
  apps/site/pages/en/blog/release/v20.15.1.md
  apps/site/pages/en/blog/release/v22.4.1.md
  apps/site/pages/en/blog/vulnerability/july-2024-security-releases.md
  apps/site/site.json
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(blog): incorrect link to version
  apps/site/pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

security: forced security update
  .github/workflows/build.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

fix(actions): use correct paths during i18n checks (#6911)
  .github/workflows/translations-pr.yml
Due: prettier --write, prettier --check --write

chore(get-Involved): update and add new ressources
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

update link
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

type: use `JavaScript` instead of `javascript`
  apps/site/pages/en/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: remove git hook (force)
  .husky/prepare-commit-msg
Due: none

doc: note JavaScript is not single threaded
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: correct 'Edit this page' links
  apps/site/util/gitHubUtils.ts
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix(blog): incorrect link to version (#6915)
  apps/site/pages/en/blog/vulnerability/july-2024-security-releases.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

fix: hotfixed unit test failing from last patch
  apps/site/util/__tests__/gitHubUtils.test.mjs
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

doc: note JavaScript is not single threaded (#6848)
  apps/site/pages/en/learn/asynchronous-work/event-loop-timers-and-nexttick.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: fix SHASUMS v22 release
  apps/site/pages/en/blog/release/v22.4.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Blog: fix SHASUMS v22 release (#6916)
  apps/site/pages/en/blog/release/v22.4.1.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/get-involved/collab-summit.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/get-involved/contribute.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/get-involved/index.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/governance.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/download/package-manager/all.md
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/get-involved/events.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/fr/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/pt/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/zh-cn/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/fa/about/index.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/uk/about/previous-releases.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

chore: synced translations from crowdin [skip ci]
  apps/site/pages/id/about/previous-releases.mdx
Due: eslint --fix, prettier --write, turbo run lint:lint-staged --, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}) or (any of: **/*.css)
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
