Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: enabled git lfs
  .gitattributes
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

chore: update snapshots
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
Due: none

fix(config): call eslint and prettier directly (#5495)
  .lintstagedrc
Due: none

chore: update badges for the repository (#5457)
  README.md
Due: eslint --fix, prettier --write

chore: added dependabot for npm (#5493)
  .github/dependabot.yml
Due: prettier --write

feat: introduced generic time component (#5497)
  components/Blog/BlogCard/__snapshots__/index.stories.tsx.snap
  components/Common/Time/index.tsx
  i18n/config.json
  layouts/BlogIndexLayout.tsx
  layouts/BlogPostLayout.tsx
  layouts/CategoryIndexLayout.tsx
  package-lock.json
  providers/localeProvider.tsx
Due: eslint --fix, prettier --write

chore: weird cache behaviour
  .github/workflows/build-and-analysis.yml
  .github/workflows/pull-request.yml
Due: prettier --write

meta: pinned and updated dependencies + class-fixed snapshots (#5488)
  .lintstagedrc
  .remarkrc
  .storybook/test-runner.ts
  CONTENT_VS_CODE.md
  DEPENDENCY_PINNING.md
  README.md
  components/Api/ApiChanges/__snapshots__/index.stories.tsx.snap
  components/Api/Stability/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/Author/__snapshots__/index.stories.tsx.snap
  components/Article/AuthorList/__snapshots__/index.stories.tsx.snap
  components/Article/BlockQuote/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/EditLink/__snapshots__/index.stories.tsx.snap
  components/Article/InlineCode/__snapshots__/index.stories.tsx.snap
  components/Blog/BlogCard/__snapshots__/index.stories.tsx.snap
  components/Common/AnimatedPlaceholder/__snapshots__/index.stories.tsx.snap
  components/Common/Banner/__snapshots__/index.stories.tsx.snap
  components/Common/DarkModeToggle/__snapshots__/index.stories.tsx.snap
  components/Common/Dropdown/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Common/ShellBox/__snapshots__/index.stories.tsx.snap
  components/Downloads/DownloadToggle/__snapshots__/index.stories.tsx.snap
  components/Home/NodeFeatures/__snapshots__/index.stories.tsx.snap
  components/Learn/PreviousNextLink/__snapshots__/index.stories.tsx.snap
  components/Sections/NewFooter/__snapshots__/index.stories.tsx.snap
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: map directory with alias instead of hard code
  .storybook/main.ts
Due: eslint --fix, prettier --write

feat: replace relative import closes #5484
  components/Downloads/SecondaryDownloadMatrix.tsx
  components/Home/HomeDownloadButton.tsx
  layouts/BlogIndexLayout.tsx
  layouts/BlogPostLayout.tsx
  layouts/CategoryIndexLayout.tsx
  util/downloadUrlByOS.ts
Due: eslint --fix, prettier --write

chore: use defined urls for distribution and api docs (#5494)
  components/Downloads/PrimaryDownloadMatrix.tsx
  components/Home/HomeDownloadButton.tsx
Due: eslint --fix, prettier --write

chore: use defined urls for distribution and api docs (#5494)
  components/Downloads/SecondaryDownloadMatrix.tsx
Due: eslint --fix, prettier --write

chore: use defined urls for distribution and api docs (#5494)
  components/Downloads/PrimaryDownloadMatrix.tsx
  components/Downloads/SecondaryDownloadMatrix.tsx
  components/Home/HomeDownloadButton.tsx
Due: eslint --fix, prettier --write

fix: dupicates in some components
  components/Downloads/PrimaryDownloadMatrix.tsx
  components/Downloads/SecondaryDownloadMatrix.tsx
  components/Home/HomeDownloadButton.tsx
Due: eslint --fix, prettier --write

feat: replace relative import closes #5484
  components/Downloads/PrimaryDownloadMatrix.tsx
  components/Downloads/SecondaryDownloadMatrix.tsx
  components/Home/HomeDownloadButton.tsx
  layouts/BlogIndexLayout.tsx
  layouts/BlogPostLayout.tsx
  layouts/CategoryIndexLayout.tsx
Due: eslint --fix, prettier --write

fix: change back the `build-and-analysis.yml`
  .github/workflows/build-and-analysis.yml
Due: prettier --write

chore: updated permissions for gh actions
  .github/workflows/pull-request.yml
Due: prettier --write

tests: remove some warnings
  components/Common/ActiveLocalizedLink/__tests__/index.test.tsx
  components/Learn/PreviousNextLink/__tests__/index.test.tsx
Due: eslint --fix, prettier --write

chore: merge shellbox into codebox
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__tests__/__snapshots__/index.test.tsx.snap
  components/Article/Codebox/__tests__/index.test.tsx
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.stories.tsx
  components/Article/Codebox/index.tsx
  components/Article/Codebox/themes/_light.scss
  components/Article/InlineCode/index.module.scss
  components/Common/ShellBox/__snapshots__/index.stories.tsx.snap
  components/Common/ShellBox/__tests__/index.test.tsx
  components/Common/ShellBox/index.module.scss
  components/Common/ShellBox/index.stories.tsx
  components/Common/ShellBox/index.tsx
  i18n/locales/en.json
  styles/mixins/_components.scss
Due: eslint --fix, prettier --write

feat: wip
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.tsx
  styles/_tokens.scss
  util/nextFonts.ts
Due: eslint --fix, prettier --write

chore: update snapshot
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__tests__/__snapshots__/index.test.tsx.snap
Due: none

refactor(InlineCode): use radius var
  components/Article/InlineCode/index.module.scss
Due: none

refactor: remove intl hook
  components/Article/Codebox/index.tsx
Due: eslint --fix, prettier --write

refactor: line break
  components/Article/Codebox/index.tsx
Due: eslint --fix, prettier --write

refactor: review
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.tsx
  i18n/locales/en.json
  styles/_tokens.scss
Due: eslint --fix, prettier --write

feat: add copy button aria hidden
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/index.tsx
Due: eslint --fix, prettier --write

refactor: dynamic language import
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__tests__/index.test.tsx
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.tsx
  hooks/usePrismJS.ts
  next.prism.mjs
Due: eslint --fix, prettier --write

style: remove unused imports
  components/Article/Codebox/index.tsx
Due: eslint --fix, prettier --write

id,zh-CN: update translations (#5499)
  pages/id/docs/index.mdx
  pages/zh-cn/docs/index.mdx
Due: eslint --fix, prettier --write

chore: add validation instructions to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --fix, prettier --write

fix: language selector align
  components/Common/Dropdown/index.tsx
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/index.tsx
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
Due: eslint --fix, prettier --write

chore: remove container style
  components/Common/LanguageSelector/index.module.scss
Due: none

chore: merge shellbox into codebox (#5425)
  components/Article/Codebox/__snapshots__/index.stories.tsx.snap
  components/Article/Codebox/__tests__/__snapshots__/index.test.tsx.snap
  components/Article/Codebox/__tests__/index.test.tsx
  components/Article/Codebox/index.module.scss
  components/Article/Codebox/index.stories.tsx
  components/Article/Codebox/index.tsx
  components/Article/Codebox/themes/_light.scss
  components/Article/InlineCode/index.module.scss
  components/Common/ShellBox/__snapshots__/index.stories.tsx.snap
  components/Common/ShellBox/__tests__/index.test.tsx
  components/Common/ShellBox/index.module.scss
  components/Common/ShellBox/index.stories.tsx
  components/Common/ShellBox/index.tsx
  hooks/usePrismJS.ts
  i18n/locales/en.json
  next.prism.mjs
  styles/_tokens.scss
  styles/mixins/_components.scss
  util/nextFonts.ts
Due: eslint --fix, prettier --write

fix: language selector vertical align (#5500)
  components/Common/Dropdown/index.tsx
  components/Common/LanguageSelector/__snapshots__/index.stories.tsx.snap
  components/Common/LanguageSelector/index.module.scss
  components/Common/LanguageSelector/index.tsx
  components/Sections/NewHeader/__snapshots__/index.stories.tsx.snap
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --write: any of: **/*.{js,mjs,ts,tsx,md,mdx,json,yml}
