Repository nodejs/nodejs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix"],
  "**/*.{js,mjs,ts,tsx,md,mdx,json,yml}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/__tests__/*.test.mjs": ["npx turbo test:staged"]
}

Updated base.css
  styles/base.css
  styles/index.css
Due: prettier --write, stylelint --allow-empty-input

Update styles/base.css
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

Update site.json
  site.json
Due: prettier --write, prettier --check --write

Reformat styles
  styles/markdown.css
Due: prettier --write, stylelint --allow-empty-input

feat(search): Add keyboard interactions to searchbox and fix useKeyboardCommands removeEventListener
  components/Common/Search/States/WithSearchBox.tsx
  components/Common/Search/States/WithSearchResult.tsx
  components/Common/Search/States/index.module.css
  components/Common/Search/utils.ts
  hooks/react-client/useKeyboardCommands.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Add PowerShell support to Shiki
  components/Downloads/Release/ReleaseCodeBox.tsx
  shiki.config.mjs
Due: eslint --fix, prettier --write, prettier --check --write

refactor: Inline and simplify glowing background SVG pattern
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/global-error.tsx
  components/Common/GlowingBackdrop/index.module.css
  components/Common/GlowingBackdrop/index.tsx
  layouts/Home.tsx
  styles/effects.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

chore: move turbo to dev dependency
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

Added Persian (Farsi/fa) Locale
  i18n/locales/fa.json
Due: prettier --write, prettier --check --write

chore(i18n): add Mongolian locale in config
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: add general portuguese locale
  i18n/config.json
Due: prettier --write, prettier --check --write

style: fix typo in comment: "to to" -> "to" for clarity.
  next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

feat(tabs): fix contrast ratio
  components/Common/CodeTabs/index.tsx
  components/Common/Tabs/index.module.css
  components/Common/Tabs/index.stories.tsx
  components/Common/Tabs/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

added greek language config
  i18n/config.json
Due: prettier --write, prettier --check --write

chore: Keep syntax highligh as Bash for windows only change name
  components/Downloads/Release/ReleaseCodeBox.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Update next.constants.mjs
  next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

style: fix typo in comment: "to to" -> "to" for clarity. (#6542)
  next.constants.mjs
Due: eslint --fix, prettier --write, prettier --check --write

chore: Unify "node:" prefixes in code examples (#6532)
  pages/en/learn/manipulating-files/nodejs-file-stats.md
  pages/en/learn/manipulating-files/reading-files-with-nodejs.md
  pages/en/learn/manipulating-files/working-with-file-descriptors-in-nodejs.md
  pages/en/learn/modules/backpressuring-in-streams.md
Due: eslint --fix, prettier --write, prettier --check --write

fix(og): use the resolved page title
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

fix(og): use the resolved page title (#6545)
  next.dynamic.mjs
Due: eslint --fix, prettier --write, prettier --check --write

update @orama/highlight
  package-lock.json
  package.json
Due: prettier --write, prettier --check --write

add link to matteo's social media
  pages/en/blog/announcements/diving-into-the-nodejs-website-redesign.md
Due: eslint --fix, prettier --write, prettier --check --write

fix - search page with no query should not throw
  components/MDX/SearchPage/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

chore: add searchbar shortcut indicator
  components/Common/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

style: add searchbar shortcut indicator styles
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

chore: use dedicated security policy link in footer
  navigation.json
Due: prettier --write, prettier --check --write

fix: use openjsf.org Slack invite subdomain (#6500)
  navigation.json
Due: prettier --write, prettier --check --write

style: add font to shortcut indicator
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

refactor: replace let with const
  components/Common/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write

feat: Make MD headers clickable (#6529)
  next.mdx.mjs
  styles/markdown.css
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

feat: Mark external links in the sidebar (#6523)
  components/Containers/Sidebar/SidebarItem/index.module.css
  components/Containers/Sidebar/SidebarItem/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input

Fixes search page with no query should not throw (#6547)
  components/MDX/SearchPage/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --check --write

fix: changelog trigger accessibility
  components/Downloads/Release/ChangelogLink.tsx
Due: eslint --fix, prettier --write, prettier --check --write

Adds redesign blog post (#6524)
  pages/en/blog/announcements/diving-into-the-nodejs-website-redesign.md
  public/static/images/blog/announcements/2011-nodejs-screenshot.png
  public/static/images/blog/announcements/2024-grace-hopper-activity.png
  public/static/images/blog/announcements/2024-nodejs-figma.png
  public/static/images/blog/announcements/2024-nodejs-redesign-lighthouse.jpg
  public/static/images/blog/announcements/2024-nodejs-screenshot.png
  site.json
Due: eslint --fix, prettier --write, prettier --check --write

fix:layout-shift caused by the radix dropdown menu. (#6533)
  styles/base.css
Due: prettier --write, stylelint --allow-empty-input

fix: Disable text selection for <Select> options (#6525)
  components/Common/Select/index.module.css
Due: prettier --write, stylelint --allow-empty-input

feat: introduced changelog modal on downloads (#6393)
  app/[locale]/next-data/changelog-data/[version]/route.ts
  components/Downloads/ChangelogModal/index.module.css
  components/Downloads/ChangelogModal/index.stories.tsx
  components/Downloads/ChangelogModal/index.tsx
  components/Downloads/DownloadReleasesTable.tsx
  components/Downloads/Release/ChangelogLink.tsx
  components/Downloads/Release/LinkWithArrow.tsx
  components/mdxRenderer.tsx
  components/withChangelogModal.tsx
  components/withDownloadCategories.tsx
  global.ts
  next-data/changelogData.ts
  next-data/generators/changelogData.mjs
  next-data/generators/releaseData.mjs
  next-data/providers/changelogData.ts
  next.mdx.compiler.mjs
  next.mdx.shiki.mjs
  next.mdx.use.client.mjs
  next.mdx.use.mjs
  pages/en/download/current.mdx
  pages/en/download/index.mdx
  pages/en/download/package-manager/current.mdx
  pages/en/download/package-manager/index.mdx
  pages/en/download/prebuilt-binaries/current.mdx
  pages/en/download/prebuilt-binaries/index.mdx
  pages/en/download/source-code/current.mdx
  pages/en/download/source-code/index.mdx
  providers/releaseProvider.tsx
  types/release.ts
  util/__tests__/getNodeJsChangelog.test.mjs
  util/fetchNodeJsChangelog.ts
  util/getNodeJsChangelog.ts
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input, npx turbo test:staged

style: add font-family to kbd element
  components/Common/Search/index.module.css
Due: prettier --write, stylelint --allow-empty-input

fix: progression sidebar active color
  components/Common/ProgressionSidebar/ProgressionSidebarItem/index.module.css
Due: prettier --write, stylelint --allow-empty-input

Chore: add searchbar shortcut indicator (#6548)
  components/Common/Search/index.module.css
  components/Common/Search/index.tsx
Due: eslint --fix, prettier --write, prettier --check --write, stylelint --allow-empty-input
